[2020-01-14 14:23] uranusjr commented on #7597
I don’t see pip accessing pypi.org in the output you provided. The `Looking up "https://pypi.org/simple/<package>"` line is using that string as a key to read the on-disk cache, not doing actual network access.

[2020-01-14 14:32] uranusjr commented on #7595
The commands also work for me 👍

However I do notice that files written by the commands (`AUTHORS.txt`, `__init__.py`, etc.) are in CRLF line endings, generating unnecessary diffs. This is probably because I run Git with `core.autocrlf = false` (instead of `auto` like a normal person would), but maybe it’d still be a good idea to update the scripts to accommodate this edge case? I can probably wor

[2020-01-14 14:40] pfmoore commented on #7597
Also, wasn't the conclusion in #6799 that the issue was related to Debian's debundling of pip? So if this is the same as that issue, the solution would be the same as well - it needs to be taken up with Debian, or you'll need to reproduce the issue with a vanilla copy of pip.

[2020-01-14 14:50] pfmoore commented on #7595
Good catch.

Also, I just spotted that the scripts remove the definition of main() from `src/pip/__init__.py`. Looks like they assume there's nothing in there but a version declaration. The problem is `tools/automation/release/__init__.py`, function `update_version_file` - I'll work on a PR for this. (Note that this isn't a Windows issue, but a general problem with the assumptions in the automatio

[2020-01-14 15:16] pfmoore opened #7599 "tox -e lint doesn't work from behind a proxy"
**Environment**

* pip version: 19.3.1
* Python version: 3.8.0
* OS: Windows 10

Running tox 3.14.4, pre-commit 1.21.0

**Description**
I'm running behind a proxy with environment variables `http{s}_proxy` set. When I run `tox -e lint` a git call in `pre-commit` fails with a network error. Investigation shows that the git command is run in an environment without my proxy variables.

This is almost

[2020-01-14 15:41] pradyunsg commented on #7595
Indeed. Both those PRs sound great! If y'all aren't able to come around to them, I can tackle this later tomorrow.

`update_version_file` indeed assumes that there's nothing else in the file, so that's definitely a "release blocker" bug (unless we're going to be doing a very manual process). 😐

Thanks for looking into this @pfmoore and @uranusjr! ^.^

[2020-01-14 15:53] pfmoore commented on #7595
#7598 created for the version file issue. It's failing on MacOS, which I assume is not the fault of the PR, as we don't have tests for the automation scripts. I'll try to look at the failures later on or maybe tomorrow,

[2020-01-14 16:01] pfmoore commented on #7599
Adding `HTTP_PROXY` and `HTTPS_PROXY` to the `passenv` setting in `tox.ini` seems to work. That sucks a bit, but blame tox for that, I guess :-(

[2020-01-14 18:26] Spriithy commented on #7597
@uranusjr Well, I can't tell. Since the error messages doesn't mention towards which host the requests failed. I just know it's the `'/simple/<package>` URI that is not found and since it was right after the mentionning of pypi.org, I assumed...

@pfmoore I did install pip from a wheel package I retrieved by `pip download pip` on another system before moving the package and installing it on my oth

[2020-01-14 20:06] pradyunsg commented on #7531
I'm not sure what's being requested here. Is this a request to delay the release? Is the motivation to add the opt-in flag, that's currently being discussed, as a part of this release? I don't think we gain much by exposing a no-op option -- is there a specific task that we know this would help with (maybe a user testing guide?)?

All that aside, if we do want to introduce the flag ASAP, I don't s

[2020-01-14 21:31] pradyunsg commented on #7599
What about `nox -s lint`? ;)

[2020-01-15 03:48] #7587 closed

[2020-01-15 06:32] uranusjr commented on #7595
@pradyunsg We only care about Python 3 for the release script, right?

[2020-01-15 06:59] pradyunsg commented on #7595
Ah, nice round number. :)

Yea, no Python 2 -- nox is a Python 3.5+ tool.

[2020-01-15 07:08] pradyunsg commented on #7567
/cc @pfmoore

[2020-01-15 08:33] deepak1725 commented on #7573
Closing as @uranusjr specified its system-specific.
Workaround: Wrote a Docker File.

Feel Free to reopen if someone else faced similar issues.

[2020-01-15 08:33] #7573 closed

[2020-01-15 08:58] uranusjr commented on #7545
I’ll probably work on this after #7593. Some refactoring would improve the code touched by that PR, and would fix this bug en passant.

[2020-01-15 09:03] sbidoul commented on #609
@bmartinn [the PEP got a new sponsor](https://discuss.python.org/t/draft-pep-recording-the-origin-of-distributions-installed-from-direct-url-references/1535/36?u=sbidoul), so thing are moving again. I'm currently writing a new version of the PEP that integrates all the review comments.

[2020-01-15 09:12] pfmoore commented on #7599
Yep, that worked :-)

The docs say to use tox. Is that something that should change, or is using nox "unofficial" for now?

[2020-01-15 10:04] pradyunsg commented on #7599
`nox` is unofficial for now, since I reckon we'd want to have the ability to invoke tests with arbitrary interpreters.

The commands being run are the exact same in tox and nox, so I'm not sure what difference you're seeing (and there's not enough context to make out what might be the cause).

Once nox can be invoked with arbitrary interpreters, we should go ahead and drop tox entirely from our to

[2020-01-15 10:32] pfmoore commented on #7599
Yeah, I don't really know what happened myself. I'm on my slow laptop at the moment and runtimes of 10 minutes or more don't lend themselves to iteratively checking what's going on :-( I'll try to do some proper investigation (of both this and the test suite - I got lots of failures when I "just ran" the test suite, but I think it's because on Windows we need some extra arguments to skip tests tha

[2020-01-15 10:49] pradyunsg commented on #7599
Oh, if additional arguments are needed to run pip's tests out of the box, that's not right.

[2020-01-15 11:00] uranusjr commented on #7599
[Tox does not pass all environment variables when it runs commands](https://tox.readthedocs.io/en/latest/example/basic.html#passing-down-environment-variables). [Nox OTOH passes all environment variables by default](https://nox.thea.codes/en/stable/config.html#nox.sessions.Session.run). That would explain why you need to set `passenv` explicitly in Tox, but Nox works out of the box.

[2020-01-15 12:49] pfmoore commented on #7599
Yeah, my feeling is that this reflects the difference in design focus of the 2 tools. Both are technically for running tests, but nox feels more general-purpose. Protecting tests from being messed up by environment settings seems like a good goal. Conversely, not having automations break because they rely on user-specific config via environment settings also seems like a good idea.

Maybe we shoul

[2020-01-15 12:56] pfmoore commented on #7599
Actually, I also raised https://github.com/tox-dev/tox/issues/1498

[2020-01-15 14:03] pradyunsg commented on #7599
I agree that we should fix our tox configuration.

[2020-01-15 16:02] pfmoore commented on #7567
This certainly seems like a viable idea. A quick test by putting a `try...except pass` around the `rmtree` [here](https://github.com/pypa/pip/blob/master/src/pip/_internal/utils/temp_dir.py#L171) does cause `pip install -U` to work cleanly. Obviously a real fix should be more careful (maybe even to the extent of special-casing `pip*.exe`, as they are the only files where we expect deletion to fail

[2020-01-15 16:12] uranusjr commented on #7567
I hit this often by accident, e.g. upgrading flake8 when it is in use by VS Code. I accept them as user errors, but it’d help improve my workflow a lot if we do this for all files.

[2020-01-15 16:15] pfmoore commented on #7567
Fair enough, I don't have a problem with that. Maybe trap "Access denied" and filename is `*.exe` to just hit "trying to delete an in-use Windows exe wrapper"? But honestly, "don't get upset if cleanup fails" is just as good a principle, so I'm not going to argue here.

[2020-01-15 17:22] brainwane commented on #7531
It's a request for information; could we add the relevant functionality by the end of January, if we wanted to?

Yes.

I was under the impression that we were trying to avoid making a 20.0.1 release; if you (as 20.0 release manager) are fine with introducing the flag in a 20.0.x release then that solves the problem and you don't need to answer my request for information, and can ignore it. :-)

[2020-01-15 17:48] #7599 closed

[2020-01-15 18:53] Qblack commented on #7424
@jankatins
Question - do you go to /simple on chrome before you have that issue?
For me it seems to die after I go there.

[2020-01-15 19:25] pfmoore opened #7603 "Add a command line option to select the resolver implementation"
**What's the problem this feature will solve?**
When the new resolver is implemented, we will need to have a way to allow users to test it. One option is to add a new option to pip to allow selection of which resolver to use.

**Describe the solution you'd like**
Add a pip option `--resolver=[legacy|new]`. Name of the option and the values can be discussed. Choosing "legacy" will select the curren

[2020-01-15 19:26] pfmoore commented on #7531
I'm not the RM, but yes, we could do so (add a flag that said what resolver to use, which only allowed the "legacy" option for now, and so in effect did nothing). Doing that is pretty trivial. I'd be willing to write that PR if needed.

What I've done for now is open #7603 to discuss what such a flag would look like, and to thrash out details like whether there is any point having the flag in adva

[2020-01-15 19:53] uranusjr commented on #7603
A few things to figure out:

* What commands should this be added to? `install` is the obvious one. `wheel`? What else?
* When should this be added? (In other words, when should be consider the new resolver user-testable quality?)
* Should there be only one, or multiple new resolvers? I know most of us want only one, but I kind of still think there should be a chance to compare base implementation

[2020-01-15 23:32] lubert opened #7604 "pip doesn't seem to work with url-encoded basic auth credentials containing special characters"
**Environment**

* pip version: 19.3.1
* Python version: 3.7.4
* OS: MacOS 10.14.6

**Description**
Assuming the credentials are `username` and `%password%`, running
`pip3 install --no-deps --index-url https://username:%25password%25@myprivaterepo.com/pypi/simple mypackage==0.1`, which brings up the `User: ` prompt. Trying an unencoded password works fine.

**Expected behavior**

I would assume th

[2020-01-16 01:23] habnabit commented on #7591
So, it seems like there's nothing concrete decided on yet. @SoniEx2 I'd assume that you're not opening this issue to ask the pip team to work with you to decide on a specification or write code for you (since they're very busy as is)—maybe you should turn the code in https://github.com/pypa/pip/issues/7591#issuecomment-573832398 into a real proof of concept (i.e. runnable) implementation and close

[2020-01-16 01:32] habnabit commented on #7591
@SoniEx2 sure. None of that addresses what I said, if you intended it to.

[2020-01-16 01:49] SoniEx2 commented on #7591
okay: I need a mechanism to override dependencies. no more, no less. something to workaround the fact that PEP 440 was not designed with something like GAnarchy coming along and being used with python.

ideally it'd support versioning just like dependency links did.

(in other words my solution is "bring dependency links back" tbh. does this count as concrete?)

[2020-01-16 03:57] uranusjr commented on #7604
Could you try installing pip from master and see if that works? I believe commits from November 2019 are not released yet (19.3.1 was released in October).

[2020-01-16 04:01] uranusjr opened #7605 "Verify quoting for other parts of the URL"
Following up https://github.com/pypa/pip/pull/7596/files#r366809139

Currently there are no tests around special characters for things like `&subdirectory=`, `#egg=`, and other parts of the URL like auth. We should add those and verify they are all working. (`egg` is probably fine since all valid package names are URL-safe anyway, but it won’t hurt to at least understand its behaviour.)

Related:

[2020-01-16 07:41] uranusjr commented on #7571
Reading the code (and trying to get an idea how the new resolver can be fitted in), I feel the problem is not the resolver mutates `RequirementSet`, but the `InstallRequirement` instances held inside. There are a lot of states in them I am not sure how to replicate. It may even be a good thing that the resolver mutates `RequirementSet`, since that makes it more obvious `InstallRequirement` instanc

[2020-01-16 09:05] pradyunsg commented on #7531
Yep.

Honestly, I'm fine either way - if we're able to get everything into master, before EoD 20th IST, all good.

Otherwise, we'll make another release if we need to. I'm personally expecting that we'd have at least 1 bug fix release anyway (given how many changes are in master right now) and, yes, I'm fine with making a release that just adds the no-op flag.

[2020-01-16 09:38] pfmoore commented on #7259
@crahunt What's the current situation on the state-based project models you referred to [above](https://github.com/pypa/pip/issues/7259#issuecomment-546269862)? Is that going to end up as a PR? Is it something you need help with? I'm looking at what next steps can be picked up on the refactor, and I'm not clear how your work there fits in.

[2020-01-16 09:46] yeraydiazdiaz commented on #7530
For visibility, I had a go at this issue in https://github.com/pypa/pip/pull/7592 but found there was some complexity due to `tenacity` depending on `futures` for Python 2.7.

[2020-01-16 09:52] pfmoore commented on #7589
I'm going to continue taking things off on a tangent here, because I'm not aware of anywhere better at the moment for "general thoughts around resolver/build/requirements", and having loads of general discussion issues seems counter-productive (unless we're super-good at having clear issue titles, and I'm not 🙁)

I was wondering whether it would be worth adding instrumentation into the build proce

[2020-01-16 12:40] chrahunt commented on #7589
As part of the effort to understand where time is spent during install I
made a log parser that maps our verbose logs into higher level events. That
or something like that should be fine, I think. I can try to upload it
later today.

On Thu, Jan 16, 2020, 04:52 Paul Moore <notifications@github.com> wrote:

[2020-01-16 14:01] chrahunt commented on #7571
`InstallRequirement` being mutable is an important issue. I think it is separate from this. Both have implications on how easy it will be to fit in the new resolver. The point of normalizing the interface to `Resolver.resolve` is to reduce the surface area of the current `Resolver` (and its tightly-coupled types, like `RequirementSet` [due to `add_requirement`]). We wouldn't want to use `Requireme

[2020-01-16 14:46] pfmoore commented on #7589
or something like that should be fine, I think.

That sounds interesting, I'd like to see that. But I still wonder if having a structured object with the stats which we build as we go along and then dump to a file independently of the log might be useful for analysis. The log is already pretty cluttered, and I suspect it has the usual problem of all logs, it says when things *start*, but not when

[2020-01-16 15:04] pfmoore commented on #7599
The commands to run the tests on Windows (from the CI config) are:

[code]

Those work. But just `tox -e py` produces loads of errors, suggesting that there are tests that are marked as neither "unit" nor "integration" that are failing on Windows. Worse, after running the incorrect command, I found masses of unexpected packages installed *in my system Python*! (I was running tox from a venv create

[2020-01-16 15:09] pfmoore opened #7606 "Running the full test suite on Windows can affect system Python"
**Environment**

* pip version: 19.3.1 and master
* Python version: 3.8.1
* OS: Windows 10

**Description**
Copied from [here](https://github.com/pypa/pip/issues/7599#issuecomment-575192581):

The commands to run the tests on Windows (from the CI config) are:

[code]

Those work. But just `tox -e py` produces loads of errors, suggesting that there are tests that are marked as neither "unit" nor "i

[2020-01-16 16:36] uranusjr commented on #7606
I’m totally speculating, but maybe [bpo-38905](https://bugs.python.org/issue38905) might have something to do with the system Python thing.

[2020-01-16 16:36] uranusjr commented on #7606
I’m totally speculating, but [bpo-38905](https://bugs.python.org/issue38905) might have something to do with the system Python thing.

[2020-01-16 16:53] pfmoore commented on #7606
Yeah, I wondered about that. The changes to venv and the stuff for the store Python broke lots of stuff. That's another reason I don't want to get too involved in digging into all this right now, I feel like I'd get sidetracked into a load of unrelated breakage 🙁

The virtualenv rewrite might help fix a lot of this. I hope...

[2020-01-16 17:25] altendky commented on #7591
What aspect of the dependency needs to be overridden?  The distribution package name?  The acceptable versions?  Where to acquire the dependency?  There's a lot going on, we need to be very specific.  Also, how would someone be expressing the override?

[2020-01-16 17:32] SoniEx2 commented on #7591
Dependency links allow you to specify where to acquire the dependency. And this "where" can be easily overridden downstream, while still checking acceptable versions and the distribution package name.

PEP 440 removes a lot of that.

[2020-01-16 19:58] lubert commented on #7604
@uranusjr thanks for the response!
for what it's worth I've tried major versions of `pip` back to `10`  and it still doesn't work

[2020-01-16 21:04] lubert commented on #7604
Looking into this, `pip` doesn't decode the `index_url` at any point before making the request to the server. Is it the responsibility of the server vs `pip` to properly handle percent escaped passwords?

[2020-01-16 22:28] #7604 closed

[2020-01-16 23:48] sichao-uber opened #7607 "DistributionNotFound: No matching distribution"
In my package, i have requirements.txt
[code]

and requirements.in
[code]
and my pip config in `~/.pip/pip.conf` is
[code]
When I try to compile the package to download the dependencies using the command:
[code]

The output is like
[code]

It seems when I run the command, it can find the dependency of ml-common with the right version. but it somehow cannot find the dependency when it tries to down

[2020-01-17 05:13] uranusjr commented on #7607
No way to tell for sure without access to your index server, but this sounds like #5003.

[2020-01-17 05:28] chrahunt commented on #7259
:eyes:

[2020-01-17 05:28] chrahunt commented on #7259
:eyes:

[2020-01-17 07:37] sbidoul commented on #6607
[Arriving from https://github.com/pypa/pip/issues/7589#issuecomment-573615234]

@pradyunsg @chrahunt The diagram from https://github.com/pypa/pip/issues/6607#issuecomment-529946244 is very nice and extremely useful!

It would be nice to have it in a place where can do PRs on it, and maintain the diagram across refactorings (for instance when the unpack arrow from local wheel is removed, or if/when

[2020-01-17 08:24] pradyunsg commented on #6607
Modified as suggested. :)

[2020-01-17 09:13] uranusjr commented on #7571
I agree we don’t want use `RequirementSet` on the new resolving algorithm. On the other hand though, it is still needed by the legacy resolver before we can retire it, and IMO it is less work to write an adapter for the new resolver to consume a `RequirementSet` (so pip keeps all the current interface without the algorithm relying on `RequirementSet`) than trying to tinker the legacy resolver.

Th

[2020-01-17 09:42] pradyunsg commented on #7571
I think it'll be as simple as you're thinking it'd be.

[2020-01-17 09:45] pradyunsg commented on #7607
The output from `pip install ml-common -i https://***/artifactory/api/pypi/pypi/simple -v` would definitely help.

[2020-01-17 12:19] pradyunsg commented on #5537
Noting `flake8-printf-formatting` from #6973.

[2020-01-17 14:40] MaxNoe opened #7609 "pip does not respect transitive version requirement if a package is already installed"
**Environment**

* pip version: 19.3.1
* Python version: 3.6.9, also tested with 3.7
* OS: linux

**Description**

Package A is being installed and depends on package B version 1 and package C.
Package C depends on package B version 2.

Package B is already installed in version 1.
When I now run `pip install .` in package A, B is not upgraded to version 2.

This happend because a package depended

[2020-01-17 15:22] uranusjr commented on #7609
See #988

[2020-01-17 16:15] Qu4tro commented on #4995
@pradyunsg if possible I would like your opinion on this subject.
(Disclaimer: I'm moving things to Poetry and tbh this is my vision as a end-user for Poetry)

From my reading there are two main schools of thoughts here:
- Allow pip to install editable packages alongside hashed packages.
  - Pro: Most friction-less approach for users
  - Pro: Doesn't require changes in pip wrappers. (i.e. Poetry).

[2020-01-17 16:39] sbidoul commented on #6469
I would be in favor of having `--require-hashes` accept such VCS URLs too.

In #6851 I added `is_immutable_rev_checkout` that could help implementing this.

[2020-01-17 16:52] sbidoul commented on #4995
I personally think editable installs must continue to be rejected when `--require-hashes` is used, because the first thing pip does with these is update the `src` directory which may have local changes.

I'm in favor of https://github.com/pypa/pip/issues/6469, however.

@Qu4tro assuming #6469 gets traction, a third approach will be to try to understand why pip wrappers such as poetry or pip-tools

[2020-01-17 18:10] sichao-uber commented on #7607
Thank you.
I have resolved the issue.
The problem is that I installed pip with python 3, while my package and artifactory link only support python2.

The problem is resolved after I re-install pip with python2

[2020-01-17 18:11] #7607 closed

[2020-01-18 17:09] #7541 closed

[2020-01-18 17:17] gaborbernat opened #7610 "Respect python-requires in offline mode (--find-link --no-index)"
One way (and before the rewrite release the only way) to bootstrap a virtual environment in an offline environment is to point pip to some bundled wheels via the ``--find-links`` parameter. The problem is that if this folder contains both wheels that support the target environment and wheels that don't (e.g. with setuptools 45 dropping python 2), pip does not pick the last supported version of a p

[2020-01-18 17:43] chrahunt commented on #7610
As a workaround, you can set `--index-url` to a local directory that looks like a PEP 503 repo e.g. contains directories with names matching expected package names, with each containing a minimal `index.html` that can have anchor elements pointing to the available packages.

The current pip resolver doesn't handle any situations like this gracefully. As @pfmoore mentioned in the linked issue, this

[2020-01-18 17:58] sbidoul commented on #7610
I did a quick test with a setuptools 45 wheel renamed to `setuptools-45.0.0-py3-none-any.whl` (`py3` tag instead of `py2.py3`) and it seems to work fine. IMHO the setuptools 45 wheel has a wrong tag and should be pulled from PyPI and replaced with one with the py3 tag.

[2020-01-18 18:32] pfmoore commented on #7610
@sbidoul Good idea, As long as there's no local sdist, and the PyPI files have the correct `data-requires-python` tag (which it does) then this should be a reasonable fix.

[2020-01-18 19:09] sbidoul commented on #7610
I opened setuptools issue https://github.com/pypa/setuptools/issues/1974.

[2020-01-18 19:18] pganssle commented on #7610
I don't think that fixes the wider problem. You could easily have a similar situation with a wheel that doesn't support Python 3.4 or 3.8 or something where the tags aren't sufficient.

[2020-01-18 19:52] pfmoore commented on #7610
It doesn't. And it doesn't make any difference when a sdist is available, as the fact that the tag doesn't cover `py2` just means that the sdist will be used (at which point `Python-Requires` kicks in). But none of that is IMO any reason not to tag the wheel correctly.

IMO, `Python-Requires` should be handled by the resolver, as this issue suggests, so that *only* versions that support the Python

[2020-01-18 21:05] kottmast commented on #6327
I think I'm hitting this issue, but I'm confused about the affected version and/or I'm hitting something related. I'm on an ubuntu machine, with nfs mounted /home and trying to create a conda environment from a environment.yml file. The conda part of the installation works, but pip fails on version 19.3.1 with the .nfsxxx device or resource is busy error. I tried downgrading to several previous ve

[2020-01-19 05:13] dmccreary commented on #6264
I also hit this problem when installing the DonkeyCar system that uses many python machine learning libraries.  I downgraded to pip 19.0 and everything seems to be working fine.  Thank you Naisy.

[2020-01-19 15:26] ssbarnea opened #7613 "keep selinux when creating new virtualenvs"
A huge number of python packages rely on libselinux python bindings to work correctly (ansible being one  notable example).

The so called python selinux package is closely tied to both python version and the kernel, and for these reasons cannot be distributed as a wheel. On rpm based system the system packages like `libselinux-python` or `python3-libselinux` add this tiny module to python interpr

[2020-01-19 15:28] ssbarnea commented on #7613
Oops, wrong project, see https://github.com/pypa/virtualenv/issues/1334

[2020-01-19 15:28] #7613 closed

[2020-01-20 09:49] xavfernandez commented on #7597
It looks like `index0` is returning a redirect, maybe to pypi.org ? That would explain that pip ends up looking there.

[2020-01-20 10:18] Spriithy commented on #7597
I'm serving `index0` with [pypiserver](https://pypi.org/project/pypiserver/#using-the-docker-image). Maybe it comes from there ? I will check with them

[2020-01-20 10:24] xavfernandez commented on #7597
@Spriithy You might want to try launching your `pypiserver` instances with `--disable-fallback` (to `Disable redirect to real PyPI index for packages not found in the local index.`)

[2020-01-20 10:28] Spriithy commented on #7597
Oh nice ! This fixes the issue so I'm closing it. Thanks for your help !

[2020-01-20 10:28] #7597 closed

[2020-01-20 13:56] deepak1725 commented on #6973
Working on it.

[2020-01-20 16:58] rbarrois commented on #980
@uranusjr thanks for fixing this! I really appreciate your help :)

[2020-01-20 17:08] A5rocks opened #7615 "`ipaddress.py` has not been updated to the most recent version."
**Environment**

* pip version: 19.3.1 (though this still happens in master)
* Python version: Python 3.8.1
* OS: Void Linux

This was on a raspberry pi, though that should not really matter.

**Description**
I get:
[code]

This issue *has* been reported before: https://github.com/pypa/pip/issues/7214
It then had a PR which was postponed due to waiting on the vendor: https://github.com/pypa/pip/pu

[2020-01-20 17:36] jaraco opened #7616 "Remove implicit setuptools dependency"
**What's the problem this feature will solve?**

Currently, pip has an implicit dependency on setuptools to build legacy packages (pre PEP 517). Removing setuptools from a build environment will cause builds of these packages or install of these packages from source to fail.

For example:

[code]

This issue is often masked by the fact that pip will cache the wheel, so if the wheel was built with

[2020-01-20 17:41] jaraco commented on #7616
This feature could be rolled out incrementally, first as an opt-in feature, through a command-line arg / environment var, that would address the concern from my perspective and early-adopters could elect to beta-test the behavior. Then, it could be the default with an opt-out feature, and then ultimately it could be the default behavior.

Once this behavior is the default, it should substantially

[2020-01-20 22:23] pfmoore commented on #7616
That's essentially what the `--use-pep517` flag will do. So in effect, you're asking for `--use-pep517` to be the default. We made the decision at the time of implementing PEP 517 support to make it opt-in rather than opt-out, to minimise disruption. We could revisit that decision now that some time has passed, but I suspect the outcome will be the same. Any project that wants to opt into PEP 517

[2020-01-21 00:09] uranusjr commented on #7616
See also #7413

[2020-01-21 03:16] jaraco commented on #7616
Oh, wow. I think I might have heard about `--use-pep517`, but I was unaware. Yeah, that's pretty much what I was looking for as to the opt-in feature. Setuptools may be able to use that to avoid issues bootstrapping its test dependencies. I'll explore more, but that does seem to be the ticket.

[2020-01-21 07:10] pradyunsg commented on #7595
Both the PRs merged. Thanks a lot for all you've done here @pfmoore and @uranusjr! ^>^

[2020-01-21 07:10] #7595 closed

[2020-01-21 07:24] pradyunsg opened #7617 "Vendoring process fails on Windows"
**Environment**

* pip version: master
* Python version: 3.8
* OS: Windows 10

**Description**

Running `tox -e vendoring` fails on Windows.

The reason for the failure seems to be newline normalization -- see https://github.com/pypa/pip/commit/5563141d58bc17d5fab3bf4ca1649e136e25696c/checks/396942169/logs (from #7611). The patching process failed and `vendoring` (the tool) did not error out immed

[2020-01-21 08:14] pradyunsg commented on #6120
One of our vendored dependencies -- pep517 has switched to using `toml` (not `pytoml` or `tomlkit`). We might want to consider switching to that.

[2020-01-21 08:55] uranusjr commented on #6120
`toml` is a good choice IMO for its minimal feature surface. `tomlkit` is nice but adds unnecessary bloat for features pip is unlikely to need in the foreseeable future.

[2020-01-21 09:10] pfmoore commented on #6120
+1 for `toml`. The main advantage of `tomlkit` is that it preserves formatting, which isn't something we need right now. Let's wait until we need that feature before picking the bigger library.

[2020-01-21 09:15] pfmoore commented on #7617
I can take a look at this later this week, if no-one gets to it before me. @pradyunsg I see you self-assigned it - I'm fine if you prefer to deal with it yourself.

It may be as simple as marking the patch files as "binary" in `.gitattributes` to stop git using platform line endings in them.

[2020-01-21 09:42] pradyunsg commented on #7617
There's 2 things to do here:

1. Making vendoring fail when the patching fails (which is what I assigned myself for)
2. Properly handling line endings for these patches (please feel free to self assign this bit to yourself @pfmoore).

--

I'm not 100% sure what the problem with the line endings is - if it's the line endings changing, but might be a difference of line ending between the two files.

[2020-01-21 09:47] pradyunsg commented on #7531
It's release day!

I'll be starting work to make the release in a few hours -- if anyone has any blocking concerns, please holler ASAP. :)

[2020-01-21 09:47] webknjaz commented on #7531
Yaaay!

[2020-01-21 10:17] pradyunsg commented on #7615
Thanks for filing this @A5rocks! This was fixed in #7618.

[2020-01-21 10:17] #7615 closed

[2020-01-21 11:56] HenrikOssipoff opened #7620 "Unable to install anything using pip after upgrade to 20.0"
**Environment**

* pip version: 20.0
* Python version: 3.6.8
* OS: Ubuntu 14.04.6 (Don't judge)

**Description**

During our build process, we automatically upgrade to the newest version on pip. After upgrading to 20.0 (using pip install -U pip setuptools), we are unable to install any packages.

**Output**

[code]

[2020-01-21 11:58] ntoll commented on #7620
I see the same thing:

[code]

Python 3.7.2 on Ubuntu 18.04

[2020-01-21 11:58] Kobold commented on #7217
I'm now getting issues with this on the 0.20 release.

[2020-01-21 12:00] honnix commented on #7620
Same here https://github.com/pypa/pip/pull/7619#issuecomment-576649700

Seems like unclean dist.

[2020-01-21 12:00] akaihola commented on #7620
Exactly the same with Python 3.7.5 on Fedora 29. The same happens both in virtualenvs and with `--user`. Also, doesn't matter if I run `pip3.7` or `python3.7 -m pip`.

[2020-01-21 12:00] landfillbaby commented on #7620
same here, python 3.8.1 on android 9 termux. i assume it's the same for basically everyone

[2020-01-21 12:01] svms1 commented on #7620
I have the same issue in a docker build, using the `python:3.8-buster`image:

[code]

[2020-01-21 12:01] daipra commented on #7620
Same here. Python 3.7.4 using Ubuntu 18.04.

[2020-01-21 12:01] messa commented on #7620
Same on MacPorts Python on macOS:

[code]

[2020-01-21 12:01] mwoss commented on #7620
Exact same issue. Python 3.7.6, system: Max OS Catalina

[2020-01-21 12:01] pradyunsg commented on #7531
Alrighty. The release has been made.

- Uploaded files to PyPI.
- Updated `get-pip.py`.
- Announced on:
  - discuss.python.org
  - distutils-sig + pypa-dev

Looks like we already have our first user reports of problems popping up: https://github.com/pypa/pip/issues/7217.

[2020-01-21 12:02] pradyunsg commented on #7217
Looking into this now folks. If someone could provide instructions for how to reproduce with pip 20.0, that'd be great!

[2020-01-21 12:03] maggu2810 commented on #7217
I run into the same problem:

[code]

results into

[code]

[2020-01-21 12:03] jamescooke commented on #7620
Same issue on Python 3.7.3 which is the Ubuntu 19.04 default.

[2020-01-21 12:03] messa commented on #7531
Is it possible to roll back? See #7620 please.

[2020-01-21 12:04] DanielFEvans commented on #7217
In short, "try to use pip"! The results of trying to install scipy on a working virtual env, which already has scipy installed (i.e. I expect pip to do nothing):

[code]

[2020-01-21 12:04] aviogit commented on #7217
The `curl get-pip.py` trick didn't work for me, but I solved looking for differences between my venv and the "official code" installed system-wise. (I'm on a cluster, _so hic sunt leones_...)

[2020-01-21 12:05] joshmoore commented on #7217
Try `python -m pip`.

[2020-01-21 12:05] akaihola commented on #7217
@pradyunsg, on Fedora 29 I can reproduce like this:
[code]
[code]
[code]

[2020-01-21 12:05] ntoll commented on #7620
It's worth mentioning that mistakes, problems and unforeseen mishaps happen to all projects, no matter how much you plan and try to mitigate such events.

Spare a thought and supportive comments for the **volunteer** Pythonistas looking into this and fixing it for all our benefit.

[2020-01-21 12:06] MarkBird commented on #7217
I just got this when my deployment auto-upgraded pip from 19.3.1 to 20.0

Everything is already using python -m pip - that is *not* the issue here

I can tell you that the fix from JediKid, that is to delete this folder:

site-packages/pip/_internal/distributions/source

fixed the problem

[2020-01-21 12:06] AndyMender commented on #7217
A plain Python Docker context using the `python:3.7-slim` container (Debian-based) is also affected.

[2020-01-21 12:07] adnathanail commented on #7217
Got the same thing in python:3.7.6-alpine running on github actions

[2020-01-21 12:07] heitorPB commented on #7217
I can reproduce this error in a `Dockerfile`:

[code]

And in `requirements.txst`:

[code]

When I build this image, i get this nasty error. If I remove the line that upgrades pip, the image builds.

[2020-01-21 12:07] pradyunsg commented on #7217
Okay, I have reproduced this locally -- I'll file a PR with a fix soon.

[2020-01-21 12:09] honnix commented on #7620
Note a maintainer of `pip`, but I guess we have two options to move forward: 1) cut off a clean dist and bump the version; 2) at least pull off 20 from pypi (might be too late already).

[2020-01-21 12:09] wizzzet commented on #7217
Removing folder ./site-packages/pip/_internal/distributions/source helps!

[2020-01-21 12:09] xdralex commented on #7620
In the meanwhile this can be helpful if you use `virtualenv`:
[code]

[2020-01-21 12:10] Aidenir commented on #7620
Just wanted to chime in that our build system went down with this too. Luckily its not critical, and I agree with @ntoll that sometimes things goes south, and I'm sure you're doing all you can to fix this.

[2020-01-21 12:10] sbidoul commented on #7620
@pradyunsg I confirm the issue. I suggest pulling it from PyPI.

[2020-01-21 12:10] jamescooke commented on #7620
@xdralex Yes :+1: I was just typing something similar.

Plus, if you've got a usable `pip` in your global env, then `virtualenv venv --no-download` will use that one instead of downloading the broken version.

[2020-01-21 12:11] fusionking commented on #7217
Yeah, pip version 20.0 breaks

[2020-01-21 12:12] Sudo-Metz commented on #7217
Yep, having the same issue here (pip 20.0).

[2020-01-21 12:12] traits commented on #7620
Only for completeness: Windows is also affected. Win10 + Python 3.7.4 here (WinPython):

`python -m pip uninstall pip
Traceback (most recent call last):
  File "v:\bin\scripting\python\3.7.4\python-3.7.4.amd64\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "v:\bin\scripting\python\3.7.4\python-3.7.4.amd64\lib\runpy.py", line 85, in _run_code
    exec(code, run_glo

[2020-01-21 12:13] ParasJain-dev commented on #7217
Yep, pip 20.0 breaks , using  "virtualenv ." command to create venv

[2020-01-21 12:14] ethanfowler commented on #7217
Same here, all of our CI builds that update pip are failing.

[2020-01-21 12:14] james-gonzalez commented on #7620
Do you not listen to your own CI tests?

https://github.com/pypa/pip/pull/7619

![image](https://user-images.githubusercontent.com/3919945/72804056-7e728380-3c47-11ea-82b6-f026716c7cd3.png)

[2020-01-21 12:15] nicholasamorim commented on #7217
All builds are broken due to the same error on our end too.

[2020-01-21 12:15] jamescooke commented on #7620
For those people here with broken build processes because they do something similar to OP's `pip install -U pip setuptools` - remember you can tweak this to ban or constrain any particular version.

Both of these seem to work OK for me locally:

[code]

`pip` will warn you about not being on the latest version, but won't install `v20.0`.

[2020-01-21 12:15] honnix commented on #7620
@james-gonzalez Not sure cutting off a new release is part of CI.

Reading https://pip.pypa.io/en/latest/development/release-process/#creating-a-new-release, maybe after checking out `master` and git clean should be applied.

[2020-01-21 12:15] Prior99 commented on #7620
I have the exact same issue in a clean docker container running latest Ubuntu as well as an up-to-date Arch Linux.

[2020-01-21 12:16] ipanousis commented on #7217
Builds broke

[2020-01-21 12:16] arossert commented on #7620
A workaround to get pip working again is getting the [get-pip.py](https://bootstrap.pypa.io/get-pip.py) script and running:
`python get-pip.py pip==19.3.1`
This will revert pip to the previous version

[2020-01-21 12:16] jingw222 commented on #7217
What if I roll back to pip 19.x? Would it work?

[2020-01-21 12:17] roosnic1 commented on #7217
Same here with python 3.7.3 and pip 20.0

[2020-01-21 12:17] manikos commented on #7217
`pip install pip"<20.0"` temp solution but it works.

[2020-01-21 12:17] kushaldas commented on #7620
Always remember that the maintainers are also humans, and programming mistakes are actually common among this species. We should be providing any support they or the community need than blaming people.

[2020-01-21 12:17] manutero commented on #7217
perhaps is it possible to create a `virtualenv` seting `pip` versio to 19.3.1 (the prev.)

[2020-01-21 12:17] ParasJain-dev commented on #7217
A quick which is working is

**curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
python get-pip.py pip==9.0.2**

[2020-01-21 12:18] kevdagoat commented on #7217
Read The Docs is also plagued by this issue now, making building of documents consistently fail
![373AED13-5DF1-4729-9923-114F83603B44](https://user-images.githubusercontent.com/42062334/72804335-1fcef900-3c8b-11ea-86cb-2e8410ac1a1d.jpeg)

[2020-01-21 12:18] lgp171188 commented on #7217
@manutero, the `--no-download` flag of the `virtualenv` command will avoid trying to download the latest version of `pip` at the time of creating the environment.

[2020-01-21 12:19] jukujala commented on #7217
If you use virtualenv just downgrade to 19.x. This resolved the issue in my virtualenv:

    virtualenv --no-pip <ENV NAME>
    curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
    python get-pip.py pip==19.2.2

[2020-01-21 12:19] daonb commented on #7620
I've just ran into the same problem and I installed pip from the repo (20.1.dev)  and it solved it. Just cloned this repo and `pip install -e ./pip`

[2020-01-21 12:19] luissilva1044894 commented on #7620
Btw, looks like it's just an missing import. My fix was:

`pip\_internal\distributions\source\__init__.py`
[code]

[2020-01-21 12:21] pabelanger commented on #7620
Confirmed, our CI system is seeing the same issue.

[2020-01-21 12:24] ce-vadiv commented on #7217
Had to select the previous version to sort out,
curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
python get-pip.py pip=19.3.1

[2020-01-21 12:24] Sonorpearl commented on #7620
https://github.com/pypa/pip/issues/7217
Install an older version:
curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
python get-pip.py pip==19.3.1

[2020-01-21 12:26] AvnerCohen commented on #7620
A possible local workaround:
https://github.com/pypa/pip/issues/7217#issuecomment-576653463

[2020-01-21 12:26] 14DF397FCA commented on #7217
Same here with python 3.7.6 and pip 20.0

[2020-01-21 12:28] vnspradeep07 commented on #7217
pip version-20.0
python version - 3.6
Just write below lines in the file
<virtualenv_path>/lib/python3.6/site-packages/pip/_internal/distributions/source/__init__.py

from .legacy import SourceDistribution

[2020-01-21 12:28] pradyunsg commented on #7217
Can others seeing this failure confirm that there's a source/ folder in pip/_internal/distributions?

If you're that folder exists, don't make comment here -- use the 👍 reaction on this post. That folder does not exist, use the 👎 reaction.

[2020-01-21 12:29] nicola-lunghi commented on #7217
same issue here with ubuntu 19.04

[code]

It doesn't appear with pip==19.2.3 so for now I reverted it

[2020-01-21 12:30] PabloCastellano commented on #7217
Please stop reporting "me too". @pradyunsg is working on a fix right now

[2020-01-21 12:33] Aricg commented on #7217
Yep. hitting this now worked yesterday.

[2020-01-21 12:34] gmemstr commented on #7620
This is being fixed in https://github.com/pypa/pip/pull/7621, as linked from https://github.com/pypa/pip/issues/7217 :)

[2020-01-21 12:34] ayush--s commented on #7217
snippet for pipenv users
[code]

[2020-01-21 12:35] ryanjjung commented on #7620
Same, confirmed on both Amazon Linux on an EC2 instance as well as a local Fedora machine.

[2020-01-21 12:35] valdemar-giosg commented on #7217
For a quickfix,
[code]
also works ok

[2020-01-21 12:38] DarkSuniuM commented on #7217
Between all the temporary workarounds, only this one worked for me

[2020-01-21 12:38] dejlek commented on #7217
I wonder what will happen when they remove easy_install... :)

[2020-01-21 12:40] lerela commented on #7620
Out of sheer curiosity, why was this version released even though the last pipelines failed showing this error? https://travis-ci.org/pypa/pip/builds/639902383

Not a cutting remark at all, just interested in the release process and how can this kind of issues can be avoided in the future!

Many thanks for the ongoing work to fix it :+1:

[2020-01-21 12:42] macongpeng commented on #7217
It should be python3 get-pip.py pip==19.3.1

[2020-01-21 12:44] hakujyo opened #7622 "Met import SourceDistribution error when I ran pip in virtualenv."
* Pip version: pip 20.0
* Python version:Python 2.7.16
* Operating system:CentOS release 6.3 (Final)

After I made a virtualenv environment by such commands below:
`` shell
pip install virtualenv
``
``shell
python -m virtualenv --no-site-packages venv
``
``shell
source venv/bin/activate
``
My pip environments went down like this:
![image](https://user-images.githubusercontent.com/14309331/72805800

[2020-01-21 12:45] SergeyLadutko commented on #7217
Help me in docker
RUN pip install --upgrade pip"<20.0"

[2020-01-21 12:45] pradyunsg commented on #7217
Thanks @PabloCastellano! I'm just ignoring comments here now, since I don't want my heartrate going any higher. :)

Made the bugfix release. If that helped, use 👍 on this post. Otherwise, please write a comment with the error message.

[2020-01-21 12:46] spriyab commented on #7622
We also faced the same problem. Downgrading pip to 19.3.1 solved that error.

[2020-01-21 12:46] yuvadm commented on #7622
Duplicate of #7620

[2020-01-21 12:46] mymtw commented on #7217
XD

[2020-01-21 12:47] MrMino commented on #7217
@pradyunsg You've just lowered mine. Seems to work.

[2020-01-21 12:47] sfermigier commented on #7622
Same:

[code]

[2020-01-21 12:47] RomanKoziolek commented on #7217
@SergeyLadutko :

try `pip install --upgrade pip==19.3.1`

[2020-01-21 12:47] FrantzdyRomain commented on #7217
ok let me run my build again

[2020-01-21 12:47] gmemstr commented on #7217
@pradyunsg Hats off for the fast fix, we really appreciate it <3 I can confirm that this fix has taken hold within CircleCI jobs, for anyone wondering.

[2020-01-21 12:47] pradyunsg commented on #7217
Note that get-pip.py hasn't been updated yet -- that's because, well, I borked my own dev environment for get-pip when testing this. :)

I'll update that in the next few minutes.

[2020-01-21 12:47] mike-yobota commented on #7217
Can confirm. `pip==20.0.1` is working fine

[2020-01-21 12:48] MrMino commented on #7217
@pradyunsg any CI improvements so it doesn't happen in the future? A docker container would be sufficient.

[2020-01-21 12:48] FrantzdyRomain commented on #7217
:) let us know when this will be good to go

[2020-01-21 12:49] hakujyo commented on #7622
So this is an error of pip version auh?That's awesome.

[2020-01-21 12:50] sbidoul commented on #7622
Closing as duplicate.

[2020-01-21 12:50] #7622 closed

[2020-01-21 12:50] norraxx commented on #5599
Please, have travis piepline or something that covers that kind of situation, and not release it before.

[2020-01-21 12:51] repl-mike-roest commented on #7217
Our build now passed with get-pip.py

[2020-01-21 12:52] AythaE commented on #7217
pip 20.0.1 working properly. Thanks @pradyunsg

[2020-01-21 12:52] umutacar commented on #7217
having the same issue on AWS ElasticBeanstalk. fixing version <20 didn't work.

[2020-01-21 12:52] plamut commented on #7217
I can confirm, the new `pip` gets installed now that does not suffer from this error anymore. Thanks @pradyunsg !

[2020-01-21 12:53] SuganyaVasu commented on #7217
Thanks @pradyunsg !!

[2020-01-21 12:53] CruzanCaramele commented on #7217
thank you @pradyunsg !  so so much

[2020-01-21 12:54] jace-ys commented on #7217
thanks @pradyunsg for the quick fix! 🎉

[2020-01-21 12:54] shwetas1205 commented on #7217
Thanks @pradyunsg  for quick turnaround!

[2020-01-21 12:55] nachiketrss commented on #7620
I had recently upgraded to pip 20.0 using "python -m pip install --upgrade pip". Following the upgrade, even "pip list" command broke. Now I see a new version is release 20.0.1, but if I do "python -m pip install --upgrade pip" then I get the same error. How can I upgrade to latest pip version 20.0.1?

[2020-01-21 12:56] abhiTronix commented on #7217
**Thanks @pradyunsg, Kuddos.**

[2020-01-21 12:57] messa commented on #7620
@nachiketrss try install with `get-pip.py`

[2020-01-21 12:58] JuliaTatarenkova commented on #7217
specify the version
e.g. pip==19.3.1

[2020-01-21 12:58] TTimerkhanov commented on #7620
@nachiketrss curl https://bootstrap.pypa.io/get-pip.py | python

Or python3

[2020-01-21 12:59] k3dr1 commented on #7531
There is a problem with installing the packages (throws an Import error) when I try it like this "pip install tensorflow". So anyway, how do I roll back?

[2020-01-21 13:00] abhiTronix commented on #7217
**No need it has been fixed now.**

[2020-01-21 13:02] millefalcon commented on #7217
I think, the problem was created because there is a `source` directory as well as `source.py` in the `pip/_internal/distributions` path.

In the `pip/_internal/distributions/__init__.py` have a import line:
[code]

But there's also a `source` dir inside there,

[code]

Hence that import will fail. Renaming the `source.py` to `_source.py` and chaning the import in `__init__.py` to `from pip._intern

[2020-01-21 13:02] andreashaerter commented on #7620
Comparable error for CentOS 7 with Python3.6:

[code]

[2020-01-21 13:05] pabelanger commented on #7620
No longer seeing issue with pip 20.0.1 release, thanks. Agree, it would be helpful to understand job failures above in build logs @lerela referenced.

[2020-01-21 13:05] pfmoore commented on #7217
Agreed, fantastic turnaround on the fix here!

[2020-01-21 13:06] honnix commented on #7620
I can confirm 20.0.1 fixed the issue.

[2020-01-21 13:06] michel-rodrigues commented on #7217
Thanks @pradyunsg

[2020-01-21 13:10] razavi1371 commented on #7620
Closing the current terminal and working with a new one solved the issue.

[2020-01-21 13:11] pradyunsg commented on #7620
Alrighty, looks like this has been fixed. Closing.

[2020-01-21 13:11] #7620 closed

[2020-01-21 13:12] browarsoftware commented on #7217
Same error as above.
Python version: python-3.7.6
OS: Windows

Works after moving to PIP 19.3.1

[2020-01-21 13:16] Dundee commented on #7620
I know that all the people working on this are volunteers and I am really glad for all the work they do!

But as @lerela mentioned we should investigate a bit how such thing could happen and how can we avoid such mistake.

Pip is one of the **core and most used** tools in the whole software industry.
And it looks like that a new version was released even though it was not at least tested to run ba

[2020-01-21 13:19] pradyunsg commented on #7620
https://github.com/pypa/pip/pull/7624

[2020-01-21 13:20] cryvate commented on #7620
@lerela @pabelanger that's not what happened here: that build log is was run after the release was done ([that commit](https://github.com/pypa/pip/commit/8ad871a6bbdccfe152cc75cbb11e3faf0778b9b3) was run during release by [a script](https://github.com/pypa/pip/blob/4b1c3484b03f60118cfe49f4e89e360c70bd5cd7/noxfile.py)) as evidenced by those failed build logs (for example [this one](https://travis-c

[2020-01-21 13:23] esorribas commented on #7620
Confirmed, AWS Beanstalk fails when you try to install or upgrade a new based python app ...

[2020-01-21 13:24] sfermigier commented on #7622
@sbidoul Duplicate of which issue ?

[2020-01-21 13:25] danys94 commented on #7217
Works great now, thanks.

[2020-01-21 13:26] ssbarnea commented on #7217
Considering the nature of this bug, can you please remove 20.0 release from PYPA? https://pypi.org/project/pip/#history

Another question would what we could do to avoid a similar regression in the future.

[2020-01-21 13:27] pradyunsg commented on #7217
Sorry everyone for the breakage, and thanks for working with us here to fix this breakage!

@xavfernandez figured out why this happened and we'll be making changes to our release process to prevent similar failures in the future: #7624

[2020-01-21 13:34] xppt opened #7625 "Unable to install package on different logical disk"
* Pip version: 20.0.1/19.3.1
* Python version: Python 3.6.8
* Operating system: Win10 64-bit, build 18362.535.

While executing (note two different logical disks)
`F:\temp\.venv\Scripts\pip install --prefix "C:\temp" "greenlet>=0.4.14"`
pip exits with an unhandled exception:
[code]

Because of this I'm unable to install gevent==1.5a2, which executes the command above while installing build depende

[2020-01-21 13:34] pradyunsg commented on #7622
#7620

[2020-01-21 13:40] pradyunsg commented on #7531
In case someone wasn't looking for the past 2 hours, we had a major-ish outage. pip 20.0 was basically not-usable. pip 20.0.1 has been released with a hotfix.

#7624 improves our automation to prevent similar breakages in the future. :)

[2020-01-21 13:40] IRDonch opened #7626 ""No matching distribution" due to wheel tags not matching in pip 20.0"
**Environment**

* pip version: 20.0.1
* Python version: 3.6.9
* OS: Ubuntu 18.04

**Description**
Pip can seemingly no longer install any version of `mxnet` newer than 0.9.5.

**Expected behavior**
It should be able to. :-) This worked before pip 20.

**How to Reproduce**
Try to install `mxnet==1.3.1` in a virtual environment.

**Output**

[code]

Running `pip install` with `--verbose` produces a

[2020-01-21 13:53] MarkBird commented on #7217
great work, thanks for the lightning fast turnaround!

[2020-01-21 13:54] NicolasPA commented on #7620
Thank you for fixing the issue so fast @pradyunsg .

[2020-01-21 13:57] CharrierCoop commented on #7217
Hello, I'm stuck in 20.0
All the commands that I tried return this error about 'SourceDistribution'.

[code]

I tired to uninstall too :

[code]

Anyone have another solution to uninstall pip?

Ubuntu 18.04.3 LTS
Python 3.6.9
run in virtualenv

[2020-01-21 14:01] fideloper commented on #7620
What's the best path forward on fixing this? Attempting to update `pip` on my ec2 instance from pip20.0 to 20.1 still fails with this error. `sudo pip2 install -U pip2`.

[2020-01-21 14:05] otrejoso commented on #7626
We are also having this error using version 20.0.1 with our in-house wheel
[code]
Using `pip install pip==19.3.1`  works fine.

[2020-01-21 14:09] pradyunsg commented on #7217
Hi @CharrierCoop! You should be able to download get-pip.py and install pip 20.0.1 using that.

See https://pip.pypa.io/en/stable/installing/

[2020-01-21 14:13] jeroendecroos commented on #7626
Same here with an in-house wheel.

Doesn't work:
` pip install -U pip==20.0.1; pip install
`
ERROR: <wheel> is not a supported wheel on this platform.

Works:
` pip install -U pip==19.3.1; pip install <wheel>
`

Seems that the platform tags are the problem here: tags 'any' are working, but this specify wheel has 'linux_x86_64'.

Note that I have:
[code]

[2020-01-21 14:15] pradyunsg commented on #7620
@fideloper Thanks for asking! I answered this on a different issue just now: https://github.com/pypa/pip/issues/7217#issuecomment-576698030

@honnix's suggestion also works, although I would recommend against using `curl ... | python`.

[2020-01-21 14:17] CharrierCoop commented on #7217
Perfect !!
thank you @pradyunsg

[2020-01-21 14:19] chrisoro commented on #7626
Same here.

19.3.1 works but 20.0.1 gives:
pip._internal.exceptions.InstallationError: pyenchant-2.0.0-py2.py3.cp27.cp32.cp33.cp34.cp35.cp36.pp27.pp33.pp35-none-win32.whl is not a supported wheel on this platform.

Tags for my pc: [('cp37', 'cp37m', 'win32'), ('cp37', 'none', 'win32'), ('cp37', 'none', 'any'), ('cp3', 'none', 'any'), ('cp36', 'none', 'any'), ('cp35', 'none', 'any'), ('cp34', 'none

[2020-01-21 14:20] xavfernandez commented on #7626
Could you print the differences between `pip debug -v` in pip 20.0.1 & pip 19.3.1 ?

[2020-01-21 14:23] IRDonch commented on #7626
[code]

[2020-01-21 14:27] fideloper commented on #7620
Great, thank you all very much!

[2020-01-21 14:34] webknjaz commented on #7620
@fideloper also if your distro doesn't rip off `ensurepip` from CPython, you should be able to use it via `python -m ensurepip`

[2020-01-21 14:44] layday opened #7627 "Editable install does not work with --prefix"
**Environment**

* pip version: 20.0.1
* Python version: 3.8.1
* OS: macOS

**Description**
Editable installs fail when using a custom `--prefix`.  Independently, `install` appears to attempt to uninstall synonymous packages on the `PYTHONPATH` when installing to a different prefix, though this might be intentional.

**Expected behavior**
That editable installs would work for arbitrary prefixes.

[2020-01-21 14:44] chrisoro commented on #7626
[code]

[2020-01-21 14:49] pfmoore commented on #7626
Similar on Windows - the tag section of the output:
[code]

Looks like `packaging.tags` has different values than the version pip used internally in pip 19. The main difference is the lack of `{py3,cp3}-none-win_amd64`. Which isn't a standard tag generated by `bdist_wheel` AFAIK, so at least the impact will be limited to people who set custom tags.

The specs don't say much about what custom tags

[2020-01-21 14:51] pradyunsg commented on #7217
No. We're not going to be deleting it. We have a standard-backed feature for "yanking" broken releases. Once PyPI adds support for that, we'll yank this release (if anyone cares by then).

See https://www.python.org/dev/peps/pep-0592/#motivation for more details.

[2020-01-21 14:53] larstiq commented on #5453
@asottile @chriskuehl we're also struggling with the scripts not being installed with --target when we have a custom platform. Do you have another way of dealing with this or should this issue still be advanced?

[2020-01-21 14:57] CeadeS commented on #7626
Have the same issue installing  icc-rt  (from intel-numpy) (2020.0.133) using pip==20.01

[2020-01-21 14:57] pradyunsg commented on #7620
Also, thanks for posting your analysis of the CI runs @cryvate! I just came back to respond to that, and your comment is basically on point.

FWIW, the only CI job for pip that was failing *before* pip 20.0 was a non-test job for Windows because of some git+Windows+authors.txt issue, which is mostly unrelated to the actual release process.

[2020-01-21 15:00] pradyunsg commented on #7627
Does this work on pip < 20?

[2020-01-21 15:04] fergyfresh commented on #7620
Looks fixed to me.

[2020-01-21 15:08] layday commented on #7627
It does not.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, 21 January 2020 17:00, Pradyun Gedam <notifications@github.com> wrote:

[2020-01-21 15:12] Juanlu001 opened #7628 "Release beta versions of pip?"
After the [recent problems of pip 20.0](https://github.com/pypa/pip/issues/7620) (kudos to the developers for the quick fix!) I remembered [the issues that arose when 19.0 was released with PEP 517 support](https://github.com/pypa/pip/issues/6163).

There is [a comment from @pfmoore about not doing prereleases](https://github.com/pypa/pip/issues/6106#issuecomment-451074986):

Including a remark th

[2020-01-21 15:12] layday commented on #7627
I assume it used to work at one point because Nix relies on it for Python development environments.

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Tuesday, 21 January 2020 17:08, Layday <layday@protonmail.com> wrote:

[2020-01-21 15:16] IRDonch commented on #7626
I will answer anyway: the wheel has native Linux libraries in it, so the `manylinux1` tag makes sense.

[2020-01-21 15:17] sbidoul commented on #7627
pip basically delegates editable installs to `setuptools`, via the `setup.py develop` command.

That usage of `--prefix` is apparently not supported by setuptools which says "You are attempting to install a package to a directory that is not on PYTHONPATH and which Python does not read ".pth" files from."

To confirm this, could you check that running `python setup.py develop` with similar options

[2020-01-21 15:36] pfmoore commented on #7628
The important point in my comment above is

We used to release betas, and got essentially no feedback for what was at the time quite a lot of work. Our release process is a lot more automated now, so releasing betas might be useful. But I still wonder how many people would actually test them.

Conversely, when we do have a release issue, it seems to hit everyone's production CI within minutes - fr

[2020-01-21 15:40] tomasaschan commented on #7620
We're still seeing this issue with *20.0.1*.

Will work on putting together a repro, but the error we're getting is because of a dependency on `xgboost==0.81` which on pip 19 downloaded a whl package, but on 20.0 and 20.0.1 downloads a tarball and tries to build it (which fails because our build chain does not have the required tooling installed).

[2020-01-21 15:43] pradyunsg commented on #7628
Probably worth flagging, we are actively exploring what it would take to set up a sustainable beta process (one that has a good story for end users of pip, to actually get some testing) as part of #6536.

If we're able to come up with a good process, I'm guessing that we'd have development, UX, and communications needed for it, as part of https://wiki.python.org/psf/Pip2020DonorFundedRoadmap.

[2020-01-21 15:45] pradyunsg commented on #7620
@tomasaschan Could you file a new issue?

[2020-01-21 15:47] jamadden commented on #7620
@tomasaschan I think you're seeing a different issue, not this. This issue is about a broken installation of pip itself. In your case, I think you're seeing some of the behaviour changes around wheel tags such as #6908. Could you file a new issue please?

(`xgboost` has some odd tags. It has `xgboost-0.90-py2.py3-none-manylinux1_x86_64.whl` but that's very odd: if a package contains compiled C ext

[2020-01-21 15:49] ystasiv-amplify commented on #7217
sudo pip install --upgrade "pip==19.3.1"
fix this issue

[2020-01-21 15:51] ystasiv-amplify commented on #7620
`sudo python get-pip.py pip==19.3.1`
for fix this issue

[2020-01-21 15:51] tomasaschan commented on #7620
@pradyunsg @jamadden Working on putting together a minimal Dockerfile that reproduces the error; will file a new issue once I manage to. (We have several layers of internal base images I have to dig through to find something to put in `FROM` that's publicly available...)

[2020-01-21 15:53] jamadden commented on #7626
In https://github.com/pypa/pip/issues/7620#issuecomment-576743862 @tomasaschan reported what I think is this same issue for `xgboost`, which ships as `xgboost-0.90-py2.py3-none-manylinux1_x86_64.whl`. It also appears to contain native libs, perhaps for the JVM.

[2020-01-21 15:53] pfmoore commented on #7626
Thanks. I *did* actually follow that explanation 🙂 Makes sense.

[2020-01-21 15:54] antocuni opened #7629 "On PyPy, binary wheels broken on pip==20.0.1"
**Environment**

* pip version: 20.0.1
* Python version: PyPy (tested with 7.2.0 and 7.3.0)
* OS: tested on linux, likely affects other OS as well

**Description**
If you try to install a manylinux wheel (such as the ones produced [here](https://github.com/antocuni/pypy-wheels)), pip 20.0.1 complains:
[code]

`pip==19.3.1` installs it correctly.

**Expected behavior**
I would expect the wheel to b

[2020-01-21 15:55] pfmoore commented on #7626
@jamadden Agreed, that looks like the same issue.

[2020-01-21 16:01] tomasaschan commented on #7626
@jamadden What can I do locally to help you determine whether this is the same?

[2020-01-21 16:02] pfmoore commented on #7626
@tomasaschan Can you paste here the output of `pip debug -v`?

[2020-01-21 16:14] Lotus-Blue commented on #7217
thank you very much

[2020-01-21 16:19] layday commented on #7627
It works with `setuptools` provided that you modify the `PYTHONPATH`:

[code]

pip overwrites the `PYTHONPATH` as you can see above:

[code]

... which, I assume, wasn't the case before pip v19.0 because it works with v18.0.

[2020-01-21 16:21] andybergon commented on #7629
Same problem here, had to downgrade to pip 19.3.1

[2020-01-21 16:26] abhiTronix commented on #7217
fix this issue

No need this issue was fixed by @pradyunsg

[2020-01-21 16:26] antocuni commented on #7629
FWIW, I just tried and `PyPy3 7.3.0` has the same problem, so this is not specific to Python2

[2020-01-21 16:35] asottile commented on #5453
yelp was using [pip-custom-platform](https://github.com/asottile/pip-custom-platform) -- though I don't work there any more

another approach is multiple pypi servers, but that's a lot of work

I haven't really touched this in a year unfortunately, sorry :( I do still want to see it happen though

[2020-01-21 16:46] tomasaschan commented on #7626
[code]
<details>

[code]

[code]
</details>

[2020-01-21 16:48] pradyunsg commented on #7629
/cc @brettcannon @chrahunt

[2020-01-21 16:52] vizhur opened #7632 "pip 20.0.1 fails to resolve dependencies"
**Environment**

* pip version: 20.0.1
* Python version: 3.5.2, 3.6, 3.7
* OS: Windows/Linix

pip 20.0.1 fails to resolve dependencies on install

**Description**
pip 20.0.1 fails to resolve dependencies on install

**Expected behavior**
expected to find and install necessary dependencies

**How to Reproduce**
(localsdk) PS C:\Repos> python -m pip install -U pip
Collecting pip
  Downloading https:

[2020-01-21 16:54] chrisoro commented on #7629
Same issue as in https://github.com/pypa/pip/issues/7620

[2020-01-21 16:56] jeroendecroos commented on #7626
pip/_vendor/packaging/tags.py
332c332
<         platforms = _platform_tags
---

334c334
<         for platform_ in platforms():
---

seems to solve the problem

[2020-01-21 16:56] andresaco commented on #7632
A similar problem occurs when installing these modules:

* analytics-zoo
* bigdl

[2020-01-21 16:57] tomasaschan commented on #7626
Here's a Dockerfile that reproduces our error message:

[code]

[2020-01-21 17:13] Ralnoc commented on #7632
It is also being experience with `mxnet`

[2020-01-21 17:15] pfmoore commented on #7626
@jeroendecroos Good catch - that looks like it may be a straight bug in `packaging.tags` (re-using an iterator rather than re-creating it each time). Could you open an issue against https://github.com/pypa/packaging for this - and if you could make your fix into a PR that would be even better!

[2020-01-21 17:17] pradyunsg commented on #5599
#7499 has been done, to partially mitigate this problem for now. We will remove those additional wrappers at a later date, so please make sure to treat the warning that pip spews out as serious and solve the underlying issues (or at least help by identifying them and letting us know here).

[2020-01-21 17:19] pradyunsg commented on #5846
Given that I've not seen much activity from @cjerdonek lately, I'll take the liberty of closing this PR. :)

[2020-01-21 17:19] #5846 closed

[2020-01-21 17:25] bluenote10 opened #7633 "Pip 20 no longer finds latest version of cmake"
**Environment**

* pip version: 20.0.1
* Python version: 3.7.6 (but same with 2.7.12)
* OS: Ubuntu 16.04

**Description**

`pip install "cmake==3.15.3"` no longer finds a matching distribution although this version [exists on PyPI](https://pypi.org/project/cmake/3.15.3/).

**Expected behavior**

Should find the latest version.

**How to Reproduce**

[code]

Version 19 has no problem finding cmake:

[2020-01-21 17:37] sbidoul commented on #7633
This looks like a variant of https://github.com/pypa/pip/issues/7626: the cmake wheels have similar compatibility tags

[2020-01-21 18:00] sbidoul commented on #7632
This issue is similar to #7626, all mentioned distributions share a similar compatibility tag structure

[2020-01-21 18:00] neishm commented on #7629
@chrisoro I think that's a different issue related to an ImportError.  This bug is about pip not recognizing some supported binary wheel platforms.

[2020-01-21 18:15] neishm commented on #7629
For my binary wheel, `git bisect` is pointing to 4659a78935533b90ea0e2211890a968b05c52994 as the commit that first breaks things (for Python tag `py2.py3-none-manylinux2010_x86_64`).  Broken for both Python2 and Python3 environments.

[2020-01-21 19:19] firba1 commented on #5453
Can confirm that Yelp still does this, but we are considering alternatives.

[2020-01-21 20:05] pradyunsg commented on #7629
Thanks for the git bisect @neishm! I was pretty sure it's because we switched to `packaging.tags`. I think this was discussed w/ upstream PyPy (https://github.com/pypa/packaging/issues/233)  (but I'm not a 100% sure this is the right issue.

[2020-01-21 20:07] pradyunsg commented on #7632
I'm gonna close this in favor of #7626. Thanks for filing the issue! :)

[2020-01-21 20:07] #7632 closed

[2020-01-21 20:07] pradyunsg commented on #7633
I'm gonna close this in favor of #7626. Thanks for filing a detailed issue -- much appreciated! :)

[2020-01-21 20:07] #7633 closed

[2020-01-21 20:11] pradyunsg commented on #7627
If someone could `git bisect` this, that would be helpful here.

[2020-01-21 20:11] webknjaz commented on #7629
@pradyunsg FTR this https://github.com/koalaman/shellcheck/issues/1803 also looks like an instance of this issue but under regular CPython, not PyPy.

[2020-01-21 20:14] pradyunsg commented on #7629
I don't think so? If anything, it's related to #7626.

[2020-01-21 20:17] webknjaz commented on #7629
Ah, right. Overlooked it.

[2020-01-21 20:44] layday commented on #7627
I bisected it to `744b8cf96eb3c3d4504048621c9406dd648fb71f`.

[2020-01-21 20:54] mattip commented on #7629
I think the python tag change from pp272 to pp27 is desirable, and in line with the discussion in pypa/packaging#233 and pypa/packaging#184. The pip19 python tag "pp272" is "pp" for pypy, "2" for python2, and "72" for pypy7.2.x. The python tag "pp27" is "pp" for pypy and "27" for python 2.7. Going forward, the new tag is more correct, especially as we start to support python3.6 and 3.7. Under the

[2020-01-21 22:06] richard-steiger commented on #7620
For the benefit of Py noobs such as myself, can someone provide a clean, complete fix or workaround for this issue?  Also, not sure how significant this is, but the error message I got is a bit different:
`ImportError: cannot import name 'PackageFinder' from 'pip._internal.index' (/usr/lib/python3.8/site-packages/pip/_internal/index/__init__.py)`
Thanks for the quick fix, and also for the write-up

[2020-01-21 22:59] traverseda opened #7634 ""standalone" install flag"
**What's the problem this feature will solve?**

Many new users just want to install an end product, some cli tool or app, and end up polluting their user or global environment with a bunch of library packages, packages that are often incompatible with one another.

**Describe the solution you'd like**

I'd like to see a `--standalone` flag that install a piece of software in it's own virtualenv i

[2020-01-21 23:37] protolambda commented on #2195
Is this still being looked into? It's a very painful surprise to see multiple gigabytes of git-ignored debug-data dumps being copied over during a `pip install .`

[2020-01-22 00:31] gerph commented on #7629
Whether there are wheels on PyPI or not, some users will be using binary wheels as part of their distribution system because it's significantly better than requiring that the end user compile the packages (or those end users may not have the ability to compile them). This is what I do with my CI, and have discovered today that the system that was working yesterday is no longer working, and (accord

[2020-01-22 01:31] chrahunt commented on #7629
Also note that manylinux will not be checked for PyPy.

[2020-01-22 01:38] InkLabApp opened #7635 "Unable to open PSD file: AssertionError: read=1, expected=10"
**Environment**

* pip version: 9.0.1
* Python version: 3.6.9
* OS: Ubuntu 18.04 LTS

**Description**

Attempting to open the PSD file raises am immediate error. The file is able to be opened using the Krita painting app without notable issue.

**Expected behavior**

Able to open a read basic information about layers in the PSD file using this API.

**How to Reproduce**

1. Get package from '...'

[2020-01-22 01:39] InkLabApp commented on #7635
Here is the source file that causes the issue:
[PSD File.psd.zip](https://github.com/pypa/pip/files/4094857/PSD.File.psd.zip)

[2020-01-22 01:42] chrahunt commented on #7635
Hi @InkLabApp. It looks like this is related to the psd-tools package and not pip. Can you create an issue on their [issue tracker](https://github.com/psd-tools/psd-tools/issues)?

I'll close this now, but please let us know if you see any pip problems. Thank you!

[2020-01-22 01:42] #7635 closed

[2020-01-22 01:43] mattip commented on #7629
@gerph it seems pinning pip and wheel (and for that matter all dependencies) versions would be prudent. Maybe when pypy binary wheels go more mainstream and the infrastructure to produce them becomes better tested, that restriction could be lifted, but it seems to me to be good practice even for CPython.

[2020-01-22 01:47] chrahunt commented on #7634
Thank you for the suggestion!

[pipx](https://github.com/pipxproject/pipx) does exactly what you're describing. There is a lot of effort that goes into making a nice user experience, handling edge cases, writing tests, and writing documentation. pipx has done the work and is very easy to install and use. IMO it would be better to use that than to try to add this in pip.

[2020-01-22 02:07] traverseda commented on #7634
Pipx looks great, I'll very likely use it from now on. It seems like the kind of feature that *might* be worth having in core pip, if only to introduce it as a standard.

The big issue is not that it's hard to do, it's that it's not very discoverable. It's not the default for people posting about their projects, even when it would really make more sense for it to be.

Not sure if it's something th

[2020-01-22 02:23] chrahunt commented on #7634
I think we can mitigate the perception concerns by pointing people to the relevant [packaging.python.org](https://packaging.python.org/guides/installing-stand-alone-command-line-tools/) page that mentions pipx.

[2020-01-22 02:29] chrahunt commented on #2195
Yes, take a look at the linked issues like #7555.

[2020-01-22 03:15] jaraco commented on #7628
I'd like to share that it's possible to run pip at master, which you could do at any time interval before pip's predictable release process:

[code]

You could simply `pip install` that version in whatever environment you would be testing beta versions, perhaps gating that on some period prior to the release.

[2020-01-22 03:19] jaraco commented on #7616
Works like a charm:

[code]

[2020-01-22 03:19] #7616 closed

[2020-01-22 05:06] Marcdh3 commented on #7620
@richard-steiger  I had the same issue. My fix was to uninstall pip, download the tar.gz of v20.0.1 from [pypi](https://pypi.org/project/pip/20.0.1/#files), then install by running "python setup.py install".

[2020-01-22 05:07] Gilf641 commented on #7217
I tried doing the same on Raspberry Pi 4( Python 3.7.3, pip version - 20.0 and OS - Raspbian Buster Lite), but it wasn't successful.
ERROR: Could not find a version that satisfies the requirement pi p
ERROR: No matching distribution found for pip

Any solution?

[2020-01-22 05:08] pradyunsg commented on #7571
Quoting a past me:

From https://github.com/pypa/pip/issues/6607#issuecomment-532622732

[2020-01-22 06:14] pradyunsg commented on #7217
@Gilf641 Please a new issue -- it'll be easier to manage for the maintainers.

[2020-01-22 06:16] pradyunsg commented on #7217
I'm gonna go ahead and close this issue now, since it seems like things are working for most users.

If you're still facing issues, please look for duplicates filed in earlier (since Jan 21, for pip 20.0) and if there are none, file a new issue.

[2020-01-22 06:16] #7217 closed

[2020-01-22 06:31] Korijn opened #7636 "Cannot install platform-specific wheels with non-python extension binaries on pip>=20.0.0"
**Environment**

* pip version: 20.0.1
* Python version: 3.6.4
* OS: Windows 10 x64

**Description**
It is no longer possible to install platform-specific wheels with non-python extension binaries on pip>=20.0.0. These are wheels that include prebuilt binaries for specific platforms, and ship a Python wrapping layer using for example `ctypes` or `cffi`. There is no Python extension, so the wheels

[2020-01-22 06:41] alexFickle opened #7637 "cp3-<abi>-<platform> is not a supported platform"
**Environment**

* pip version: 20.0.1
* Python version: Python 3.7.0 (cpython win32)
* OS:  Windows 10

**Description**

Installing wheels with a python tag of cp3 fails in my environment.

[code]

Changing the cp3 to cp33 causes the pip install to succeed.

**Expected behavior**

The install to succeed.  cp3-abi3-\<platform\> is used as an example in PEP425.

**How to Reproduce**
[code]

Also pi

[2020-01-22 06:46] alexFickle commented on #7637
Might be a duplicate of https://github.com/pypa/pip/issues/7626

[2020-01-22 06:46] pradyunsg commented on #7637
Related to #6908

[2020-01-22 08:14] Juanlu001 commented on #7628
Fair point @jaraco. Perhaps the devs don't even need to make a beta release, just send an email to python-announce saying "please test pip @ master these days, we plan to make the next release next week". Or have an GitHub issue where interested users can subscribe for notifications of upcoming releases ([like trio does for backwards-incompatible changes](https://github.com/python-trio/trio/issues

[2020-01-22 08:29] studioj commented on #7636
having the same issue installing pyzbar on windows

[2020-01-22 08:45] TuxBel commented on #7620
Fixed (under Cygwin-X) !

blh@LPT-V-23 ~
$ python /cygdrive/c/Temp/get-pip.py pip==19.3.1
Collecting pip==19.3.1
  Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/00/b6/9cfa56b4081ad13874b0c6f96af8ce16cfbc1cb06bedf8e9164ce5551ec1/pip-19.3.1-py2.py3-none-any.whl (1.4MB)
    100% |############

[2020-01-22 08:53] sbidoul commented on #7636
Thanks for the detailed bug report. This looks like the same issue as #7626.

[2020-01-22 09:55] mhsmith commented on #4549
See also #5846.

[2020-01-22 11:33] messa commented on #7628
I think that the recent breakage was too huge because people use the freshest newest pip, even a completely new "untested" major release. Instead of relying what they already have in their distro or some pinned version (or just a major version) that is known to work, like it is usual elsewhere when dealing with dependencies.

Why people do this? Maybe because the pip itself prints a **WARNING** ev

[2020-01-22 11:42] pfmoore commented on #7628
@messa That's a good point. With that message, we are encouraging regular updates by users. That was (originally) done deliberately, as we otherwise find that users are *not* upgrading, and then are finding that older versions of pip don't work for them (no support for newer features like PEP 517 or manylinux2010/2014, etc). That can be just as much a breaking change for end users.

I'm not sure h

[2020-01-22 11:57] Juanlu001 commented on #7628
I assume most people affected by the breakage were doing something like this on their CI:

[code]

So they are not affected by the wording of the message. After 20.0 breakage, they surely did something like this:

[code]

And at this point users will be told that 20.0.1 fixed the original issue very slowly and gradually lift the upper bound. Until the next time, that is...

[2020-01-22 12:06] sobolevn commented on #7620
readthedocs is also affected by this:

[code]

[2020-01-22 12:30] messa commented on #7628
@Juanlu001 Exactly my case 🙂

They are. They see it on their desktop so they make sure even the CI is up to date.

This is the reason why I personally did `pip install -U pip wheel` almost everywhere (CI, Dockerfiles, deploy scripts...). But maybe it is not necessary anymore.

@pfmoore The warning could be displayed if the current pip version is older than some threshold.

[2020-01-22 12:42] pradyunsg commented on #7628
https://github.com/pypa/warehouse/issues/726 would be, IMO, perfect for our use case. :)

[2020-01-22 13:48] burbigo1 commented on #7636
Yes, I think this issue has already existed, but I hope that it'll get fixed this time

[2020-01-22 13:50] burbigo1 commented on #7637
Personally never seen this before

[2020-01-22 14:24] flying-sheep commented on #7620
readthedocs just installed pip 20.0.1 for me, so the cascade of breakage seems halted, good job! :smiley:

[2020-01-22 15:20] pradyunsg commented on #7637
Yep -- you're correct. This is a duplicate of #7626. :)

[2020-01-22 15:35] webknjaz commented on #7628
@pfmoore here's another idea: Pip could stop unconditionally showing this message immediately after the release and go with some sort of a roll-out.
It'd work like this:
- when the newest version was released less than 6 hours ago (for example), randomly include that version in the warnings with 5% chance
- if it's more than 10, increase the chance to 10%
- and so on, use 100% chance for 48+ hours

[2020-01-22 16:02] sinoroc commented on #7634
For info, you can kind of get halfway there with two commands like the following:

[code]

This gets you a single file self-contained executable `cookiecutter.pyz`.

Lots of caveats, though, that's why solutions such as _shiv_, _pex_, and _pipx_ are better at this. But interesting nonetheless. See the [`zipapp` documentation](https://docs.python.org/3/library/zipapp.html#command-line-interface) fo

[2020-01-22 16:39] pfmoore commented on #7628
@webknjaz Honestly, that seems like way too much complexity for this. After all, we're only speculating that people upgrade aggressively because of the warning. I suspect that the fact that `virtualenv` defaults to the latest versions of pip, setuptools and wheel is at least as likely to be the important factor here (people test in CI, tests use tox, tox uses virtualenv...).

[2020-01-22 16:52] dstufft commented on #7628
I'm only partially following, but I don't think a beta release or testing master would have necessarily  caught this issue anyways yea? The most recent issue was due to a dirty build directory when producing the final artifact that got released as 20.0. That means it wasn't related at all to the state of the repository, but was instead the state of the machine that the release process was run on.

[2020-01-22 16:58] pfmoore commented on #7628
@dstufft correct. I'm treating this discussion as a general "maybe we should rethink offering betas" question. But it definitely wouldn't have helped in the case of the 20.0 issue.

[2020-01-22 17:18] pradyunsg commented on #7628
That's what pypa/warehouse#726 would be, IIUC.

[2020-01-22 17:52] rchen152 commented on #7636
I believe we're experiencing the same problem with ninja (https://github.com/google/pytype/issues/495). Instead of installing one of the wheels, pip is trying to install the source distribution, which fails with an import error.

[2020-01-22 18:00] pradyunsg commented on #7609
Thanks for filing a detailed and clear issue @MaxNoe! It's much appreciated! ^>^

As @uranusjr pointed out, this is a duplicate of #988. You can find a *lot* more detail about this issue [here](https://wiki.python.org/psf/Fundable%20Packaging%20Improvements#Finish_dependency_resolver_for_pip). I'll go ahead and close this as a duplicate of #988. :)

[2020-01-22 18:00] #7609 closed

[2020-01-22 18:03] ammarasmro commented on #7626
Not sure if this helps but I'm facing the same issue trying to install `dotnetcore2`

[2020-01-22 20:12] AuthorBlindSubmission commented on #7424
I am having the sameproblem but i cannot solve this... =/
help?
Collecting dockerspawner==0.10.0
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7ffa65e3dbe0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution',)':

[2020-01-22 20:28] Aricg commented on #1668
I followed the release notes here.
https://pip.pypa.io/en/stable/news/#id3
"Default to doing a user install (as if --user was passed) when the main site-packages directory is not writeable and user site-packages are enabled. (#1668)"

My builds are now failing with
[code]
They can be fixed by removing the --user from my commands.
Was this expected behavior? The release notes to not seem to reflect

[2020-01-22 22:43] takluyver commented on #1668
If it is correct that user site packages aren't importable from that environment, then that is the expected behaviour, but it's orthogonal to this PR. That check was introduced years ago (#567), but it looks like it was broken with venv until recently (#7155). There's a release note for that:

[2020-01-22 23:30] InkLabApp commented on #7635
Wow, that is a first for me! I am so sorry to waste your time with my  confusion between chrome tabs >.< And no, Pip has always been absolutely awesome, thank you very much!

[2020-01-23 02:14] uranusjr commented on #7617
This plus #7600 means we’ll need to figure out a universal setting for all these things. There are two settings affecting this: [`core.autocrlf`](https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreautocrlf) and [`core.eol`](https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreeol).

The “easiest” (in quotes) solution would be to punt and always use UNIX line endin

[2020-01-23 02:49] chrahunt commented on #7424
Hi @AuthorBlindSubmission, these kinds of problems are almost always user-specific. Can you please create a new issue and provide the information that I mentioned in [this comment](https://github.com/pypa/pip/issues/7424#issuecomment-562961314) along with the info that is requested in the issue template?

[2020-01-23 06:56] Korijn commented on #7636
For anyone else reading this, looks like it may have been fixed upstrem here: https://github.com/pypa/packaging/pull/258

Now pip just needs to update their vendored version I think?

[2020-01-23 06:58] Korijn commented on #7636
I'm quite certain this will be tracked and solved via 7626 so I will close this issue to save the maintainers some cognitive load :)

[2020-01-23 06:58] #7636 closed

[2020-01-23 07:33] pradyunsg commented on #6120
Updated the issue title, to better reflect the main goal here. :)

[2020-01-23 07:35] pradyunsg commented on #6120
FWIW, looking at pytoml -> toml; there doesn't seem to be *any* difference in API -- it should be a pretty simple switch for us.

[2020-01-23 07:41] pradyunsg opened #7638 "Returning a RequirementSet from Resolver.resolve"
**Description**
Currently, pip's `Resolver.resolve` method is expected to mutate the RequirementSet provided to it; which results in a slightly difficult to follow control flow.

**Desired behavior**
[code]

**Known Challenges**
pip's `install`, `download` and `wheel` commands, have a `requirement_set.cleanup_files()` call in a try-finally, which means that the existing requirement set is clearly

[2020-01-23 07:58] pradyunsg commented on #7638
This came up in https://github.com/pypa/pip/issues/7571#issuecomment-571915031

[2020-01-23 08:12] justvanrossum commented on #7626
Facing the same issue with freetype-py on macOS: https://github.com/rougier/freetype-py/issues/119 ("fixed" by pinning to 19.3.1)

[2020-01-23 09:11] george542 commented on #7620
pip 20.0.1 doesn't fix it for me on MACOS 10.15.2 with Python 2.7. Problem also existed with pip 19.3.1, which I tried first.

iMac:~ george$ sudo easy_install pip Searching for pip Best match: pip 20.0.1 Processing pip-20.0.1-py2.7.egg Removing pip 19.3.1 from easy-install.pth file Adding pip 20.0.1 to easy-install.pth file Installing pip script to /usr/local/bin Installing pip3.8 script to /usr/

[2020-01-23 09:13] RonnyPfannschmidt commented on #7620
@george542 you have a different pip installed normally while you also installed the newer pip in a broken way with setuptools, please clean out all pip installs and pip egg installs, then install pip using the get-pip script which deals a correct setup

[2020-01-23 10:23] luizavladislavna opened #7640 "[ Release 20.0 && 20.0.1 ] Could not find a version that satisfies the requirement"
**Environment**

* pip version: `pip-20.0.1`
* Python version: `3.6.9`
* OS: `PRETTY_NAME="Debian GNU/Linux 10 (buster)"`

**Description**
In case when we upgrade pip3 from `19.3.1` to `20.0.1` we faced with problem to install `mxnet-mkl` requirement:
`Could not find a version that satisfies the requirement mxnet-mkl==1.3.0 (from versions: 0.9.5)`

**Expected behavior**

Successfully installed `mx

[2020-01-23 10:56] pfmoore commented on #7617
I'd prefer to go with native line endings, as that's less likely to have odd side-effects (even though most editors work fine with `\n` line endings, they typically default to `\r\n` for *new* files).

Treating patch files as special makes more sense to me, because, well, they are - the patch utilities are what don't handle mixed line endings cleanly.

Actually, it looks like the problem is far si

[2020-01-23 15:35] pfmoore commented on #7259
Confused by the emoji, sorry - can you clarify?

[2020-01-23 15:36] pfmoore commented on #7638
# Working notes
Mostly a brain dump of my investigations, so it's recorded somewhere public. I've just found a few other conversations that I need to follow up on, though, which may put all of the following in a different light.

Review this against https://github.com/pypa/pip/issues/7571#issuecomment-575024527, https://github.com/pypa/pip/issues/6607#issuecomment-532622732 (and followup)

## Anal

[2020-01-23 16:30] tschijnmo commented on #7629
CMake installation via pip is broken with pip version >= 20 because of this issue.

I am not sure how prevalent it is, there are wheels like that for cmake that simply use pip as a platform and channel to distribute their manylinux binaries.  These packages do not actually come with any Python or Python ABI requirements.  Maybe it makes some sense to add new tags that makes the intention and requi

[2020-01-23 17:51] Aricg commented on #1668
Ah yes, thank you for your comments. I figured this out...
my script was populating .local/bin/
when I ran
[code]
and then in a ubuntu login shell (#!/bin/bash -l)  .local/bin gets added to path (so calling python3 now calls the .local/bin/python3 executable) Which we don't want.
I never needed to run python3 -m venv ~/.local
or call my scripts from a login shell, and removing both or either of th

[2020-01-23 17:58] takluyver commented on #1668
Oh, I'd missed that you were doing `python3 -m venv ~/.local` . That's likely to confuse tools like pip, because `~/.local` is the prefix for `--user` installs (on Linux). venvs and `--user` are two _different_ ways you can install packages without making systemwide changes: you should use one or the other. Creating a venv in `~/.local` makes some weird hybrid of the two.

[2020-01-23 19:01] FlipperPA commented on #7554
This breaking change will have a significant impact on quite a few users, myself included. We use GitLab on-prem, but I presume this would also affect all GitLab users:

![image](https://user-images.githubusercontent.com/68164/73013292-068e8f80-3de6-11ea-827b-ded1caae060b.png)

As you can see, GitLab's default SSH URL scheme is `git@`, which means I have lots of requirements files that look like t

[2020-01-23 20:23] pradyunsg commented on #7531
I'll make a bugfix release that updates packaging with the fix for #7626 tomorrow. Yay Fridays.

[2020-01-23 20:25] pradyunsg commented on #7626
Expect a bugfix release for this tomorrow, assuming I recover from my current headache by then. :)

[2020-01-23 20:39] pradyunsg commented on #7638
Note regarding #6607 comment: pip._internal.operations ended up being where we put the "cleaner abstractions" (they're basically the corresponding functions).

I'm not against cleaning up add_requirement, it's just that it's *extremely* mixed in with the current resolution logic, so it might be a bit tricky to do that.

I'm not sure how you're thinking of moving successfully_downloaded to requirem

[2020-01-23 20:39] pradyunsg commented on #7638
I

[2020-01-23 20:40] pradyunsg commented on #7638
I officially hate the GitHub mobile UI.

[2020-01-23 20:47] pradyunsg commented on #7259
(reopened since there's discussion happening now)

[2020-01-23 20:48] pradyunsg commented on #7629
That's #7626.

[2020-01-23 20:51] pradyunsg commented on #7554
This was released in 20.0, so 21.0 should remove this feature.

[2020-01-23 21:50] pfmoore commented on #7638
That's what I was considering. I'm not sure how much improvement that would be, though. But having said that, I'm not actually sure it's important to do that refactoring at all. I'm still trying to understand how "make `resolve` return a `RequirementSet`" actually helps improve the control flow (especially if you're lukewarm on cleaning up `add_requirement`).

I guess I'm still trying to understan

[2020-01-24 01:17] chrahunt commented on #7638
The refactoring helps because as I see it we have two options for implementing the new resolver while preserving the old one:

1. Reimplement the current resolution logic in terms of the new resolver once it's done
2. Draw a line somewhere in the code to split it into:
   1. Before using resolver
   2. Use old resolver or new resolver
   3. After using resolver

For the sake of understanding why t

[2020-01-24 01:19] chrahunt commented on #7638
At this point since all downloads are attached as paths to the `InstallRequirement`s with lifetimes that last until pip exits, we can just move the copying of the already-downloaded files to the download folder out of `RequirementPreparer` and into `pip download` or `pip wheel`, respectively. Then the individual commands will know which files were downloaded - it will be whatever files they just c

[2020-01-24 09:04] pfmoore commented on #7638
Got it, thanks. So the key here is that we don't want the `RequirementSet` to act as mutable state shared between the "Before" and "After" code (and hence as a back-channel for passing hidden data between them). That makes perfect sense to me.

On the other hand it does mean that simplistically moving state to the `Requirement` probably won't help, as it just changes what holds the shared state. B

[2020-01-24 09:51] chrahunt commented on #7638
My thinking is that "Before" deals strictly with something that represents a parsed requirement, and "After" deals with the Project objects. Like:

1. For new resolver
   1. Turn parsed requirements into Projects
   2. Do resolution
   3. Return result
2. For old resolver
   1. Turn parsed requirements into `InstallRequirement`
   2. Do resolution
   3. Wrap resulting `InstallRequirement`s in an a

[2020-01-24 10:11] chrahunt commented on #7638
It sounds bad when you say it like that. :) At the end we want the resulting objects to represent a thing that we can install or save. I would not rely on much more intimation than what is already exposed in [`ProjectInterface`](https://github.com/chrahunt/pip/blob/fea885a311f6627bad7e729e15bf48030461170c/src/pip/_internal/projects/base.py#L10).

It's not critical for this discussion, but a few no

[2020-01-24 10:37] vkataev commented on #7626
Same issue with our in-house wheels (pip 20.0.1), a workaround is to use pip<20 for now. Hopefully your upcoming today's fix will resolve it. Thanks!

[2020-01-24 11:24] pradyunsg commented on #7626
Okie, #7643 should fix things. Once that gets merged in (and I get back to my laptop), I'll make the pip 20.0.2 release.

[2020-01-24 11:25] pradyunsg commented on #7626
If folks want to take #7643 for a spin and confirm that it indeed does fix the issue for them, that'd be great!

Please use the 👍 reaction on this issue if you've tried the PR and it works for you. :)

[2020-01-24 12:58] #7626 closed

[2020-01-24 13:00] pradyunsg commented on #7626
Okie, so the fix is now in master. I'll make the release in a bit -- please follow #7531.

[2020-01-24 13:01] pradyunsg commented on #7531
Okie then -- merged the fix for #7626 into master.

I'll go eat some snacks now, and then come back to do the make-a-release stuff, in about half an hour or so.

[2020-01-24 13:30] gsemet opened #7644 "cannot install azure-iothub-device-client with pip==20.0.1"
**Environment**

* pip version: 20.0.1
* Python version: 3.6 and 3.7
* OS: Linux Ubuntu 18.04

**Description**
Pip install does not select any wheel for the package `azure-iothub-device-client==1.4.6`, while pip==19.3.1 successfully did it.

**Expected behavior**
`pip install azure-iothub-device-client==1.4.6` works like previous version, selecting the right wheel for the system (ubuntu 18.04).

*

[2020-01-24 13:32] vkataev commented on #7531
Thank you for your great valuable work! Mistakes can happen and it's expected sometimes things may misbehave :) At least a workaround exists and hopefully 20.0.2 will resolve it.

[2020-01-24 14:06] pradyunsg commented on #7644
Please see #7626

[2020-01-24 14:06] #7644 closed

[2020-01-24 14:12] pfmoore commented on #7406
I've been looking at mixology today, to try to get a feel for how its API would fit with pip. One thing I hit was the fact that as far as I can see, Mixology uses its own constraint abstraction (the `Constraint` class), which doesn't seem to be interoperable with `packaging.SpecifierSet`, and I don't see an obvious way to convert between the two.

I think this could be a problem for us, as we'd pr

[2020-01-24 14:19] grll commented on #7620
For people like me looking for a 2 command line solution to this issue:

[code]

[2020-01-24 14:27] sdispater commented on #7406
@pfmoore Mixology only understands its own `Constraint` class. So you will need to convert a `SpecifierSet` to something Mixology can understand. You can check the example here https://github.com/sdispater/mixology#example and the `convert_dependency()` method to see how.

As long as you can represent a `SpecifierSet` as a `Range`, a `Union` of ranges or an intersection of any of the two, it shoul

[2020-01-24 14:46] pradyunsg commented on #7531
That took a *bit* longer than expected -- working on the release now. :)

---

Thanks for the kind words @vkataev!

[2020-01-24 14:55] pradyunsg commented on #7531
pip 20.0.2 has been released:

- Pushed commits and tags directly to pip's `master` branch.
- Uploaded files to PyPI.
- Updated get-pip.py.

[2020-01-24 14:56] pfmoore commented on #7406
Thanks, that's what I thought. Sadly, there's no public API for introspecting a `SpecifierSet` in a way that would let us do that. So we'd probably have to either dig into the internals (nasty) or add an introspection API. Or write our own requirement parser (which defeats the purpose of having a standard and a library that implements it, IMO).

Let's just call it a disadvantage for Mixology in th

[2020-01-24 15:01] pradyunsg commented on #7626
Released 20.0.2 containing the fix for this.

If you're still seeing something similar, please take a look at #7629 (if you're on PyPy) or file a new issue. :)

[2020-01-24 15:04] anthrotype commented on #7626
This now works again with pip 20.0.2 released a few minutes ago. Thanks all for the timely patch!

[2020-01-24 15:28] pradyunsg commented on #7406
@uranusjr and I have not discussed this in detail.

I was aware that poetry/mixology have been using a different version/specifier handling code, but I'd definitely not thought about the possibility that it could require more operations than `SpecifierSet` provides, even though I'd thought of that when I was looking at PubGrub itself. 🤷‍♂

Looking more closely at the implementations here, it does

[2020-01-24 15:34] Korijn commented on #7626
Thanks, we're up and running again!

[2020-01-24 15:42] tomasaschan commented on #7626
@pradyunsg I can confirm that my Docker repro above is fixed in 20.0.2.

Great work on this, huge thanks (from all of us)! ❤️

[2020-01-24 15:51] pfmoore commented on #7406
Cool, for now I can continue playing with prototypes using resolvelib. (If I'm honest, I prefer resolvelib's set of abstractions, but I'm trying *not* to let personal preferences influence things at this stage).

[2020-01-24 15:57] gsemet commented on #7644
thanks a lot of the new release !

[2020-01-24 16:00] afabiani commented on #7626
**There's a regression**

`ModuleNotFoundError: No module named 'pip._internal.download'`

[2020-01-24 16:04] afabiani opened #7645 "20.0.2 Regression: module missing 'pip._internal.download'"
**Environment**
Python 3

* pip version: 20.0.2
* Python version: 3.6+
* OS: Ubuntu

**Description**
**There's a regression**

`ModuleNotFoundError: No module named 'pip._internal.download'`

**Expected behavior**
-

**How to Reproduce**

`from pip._internal.download import PipSession`

**Output**

`ModuleNotFoundError: No module named 'pip._internal.download'`

[2020-01-24 16:13] presich commented on #7645
I have regression on Python 3.4, Centos 6.10, but looks similar:
....
from pip._internal.commands.install import InstallCommand
....
RuntimeError: Python 3.5 or later is required

[2020-01-24 16:30] pfmoore commented on #7626
@afabiani can you provide a full traceback and instructions on how to reproduce, please? In a new issue, as this seems like it's unrelated to the subject of this issue.

[2020-01-24 16:30] afabiani commented on #7626
@pfmoore https://github.com/pypa/pip/issues/7645

[2020-01-24 16:33] pfmoore commented on #7645
Use of the internal pip API is not supported. See [here](https://pip.pypa.io/en/stable/user_guide/#using-pip-from-your-program). We are routinely refactoring pip's internals, for efficiency and maintainability, and to support new features. So any release could break code that imports from pip - we make no guarantees of stability.

See the linked section of the documentation for more information, a

[2020-01-24 16:36] pradyunsg commented on #7636
Thanks @Korijn! 20.0.2 should have fixed this. :)

[2020-01-24 16:39] pradyunsg commented on #7626
Thanks! That's an unrelated problem caused by an unsupported use of pip, and not a bug/regression introduced in pip 20.0.2. I see that @pfmoore has responded in more detail there, so let's have further discussion in that issue.

[2020-01-24 16:50] afabiani commented on #7645
I see, thanks.
I have found a quick workaround for the moment. I'll look for a better solution in the future.

`inst_req = parse_requirements('requirements.txt', session='hack')`

[2020-01-24 16:50] #7645 closed

[2020-01-24 20:07] pdxjohnny opened #7647 "Downloads of packages served via torrent"
**What's the problem this feature will solve?**
On poor internet connections, downloading large packages can result in the installation terminating, and the user having to re-try, which could just fail again.

**Describe the solution you'd like**
It would be nice if packages could be served via torrents, and `pip` could download them. That way if a TCP/internet connection is dropped, the download

[2020-01-24 20:11] pradyunsg commented on #7647
Are you basically asking for a "resume download" functionality?

[2020-01-24 20:13] pdxjohnny commented on #7647
Ya

[2020-01-24 20:14] pdxjohnny commented on #7647
Ah, i see https://github.com/pypa/pip/issues/4796. I was fixated on torrents....

[2020-01-24 20:14] #7647 closed

[2020-01-24 20:20] pradyunsg commented on #7647
:)

See also https://github.com/pypa/pip/issues/31280! Also, thanks for filing the issue! ^.^

[2020-01-25 02:24] chrahunt commented on #7259
Sorry, I was indicating that I had seen the comment and intended to respond but then forgot about this issue.

My gut says that its use will be pretty independent of the resolver abstraction we use since Projects internally are prepared as-needed to satisfy accessed properties. So as long as we can adapt the property access to whatever the resolver is expecting it should be a good solution to requ

[2020-01-25 03:23] chrahunt commented on #4796
This should be easier to implement now since all the logic regarding downloads is isolated in [`pip._internal.network.download`](https://github.com/pypa/pip/blob/a4fac3f8825dc09c834d14c88db44b507c686833/src/pip/_internal/network/download.py).

[2020-01-25 04:01] aragilar opened #7648 "pip >=20 ignores _manylinux module"
pip >= 20 seems to ignore the _manylinux.py module, specifically `manylinux1_compatible = False`, and attempts to use manylinux wheels anyway. I suspect this is down to using packaging to handle tags, and so the checks for handling _manylinux no longer exist (I'll try to find where this disappeared from, and send a PR, I'm mainly filing this so that the vendored version get updated).

I tested thi

[2020-01-25 04:20] alexFickle commented on #7637
Release 20.0.2 which solved the duplicate did not solve this issue.

[2020-01-25 05:00] chrahunt commented on #7648
I looked over at packaging.tags and it does look like it is considering that value. [See the implementation here](https://github.com/pypa/packaging/blob/d49fdc500a7c057b71851847ff8d7cc92865bcf2/packaging/tags.py#L411-L422). Can you please try to reproduce with packaging directly and file an issue over there if applicable?

[2020-01-25 05:04] chrahunt commented on #7637
I brought this point up specifically in [pypa/packaging#231 (comment)](https://github.com/pypa/packaging/pull/231#discussion_r347069198). Can you please file an issue in [pypa/packaging](https://github.com/pypa/packaging)?

[2020-01-25 08:04] auvipy commented on #6120
https://github.com/pypa/pip/pull/6460 should this be reopened?

[2020-01-25 10:10] pfmoore commented on #7259
Thanks, I see. My instinct here is that the resolver needs to be able to just say to the project/requirement "what are your dependencies" without worrying too much about whether we need to download/build or whatever. That's such a precise match for the "project" model that I'm currently having a hard time even thinking about the resolver without assuming the project model is in place :-)

That doe

[2020-01-25 10:59] zveryansky opened #7649 "check compatibility of package with specific version of python"
At the moment I am working on the standalone solution for this problem but I would be happy to commit it into pip.

**What's the problem this feature will solve?**
I would like to be able to check if any package supports specific version of Python.

I am trying to upgrade my env to 3.8 and be able to install all current packages
**Describe the solution you'd like**

I want to be able to provide pi

[2020-01-25 13:33] chrahunt commented on #7649
There's always the possibility of sdist-only packages that explicitly check for version in their setup.py (or equivalent) and fail if it doesn't match expectations. I don't think that's too uncommon, unfortunately.

Personally, I think the docker-based approach would be more robust. This would also catch situations where a package seems to be compatible but fails at compilation, for example.

[2020-01-25 16:50] sbidoul opened #7650 "Error installing git+file VCS references"
**Environment**

* pip version: 20.0
* Python version: 3.7
* OS: linux

**Description**

The following installation of a PEP 440 local VCS reference fails: (using bash to reproduce)

[code]

**Expected behavior**

It should work, as does the pip-specific URL form:

[code]

and as does the PEP 440 form with a remote VCS URL:

[code]

[2020-01-25 16:59] pradyunsg commented on #7650
This isn't a valid PEP 508 requirement (see https://www.python.org/dev/peps/pep-0508/#examples) -- it's a weird abomination of pip-specific VCS references and PEP 508.

[2020-01-25 17:01] pradyunsg commented on #7650
I don't think we should mix VCS and PEP 508 as proposed, since we'd be building on top of the standard, which would make pip non-compliant with it, in a very implementation-specific manner, which would defeat the point of the standardization. :)

[2020-01-25 17:04] sbidoul commented on #7650
@pradyunsg how so? IIUC, PEP 508 builds on PEP 440 and the VCS form is documented in PEP 440.
The git+https form is valid and works just fine with pip. It's only the git+file form that fails.

[2020-01-25 17:24] monkut commented on #7620
Had this issue when trying to install awscli via pip in circleci.

resolved by preforming `pip install pip -U` prior to running `pip install awscli` in the _config.yml_ file.

[2020-01-25 17:25] uranusjr commented on #7650
PEP 440 specifically says the URL should point to either an sdist or wheel. It’s possible to make a case for pip to support VCS requirements like this, but that would still be pip-specific, and not covered by PEP 440.

[2020-01-25 17:29] uranusjr commented on #6120
@auvipy Since the decision seems to be using toml instead of tomlkit, it is probably simpler to open a new PR for that.

[2020-01-25 17:39] sbidoul commented on #7650
This section of [PEP 440](https://www.python.org/dev/peps/pep-0440/#id62) talks about VCS references. While it does only show git+https examples, I see no nothing in it that excludes git+file references.

[2020-01-25 17:42] auvipy commented on #6120
OK

[2020-01-25 18:15] sbidoul commented on #609
A proposed implementation is in #7612. People interested in testing this can do it by installing pip from that branch: `python -m pip install -U git+https://github.com/pypa/pip@refs/pull/7612/head`.

[2020-01-25 18:59] Tyg13 commented on #5599
To anyone who finds this issue and beats their head against trying to upgrade the system `pip` to something past their distro's version -- just don't bother. There doesn't seem to be any clear path to upgrade the entire thing.

What did seem to work was creating a virtual environment using `virtualenv` for my project and using the `pip` there.

Instructions are very simple:
[code]

Now `pip --vers

[2020-01-26 00:16] ncoghlan commented on #7628
Aye, the two-phase upload would have been the key here. However, I've also been thinking about the problem of how to get folks testing against pip pre-releases (if you were to start doing them again), and remembered this post from Brett Cannon encouraging folks to enable CI tests against CPython development branches in Travis CI: https://snarky.ca/how-to-use-your-project-travis-to-help-test-python

[2020-01-26 00:35] ncoghlan commented on #7629
Explicitly noting the origin of the bug here: "pp272" is not a valid Python tag according to the wheel spec (https://www.python.org/dev/peps/pep-0425/#details), but the wheel project and pip presumably used to generate their PyPy Python tags the same way, so the issues cancelled out.

While it isn't nice from a code readability point of view, the most user friendly fix would likely be to have a pa

[2020-01-26 07:12] pradyunsg commented on #7629
@ncoghlan's suggestion sounds good to me.

[2020-01-26 08:53] ncoghlan commented on #7629
@neishm I believe the problems you were seeing on CPython would have been due to #7626 rather than this issue.

This one relates specifically to differences in the way that pip 20 and pip 19 calculate the set of supported tags on PyPy (example running on PyPy 7.0.0):

[code]

@pradyunsg The approach I'm taking is to add a `_with_legacy_tags` helper inside `pep425tags.py`. An initial PR (with faili

[2020-01-26 09:21] aragilar commented on #7648
Done, see https://github.com/pypa/packaging/pull/262 (PR) and https://github.com/pypa/packaging/issues/263 (issue).

[2020-01-26 10:39] chrahunt commented on #7648
Thanks! I left a comment over there.

It looks like this is the expected behavior and pip was not compliant with the spec before. For now I would work around this change in behavior by defining each of the `manylinux_` variables expected by `packaging.tags`.

As mentioned in pypa/packaging#263, this should be easier for your use case once we implement PEP 600 in packaging.tags. I'll close this and

[2020-01-26 10:39] #7648 closed

[2020-01-26 11:13] sbidoul commented on #7650
So do we agree this is a bug?

It comes from here in packaging:
https://github.com/pypa/pip/blob/153e22ae3427c0e3a23c38474e83261eb60200c0/src/pip/_vendor/packaging/requirements.py#L109-L115

The `file` scheme is special-cased, and `git+flie` fails because it has no netloc.

[2020-01-26 22:42] bmartinn commented on #609
Thanks @sbidoul ! I'll check the PR

[2020-01-26 23:05] damon-chem-e commented on #7620
How did you get readthedocs to install pip 20.0.1 for you? I tried specifying pip==20.0.1 in my requirements.txt file, but am still getting the error mentioned above by sobolevn.

[2020-01-27 05:04] neishm commented on #7629
@ncoghlan Yes, you are correct.  My problem was due to #7626 and not this issue.

[2020-01-27 08:40] hodgestar commented on #7626
Ran into this late on Friday and arrived at work this morning to find it already fixed and released -- thank you to everyone involved in making the fix happen so quickly! :D

[2020-01-27 08:48] flying-sheep commented on #7620
Hmm, it just updates pip at the start by default for me. But I think wiping the build environment could trigger it.

[2020-01-27 10:04] wvxvw opened #7656 "Failure to solve simple constraint"
Pip version: 19.2.3

Cannot solve simple constraints: `python-gitlab >= 1.6.0` and `requests == 2.20.1` and it ends up screwing up the installation by doing this:

[code]

Needless to say, that *this doesn't prevent the installation from continuing*, so it, essentially, screws up twice: once when it cannot solve the constraints, and the second time when, despite the failure, it chugs along and kee

[2020-01-27 10:36] sbidoul commented on #7656
Hello, this is a know issue and is being worked on as part of #988. I'm therefore closing this as a duplicate.

[2020-01-27 10:36] #7656 closed

[2020-01-27 12:27] ncoghlan commented on #7629
OK, having attempted to implement this by changing the set of platform tags generated when running on PyPy, and having looked into more of the history of the custom PyPy wheel tags, I no longer think modifying `pep425tags.py` is the right way to handle this.

Instead, now that wheel 0.34.0 has been released to build future PyPy wheels using the standard tagging scheme, I think it will be more frui

[2020-01-27 13:20] eibrunorodrigues commented on #7626
Hey! This fix (20.0.2) actually didnt fix my problem.

pip install artifacts-keyring
Looking in indexes: https://pypi.org/simple, *PRIVATE_PACKAGE_REFERENCE*
Collecting artifacts-keyring
  Downloading artifacts_keyring-0.2.9-py2.py3-none-any.whl (4.8 MB)
     |████████████████████████████████| 4.8 MB 2.5 MB/s
Requirement already satisfied: keyring>=16.0 in /usr/local/lib/python3.7/site-packages (f

[2020-01-27 13:55] PythonCoderAS commented on #2195
This issue still persists, because the directory I'm instaling from has maybe 10 mb of python code, but then a lot of json data files and `.git`.

[2020-01-27 13:56] pradyunsg commented on #7626
Please file a new issue.

[2020-01-27 14:18] eibrunorodrigues opened #7657 ""No matching distribution found for dotnetcore2" in pip 20.0.2"
**Environment**

* pip version: 20.0.2
* Python version: 3.6.9
* OS: Ubuntu 18.04 (on docker OS is: Alpine:3.11.3)

**Description**
Pip can seemingly no longer install any version of dotnetcore2. I'm trying to install artifacts-keyring, and has a dependency on dotnetcore2, which I can't install it.

**Expected behavior**
It should be able to install dotnetcore2.

**How to Reproduce**
pip install d

[2020-01-27 15:25] uranusjr commented on #7657
This could be part of #7648.

[2020-01-27 15:30] antocuni commented on #7629
PyPy 7.0.0 was a "triple release" [1]: we released a PyPy2.7, a PyPy3.5 and a PyPy3.6: I suppose that fedora decided to include only 3.5 because 3.6 was marked as "alpha". After that release, we dropped support for 3.5 so PyPy 7.1, 7.2 and 7.3 only support 2.7 and 3.6

Note that we might decide to do the same in the future when 3.7 will be in an alpha state. But I think that now that PyPy reports

[2020-01-27 15:54] ncoghlan commented on #7629
Thanks @antocuni! I've updated the revised implementation in #7655 accordingly.

[2020-01-27 15:58] ncoghlan commented on #7629
Rather than relying solely on string manipulation as I suggested in my design sketch above, the updated PR ended up instead using a table of version thresholds for PyPy3.

Extracting that data table from the current PR:

[code]

[2020-01-27 15:58] dstufft commented on #7628
The one thing about that, is it's not as straight forward as just toss pip in ``requirements-dev.txt`` or whatever, because you need to upgrade pip *before* installing anything else, in two completely different invocations. You can do it for sure, but it requires a tad bit more care to do it.

[2020-01-27 16:04] ncoghlan commented on #7628
@dstufft True, so even folks that otherwise use an updater service might need to handle `pip` pre-release testing in a dedicated CI job anyway.

[2020-01-27 16:06] dstufft commented on #7628
What you said can work, you just have to make sure that you're doing something like:

[code]

Instead of just tacking it into ``requirements-dev.txt`` or whatever. They also probably want to ensure that virtualenv is configured to use ``--no-download``.

[2020-01-27 16:55] brainwane commented on #4497
We talked a bit about this issue in [a call last week](https://wiki.python.org/psf/PackagingWG/2020-01-23-pip) (and a little in [a call on the 8th](https://wiki.python.org/psf/PackagingWG/2020-01-08-pip). @pradyunsg, as I understand it from our call last week, currently, going through the entire execution cycle across all our providers/pipelines for a single pull request is ~1hour. Is that right?

[2020-01-27 18:01] lkollar opened #7658 "Incorrect script paths in RECORD for --target installations"
**Environment**

* pip version: 20.0.2
* Python version: CPython 3.8
* OS: Linux (RHEL 7.7)

**Description**

When using the `--target` option, `pip` rewrites the `RECORD` file and adds the relative paths to scripts in the `bin` directory if any were installed. However, the `_handle_target_dir` function in `commands/install.py` moves the `bin` directory into the target location, so it's adjacent t

[2020-01-27 19:39] yafesdev commented on #7620
So a `pip2.7 install --upgrade pip` should now resolve the issue?

[2020-01-27 20:53] pradyunsg commented on #7657
@eibrunorodrigues Thanks for filing this issue! It is not clear from your description of the error what might be happening here.

Could you provide the output of running the following commands, as run on both pip 19.3.1 and pip 20.0.2?

[code]

[2020-01-27 21:02] pradyunsg commented on #7650
No...

Note that OP's `packaging @ git+https://github.com/pypa/packaging` is not the PEP's syntax. PEP 440 states that these URLs need a `@<commit-hash>` or the `@<tag>#<commit-hash>`. There's a note in the PEP in the same section, that explicitly mentions that the PEP's syntax "isn't quite the same as the existing VCS reference notation supported by pip".

To quote examples from PEP 440:

Likewis

[2020-01-27 21:03] pradyunsg commented on #7650
I do think we'd want to figure out a better error message here though. :)

[2020-01-27 21:05] pradyunsg commented on #7650
And, while there's definite back-and-forth going on here about what's actually the correct behavior, thanks for exploring and spotting this edge case. :)

(also, yay 2:30am! I really should fix my body clock.)

[2020-01-27 21:52] brainwane opened #7659 "refactor and remove tests/scripts/test_all_pip.py"
Per [developer docs](https://pip.pypa.io/en/latest/development/architecture/anatomy/#root-and-tools), the single file in `tests/scripts/`(`test_all_pip.py`):

Is  `test_all_pip.py` actually used anywhere? I think it's not but I'm not sure, and reviewing and refactoring it looks too complicated to be a good first issue.

Looks like the necessary steps are:

- [x] verify that `test_all_pip` is not a

[2020-01-27 22:20] eibrunorodrigues commented on #7657
@pradyunsg Hello!

Here's the result of the commands:

[code]

And the result after running `pip install --verbose dotnetcore2==2.1.11`

[code]

[2020-01-27 22:42] brainwane commented on #3191
Hi! Is this issue still reproducible or was it fixed in #5847?

[2020-01-27 22:44] damon-chem-e commented on #7620
That worked! Thank you!

[2020-01-27 23:00] brainwane commented on #6438
@pradyunsg Not to derail this particular issue, but I think this is _not_ a good first issue; it might be a good second or third issue, but a contributor who is new to Python packaging is going to have trouble understanding specifiers, PEP 517, and so on. Removing the tag.

[2020-01-27 23:09] brainwane opened #7660 "Upgrade Sphinx version to 2.3.1 for Read the Docs"
**What's the problem this feature will solve?**
The [pip documentation](https://pip.pypa.io/en/latest/) says in the footer: "Created using Sphinx 2.2.0." The [Sphinx website](https://www.sphinx-doc.org/) says the latest version of Sphinx is 2.3.1.

**Describe the solution you'd like**
Update the dependency at `tools/requirements/docs.txt` so it pins to Sphinx 2.3.1, not sphinx == 2.2.0. [Run the t

[2020-01-27 23:11] #7585 closed

[2020-01-27 23:14] brainwane opened #7661 "Capitalize "URL" in user guide"
One line in the [user guide in the documentation](https://pip.pypa.io/en/stable/user_guide/) (`docs/html/user_guide.rst`) does not capitalize "URL" when it should, and instead uses "url":

[code]

Change "url" in that line to "URL".

---

**Good First Issue**: This issue is a good starting point for first time contributors -- the process of fixing this should be a good introduction to pip's develo

[2020-01-28 00:10] aguiarcandre commented on #7661
Hi @brainwane! Can I take this one? It will be a pleasure to help 😄

[2020-01-28 00:11] #7583 closed

[2020-01-28 00:13] brainwane commented on #7661
@aguiarcandre Yes, please go ahead!

[2020-01-28 02:56] odoublewen opened #7663 "unable to get local issuer certificate for files.pythonhosted.org"
**Environment**

* pip version: 20.0.2
* Python version: 3.7.6, provided via macbrew (i.e. `brew install python`)
* OS: OS X 10.15.2

**Description**

I'm suddenly and inexplicably unable to install/upgrade anything from PyPI.  I've had a solid dev environment for months and I can't think of what's changed (in the shell) --- The only thing that has changed is that I've been traveling and staying i

[2020-01-28 03:38] chrahunt commented on #7663
Thanks for all that information!

Yes, wifi agreement pages (aka "captive portals") can cause behavior like this, but it's weird that it would impact files.pythonhosted.com and not pypi.org.

You get the same message and certificate even when tethering to your phone? Could you have a network or DNS configuration on your laptop that is redirecting to a local server? Whatever the macOS equivalent is

[2020-01-28 03:40] chrahunt commented on #7658
Did this ever work as expected?

@pradyunsg, any particular reason to mark this as 20.0?

[2020-01-28 04:07] chrahunt commented on #4497
Each PR takes up to 30 minutes from submission until the checks are done. See for example:

1. #7653 - 26m
1. #7652 - 30m
1. #7651 - 28m

which can be calculated as the max of the times for:

1. "Linux" Azure Pipelines check (visible in check UI)
2. "Windows" Azure Pipelines check (visible in check UI)
3. "macOS" Azure Pipelines check (visible in check UI)
4. Travis CI check (visible on Travis sit

[2020-01-28 04:58] pradyunsg commented on #4497
It does vary a fair bit depending on the load/queue times, but ~30 minutes sounds about right to me -- taking a look at the more recent CI runs.

Looks like we've had significant improvement recently by removing a bottleneck service in #7564 (AppVeyor) which might've brought the time down.

[2020-01-28 06:29] pradyunsg commented on #7657
Looks like the output you've pasted got truncated somehow.

From taking a look at https://pypi.org/simple/dotnetcore2/, the wheel tags that were generated for you and the fact that you're on Alpine Linux:

Given that dotnetcore2 does not ship source distributions (there's no .tag.gz file in the page linked above), pip can only try installing from the wheels available. Alpine Linux uses musl, which

[2020-01-28 06:41] pradyunsg commented on #7658
Nope. I think I did that accidentally, since I'd meant to add #7629.

---

pip 20.0.2:

[code]

pip 18.1:

[code]

pip 18.0:

[code]

[2020-01-28 06:58] odoublewen commented on #7663
Thanks for your reply and suggestions!

Right!?  And I've confirmed this after reboot and DNS flush.

Here's the lookups:
[code]

Basically the same results tethered to my phone:

[code]

And yes, I see the same openssl results when tethered to cell. (i.e., pypi.org succeeds, files.pythonhosted.org says "verify error:num=20:unable to get local issuer certificate").

Incidentaally, I just tried wit

[2020-01-28 07:20] odoublewen commented on #7663
I figured something out.  When I am connected to my company VPN, everything Just Works.  (No matter what wifi I am using.)  The most obvious difference is the nslookup -- now there is a real IP for the DNS, rather than the loopback 127.0.0.1.  (I am obfuscating the actual IP below):

[code]

Not sure why I don't get proper NS lookup when not on company VPN, but now I have a way forward so I don't

[2020-01-28 07:42] uranusjr commented on #7663
Do we want to inform PyPI folks about this? They might have more insights on this topic.

[2020-01-28 08:01] Nikolai-Hlubek commented on #7663
I can confirm odoublewen findings.

We are using

pip version: 19.3.1
Python version: 3.6.2
OS: CentOS

and also cannot install anything via pip due to a
ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:748)
error.

We did not change anything in the development environment and it was running last Friday.

[2020-01-28 08:23] pfmoore commented on #7657
I don't know whether it's relevant here, but the dotnetcore2 PyPI page says "This wheel is not intended for general use. This wheel is published to support Azure Machine Learning SDK." So it may be worth checking that you are using a supported setup for the Azure ML SDK before spending too much time on this particular issue.

[2020-01-28 08:29] odoublewen commented on #7663
Interesting. @chrahunt - I'm now wondering if there were DNS changes made recently.  Could it be that my company's DNS is lagging, which is why connecting to my VPN "fixes" the problem?

[2020-01-28 08:29] pradyunsg commented on #6438
Sounds fair to me. :)

[2020-01-28 09:26] pfmoore commented on #7650
It sounds to me like we might need a discussion on the Packaging discourse, with a view to clarifying the details of direct URLs, and updating the spec to be more precise on what the intended and supported uses are.

Installing from VCS is, I believe, an entirely implementation-defined feature of pip. Short of standardising it (which would be a pretty big exercise) if we wanted to discuss VCS link

[2020-01-28 10:04] sbidoul commented on #7650
Yep. I had identified that PEP 440 needed some clarifications in that area while working on PEP 610. I'll consider tackling that when PEP 610 is out of Draft state, because I certainly don't have the mental energy to have two PEP discussions in flight at the same time - this is damn exhausting.

[2020-01-28 10:16] pradyunsg commented on #7650
Yea, this sounds about right to me and you basically said what I was gonna say. What @sbidoul is saying also makes sense to me, so we'd definitely want to have a broader discussion about the handling of direct URLs (and what's valid vs what's not and why).

Further, rereading my earlier comments today, I realize that I likely came across as dismissive in my comments above, *definitely* which wasn'

[2020-01-28 10:20] ThimoNeubauer opened #7664 "pip list in JSON format does not contain location for editable installs"
**Environment**

* pip version: 20.0.2
* Python version: 3.8.1
* OS: Windows 10

**Description**

If a package is installed with `pip install -e` then the output of `pip list` contains a location column, e.g.:

[code]

I'd like to use the location information to know which packages are in "editable" mode. Parsing the column format doesn't seem a smart idea, that's what the JSON output is for. Howe

[2020-01-28 10:27] sbidoul commented on #7650
No worries, @pradyunsg. All that matter at the end of the day is that we reach a better collective understanding of these complex matters, and produce better specs and implementations.

[2020-01-28 10:54] Cactusmachete commented on #7470
Are we still looking to fix this? If yes, I'd like to give it a go :)

[2020-01-28 10:58] lkollar commented on #7658
I'm happy to work on this but I'm not sure what the correct solution is. When `RECORD` gets written we don't know that we are doing a `--target` installation. The other option is to rewrite `RECORD` and `installed-files.txt` when `_handle_target_dir` is invoked but this doesn't seem very elegant as it needs to know implementation details about metadata formats where it really shouldn't.

Maybe the

[2020-01-28 11:02] sbidoul commented on #7664
It would seem that location will appear in the json output in verbose mode only:

https://github.com/pypa/pip/blob/e9f461241032dbd540fb6271f1dbbb29a6a0db82/src/pip/_internal/commands/list.py#L306-L308

Can you try again with -v ?

That said, I see no good reason for tying that json field to the verbose mode, so I'd suggest outputting it unconditionally.

[2020-01-28 11:11] pfmoore commented on #7650
Lol, I know what you mean. One of the reasons things can move slowly in packaging standards is that everyone is permanently teetering on the brink of burnout. It's only due to the amazing commitment of the people who participate that we get as much done as we do.

PS From the other various comments around, I suspect that the change to the direct URL spec *might* be as simple as changing it to say

[2020-01-28 13:12] ThimoNeubauer commented on #7664
Indeed with "-v" the output contains the locations of all packages:

[code]

But yes: fixing the non-verbose behavior would be a superior solution :-)

[2020-01-28 13:41] Serialc0de commented on #7620
Hello to all,
My operating system is Arch-Linux.
I followed the documentation to install wfuzz, unfortunately I get this error again. How could I solve it? Thank you in advance.

`sudo pip install wfuzz
Traceback (most recent call last):
  File "/usr/bin/pip", line 11, in <module>
    load_entry_point('pip==19.3', 'console_scripts', 'pip')()
  File "/usr/lib/python3.8/site-packages/pip/_internal/m

[2020-01-28 13:58] pfmoore commented on #7620
@Serialc0de See https://github.com/pypa/pip/issues/5599. Your `/usr/bin/pip` and your pip installation are out of sync. (And you shouldn't be using `sudo pip`...

[2020-01-28 17:30] hartzell commented on #7663
Someone (fastly.net?) has a certificate that's signed by a certificate [that's signed by ...] that's not in your mac's collection of root CA certs.

Sitting in my favorite seat, in my favorite cafe, I can replicate your failure.  Then I can grab a fresh set of CA certs from the Curl site (ignoring the fact that their suggested curl command complains on my mac) and successfully connect.

E.g.

[cod

[2020-01-28 18:13] hartzell commented on #7663
ps.  It's also possible that the cert that's signed with something that's not in our base CA cert collections is something that's being inserted via captive portal systems (doing a Man In The Middle "attack" for reasons either good or nefarious).

I'm not sure how that fits in [with Nikolai-Hlubek's observations in the comment above](https://github.com/pypa/pip/issues/7663#issuecomment-579125480).

[2020-01-28 19:13] Serialc0de commented on #7620
Could you help me please, I have been banging my head for 19 hours but I can't find anyone to solve the problem, not even the freelancer professionals, can you help me through tw so you can explain me well? Thanks in advance brò

[2020-01-28 19:17] bsolomon1124 opened #7666 "'scripts' lose executable priveleges from pip install"
**Environment**

* pip version: 20.0.2
* Python version: 2.7.5
* OS: RHEL 7.7/SELinux
* setuptools version: 44.0.0

**Description**

`pip`-installing a package that contains a `setup.py` that specifies the [`scripts`](https://docs.python.org/3/distutils/setupscript.html#installing-scripts) argument causes the resulting file to lost its executable permission(s).

Reproducible example located at:

*

[2020-01-28 19:17] engineervix commented on #7620
Thanks! this worked for me (python 3.7.4 running on **cygwin64**)

[2020-01-28 19:26] bsolomon1124 commented on #7666
This issue also appears to exist on Windows 10 Enterprise via:

[code]

[2020-01-28 19:30] niall-byrne commented on #7666
I forked your repo, and tried this inside an alpine image:
  - `docker run -it -v $(pwd):/app python:3.7-alpine sh`
  - `# apkg add git`
  - `# pip install git+https://github.com/niall-byrne/pip-scripts-hostbits-mvce.git`

[code]

I tried it in python 2:
  - `docker run -it python:2.7-alpine -v $(pwd):/app sh`
  - `# apkg add git`
  - `# pip install git+https://github.com/niall-byrne/pip-scripts-h

[2020-01-28 19:36] bsolomon1124 commented on #7666
Interesting.  I tried via `git+https` rather than `git+ssh` and still see the same issue.  Maybe it's worth nothing that I have SELinux in Enforcing mode but I doubt it.

[2020-01-28 19:42] niall-byrne commented on #7666
I encountered this issue originally on amazon linux if I remember correctly, so I tested that too:
`amazonlinux:latest`, I can't seem to recreate this...  I'm going to close my original ticket.

[2020-01-28 19:44] bsolomon1124 commented on #7666
Okay.  One thing I do notice is that your install location is `/usr/local/bin/my_script` whereas mine is `/usr/bin/my_script`.  (Some detail on that [here](https://docs.python.org/2.0/inst/alt-install-home.html) and [here](https://docs.python.org/2/install/#how-installation-works).)  Feeling around in the dark here but that is one difference at least.

[2020-01-28 19:45] niall-byrne commented on #7666
That is relevant if I remember, we weren't having problems with this until we rebuilt the AMI we were using, and the script was being installed in `local` under the new image.

[2020-01-28 19:48] bsolomon1124 commented on #7666
`setenforce 0` did not do a whole lot.  But let me check altering the `prefix` to `/usr/local`.

[2020-01-28 19:52] hartzell commented on #7663
To add to the/my confusion, this is the certificate from the Mozilla/Curl collection that "rescues" (see, I did do biology once...) the test query (`openssl s_client -connect files.pythonhosted.org:443 -showcerts -CAfile ./globalsign-cacerts.pem`):

[code]

I can get the fingerprint for that cert with this command:

[code]

Here's the confusing bit; that cert is listed as being part of the High Si

[2020-01-28 19:53] bsolomon1124 commented on #7666
Scratch that, it looks like `[install] prefix` only controls where `lib/` stuff goes; scripts still go to `/usr/bin` for me.

[2020-01-28 20:04] hartzell commented on #7663
And, opening the Keychain utility and checking the GlobalSign certs shows me that I do have one with a matching fingerprint:

<img width="515" alt="Screen Shot 2020-01-28 at 11 54 09 AM" src="https://user-images.githubusercontent.com/312978/73299932-fa7b4700-41c4-11ea-9cbf-d67da6f3679a.png">

and I do appear to be using Apple's `openssl` binary:

The only difference I see is that when openssl dump

[2020-01-28 20:06] hartzell commented on #7663
And exporting the cert from my keychain and handing *that* to the test case *also* rescues it.

[code]

[2020-01-28 20:10] bsolomon1124 commented on #7666
Output of `pip install -vvv`, interestingly, does mention mode being changed to 755:

[code]

[2020-01-28 21:07] hartzell commented on #7663
Still digging.

[This stackoverflow question/answer](https://stackoverflow.com/a/47864592/11542197) point out how to ask the `openssl` command what directory it's using for its certs.  Turns out that the answer is `/private/etc/ssl`.

But, there's a file, `/private/etc/ssl/cert.pem` that **does** contain the GlobalSign cert and **can** rescue our test case.

Still :confused:.

<details>
<summary>o

[2020-01-28 21:51] hartzell commented on #7663
`/usr/bin/openssl` is linked against `libssl.35.dylib` and `libcrypto.35.dylib`; the latter defines the value I'm seeing for `OPENSSLDIR`.  I can't figure out how to prove that it's *being used* it (rescue following addition of `CAfile` to the command line suggests that it's not, but...).

<details><summary>Linkage and strings from openssl command</summary
<p>

[code]
</p>
</details>

Homebrew's "

[2020-01-28 21:57] hartzell commented on #7663
@Nikolai-Hlubek -- What version of CentOS were you using when you saw the failure upon which you commented?

[2020-01-28 22:24] hartzell commented on #7663
See also: [the StackExchange question](https://apple.stackexchange.com/questions/380806/openssl-claims-to-use-private-etc-ssl-but-appears-not-to-what-the-heck) I just posted.

[2020-01-28 22:50] ncoghlan opened #7667 "Filename encoding error in some environments with PAX sdist"
**Environment**

* pip version: any
* Python version: 2.7
* OS: Windows, non-Windows in C locale

(pip Windows CI hits this)

**Description**
The PAX format wheel 0.34.1 sdists fail to install on Python 2.7 on Windows with a UnicodeEncodeError, or on non-Windows systems in a non-utf-8 locale: https://github.com/pypa/wheel/issues/331

**Expected behavior**
Unicode filename from the PAX tarball is c

[2020-01-28 22:50] epilif1017a commented on #7663
I'm also facing the same problem in windows... it's curious that if I change networks, on the first try after changing the network, pip install xxxx works, but after the first try I need to change networks again. very odd as it worked perfectly last week:

Error is as follows:

`Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLC

[2020-01-28 23:05] hartzell commented on #7663
@uranusjr -- Done, see https://github.com/pypa/warehouse/issues/7309.

[2020-01-28 23:25] ewdurbin commented on #7663
Best immediate guess in reviewing the details from that ticket is that something has flagged either files.pythonhosted.org or dualstack.r.ssl.global.fastly.net, or r.ssl.global.fastly.net... etc as something worthy of blocking.

Based on the certificates and IP addresses in the pip ticket, which more or less match the contents of this help article: https://support.opendns.com/hc/en-us/articles/227

[2020-01-28 23:25] ewdurbin commented on #7663
Whoops, meant for that reply to go to the warehouse ticket. But worth surfacing here.

[2020-01-28 23:31] ewdurbin commented on #7663
Can anyone experiencing this issue confirm if their network is using OpenDNS or Cisco Umbrella product? Even better, contact their network admins to determine if files.pythonhosted.org has been flagged somehow inside the product?

[2020-01-28 23:43] hartzell commented on #7663
I can not.  I can replicate the Mac behavior I'm describing from home (AT&T fiber, resold by Sonic) and from a local cafe (but *not* from behind a captive portal).  I do not have the problem from a FreeBSD VPS somewhere in Los Angeles, CA.  The original poster sees it from various locations in HI but not when he connects via a VPN.  Unsure about the CentOS and Windows reporters.

[2020-01-28 23:45] ewdurbin commented on #7663
It appears that the first two reports from @odoublewen ("Cisco Umbrella" in CN of cert and Cisco IPs being resolved) and @Nikolai-Hlubek (Cisco IPs being resolved) are somehow related to "Cisco Umbrella".

@hartzell I can't really tell what's going on in your case though.

[2020-01-28 23:48] ewdurbin commented on #7663
@epilif1017a can you share what IPs files.pythonhosted.org are resolving to for you?

[2020-01-28 23:57] hartzell commented on #7663
@ewdurbin -- What DNS server are you using?

[2020-01-28 23:58] hartzell commented on #7663
Whoops, meant that to be:

@epilif1017a -- What DNS server are you using?

[2020-01-29 00:07] epilif1017a commented on #7663
I'm at home, so just the one provided by my ISP...

[2020-01-29 00:12] hartzell commented on #7663
@epilif1017a -- Do you know the IP address of the DNS server that your ISP is providing?

[2020-01-29 00:20] ewdurbin commented on #7663
@epilif1017a, Those 146.112 entries are the Cisco IPs. If you're resolving them from all of the networks you listed, it seems either you have a persistent VPN you're not aware of, or your device is configured with a specific DNS server... or all of those networks are using some kind of OpenDNS/Cisco product to alter resolution.

[2020-01-29 00:34] epilif1017a commented on #7663
@ewdurbin @hartzell ok, I changed to my personal machine (a MAC) and pip works well and nslookup reports only one entry:

So both machines were on the same network, which leaves me to believe that indeed my corporate machine is configured in a specific way (DNS was also pointing to my router's IP and therefore my ISP default setup and routes, so it's maybe some tunneling on my machine that I'm not

[2020-01-29 00:35] chrahunt commented on #7666
Is `/tmp` mounted `noexec`? It may be related to #6364.

[2020-01-29 00:38] ewdurbin commented on #7663
@epilif1017a yes, that's the running theory... that OpenDNS/Cisco products are marking this host as a problem. Is it possible you could inquire with your corporate network support to determine what's going on?

[2020-01-29 00:46] epilif1017a commented on #7663
@ewdurbin sure, let me try to reach out to some network support colleagues tomorrow ;) I'll come back once I have something.

[2020-01-29 00:48] hartzell commented on #7663
@ewdurbin -- I'm starting to believe that the test case I'm playing with on my mac is simply exposing something "funny" with High Sierra's LibreSSL build.  I get verification errors if I try to connect to e.g. github.com but they go away if I provide an explicit path to `/private/etc/ssl`, even though it should be the default.  Perhaps it's time to update... ;)

[2020-01-29 00:52] chrahunt commented on #6438
Ideally we could move away from `--no-use-pep517`, since it will be incompatible with an increasing number of packages as time goes on. What is the current use case for this flag?

[2020-01-29 01:05] bsolomon1124 commented on #7666
Yes indeed it is @chrahunt.  `mount` shows:

[code]

Great find.  And that would explain why installing from local source causes no issue, because that cuts `/tmp` out of the equation.

Please feel free to close this as duplicate.

Is there a known solution?  We are not using containers and the VM's environment is quite constrained in terms of allowed operations.  For instance, is there a way to t

[2020-01-29 01:10] ericholscher commented on #7620
Just a heads up, we also ran into other issues with this, which we've fixed here:

https://github.com/readthedocs/readthedocs.org/pull/6598#issue-368291092

[2020-01-29 01:11] bsolomon1124 commented on #7666
Related helpful discussion for others with this issue: https://github.com/pypa/pip/issues/4462

[2020-01-29 01:16] #7666 closed

[2020-01-29 03:49] chrahunt commented on #7667
In the process of justifying not fixing this, I figured out enough to fix it. :( See #7668.

[2020-01-29 04:33] jaraco opened #7669 "How to bootstrap pip in light of old script wrapper warning"
Today I sought to bootstrap pip in a Python 2.7 environment, but got a warning:

[code]

I'm surprised that bootstrapping pip triggered the warning `WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.`.

In this particular case, it seems I was able to `python2.7 -m ensurepip --user`, but in some environments, `ensurepip` isn't available either, so the

[2020-01-29 04:49] chrahunt commented on #7669
The issue is that the get-pip template needs to be updated [here](https://github.com/pypa/get-pip/blob/42ad3426cb1ef05863521d7988d5f7fec0c99560/templates/default.py#L176) to use `pip._internal.cli.main.main` (and avoid the warning). Do you mind creating an issue on that repo?

[2020-01-29 05:06] chrahunt commented on #7658
There is a long-term refactoring underway to normalize the interface for installation and make all modes of installation take and respect a [`Scheme`](https://github.com/pypa/pip/blob/b6ecc3917effd79a46e1d05325dc76874684b4ad/src/pip/_internal/models/scheme.py) object which has all of the directories. If that is in place, then when the user specifies a `--target` directory we would map that to a Sc

[2020-01-29 07:24] uranusjr commented on #3191
IMO the help message can still be made clearer. Quoting from above:

Maybe adding quotes would help, e.g.:

[code]

[2020-01-29 07:26] pradyunsg opened #7671 "Windows CI is currently broken for Python 2.7"
Context: https://github.com/pypa/pip/pull/7662#issuecomment-579131009

Affected PRs (anything that's been updated in the past few days):

- https://github.com/pypa/pip/pull/7668
- https://github.com/pypa/pip/pull/7654
- https://github.com/pypa/pip/pull/7665
- https://github.com/pypa/pip/pull/7655
- https://github.com/pypa/pip/pull/7662
- https://github.com/pypa/pip/pull/6727
- (more?)

[2020-01-29 07:29] uranusjr commented on #7470
I think this needs to be fixed, but am not sure whether simply returning 1 is a good/viable solution.

[2020-01-29 07:41] pradyunsg commented on #7423
Noting that we'd probably want to do this, especially since packages that we might want to depend on in the future (eg. tenacity et al) aren't easy to use while we're still depending on Python 2.

We ought to figure out and clarify pip's situation in case dependencies drop support (eg. what we'd do when requests or certifi drops Python 2 support). We'd probably also be helped if we identify some m

[2020-01-29 08:26] uranusjr commented on #6438
I believe there are still packages out there using `pyproject.toml` but not actually compatible with PEP 517. Instead of adding `--no-pep517` we should probably hunt those packages down and fix them instead. Maybe it would help to add a message to `--no-pep517` to prompt the user report the usage somewhere (e.g. in a tracking issue here)?

[2020-01-29 08:32] NeoPHPDev commented on #5599
Thanks for solving the issue.

[2020-01-29 08:33] uranusjr commented on #7604
I honestly have no idea. The call ultimately goes to requests (I think?) so maybe there’s something in there too.

[2020-01-29 08:39] uranusjr commented on #7671
Looks like one of the non-ASCII install stuffs I added a while ago is choking things up. (Is it a good thing?) I’ll take a look tonight.

[2020-01-29 08:58] chrahunt commented on #7470
I would first consider what options we have and then post here with a proposal. Keep in mind possible edge cases like what to do if there are two different index URLs configured and only one has a problem. Also think about what other commands we should consider changing to do the same thing. I think there are several other issues with similar requests to exit with a nonzero code if we couldn't req

[2020-01-29 09:03] chrahunt commented on #7671
This is because of #7667. #7668 should fix it, but it is failing due to a failure to encode probably the stdout. We likely need to use some of the "safe" path printing functions in the code in addition to the functional change.

[2020-01-29 10:28] pradyunsg commented on #7279
Based on a bunch of discussions lately, I think that we seem to have concensus to:

- Better document *what* resources we have from the various providers, so that it's easier to understand what could be a bottleneck + have a single place to find these details.
- Improve our testing code:
  - Improve error reporting in CI
  - Make it faster! (#4497)

[2020-01-29 14:50] jontwo opened #7673 "pip does not skip platform-dependent ignores when installing from cache"
**Environment**

* pip version: 20.0.2
* Python version: 2.7.15 (yes, I know)
* OS: Scientific Linux 3.10.0-957.27.2.el7.x86_64

**Description**

Platform dependencies are ignored when installing from cache.

This may not be a pip issue, if so, apologies. One of our dependencies (watchdog) has Mac-only dependencies. Our CI builds started to fail because pip was no longer ignoring them.

Log from a

[2020-01-29 14:52] jontwo commented on #7673
Happy to file this report downstream (i.e. with watchdog or pyobjc-framework) if this is not something pip should be handling.

[2020-01-29 16:18] sbidoul commented on #192
This relates to #609 (pip freeze). Relative path direct references are also discussed in [this thread](https://discuss.python.org/t/what-is-the-correct-interpretation-of-path-based-pep-508-uri-reference/2815/19), via #6658.

The direction this takes is as currently follow:
- relative paths are valid top level requirements (in `requirements.txt` or as command line arguments), so `./dist/hello-0.1.0

[2020-01-29 16:33] sbidoul commented on #2059
The branch is not emitted by pip freeze anymore since https://github.com/pypa/pip/pull/3312, only the commit id. So we'll let the bot close this unless there is a reaction otherwise.

[2020-01-29 17:40] johnandreas123 commented on #7620
Thanks. Simply running `python get-pip.py` fixed the problem for me (installed pip-20.0.2).

[2020-01-29 17:49] jveitchmichaelis opened #7674 "Pip can't find a release if the filename in the upload differs from setup.py"
**Environment**

* pip version: 20.0.2
* Python version: 3.x
* OS: Windows 10

**Description**
I have a project called flirpy. I uploaded a release (0.0.7) and deleted it for some reason. I wanted to keep the release the same so I had to upload with a new name, I chose (maybe unconventionally) 0.0.7a

https://pypi.org/project/flirpy/0.0.7/#files

**Expected behavior**

On the PyPI website, the use

[2020-01-29 18:05] pfmoore commented on #7674
The filename has to matchthe project metadata (name and version from `setup.py`). You should update the version in your `setup.py`, rebuild the sdist and wheels, and re-upload. You can't simply rename sdist/wheel files the way you did, as you found out.

Rejecting invalid files is hard, as the only way to validate is to run `setup.py`, which is essentially running arbitrary uploaded code, and so i

[2020-01-29 18:10] uranusjr commented on #7673
Would it be possible to obtain a copy of `watchdog-0.10.0-cp27-none-any.whl` built on the system? That would help locate the problem.

[2020-01-29 18:19] jveitchmichaelis commented on #7674
Ok, that's fine - seems easiest to go with option 3 then!

But surely something is already doing this on pypi because otherwise it wouldn't be able to infer that the version number is (in this case) `0.0.7`? (and it could then just do a regex on the filename and reject it)?

Or could this be something that should be stopped with `twine`?

[2020-01-29 18:59] jontwo commented on #7673
@uranusjr No problem, here is the wheel from the cache on the CI server (zipped as Github doesn't like .whl files).
[watchdog-0.10.0-py2-none-any.whl.zip](https://github.com/pypa/pip/files/4130119/watchdog-0.10.0-py2-none-any.whl.zip)
The output is from my local machine, but the stack trace on the CI server was the same. I can post that too if you need.

[2020-01-29 19:56] pfmoore commented on #7674
Did you mean 4? Option 3 would need a change to pip which isn't likely to happen (as the current behaviour is correct, according to the various agreed standards).

I've no idea how PyPI works here I'm afraid.

[2020-01-29 20:03] jveitchmichaelis commented on #7674
Yup, I meant 4 - thanks for your help, I guess this can be closed.

Seems like an issue for pypa/warehouse or  pypa/twine

[2020-01-29 20:03] #7674 closed

[2020-01-29 22:30] ncoghlan commented on #7667
@johnthagen Yeah, the non-universal locale encoding problem I mention in https://github.com/pypa/pip/pull/7668#issuecomment-579706165 will apply Python 3 as well.

However 3.7+ mitigate it significantly, as they don't believe the OS when it claims to be using ASCII, and automatically switch to using UTF-8 instead.

[2020-01-29 22:43] #7671 closed

[2020-01-30 04:21] alexFickle commented on #7637
I've closed the issue in pypa/packaging and I'm going to close this one too.

See https://github.com/pypa/packaging/issues/261#issuecomment-580076017

[2020-01-30 04:21] #7637 closed

[2020-01-30 06:31] uranusjr commented on #7673
Thanks! Reading the wheel metadata, I know why the platform-dependent requirements are installed:

[code]

Those are not properly marked as platform-dependent. The problem is then becomes why your wheel is built like that. Reading watchdog’s source, I see [it is using proper markers](https://github.com/gorakhargosh/watchdog/blob/913416429fe8de5db910d888e49a66a1068faa59/setup.py#L76), and so should

[2020-01-30 07:12] uranusjr commented on #7669
Filed as pypa/get-pip#58.

[2020-01-30 08:00] jontwo commented on #7673
Thanks. We've got around the problem by changing our requirements to `watchdog < 0.10.0` as we don't need a specific version. Should I raise a bug with watchdog? It may be due to a change made at 0.10.0.

[2020-01-30 08:29] uranusjr commented on #7673
Yeah, I guess they might have some ideas about what happened in that particular version.

[2020-01-30 08:48] elfosardo opened #7676 "Cannot install packages with files that have names with non-ascii characters"
**Environment**

* pip version: 20.0.2
* Python version: 3.6
* OS: Ubuntu Bionic / Centos 8

Virtualenv generated using `python3 -m venv`

**Description**
Installation of a python package fails because some files in it have non-ascii characters in filenames:
[code]

In the wheel package you can find this file: `wheel-0.34.1/tests/testdata/unicode.dist/unicodedist/åäö_日本語.py` that seems to be trigg

[2020-01-30 09:00] uranusjr commented on #7676
This could be #7667. Could you check your system locale to confirm?

[2020-01-30 09:26] elfosardo commented on #7676
@uranusjr  it seems like it, I did a test with different locale and it fails only with:
[code]

[2020-01-30 09:57] chrahunt commented on #7279
Concretely for the "make it faster" task, I can walk someone through getting performance data on Windows and analyzing it like I had to for #7263. If we refine the tools and process then we'll truly have a lot of visibility into where time is being spent.

[2020-01-30 10:16] uranusjr commented on #7676
Thanks! I’ll leave this for the maintainers to label as a duplicate.

[2020-01-30 10:28] #7676 closed

[2020-01-30 13:24] pradyunsg commented on #7279
@chrahunt 🙋🏻‍♂️

This sounds like it would also be a good process to document in some form - either in pip's documentation if it is very-pip-specific or as a blog post somewhere, for broader visibility.

[2020-01-30 14:34] ewdurbin commented on #7663
@hartzell glad to hear that you have some direction. if your issue persists after updating please open a network access issue at https://github.com/pypa/pypi-support/issues/new/choose.

[2020-01-30 14:42] ewdurbin commented on #7663
It seems that the initial issue reported here is clearly related to Cisco Umbrella.

@epilif1017a was able to provide some good information on the ticket filed on warehouse.

Doing a bit of closer inspection, I noticed the behavior could be _extra_ confusing as the HTTP response from Umbrella's servers redirects to some kind of masquerade host with a cookie and session. This likely works in browse

[2020-01-30 16:16] abhi2687 commented on #7620
Got latest 20.0.2 but still seeing same behavior pip is not working at all

[2020-01-30 16:36] mikeIFTS commented on #7620
Same as @abhi2687. I have a feeling it may be Ubuntu running the wrong version (aka: https://github.com/pypa/pip/issues/7620#issuecomment-579257985) . At the moment, the failing script is:
[code]

the upgrade seems fine and it does download/install 20.0.2, but then it seems to run 20.0.

 I am using a Circleci box to verify. On my local machine, `pip install --upgrade pip` fixed the issue (Ubuntu

[2020-01-30 16:45] pfmoore commented on #7638
Can you elaborate on this? I can see that we may need to look at how we tell the resolver that the user has specified `--force-reinstall`, although I'm not entirely convinced it's something the resolver needs to know. But that's not the point I want to clarify here. The question is why would the resolver *result* need to include a "force install" option? The resolver just returns a list of what re

[2020-01-31 01:49] chrahunt commented on #7638
It wouldn't need to, you're right. As long as we enrich the resolver result with information indicating that some of the things already installed will need to be force-reinstalled then I think that's good enough. The resolver doesn't need to know about a "force install" option. Above I was imagining it from the perspective of a function that would take a "resolver result" (and an install scheme) a

[2020-01-31 07:20] sbidoul commented on #7673
It looks like there is nothing to do in pip wrt this issue, so I'll let the bot close this unless there is additional information coming up.

[2020-01-31 07:28] sbidoul opened #7678 "pip does not reinstall an already installed package from a different direct url requirement"
**What's the problem this feature will solve?**

Assume `packaging` has been installed with `pip install "packaging @ git+https://github.com/pypa/packaging@20.0"`.

Then try to install from the 20.1 tag: `pip install "packaging @ git+https://github.com/pypa/packaging@20.1"`. The second install does nothing, saying the requirement is already satisfied.

**Describe the solution you'd like**

The sec

[2020-01-31 07:55] uranusjr commented on #7678
Does the old `#egg` style URL correctly upgrade? I’d think the two should behave the same (i.e. if the old style upgrades, this should as well; if it doesn’t, we can treat this as a limitation).

[2020-01-31 08:06] sbidoul commented on #7678
No, it does not.

Note a direct reference without package name does upgrade (unconditionally reinstalls? - I've not checked yet). I think in this case it should first get metadata to find out the name and then behave the same as when the name is provided upfront).

I think all 3 cases (without name, #egg and PEP 440 name-in-front) should behave the same wrt reinstalling or not.

In editable mode,

[2020-01-31 08:18] uranusjr commented on #7678
Completely agree that the three cases should behave the same. I wonder why nobody really noticed the nameless and `#egg` cases have different behaviour (or maybe there is, just no maintainers care).

[2020-01-31 08:29] uranusjr commented on #2124
I think this can be closed since we’re dropping the “SCP style” URL altogether. Only `git+ssh://git@github.com/...` will be supported going forward.

[2020-01-31 08:31] uranusjr commented on #7678
#3212 looks similar (but instead of deliberately wrong name this provides no name at all). #6457 also observe the non-upgrades when `#egg=` is specified.

[2020-01-31 08:47] sbidoul commented on #2124
Maybe a little documentation work could alleviate the confusion mentioned by OP?

[2020-01-31 09:12] jontwo commented on #7673
This can be closed now, as the issue has been resolved by watchdog. Thanks for your help!

[2020-01-31 09:13] pfmoore commented on #7678
Agreed all 3 should work the same. But given that `pip install packaging` would need `-U` to upgrade if packaging 20.0 was installed, but 20.1 was available on the index, I could argue that `-U` should be needed here. Does the upgrade happen if `-U` is specified?

Note: I understand that the user's intention is clearly different in this case - the explicit specification of name + version strongly

[2020-01-31 09:14] pfmoore commented on #7678
https://github.com/pypa/pip/issues/536 has an extensive discussion over whether we should force reinstall explicitly specified locations. Apparently I was ambivalent when it was discussed then, as well 🙂

[2020-01-31 09:31] BoboTiG commented on #7673
Just to complete the information, we fixed watchdog by moving dependencies from `setup.py` to `setup.cfg`. Then the issue was gone.

Also I did not manage to reproduce the issue on my machine (GNU/Linux). So perhaps is this a specific issue on a specific machine.

[2020-01-31 09:37] pradyunsg commented on #7669
Closing in favor of tracking in `get-pip`.

[2020-01-31 09:37] #7669 closed

[2020-01-31 09:40] #7673 closed

[2020-01-31 10:30] sbidoul commented on #7678
Interesting discussion in #536. I'm not sure why it is closed, though.

Was is the intent to reinstall always (which is the case for nameless direct requirements)?

[2020-01-31 10:37] deXbeulah commented on #7424
Thank you @AuthorBlindSubmission. All I had to do too was restart my Terminal, then
[code]
worked appropriately.

[2020-01-31 11:05] pfmoore commented on #7678
Yeah, I wasn't sure either. The discussion looks inconclusive to me, and the linked PR that supposedly closed it doesn't seem to cover the same topic.

I think the problem is that there *wasn't* consensus on an agreed intent.

Personally, I prefer simpler mental models, so my preference is to say that if you want to upgrade, you should just add `--upgrade` or `--force-reinstall`. But I can see the

[2020-01-31 11:15] sbidoul commented on #7678
With PEP 610 `direct_url.json` we can reinstall only if the URL has changed. That covers common cases of installing from a VCS tag or commit id, or an archive with a version number in its name. When installing from a VCS branch or local directory, the user can use `--force-reinstall` if needed.

[2020-01-31 16:40] sk-ip commented on #7660
Hello @brainwane, I am a beginner in open source development and would like to work on this issue.

[2020-01-31 18:16] mytja commented on #7620
Nothing didn't work for me also!
Tried on Windows 7 & 10 & Linux Raspbian, but nothing seems to work!
I have the latest 20.0.2 pip installed and Python 3.8.1.

[2020-01-31 19:14] pradyunsg commented on #7660
Hi @sk-ip, please go ahead.

I'll handle this if needed; although looking at the configuration, it shouldn't be needed.

[2020-01-31 21:36] duckinator commented on #7279
Adjacent to making the entire test suite faster, there's also the concept of "failing fast." Basically, you want run the tests which are more likely to fail first. This is usually tests related to code that was changed since the last test run.

With regards to that, it may be worth looking into using something along the lines [testmon](https://testmon.org/). I've not worked with testmon specifical

[2020-01-31 22:09] reversefold commented on #7673
Doing some more debugging it seems the problem is with an old version of either setuptools or wheel. My builds are currently pegging pex==1.3.2 which depends on older versions of setuptools and wheel.
`pex-1.3.2 setuptools-33.1.1 wheel-0.29.0`
Upgrading pex (and hence setuptools and wheel) seems to fix the problem.

[2020-02-01 10:27] BoboTiG commented on #7673
Did you manage to know the exact setuptools version that fixed the issue? If so, I could add it as a minimum requirement when installing the module.

[2020-02-01 11:49] sk-ip commented on #7660
I updated the sphinx version to 2.3.1 and ran ```tox -e docs``` and it shows commands succeeded. are there any docs related tests that I should run.

[2020-02-01 13:33] sbidoul commented on #7664
WIP PR in #7670

[2020-02-01 16:39] LarryOltmanns commented on #7620
Python 3.8.1 installed, Windows 8.1 same error: Warning: You are using pip version 19.2.3, however version 20.0.2 is available. You should consider upgrading via the 'python -m pip install --upgrade pip' command.

[2020-02-01 21:38] pradyunsg commented on #7674
PyPI does read the metadata from the wheel file -- see here https://github.com/pypa/warehouse/blob/13d2e89e2a90c41d420c9cfca5f4721faf385c12/warehouse/forklift/legacy.py#L818-L850 and https://github.com/pypa/warehouse/blob/13d2e89e2a90c41d420c9cfca5f4721faf385c12/warehouse/forklift/legacy.py#L357. I'm pretty sure it does something similar for source distributions too (maybe looking at the PKG-INFO

[2020-02-02 07:39] pradyunsg commented on #5354
The change we want to make here is update `src/pip/_vendor/__init__.py` ([here](https://github.com/pypa/pip/blob/e060970d51c5946beac8447eb95585d83019582d/src/pip/_vendor/__init__.py#L35-L43)) to something like:

[code]

This would require a `.trivial` NEWS entry (https://pip.pypa.io/en/latest/development/#adding-a-news-entry) in the PR.

[2020-02-02 07:40] pradyunsg commented on #5354
This issue is a good starting point for anyone who wants to help out with pip's development -- it's simple and the process of fixing this should be a good introduction to pip's development workflow. See the discussion above to understand what the desired fix is.

[2020-02-02 07:44] pradyunsg commented on #4748
Right now, what we'd want to tackle is the removal of `# mypy: ` from the various files the workflow for which is:

- Run `tox -e lint` to make sure the mypy checks pass.
- Remove the comments in one of the files.
- Run `tox -e lint` to see what are the failures.
- Modify the annotations / code to resolve the failure.
- Run `tox -e lint` to ensure that the changes fix the issue.

Ideally, we'd do

[2020-02-02 07:54] pradyunsg commented on #5537
If anyone wants to work on this, the way we'd add a flake8 plugin to our linting setup, is to add an `additional_dependencies` key to our [`.pre-commit-config.yaml` file](https://github.com/pypa/pip/blob/master/.pre-commit-config.yaml#L15-L16):

[code]

Note: Do not use the exact versions/plugins as in the example above -- please check what plugins have been discussed in this issue and what their

[2020-02-02 07:58] pradyunsg commented on #6673
Closed by #6739.

[2020-02-02 07:58] #6673 closed

[2020-02-02 08:39] Macavitycode commented on #7661
Hey, I still see @aguiarcandre , @brainwane , May I fix up some of the leftover "url"s ? I would love for this to be my first contribution to opensource...

[2020-02-02 09:13] sagnik-chatterjee commented on #7606
Hi !
Can  I take this issue ??

[2020-02-02 09:13] Koundinya-noob commented on #7661
Hello!
I would be happy to work on this.

[2020-02-02 09:27] DhruvRaipure commented on #6608
Can i work on it?

[2020-02-02 09:39] pavankumar369 commented on #7130
Hey I would like to give it a try!

[2020-02-02 09:47] pavankumar369 commented on #7130
Could I get some more insight on what the actual problem is?

[2020-02-02 09:48] ojasdeshpande10 commented on #6369
hey I would like to get some more insight into this issue

[2020-02-02 09:54] AR10X commented on #7661
I would be pleased to work on this issue,can I?

[2020-02-02 09:55] AishTron7 commented on #6608
Hi, I'm a newbie & I think this issue is ideal for me!
I've read the development documentation & currently adding git references in the required file. 🙂

[2020-02-02 10:05] Bhavam commented on #7659
Hi , so I checked out the code base and found no use of the script `test_all_pip.py` , I'll create a PR for version with the folder `tests/scripts`  removed.
I hope that's agreeable if not please suggest any more changes required.

[2020-02-02 10:06] PSY27 commented on #7130
hi i would like to help you in this

[2020-02-02 10:08] sagnik-chatterjee commented on #7311
Can I take up this issue ?

[2020-02-02 10:09] PSY27 commented on #7130
hi like to work on this

[2020-02-02 10:10] pradyunsg commented on #7130
Sure!

Relevant documentation: https://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html
Relevant code location in pip: https://github.com/pypa/pip/blob/e060970d51c5946beac8447eb95585d83019582d/docs/html/conf.py#L37

`tox -e docs` can be used to build the documentation. There is an objects.inv file generated in this process (apparently, I don't know the details!).

The first step woul

[2020-02-02 10:11] pradyunsg commented on #7659
Could you mention the PR number here? (use the #nnnn, which would result in links to-and-from the relevant issue)

[2020-02-02 10:15] pradyunsg commented on #6608
Sure, go ahead!

We might want to iterate on the exact links and wording for the section. It's probably best to add this section at the end of the Getting Started guide. You should be able to find the source file for the guide, in the `docs/html` folder.

I think one person working on this would be best but feel free to collaborate on this in person. Git makes it easy to add a co-author to a commi

[2020-02-02 10:15] PSY27 commented on #7661
i am working on this issiue

[2020-02-02 10:16] pradyunsg commented on #7606
@sagnik-chatterjee This is a very involved issue, that's got a lot of components interacting. I'd suggest you try to tackle some other issue, since this would fairly difficult to tackle as a first issue.

[2020-02-02 10:18] ojasdeshpande10 commented on #3191
how can the help message be accessed??

[2020-02-02 10:26] AishTron7 commented on #6608
Thanks @pradyunsg, Understood!

[2020-02-02 10:31] pradyunsg commented on #7661
Hi @AR10X and @PSY27, this already got fixed in #7662. Please look at other open issues.

[2020-02-02 10:31] #7661 closed

[2020-02-02 10:39] pradyunsg commented on #7660
No. Please feel free to go ahead and file a PR for this. :)

[2020-02-02 10:39] pradyunsg commented on #7660
Oh, looks like @shashikumar9959 just filed #7682 for this. :/

[2020-02-02 11:02] pradyunsg commented on #7659
It is not; verified.

I don't think so, but it shouldn't matter much to us -- IMO if they're still using this, they should probably update to invoke via pytest; or they can maintain a patch to restore this file.

[2020-02-02 11:21] pradyunsg opened #7683 "Stop suggesting the single-threaded variant for running tests"
Currently, the first suggestion in our Getting Started guide, for running tests is `tox -e py36`. This is sub-optimal since contributors run this command directly, without looking at the suggestion immediately after to run the tests in parallel. This can end up taking a lot of time, which isn't ideal for time-constrained events like development sprints and isn't a great contribution experience eit

[2020-02-02 11:38] sk-ip commented on #7660
Hello, @pradyunsg #7682 seems to be resolving some other issue, I have made a pull request please review and let me know.

[2020-02-02 16:35] pradyunsg commented on #7660
Indeed! I linked to the wrong PR!

[2020-02-02 17:24] hoefling commented on #7130
I think this has smith to do rather with the docs hosting than with docs building - the locally built docs are ok, I'd check the url routing. This can only be done by someone that has access to docs deployment process.

[2020-02-02 17:26] chrahunt opened #7688 "Officially support --no-input command-line argument"
**What's the problem this feature will solve?**

Currently pip doesn't have a documented way to force no interactive prompts. This can impact applications that invoke pip as a subprocess, which can hang if we prompt for things like login credentials for indexes that require authentication.

Pip does have a `--no-input` flag, but it is not documented (as mentioned in [#2429 (comment)](https://githu

[2020-02-02 17:30] Koundinya-noob commented on #7683
Hey!
I would like to work on this.

[2020-02-02 17:40] pradyunsg opened #7689 "Automatically check for typos using codespell + pre-commit"
_Originally posted by @chrahunt in https://github.com/pypa/pip/pull/7642#issuecomment-581156528_

---

Looks like https://github.com/codespell-project/codespell has a pre-commit hook configuration. The configuration change would be to add the following to our `.pre-commit-config.yaml` file.

[code]

[2020-02-02 18:26] chrahunt commented on #7689
Some targets for this check would be:

1. docs
2. news files
3. README
4. code comments

What needs investigation is how often we'll get false positives and what the remediation is, but the best way to do that is to add it to the list of checks and submit a PR.

[2020-02-02 18:30] AishTron7 commented on #6608
Hello @pradyunsg , I've raised PR 7687 for this issue 6608. Hope it gets merged🙂

[2020-02-02 21:16] #7660 closed

[2020-02-02 21:17] #7659 closed

[2020-02-03 11:52] webknjaz commented on #7617
It looks like this can be closed. Confirmed by rebasing https://github.com/pypa/pip/pull/7611.

[2020-02-03 13:15] pradyunsg commented on #7617
Yup!

[2020-02-03 13:15] #7617 closed

[2020-02-03 17:59] sk-ip commented on #7688
Hello @chrahunt, I would like to work on this issue, should I start writing tests.

[2020-02-04 02:25] ksfrazier opened #7691 "pypi.org certificate uses www.python.org certificate"
certificate checks under ubuntu 19.10 fail when accessing pypi.org via pip3.8
(pip associated with earlier versions of python still work fine.).

WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError("Can't connect to HTTPS URL because the SSL module is not available.")': /simple/numpy/
Could not fetch URL https://pypi.org/simp

[2020-02-04 03:07] uranusjr commented on #7691
How did you install the python3.8 pip belongs to? It looks like the installation was compiled with wrong flags (missing SSL support).

[2020-02-04 03:57] ksfrazier commented on #7691
Don't recall how I did the original install, but I suspect you are correct. I was just able to install under conda and that seems to work fine.

[2020-02-04 03:57] #7691 closed

[2020-02-04 04:02] uranusjr commented on #7691
Maybe pip should emit better error messages in this case? e.g. try `import ssl` and tells the user the Python installation is broken if that fails.

[2020-02-04 04:25] chrahunt commented on #7691
IMO this is likely to be so uncommon that I don't think it's worth the added complexity.

[2020-02-04 08:23] ssbarnea commented on #5378
In the absence of a `--no-proxy` option I can confirm that neither `--no-proxy=""` is available. Like any other CLI tools, the is a rule that a CLI option always take precedence over ENV or config-file options.

This does not work with pip, as pip refuses to disable proxy when that is defined using http_proxy env vars.

Some woud wonder why is such a big deal? Try to remember that the HTTP proxy m

[2020-02-04 09:20] pfmoore commented on #7638
I've unassigned myself from this because I'm struggling to understand what it actually means. I get the broader goal of improving the control flow, and decoupling "before the resolve" from "after the resolve", but I'm not clear how this specific change would work in that context. So rather than block someone else from looking at it, I've unassigned myself.

[2020-02-04 10:37] pradyunsg commented on #7606
@pfmoore Did you try this with `--with-venv` or not? I ask because pip's venv support in tests, is pretty much borked, as per my memory when I last looked at that bit of code.

It might also be something to do with our `isolate` fixture not working on Windows.

[2020-02-04 10:49] pradyunsg commented on #5967
This isn't installing from a PEP 503 repository -- this is an install from a source tarball.

Attempting `pip install angr==8.18.0.25 --no-binary angr` correctly deems this version as not-compatible, as indicated by the `data-requires-python=">=3.5"` on the relevant anchor tag for this distribution.

[code]

[2020-02-04 11:15] pfmoore commented on #7606
I'm pretty sure I didn't, no. And honestly, I doubt it's something that we'll get very far with until I can reproduce it (which I haven't had time to do, because it's not something I'm willing to test in my main system, so I'll need to set up a Windows VM).

Given that the problem only occurs when I *don't* run with `-m unit` or `-m integration`, I'd be entirely OK with the rest of the tests just

[2020-02-04 13:13] webknjaz commented on #7130
Here's what the docs site exposes:

<details>
<summary>
  <code>$ <kbd>python -m sphinx.ext.intersphinx https://pip.pypa.io/en/latest/objects.inv</kbd></code>
</summary>

[code]
</details>

<details>
<summary>
  <code>$ <kbd>python -m sphinx.ext.intersphinx https://pip.pypa.io/en/stable/objects.inv</kbd></code>
</summary>

[code]
</details>

There's simply no reference called "index" in this docs

[2020-02-04 13:20] webknjaz commented on #7130
Oh, wait. It exists (missed it because of the long output). So it's either a wrong syntax or a Sphinx bug.
[code]

[2020-02-04 13:24] webknjaz commented on #7130
FWIW I recall having troubles linking a doc role in my projects so I ended up just creating a unique alias for it and using just the name w/o the explicit site name.

[2020-02-04 13:33] webknjaz commented on #7130
Action items:
1) Check the reproducer against some `std:doc` ref in https://docs.python.org/3/
2) Once the same issue is visible, file a bug here: https://github.com/sphinx-doc/sphinx/issues/new?assignees=&labels=bug&template=bug_report.md&title=%3Cwhat+happen+when+you+do+on+which+document+project%3E

[2020-02-04 13:36] webknjaz commented on #7689
Bonus points for integrating sphinx-spellcheck too.

[2020-02-04 13:38] webknjaz commented on #7311
@sagnik-chatterjee I think you can

[2020-02-04 13:40] webknjaz commented on #5537
@pradyunsg I recently discovered a flake8 plugin collection that I mostly like: https://wemake-python-stylegui.de/. It even supports a legacy-first mode (where it doesn't yell at you for the errors that existed prior to the integration of the linter).

[2020-02-04 13:55] pradyunsg commented on #7130
I *think* we're hitting some very weird bug here.

---

On master:

[code]

Changing the heading on `index.rst` to `pip`:

[code]

For https://pip.pypa.io/en/latest/objects.inv:

[code]

[2020-02-04 13:56] pradyunsg commented on #7130
The relevant code in Sphinx does say something about handling-of-spaces in intersphinx loading.

https://github.com/sphinx-doc/sphinx/blob/46897c2acf1f2056dff479ec705e2899d86118c6/sphinx/util/inventory.py#L125

[2020-02-04 13:58] webknjaz commented on #7130
Yeah, could also be different sphinx versions. Also, sphinx uses quite a lot of magic when autocreating refs, not only based on headers but other things too.
Plus I was never able to reference a `:doc:` role from a specific intersphinx site explicitly while the same worked for normal refs so it's inconsistent.

[2020-02-04 14:05] pradyunsg commented on #7130
The following patch:

[code]

[code]

[2020-02-04 14:07] webknjaz commented on #7130
@pradyunsg can you explain why?

Also, another quickfix would be putting there something like
[code]

[2020-02-04 14:08] webknjaz commented on #7130
I mean, they say that the difference is minimal: https://github.com/readthedocs/readthedocs.org/issues/233#issuecomment-8877070

[2020-02-04 14:23] pradyunsg commented on #7130
🤷‍♂

This is definitely a sphinx bug, likely, in writing intersphinx files.

Adding a `print(repr(line), m.groups(), sep="\n")` [here](https://github.com/sphinx-doc/sphinx/blob/46897c2acf1f2056dff479ec705e2899d86118c6/sphinx/util/inventory.py#L129) gives me output containing:

[code]

[2020-02-04 14:25] webknjaz commented on #7130
Or in parsing...

There used to be a special case for `std:doc` which is not there anymore: https://github.com/sphinx-doc/sphinx/blob/v1.5.6/sphinx/ext/intersphinx.py#L313-L315

[2020-02-04 14:26] webknjaz commented on #7130
I'm curious if using `:any:` would work: https://github.com/sphinx-doc/sphinx/blob/46897c2acf1f2056dff479ec705e2899d86118c6/sphinx/ext/intersphinx.py#L267

[2020-02-04 14:35] pradyunsg commented on #7130
Well, I stand corrected -- the issue seems to be in their `.inv` file format. Looking at the writing code, I added the following [here](https://github.com/sphinx-doc/sphinx/blob/46897c2acf1f2056dff479ec705e2899d86118c6/sphinx/util/inventory.py#L172):

[code]

Comparing the line for 'index' with others, we have:

[code]

and

[code]

Notice how the latter has a `''` for `uri`. This originates from

[2020-02-04 14:36] pradyunsg commented on #7130
Basically, `dirhtml` + `intersphinx` seems to be broken in Sphinx.

[2020-02-04 14:38] webknjaz commented on #7130
</sherlock_mode>

I guess you're the best person to write down the details for the sphinx tracker now.

[2020-02-04 14:39] pradyunsg commented on #7130
Yep -- it's the regex: https://pythex.org/?regex=(%3Fx)(.%2B%3F)%5Cs%2B(%5CS*%3A%5CS*)%5Cs%2B(-%3F%5Cd%2B)%5Cs%2B(%5CS%2B)%5Cs%2B(.*)&test_string=index%20std%3Adoc%20-1%20%20The%20Python%20Package%20Installer%5Cn&ignorecase=0&multiline=0&dotall=0&verbose=0

[2020-02-04 14:41] webknjaz commented on #7130
I guess the workaround would be `if not uri: uri = '#'`

[2020-02-04 14:44] pradyunsg commented on #7130
Hehe.

Something like that, or:

- stop returning `""` as the uri for `index` in dirhtml's builder.
- update regex to use `\s+?` instead of `\s+` and allow for the `uri` part to be empty.

[code]

[2020-02-04 18:49] pradyunsg commented on #5537
Yea, I've seen that. Sadly, one of the objectives is to "Enforce python3.6+ usage". :(

[2020-02-04 19:04] pradyunsg commented on #7406
Given that there are major concerns around vendoring a SAT solver and a significant difference between mixology's version-range representation from packaging's specifier-based approach, we seem to be landing on the resolvelib/zazo model for the implementation.

[2020-02-04 20:35] sdispater commented on #7406
I just took a look at `resolvelib` and it seems one of the inspirations is Molinillo. That's what I settled on initially for Poetry but the algorithm is not at all efficient for the Python ecosystem due to the fact that you need to download distributions to discover dependencies which lead to catastrophic performances on conflicts and when backtracking was necessary, even with a cache.

That's the

[2020-02-04 21:08] uranusjr commented on #7406
Personally I agree PubGrub is the best technical choice for Python, and also think it is the best choice for pip *in theory*. The problem here however is that there is no Python implementation suitable for pip’s usage. As mentioned above, it is difficult to integrate Mixology into pip due to data structure incompatibilities; on the other hand, both of our backtracking choices are designed to fit w

[2020-02-04 22:02] webknjaz commented on #5537
Where? I'm pretty sure it's Python 2.7 compatible, I'm trying it out on Cheroot now. If there's some plugins that are incompatible, they are easily disabled.

[2020-02-04 22:12] pfmoore commented on #7406
+1 on what @uranusjr says. I think the key here is that we're landing on the resolvelib/zazo interface, because it doesn't have any fundamental technical issues, and it comes with an implementation that's sufficiently good right now (and also because it's a nice, flexible API, IMO, but conceded people's opinions may vary there).

Implementing a PubGrub algorithm to work behind something close to t

[2020-02-04 22:41] richard-steiger commented on #7620
A workaround to get pip working again is getting the get-pip.py<https://bootstrap.pypa.io/get-pip.py> script and running:
python get-pip.py pip==19.3.1
This will revert pip to the previous version

Thanks! this worked for me (python 3.7.4 running on cygwin64)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/pypa/pip/issues/762

[2020-02-05 00:22] stevecj opened #7693 "Allow --prefer-binary option in requirements file"
* Pip version: 20.0.2

It would be very nice to be able to specify the `--prefer-binary` option in a requirements file.

Per https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format, both `--no-binary` and  `--only-binary` are supported, but not `--prefer-binary`. I tried it out to make sure the documentation was accurate, and it is.
[code]

[2020-02-05 06:11] pradyunsg commented on #7606
My understanding, based on our `tests/conftest.py:pytest_collection_modifyitems`, is that our tests are marked with one of these markers -- unit or integration. Each test has one of these markers. (._.)

One way to verify that would be to run:

[code]

And check that the first is a combination of the latter two. :)

[2020-02-05 09:51] pradyunsg commented on #7279
The tricky thing with this, is that our tests invoke a subprocess of pip for running.

We parallelize and isolate our tests extensively, so they're definitely not order-dependent. :)

[2020-02-05 11:30] webknjaz commented on #7606
@pradyunsg maybe add CI tasks checking that `pip list` is the same before/after pytest invocation?

[2020-02-05 11:46] webknjaz commented on #7279
Could ask @tarpas for help. I think the problem I faced is that when it's combined with the coverage collection tools, the results are totally broken (it may show 2-3 times lower coverage than it is for real).

[2020-02-05 11:55] pfmoore commented on #7606
@webknjaz Please let's not add more infratstructure just yet to solve a problem that basically comes down at the moment to me typing in the wrong command. If we can determine why I ended up with a messed up system Python, and whether it was the pip test suite's fault, *then* let's look at how to address the issue.

I just did that and indeed there's nothing that `tox -e py38` runs that isn't in on

[2020-02-05 11:58] webknjaz commented on #7606
Sounds reasonable. I just have one suggestion about the "infra change": it's possible to have a PR with the change I offered and not merge it — it may be useful just to see how many envs are affected...

[2020-02-05 12:19] pfmoore commented on #7606
That's an interesting idea, thanks. I'll look into that (but I want to check locally that I didn't do something really dumb first 🙂).

[2020-02-05 12:48] pradyunsg commented on #7279
One of the ideas I had in the shower today, was to have our tests be split across CI providers by OS. We'll run linters + "latest stable" interpreters first, then if they all pass, we'd run the remaining interpreters. One was we could split-by-OS would be something like:

- Travis CI: Linux (Ubuntu)
- Azure Pipelines: Windows
- GitHub Actions: MacOS

Then, we can add the constraints of running the

[2020-02-05 13:10] sbidoul opened #7699 "Use better temporary files mechanism in install_unpacked_wheel"
`install_unpacked_wheel` creates files such as INSTALLER or RECORD with a `.pip` extension then renames them to the intended file in order to have an atomic file creation.

Example: https://github.com/pypa/pip/blob/9e24b58f3cb656e96bcf143c7bc16affe7fea5eb/src/pip/_internal/operations/install/wheel.py#L589-L603

The goal of this issue is to use a [better and safer approach](https://github.com/pypa/

[2020-02-05 13:29] sdispater commented on #7406
@pfmoore I understand the constraints and requirements to integrate a new resolver into `pip`. I was merely pointing out that I already went through what you are currently going through, so I was just sharing my experience to warn about the issues and shortcomings that you will most likely stumble upon when implementing your own resolver.

And even PubGrub is not the silver bullet here. As long as

[2020-02-05 14:47] mytja commented on #7620
Well!
I did that but at that time there was an SSL issue with PyPI

[2020-02-05 15:43] pfmoore commented on #7406
Thanks @sdispater - that's really helpful, I hope I didn't come across as dismissive of what you are sharing here, I definitely didn't mean to if I did!

I'll definitely look at `botocore` - it's a good example, I've been thinking mostly in terms of complex dependencies and not so much about cases with massive numbers of candidates. As you say, that's largely a problem with the ecosystem, where we

[2020-02-05 17:54] gramster opened #7701 "More actionable error messages when packages aren''t available on an architecture"
**What's the problem this feature will solve?**

It would be useful, especially for users new to Python, when a package is not found, to see if that package is available on other architectures, and give a meaningful error message. For example, Facebook only built 64-bit versions of torch, but the default Python on python.org for Windows is 32-bit, and this can cause frustration to users who don't

[2020-02-05 18:33] pradyunsg commented on #7701
Partially discussed in #4649
Related to #6526 (possibly duplicate of)

[2020-02-05 18:36] pradyunsg commented on #7052
Duplicate of #2195

[2020-02-05 18:36] #7052 closed

[2020-02-05 18:37] pradyunsg commented on #7097
@ewdurbin Do you happen to know anything about this?

[2020-02-05 18:40] pradyunsg commented on #6900
Could you provide a set of reproducible steps that expose this issue? Also, could you also state which check in the un-installation logic is the check-that-does-not-handle-relative-files is?

[2020-02-05 18:54] #739 closed

[2020-02-05 18:54] pradyunsg commented on #739
Thanks a lot for taking a look @sourabhdeshmukh! :)

[2020-02-05 18:57] pradyunsg commented on #7211
You shouldn't be using sudo to install pip (even via get-pip.py). That renders the install not-writable by future invocations of pip. Please see #5599 and https://stackoverflow.com/questions/21055859/what-are-the-risks-of-running-sudo-pip for the relevant reasons.

I'm going to go ahead and close this issue; do let us know if the above isn't sufficient information to resolve your issue.

[2020-02-05 18:57] #7211 closed

[2020-02-05 19:00] pradyunsg commented on #7203
Thanks @vidartf for a basically excellent bug report; and for being understanding on why we view this as a wont-fix.

I'll go ahead and close this now. :)

[2020-02-05 19:00] #7203 closed

[2020-02-05 19:03] pradyunsg commented on #3314
I think I can pick this up at some point in the near future. Self-assigning this on that assumption. I'd still be working on this in volunteered time, so, no promises on that.

[2020-02-05 19:04] pradyunsg commented on #3710
Blocked on pypa/setuptools#817.

[2020-02-05 19:06] pradyunsg commented on #3931
This issue is labelled as "awaiting PR". If someone wants to file a PR that fixes this, they're welcome to do so. The relevant code is likely in `src/pip/_internal/network/auth.py` currently.

[2020-02-05 19:11] pradyunsg commented on #6275
@uranusjr This is a fairly big deviation from the resolvelib work for you, but any idea what we could change in pip to make this less likely for end users?

[2020-02-05 19:15] pradyunsg commented on #6623
Coming back around to this, if anyone still cares about this specific problem -- stdin for subprocesses is closed by pip, which results in VCS not showing prompts for passwords -- please file a new issue for discussion, linking to #6623 (this issue).

[2020-02-05 19:16] pradyunsg commented on #6623
I'm going to go ahead and close this issue due to a lack of activity/interest.

[2020-02-05 19:16] #6623 closed

[2020-02-05 19:16] ewdurbin commented on #7097
@michaelaye is on the right track, the on-demand purges for projects on PyPI are "soft" purges. combined with the stale-while-revalidate setting, this keeps PyPI's backends from being overrun with requests as a result of purges. This is more or less working as intended.

[2020-02-05 19:21] pradyunsg commented on #4732
If someone wants to file a PR implementing this, they're welcome to do so! Note that we'd like to see this functionality in pip, but the PR would be subject to our regular code review processes (i.e. we're not gonna merge a PR just because someone filed it).

[2020-02-05 19:22] pradyunsg commented on #4732
I've labelled this issue as an "deferred PR".

This label is essentially for indicating that further discussion related to this issue should be deferred until someone comes around to make a PR. This does not mean that the said PR would be accepted - that decision has been deferred until the PR is made.

[2020-02-05 19:23] pradyunsg commented on #716
I've labelled this issue as a "deferred till PR".

This label is essentially for indicating that further discussion related to this issue should be deferred until someone files a PR for it. This does not mean that the said PR would be accepted - it has not been determined whether this is a useful change to pip and that decision has been deferred until the PR is made.

[2020-02-05 19:25] pradyunsg commented on #227
@chrahunt I think that's a reasonable argument to be making; closing this issue following the reasoning that Chris listed above. :)

[2020-02-05 19:25] #227 closed

[2020-02-05 19:29] pradyunsg commented on #5771
I'm just going to go ahead and pin this, because we should really remember that this has to be done still.

[2020-02-05 19:33] pfmoore commented on #5771
I still don't think this is urgent. There's been little or no movement on backends making use of the config settings options, and essentially no demand from pip's end users. I'm inclined to think that it might have been better if PEP 517 hadn't included `config_settings`, treating it as YAGNI until genuine use cases came up.

[2020-02-05 19:46] pradyunsg commented on #7398
If we don't have a good way to reproduce, I'm inclined to let the bot auto-close this in case no one responds.

[2020-02-05 19:50] pradyunsg commented on #6070
I'll let someone chime in, in case ab3 isn't working for them. If it is, let us know. :)

I'll add a label to auto-close this issue if no one responds.

[2020-02-05 19:52] pradyunsg commented on #6894
@sukhbeersingh I think we can call this fixed-at-some-point. Thanks a lot for investigating this and providing a screenshot of a reproducer! ^.^

@atugushev Please holler if this isn't fixed for you on the latest pip. :)

[2020-02-05 19:52] #6894 closed

[2020-02-05 19:53] pradyunsg commented on #7226
Sounds reasonable to me!

[2020-02-05 19:55] pradyunsg commented on #4145
I'm gonna apply this logic and take the liberty of closing this issue.

[2020-02-05 19:55] #4145 closed

[2020-02-05 19:59] pradyunsg commented on #5972
As per pip's [documented policy](https://pip.pypa.io/en/latest/development/release-process/#python-2-support), pip's maintainers won't be fixing such issues but PRs are welcome that address this (and will be subject to our regular review process).

I'm going to go ahead and close this, since it's a Python 2-only issue that doesn't merit being tracked and if someone wants to file a PR or move this

[2020-02-05 19:59] #5972 closed

[2020-02-05 20:01] pradyunsg commented on #5740
I think it's pretty clear that we want to be printing a better error message in this situation. PRs are welcome for fixing this!

[2020-02-05 20:04] pradyunsg commented on #6609
Can someone check if this is reproducible with pip 20.0.2?

[2020-02-05 20:09] pradyunsg commented on #7097
Awesome; thanks for confirming that @ewdurbin! Given that context, I think I'll go ahead and close this issue eagerly. If anyone has further concerns, please holler here. :)

Worth noting that we have an auto-lock bot that locks closed issues that haven't been commented on for 30+ days. If someone has concerns / suggestions and the issue is locked, please feel free to create a new issue with a lin

[2020-02-05 20:09] #7097 closed

[2020-02-05 20:44] sdispater commented on #7406
@pfmoore

Not at all!

One example i have is `pyrax==1.9.8`. There is a lot of transitive dependencies incompatible with each other. This one is also easily solvable by having the dependency information available beforehand but there are more dependencies involved.

That's already what Poetry is doing, the package metadata is stored locally in a cache which speeds up the resolution process drastic

[2020-02-05 22:57] rudolfovic commented on #7699
`adjacent_tmp_file` opens files as binary while the `csvwriter` insists on writing strings no matter what is passed to it. A possible solution would be to add a parameter to `adjacent_tmp_file` so that it passes it accordingly to `NamedTemporaryFile`.
`NamedTemporaryFile` uses `mode='w+b'` by default and `adjacent_tmp_file` does not override this.
This fix passes the tests.
Mode can either be adde

[2020-02-06 00:07] 1313e commented on #6275
Does this not have to do with the dependency resolver issues discussed in #988?

[2020-02-06 00:26] mhatreabhay commented on #5816
I hit this error while building docker image.

 DockerBuild:
         [91mERROR: Could not install packages due to an EnvironmentError: [Errno 28] No space left on device: '/home/myuser/.local/lib/python3.6/site-packages/tensorflow_core/python/training/saving'

Resolved by pruning all the images that I have accumulated over several days.  ~4.6GB.

[2020-02-06 01:00] uranusjr commented on #7699
Would it be enough to keep `csv.writer` happy if we wrap the file handle in a `io.TextIOWrapper`?

[2020-02-06 01:42] chrahunt commented on #7406
Another option for wheels could be to only download the dependency metadata instead of the whole wheel. For example, I have a script [here](https://github.com/chrahunt/packages/blob/81fecfbcc23b446bfefeb9818710da8919ce485c/packages/commands/update_wheel_info.py#L46-L57) for getting a list of all files in all wheels in PyPI that only downloads the bytes required to get the zip central directory and

[2020-02-06 02:00] chrahunt commented on #5771
If implemented this would give us a route to deprecate and remove the special cases we have for `--intsall-option` and `--global-option` in several places in the code. It is blocked on pypa/setuptools#1928, though, since the way the setuptools backend interprets the options is not currently compatible with the way we do. This also gives us a path to address #2677.

[2020-02-06 03:10] uranusjr commented on #7406
@chrahunt Ah briliiant idea! I’m going to steal it for sarugaku/resolvelib#27. I wonder how well HTTP range requests are supported in common HTTP server implementations…

[2020-02-06 03:15] brainwane commented on #7406
@ewdurbin ping re: thinking about how this will affect PyPI and whether PyPI could facilitate this information need in any way.

[2020-02-06 03:41] chrahunt commented on #7406
We could decide to do it only after an HTTP HEAD request shows that it is supported. We may also want to do that anyway and only use this approach for larger files (as indicated by `Content-Length` in the response) to avoid potentially taking longer for small files because of the latency for multiple requests.

[2020-02-06 04:25] uranusjr commented on #6275
Yes, eventually the resolver work would make this whole block obsolete.

If we switch to `importlib.metadata` (#7413) it would stop being a problem for Python 3 users. The code here is not wrong in general, just using the wrong function (`pkg_resources.get_distribution()`).

[2020-02-06 05:18] uranusjr commented on #716
For anyone interested, this feature could be generalised into “a switch to uninstall packages not depended by the requested packages.” The design would be something like `pip install --unused-strategy=uninstall ...things_to_install`. The switch would default to `keep` (the current behaviour).

[2020-02-06 05:52] pradyunsg commented on #5271
We'd probably want to look into this as apart of #6607.

[2020-02-06 05:55] pradyunsg commented on #5374
Hi folks!

If you're still having issues connection to PyPI w/ MEO as your ISP, please open an issue in [pypa/pypi-support using the 'Network Access Issue' template](https://github.com/pypa/pypi-support/issues/new?labels=network&template=access-issues.md).

That is a much better place for further discussion on this issue + better visibility for PyPI admins, so that they may take a look if there's

[2020-02-06 05:57] pradyunsg commented on #5374
AFAICT, this is a case of an IPv6 issue with MEO; since [disabling IPv6 seems to be working](https://github.com/pypa/pip/issues/5374#issuecomment-514146671) for some users.

[2020-02-06 06:11] pradyunsg commented on #4823
For users that are still facing this, the problem is the Debian/Ubuntu-provided `pip` command. One way to work around this problem is to run `pip install --user --upgrade pip`, and configuring your PATH so that `$HOME/.local/bin` is among the earlier entries.

There isn't anything actionable for pip maintainer here though, so I'm going to go ahead and close this issue.