[2020-03-19 09:26] takluyver commented on #1668
When you create a virtualenv with the default options, it's isolated: it can't see your user or system site-packages, and consequently pip should only work with packages installed in the env. This became the default many years ago, because of exactly the kinds of issues you describe.

If you create virtualenvs with the `--system-site-packages` option (or *very* old versions of virtualenv where tha

[2020-03-19 11:50] siAyush commented on #7699
Hey, @uranusjr can you please clear it more. About the "if we wrap the filehandle in an io.TextIOWrapper" this.
Thanks

[2020-03-19 12:15] pradyunsg commented on #7864
Should be, yea. It might also be in the isolate fixture, so that would be worth taking a look at.

[2020-03-19 12:27] uranusjr commented on #7699
So the problem here is that `csvwriter` expects a str-based file object, but on Python 3 the caller (`adjacent_tmp_file`) writes file in binary mode. So I was wondering whether it would be possible to wrap the file object opened by `adjacent_tmp_file` with an `io.TextIOWrapper` on Python 3 to turn it into a text file-like object, and pass that to `csvwriter` instead. The wrapper would perform the

[2020-03-19 12:46] pradyunsg commented on #7871
One of the things to make sure of is, that there are YAML tests that are being skipped because they don't work with the legacy resolver.

[2020-03-19 16:26] hroncok opened #7872 "When $TMPDIR is within $PWD, pip wheel dies on infinite recursion"
**Environment**

* pip version: master, 20.0.2, 19.3.1... possibly more
* Python version: 3.9.0a4, 3.8.2, 3.7.7... possibly all
* OS: Linux (Fedora)

**Description**

During debugging the problem described in https://github.com/pypa/pip/issues/7555#issuecomment-595180864 we ahve realized that simply setting `$TMPDIR` to  `$PWD/.tmp` would make our problems go away. However, when doing that, `pip w

[2020-03-19 16:26] hroncok commented on #7872
I have a fix ready and will submit a Pull Request shorty.

[2020-03-19 16:27] hroncok commented on #7555
When trying t figure a workaround for Fedora, we've been hit by https://github.com/pypa/pip/issues/7872

[2020-03-19 17:02] hroncok commented on #7872
https://github.com/pypa/pip/pull/7873

[2020-03-19 17:32] pradyunsg commented on #7699
@uranusjr I suggest avoiding complicating this issue by discussing trying to do this in-memory (since it's a good first issue).

[2020-03-19 21:28] zzzeek opened #7874 "pip fails to install projects that have a setup.py and pyproject.toml and there is no documentation on best practices I can locate"
**Environment**

* pip version:19.0
* Python version: 3.7
* OS:any

**Description**

multiple users are reporting that they cannot install SQLAlchemy because it has added a pyproject.toml file.  The reason this file was added is becasue it is [documented as a best practice for black configuration](https://black.readthedocs.io/en/stable/pyproject_toml.html) and for no other purpose.

I do not know

[2020-03-19 22:17] tgs commented on #1668
Oh! I'm very sorry, you're totally right.  My organization's weird system-site-packages policy strikes again.  Thanks for pointing out some solutions.

[2020-03-19 22:20] takluyver commented on #1668
No problem. System site packages was more common a few years ago when we often relied on system package managers for things like numpy, so maybe it's worth revisiting that policy. But there may still be sensible reasons to use it today.

[2020-03-19 22:40] pfmoore commented on #7874
The arrangement you have in sqlalchemy looks fine, so I'd expect the current version of pip to work fine with it. However, pip version 19.0 is out of date, and I believe there was a bug which is what you are seeing.

Please can you check with the current version of pip?

[2020-03-19 23:51] pradyunsg commented on #1668
Closing in line with https://github.com/pypa/pip/issues/1668#issuecomment-544569965.

Many thanks @takluyver! ^>^

[2020-03-19 23:51] #1668 closed

[2020-03-20 04:04] mtlberri opened #7875 "pip upgrade fails (stalls at uninstall phase)"
**MACOS** Catalina

* pip version: 19.0.1
* Python version: 3.7
* OS: 10.15.3

**Description**
I simply try to upgrade pip but the operation stalls at the uninstall phase and does not progress from there...

**Output**

[code]

[2020-03-20 09:15] siAyush commented on #7699
Thank you @uranusjr  for simplifying it. Let me try it.

[2020-03-20 09:17] azmeuk commented on #7870
Related question. I would like to build [BTrees](https://github.com/zopefoundation/btrees) as fast as I can.

```python setup.py build --parallel 8``` works well, but `--install-option` or `--global-option` fail:

[code]

[2020-03-20 09:33] uranusjr commented on #7870
@azmeuk pip propagates build options to child dependencies. Use `--no-deps` to install `.` independently, and then `pip install .` again without the build-option flag to pull in dependencies.

[2020-03-20 10:51] rvanlaar commented on #7874
It's weird.

I'm using the python:3.5.2 docker container.
Upgraded pip to 20.0.2 and setuptools to 46.0.0. wheel is already 0.34.2

Removed the poetry.lock file, sqlalchemy and re-added it.
Now it's working.

For bitbucket-pipelines I also had to clear my cache.
It's working now.

[2020-03-20 13:56] hongyi-zhao commented on #7870
Tzu-ping Chung <notifications@github.com> 于2020年3月20日周五 下午5:33写道：

Still no so clear about what should I use the pip for this job.  I tried
the following but still failed:

$ pip install --global-option=build_ext --global-option="-j4 --no-deps"
-vvv . --isolated
or
$ pip install --global-option=build_ext --global-option="-j4" -vvv .
--isolated --no-deps

Regards
—

--
Hongyi Zhao <hongyi.zhao@gmai

[2020-03-20 16:03] zzzeek commented on #7874
more problems reported, again, users all use --no-use-pep517 and that resolves.....can this problem be fixed in pip?   when pip looks in pyproject.toml and sees *nothing*, that should mean, hey we aren't pep517...no ?    https://github.com/sqlalchemy/alembic/issues/672

[2020-03-20 16:17] pfmoore commented on #7874
@zzzeek As noted above, I believe this *has* been fixed in current versions of pip. Can you provide a reproducible case with the current version of pip and we'll definitely look into it, because this should not be happening.

But without a way of reproducing it, it's hard to know what's (still) unfixed here :-(

[2020-03-20 16:24] pfmoore commented on #7874
Update: Apologies, I may be misremembering the sequence of events here. [This code](https://github.com/pypa/pip/blob/master/src/pip/_internal/pyproject.py#L118) looks like we do use PEP 517 if `pyproject.toml` is present.

But I guess the question is then why does using PEP 517 break your project? We default to the `setuptools` backend, which should be equivalent to running `setup.py` in "legacy"

[2020-03-20 16:45] CaselIT commented on #7874
Hi @pfmoore. Regarding

- https://github.com/sqlalchemy/sqlalchemy/issues/5207 the problem is from a broken pip (actually pep517) installed from apt in debian:unstable docker image. So not really pip's fault, but detecting if the pyproject actually contains pep517 instructions would not trigger this
- sqlalchemy/alembic#672 seems that in an offline install `wheel` is not installed and/or pip tries

[2020-03-20 17:29] pfmoore commented on #7874
The problem here is that in the long term, we will be removing the "directly invoke `setup.py`" code path. If we do as you suggest, then we'll simply be deferring this problem until then - at which point, there won't be the fallback option of `--no-use-pep517` that we have at the moment.

So what I'd much rather do is to identify the issue here now, and ensure that PEP 517 works for you, while sti

[2020-03-20 17:48] CaselIT commented on #7874
Thanks for clarifying. I did not know that the aim was to make pep517 mandatory.

Right now I cannot identify a specific issue, other that pep517 does things differently so new assumptions are required in the install environment.

The only suggestion I have it that pip could suggest trying `--no-use-pep517` if an error happens in `pep517` where the correct approach is the fallback to `setup.py` (a

[2020-03-20 18:01] zzzeek commented on #7874
IIUC we are saying that pip has made a silent behavioral change such that new practices such as "add wheel to the offline wheel store" are now required for users environments where this was not required before, and that this new, silent requirement crops up as a result of the pyproject.toml file being present in our packages, and can only be bypassed to have pip behave the old way by using a flag

[2020-03-20 18:02] Shlokatadistance commented on #7875
Maybe its an issue with your system? because you could proceed with the next stage, and it only stalled from there. I have the same system configurations as yours, and. I could seamlessly proceed with the upgrade

[2020-03-20 18:03] Shlokatadistance commented on #7875
give --user or --upgrade a try
or try pip3 install

[2020-03-20 18:10] Shlokatadistance opened #7877 "Qt plugins"
Pip - 20.0.1
Os - macOS Catalina, 10.15.3
python version - 3.8.1

I faced a rather peculiar issue yesterday while trying to run a machine learning model, my idle reported that my QT plugins were not present and reinstalling the applications might help. At the same time, python would crash and the diagnostic report would be generated which frankly did not point me to a particular issue.
Any thought

[2020-03-20 18:41] pganssle commented on #7874
This is almost certainly a bug in whatever debian does to `pip` when it packages it up, not a bug in `pip` itself.

I can reproduce this by running debian:unstable in a docker container and doing:

<details>

[code]

This fails because of a broken `pep517` library - a library which is normally *vendored into `pip`*, but evidently Debian pulls it out for some reason.

I can then fix the problem by

[2020-03-20 18:43] pganssle commented on #7874
As a workaround, I suggest people who run into this issue use `pip install -U --user --ignore-installed pip` to get the most recent version of `pip` from PyPI.

I believe that using a virtual environment will also solve this problem, though I believe Debian messes around with the virtualenv packaging as well :man_shrugging:  Using the system python: almost always a bad idea!

[2020-03-20 18:51] zzzeek commented on #7874
we have not identified that https://github.com/sqlalchemy/alembic/issues/672 is debian specific.  the user has not provided the OS in use.

[2020-03-20 18:51] zzzeek commented on #7874
also https://github.com/sqlalchemy/alembic/issues/672 is using a virtual environment already.

[2020-03-20 19:03] pganssle commented on #7874
@zzzeek That looks like a very different problem. I have commented in the issue, but again I see no reason to believe that's a problem with `pip`.

[2020-03-20 20:26] pganssle commented on #7863
@pradyunsg I think downloading the build dependencies of anything that uses PEP 518 and isn't satisfied by a wheel would be a reasonable choice. If the main idea is that `pip download` is used for caching everything you need to build and install the projects you're downloading, then the build-time dependencies need to be satisfied as well if they're needed.

[2020-03-21 01:41] mtlberri commented on #7875
Hi,

I fought with the system, going in and out and recreating venvs. It finally worked, honestly not sure how in the end. I believe I have been able to update pip once I was out of my venv and back to (base).

Anyway, pip is updated now so all good.

Thanks !

**(finenv) Joffreys-MBP:Python Armellini1$ pip install -U pip
Requirement already up-to-date: pip in /Users/Armellini1/opt/anaconda3/envs/

[2020-03-21 05:13] Shlokatadistance commented on #7875
Thats great! Venvs can be real buggers at time, maybe your recreating those help solve a previously disorderly part or system variable.

[2020-03-21 07:55] pradyunsg opened #7879 "Add a "What Next?" section to the Getting Started Guide"
I've noticed over the past few contributor-interactions I've had that *after* our Getting Started guide, we don't provide good guidance to contributors about how they can contribute once they're set up.

It would be a good idea to suggest to contributors where they can go next. For starters, we'd want to add a "What Next?" section:

- good first issues on the issue tracker
- architecture documenta

[2020-03-21 08:41] deveshks commented on #7879
Is this section supposed to be added at the end of https://pip.pypa.io/en/latest/development/getting-started/ ?

Also correct me if I am wrong, but are these the links we can link to for the specified sections.

good first issues on the issue tracker: https://github.com/pypa/pip/labels/good%20first%20issue
architecture documentation: https://pip.pypa.io/en/latest/development/architecture/
triage g

[2020-03-21 09:12] pradyunsg commented on #7879
Yes to all of those questions.

[2020-03-21 09:17] deveshks commented on #7879
Great, let me create a PR for the same then

[2020-03-21 13:08] deveshks commented on #7856
I can take this issue up and create the PR, but I have a question about the type of changes we want here.

If I understand correctly, we add `easy-install.pth` in files to remove here:
https://github.com/pypa/pip/blob/f6b5b40549583b65253b2de5a8ebfc3bf32cb3c1/src/pip/_internal/req/req_uninstall.py#L532

So in order to fix the issue, do we want to stop checking for easy-install.pth here? Or do we ch

[2020-03-21 14:23] mtlberri commented on #7875
Thanks for your help!

On Sat., Mar. 21, 2020, 1:13 a.m. Shlokatadistance, <
notifications@github.com> wrote:

[2020-03-21 19:27] deveshks commented on #7731
Hi @pradyunsg,

Can I take up this PR and try out the fix you mentioned in the comment above?

[2020-03-21 19:35] uranusjr commented on #7856
We would still want to remove it if possible (and to emit an error message if it does not exist), so I’d say the latter. I did not read very deep into the implementation though, so there might be another way.

[2020-03-21 19:49] deveshks commented on #7856
Okay, so do we want to  emit the error message, but not cause the installation to fail by perhaps wrapping https://github.com/pypa/pip/blob/f6b5b40549583b65253b2de5a8ebfc3bf32cb3c1/src/pip/_internal/req/req_uninstall.py#L532
in a try catch?

Or instead of raising an error at https://github.com/pypa/pip/blob/f6b5b40549583b65253b2de5a8ebfc3bf32cb3c1/src/pip/_internal/req/req_uninstall.py#L588-L592
w

[2020-03-22 05:39] Shlokatadistance commented on #7537
Hello, I think your issue is mostly with your os packaging, so installing with source might help.
I tried recreating your issue in a virtual box version of ubuntu, and this is what helped me
sudo apt-get install libreadline-gplv2-dev libncursesw5-dev libssl-dev libsqlite3-dev tk-dev libgdbm-dev libc6-dev libbz2-dev

This installs all necessary documents and files from sources, later install your p

[2020-03-22 18:20] riquito opened #7883 "Pip install block waiting forever for a keyring to unlock"
**Environment**

* pip version: 20.0.2
* Python version: 3.7.6
* OS: Fedora

jaraco/keyring: v20.0.1 (automatically installed as PIP dependency)

**Description**

Pip block during install, waiting for a keyring to unlock (at least that's my understanding)

**Expected behavior**

Pip install should proceed.
I'm also confused about why pypi try to use any keyring to access pypi.org (See in the verbo

[2020-03-23 07:01] NoahGorny commented on #7847
As you can see in commit 5bab65d1, a change was introduced that did not cache responses for any "unsafe" origin, such as http, or invalid https, even with the "trusted-host" option.

I also encounter this behavior as in my workplace I must use "trusted-host" as well, and it is pretty annoying that it does not cache any responses at all, so I have 2 options to offer:
1) Change this behavior to allo

[2020-03-23 10:36] Zheaoli opened #7886 "Add a command alias for install command"
![image](https://user-images.githubusercontent.com/7054676/77307829-f0914280-6d34-11ea-9c98-a1eb1fe308ed.png)

Many people will get a typo when using the `pip install` command such as `pip isntall`. so npm use a command alias to help people use the package manager correctly.

So is there any chance to add an alias? I can make a PR for this

[2020-03-23 10:50] NoahGorny commented on #7847
hey @pradyunsg. can you please take a look at this and the PR I opened to solve it? 😄

[2020-03-23 11:06] McSinyx commented on #7886
This has already been worked on in GH-4193 and rejected because actions performed by pip could not be easily undone.  I'm not so sure about the current state of pip however.

[2020-03-23 16:04] d3dave commented on #7847
The change discussed for not caching packages from insecure origins was introduced alongside the `--trusted-host` flag in pip version 6. Then, installing from insecure origins was deprecated but *not* disabled (pip reported a warning, but still fetched the packages). As a result, the cache could still be poisoned by untrusted origins.

Since version 7, pip does not allow fetching packages from ins

[2020-03-23 18:28] xavfernandez commented on #7794
To clarify the issue, the goal is mainly to print the versions of the libraries imported via `pip._vendor.<library>` (and ideally compare it to the expected version from `vendor.txt`), i.e. printing `pip._vendor.six.__version__`, etc.

Printing `pip._vendor.DEBUNDLED` value would also quickly help identify unbundled pip client.

[2020-03-23 18:36] xavfernandez commented on #7848
Would it be possible to collect (and print) the merged requirement ?

Something like
`Installing dep==1.12.0 (from libraryA-1.2 requesting >1.0, from libraryB-2.3 requesting <1.13.0)`

[2020-03-23 18:38] xavfernandez commented on #7846
I'm also in favor of erroring out in this case (or at least warn loudly).

[2020-03-23 19:20] uranusjr commented on #7848
It’s definitely possible[1], but the message could become unwieldy quickly for a relatively complex dependency tree, e.g. in a typical Flask app there will easily be more than 10 packages pointing to Jinja2 and Werkzeug.

[1]: If not directly available, it’s possible to build that knowledge from the resolution result.

[2020-03-23 20:45] brainwane commented on #988
The alpha or beta release of pip with its new dependency resolver should be out in May.

I just posted [a PSF blog post](https://pyfound.blogspot.com/2020/03/new-pip-resolver-to-roll-out-this-year.html) which discusses what is going to change in the pip resolver, when, and how you can help (including some low-effort things you can do right now, such as running `pip check`).

I didn't mention this

[2020-03-23 21:48] vphilippon commented on #7625
FYI, the same issue also seems to occur on my side if my temp directory (`%TEMP%`), where the pep517 isolated build occurs, is on another logical disk.

Can be reproduced with `pip install gevent==1.5a4` (which only has a .tar.gz sdist uploaded at the moment of writting this reply).

[2020-03-24 00:37] QuLogic commented on #5879
Dupe of #5531, I think.

[2020-03-24 03:57] McSinyx commented on #7846
How about giving users options to choose from, like aptitude (at the end of [the manual](https://www.debian.org/doc/manuals/aptitude/ch01s02.en.html))?  We'd probably need an option to opt-out of this of automation (e.g. CIs) though,

[2020-03-24 04:10] jnoortheen commented on #5182
I stumbled into the same even in versions 20.*

[2020-03-24 07:34] deveshks commented on #7856
Hi @uranusjr ,

If my above suggestions make sense now, I can go ahead and create a PR for the same

[2020-03-24 08:44] uranusjr commented on #7846
The prompt would be nicer to have, but IMO it is better to error out than prompt the user if the conflicting options come from a requirements file (the user should fix it), so that would be my choice to implement first.

[2020-03-24 08:46] uranusjr commented on #7856
I like the second approach more; maybe just `logger.warning` the message and move one.

[2020-03-24 08:49] deveshks commented on #7856
Thanks @uranusjr for the response. I will create a PR to do the same.

[2020-03-24 08:55] uranusjr commented on #5182
@gaborbernat How did Setuptools communicate the encoding change when it happened? IMO it is reasonable to change to parser encoding to UTF-8, but I don’t want to break whatever is relying on platform encoding.

[2020-03-24 08:59] gaborbernat commented on #5182
As far as I remember later setuptools switched to utf 8 encoding so this should not be a problem now with latest pip and setuptools 🤔

[2020-03-24 09:29] uranusjr commented on #7625
Some investigation notes before I leave this issue for now. The error occurs when pip is copying contents from data directories, which is weird because the built 1.5a4 wheels on PyPI (they have a few now) don’t contain any. I’m not sure what I’m missing 🤔

[2020-03-24 09:35] pfmoore commented on #7848
That's my concern, too. In spite of my original comment in the issue, I think we should focus on what information we want to present to the user first, before worrying about collecting the data.

[2020-03-24 09:46] uranusjr commented on #5182
Hmm, taking another look, this config file parsing logic is buried deep inside distutils. Does Setuptools use it own implementation? Not sure what’s the best course for pip to deal with this…

https://github.com/python/cpython/blob/6000087fe979705dc588a46a35da884cc0198c67/Lib/distutils/dist.py#L402-L419

[2020-03-24 09:58] gaborbernat commented on #5182
setuptools has it's own copy of dist; https://github.com/pypa/setuptools/blob/master/setuptools/dist.py#L553; was this release https://setuptools.readthedocs.io/en/latest/history.html#v41-0-0 that made it UTF-8

[2020-03-24 10:05] hongyi-zhao opened #7890 "Why pip install don't cache packages?"
Hi,

With the following environment:

$ pip --version
pip 20.0.2 from /home/werner/.pyenv/versions/3.8.1/envs/test1/lib/python3.8/site-packages/pip (python 3.8)

Tested with the following steps:

[code]

As you can see, when I run ``pip install'' for the second time, it will re-downloading the package instead of using the local cache.

And I also cannot find the downloaded package at the following

[2020-03-24 10:50] NoahGorny commented on #7890
I suspect it has something to do with your index being insecure due to bad certs/old TLS.
Currently pip does not cache from insecure origins even if they are specified as "trusted hosts"

See #7847 and the PR I made to solve it #7885
Feel free to voice your opinion on the matter :smile:

[2020-03-24 10:53] uranusjr commented on #5182
Thanks for the clarification! pip is really short of options here (it can’t even just ignore the offending file, since the loop itself is buried in distutils). I guess it’s not very realistic to have another copy of dist in pip, so we can either push a new `encoding` argument to stdlib distutils (is this even possible?), or monkey-patch the `open` function in the module. Neither sounds particularl

[2020-03-24 11:42] deveshks commented on #7879
Hi @pradyunsg

Since the PR for this merged, you can close this issue now

[2020-03-24 13:36] #7879 closed

[2020-03-24 13:49] pradyunsg commented on #7879
@deveshks Thanks, for future PRs, please include the magic phrase "Closes #7879" (changing the issue number, obviously) in the PR description. If that's in place, GitHub automagically closes the issue when the PR is merged. :)

[2020-03-24 14:34] vidartf commented on #5879
@QuLogic Thanks, closing as duplicate!

[2020-03-24 14:34] #5879 closed

[2020-03-24 16:28] jaraco commented on #7831
In my use-case, I wasn't concerned with the "build everything from raw source" use case, but was rather attempting to build a single package from source and I used `--no-binary :all:` as a shorthand for "please build from source". In my case, I could have used `--no-binary distlib`, which would have been more selective.

[2020-03-24 18:03] aliaugmenta opened #7892 "Git auth error is not reported by pip"
**Environment**

* pip version: 20.0.2
* Python version: 3.7.3
* OS: Ubuntu 19.04

**Description**
When I run `root@20d2d4486e47:/w# pip3 wheel -v  -w build git+ssh://git@github.com/MYORGNAME/MYREPO.git@30b3f1d4db48ac795f772566b46aaed0881ff20c` git auth fails but pip output does not catch that failure and reports another error later in the build process.

**Expected behavior**
If git auth fails, t

[2020-03-24 19:47] deveshks opened #7893 "Similar variable names referring to different things in test_uninstall.py"
**Environment**

* pip version: 19.2.3
* Python version: 3.7.7
* OS: OSX 10.15.3

**Description**
While trying to write some unit tests while referring to
https://github.com/pypa/pip/blob/8c95de11ccb6ce75f67835766007d36f4ce6c941/tests/functional/test_uninstall.py#L528

I came across two member variables from the `script` fixture, one is `script.site_packages_path` which points to site-packages whi

[2020-03-24 20:36] okamimx06 commented on #7620
Thanks bro... this workaround saves my archlinux distro =)

[2020-03-24 20:54] cristianoccazinsp opened #7895 "Merge feature from pip-outdated - list outdated packages from requirements file"
**What's the problem this feature will solve?**

List outdated packages only from requirements.txt

**Describe the solution you'd like**
Already implemented by https://github.com/eight04/pip-outdated . It would be ideal to have this library merged into pip intself.

pip list --outdated reports packages not included by requirements.txt. This leads to users having to chase down which dependencies ar

[2020-03-25 03:06] Conan-Kudo commented on #6536
@cosmicexplorer

Myself and @wolfv have been looking at this for building parts of the DNF package manager stack across all major supported platforms for [mamba](https://github.com/QuantStack/mamba) and my own personal work with DNF. At this point in time, libsolv is now capable of being built for Windows, Linux, macOS, BSD, Haiku OS, and I'm vaguely aware of it being put on various UNIX systems a

[2020-03-25 03:23] microcat49 commented on #7815
Could I take this one? I think I know how to fix it.

[2020-03-25 06:34] uranusjr commented on #7815
Go ahead! I’d be very interested in learning what the problem is.

[2020-03-25 06:41] uranusjr commented on #7895
I am -1 for this. `pip-outdated` and `pip list --outdated` are implemented very differently, and a lot of the existing flags on `pip list` does not make sense if applied to a requirements file. If this is added to pip (and I’m -1 on that as well), it should be its own subcommand.

[2020-03-25 08:02] #7683 closed

[2020-03-25 09:34] cwiede opened #7896 "pip freeze and pip install -e"
This is a follow up on https://github.com/pypa/pip/issues/4300 which has been automatically locked.

I was tricked by this as well and I am not sure about the reasoning about why pip freeze wants to be super smart and changes the location of a pip install -e to a version control path. Is there some way to turn this behaviour off via command line?

If I would want to specify a version controlled pa

[2020-03-25 09:57] pradyunsg commented on #7896
As noted in that thread, there's no way for pip to distinguish between a pip install from a local checkout vs pip install from a VCS URL.

It's not that pip freeze is trying to be smart or anything, it's that there's no information available to distinguish between the two cases.

[2020-03-25 10:10] eight04 commented on #7895
I think the major problem is that python doesn't have an official way to manage package dependencies (`requirements.txt` vs. `project.toml` vs. poetry vs. pipenv).

In Node.js we know that we have to specify our dependencies in `package.json` and other tools are also built on top of that (npm, yarn).

Since you come from npm, give [vpip](https://pypi.org/project/vpip/) a shot.

[2020-03-25 10:47] RonnyPfannschmidt commented on #7895
a "key" issue with the tool is that `pip-outdated` is actually just a script that is not using any of pip and checks requirements directly against pypi, it should be called something like `requirements-outdated`

also the tool is incomplete and will get details wrong (as its unaware of constraints)

[2020-03-25 13:07] cwiede commented on #7896
Ok, I worked around this by ignoring "-e" packages in our requirement file / freeze file checks. I still feel that a choice should be given to the user whether the conversion shall be done or not.

[2020-03-25 13:07] sbidoul commented on #7847
Could it be a third option to use `--cert` with a custom certificate bundle, as an alternative way to trust that host?

[2020-03-25 13:16] NoahGorny commented on #7847
In my workplace some certs are expired, some use weak algorithms that are no longer supported, etc...
It would take years for me to convince the IT department to do anything about it, and I do not think that I (or my workplace) are unique in this regard.
I am fine with caching "insecure" sites when I have no other option to do otherwise

[2020-03-25 13:43] cristianoccazinsp commented on #7895
Thanks for the valuable feedback! What about implementing something like `pip-outdated` but that uses `pip list --outdated` instead as the source of packages?

This is really the problem, in order to achieve something similar to `npm` we need to hunt down and test various different packages. Since `pip` is pretty much the "official" one, it would make sense to have all features built in into the p

[2020-03-25 14:41] pfmoore commented on #7895
I'm not really clear what you're asking for here (I have no experience with `pip-outdated` or npm). Can you describe the use case in a bit more detail than "List outdated packages only from requirements.txt"?

[2020-03-25 15:03] cristianoccazinsp commented on #7895
When you are maintaining a project, you often need to go through all 3rd party libraries (dependencies, requirements.txt, packages.json, etc.) to see which libraries have received updates.  However, `pip list --outdated` is quite frustrating because it lists ALL packages (including libraries installed by 3rd party libraries), and hence you need to "hunt down" which libraries were installed by you,

[2020-03-25 15:20] pfmoore commented on #7895
OK, thanks. AIUI, that's something that's handled by "environment management" tools like poetry and pipenv (or vpip, which I hadn't heard of before, mentioned above). There's also [this discussion](https://discuss.python.org/t/structured-exchangeable-lock-file-format-requirements-txt-2-0/876) that's intended to develop a suitable standard format for capturing the user's intentions on what is "part

[2020-03-25 16:12] uranusjr commented on #7896
Would PEP 610 have an effect (positive or negative) to this issue @sbidoul? The only time pip has this information is on install-time, and the extra storage would be a chance to set this correctly.

[2020-03-25 16:19] deveshks commented on #5979
Hi @pradyunsg

Can I file a new PR for this? Seems like an old PR was filed https://github.com/pypa/pip/pull/6046 but was never merged. I can take the changes for it and create a new one, if there is still scope to fix it?

[2020-03-25 16:20] uranusjr commented on #5979
@deveshks Go head 👍

[2020-03-25 16:31] deveshks commented on #5979
Hi @uranusjr ,

Thank you. I will submit a PR for this. Another question, is there a place in one of the `.rst` files where I can put a guideline on how to update AUTHORS.txt, and document that only names should be added in AUTHORS.txt in future

[2020-03-25 17:26] uranusjr commented on #5979
@deveshks The file is generated automatically when releasing a new version, implementated (you can trace it from function `prepare_release()` in `noxfile.py`). I think the best way to do this would be to change the generation logic, and just run it to re-generate the file.

[2020-03-25 19:01] niothiel opened #7900 "`pip install` fails on equivalent versions"
**Environment**

* pip version: 20.0.2
* Python version: 3.7.5
* OS: OSX

**Description**
From my testing, it appears that pip is not treating equivalent versions as truly equivalent as specified in [PEP440](https://www.python.org/dev/peps/pep-0440/#version-matching) when installing requirements.

Specifically, the PEP states that a version string like `==2.8.0` is considered equivalent to `==2.8`

[2020-03-25 19:27] pfmoore commented on #7900
This should be fixed when the new resolver is released. It's unlikely to be worth fixing in the current (legacy) resolver, which makes no attempt to merge or otherwise unify requirements (which is what I suspect is the cause of this issue).

[2020-03-25 19:46] uranusjr commented on #7900
I consider this a bug in packaging. The legacy resolver doesn’t need to do anything if we fix that:

[code]

[2020-03-25 19:52] uranusjr commented on #7900
I filed pypa/packaging#282 for this.

[2020-03-25 21:19] pfmoore commented on #7900
Good point, I'd missed that specifier equality was handled by the packaging library.

[2020-03-25 21:32] brettcannon opened #7901 "Document the PIP_REQUIRE_VIRTUALENV environment variable"
Looks like it was added in pip 10 but I couldn't find it documented anywhere at pip.pypa.io.

[2020-03-25 21:34] pradyunsg commented on #7901
I'll be doing this tomorrow. :)

[2020-03-25 21:35] pradyunsg commented on #7901
This is basically the --require-virtualenv flag in pip, but we'd really want users to set this at a higher level (eg. configuration file or environment variable).

[2020-03-25 23:24] gabrielsaviank commented on #7620
I'm getting
WARNING: You are using pip version 19.2.3, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
But when I type

I get pip 20.0.2
I'm getting so pissed with this because I can't install TensorFlow. (Yes I already downgraded Python version)
I'm on OSX Catalina.

[2020-03-26 00:12] hongyi-zhao opened #7902 "The dilemma of using these pip options: ``require-virtualenv = true'' and ``--isolated''"
Hi,

I set the following option in the ~/.pip/pip.conf:

`require-virtualenv = true`

When I run the pip command within conda-based virtualenv, I will meet the following:

[code]

So, I must run it like this in conda environment:

` $ pip install six --isolated`

I also want to use some other useful options in the pip.conf in this case, say, the following:

[code]
But the --isolated option will ig

[2020-03-26 01:37] dstufft commented on #5204
FWIW, in my head I always figured we'd simplify our special cases as part of deprecating and ultimately killing the non PEP 517 support.

[2020-03-26 07:30] sbidoul commented on #7896
@uranusjr PEP 610 does have an effect on this issue, albeit indirect.

Actually, providing a VCS url to `-e` must be seen as a shortcut for `git clone project && pip install -e ./project`. That's the way pip works today and I assume it will stay this way.

For editable installs, PEP 610 says the *local project directory* must be recorded in `direct_url.json` (the `editable` flag is in the `dir_inf

[2020-03-26 08:03] pfmoore commented on #7902
Conda environments don't follow the protocols that virtualenv/venv do (setting `sys.prefix` to the virtualenv and `sys.base_prefix` to the prefix of the underlying system installation). It's quite possible conda has reasons for not following this protocol, but you'd have to raise that question with them.

Ideally conda would follow the standard protocol - which would mean a change request to conda

[2020-03-26 11:31] uranusjr commented on #7902
Regardless of how Conda environments are treated in pip, I think the more general problem is that there is no easy way to *disable* `require-virtualenv` (and to a slightly lesser extent `PIP_REQUIRE_VIRTUALENV`) if you set it globally. I set the environment variable and it has saved me numerious times, but still is very tedious to deal with occasionally when I really do want to run the system pip

[2020-03-26 12:24] pfmoore commented on #7902
Agreed. Switching to an option parser that supported `-no-XXX` flags less painfully than our current one does would *also* be extremely helpful 🙁

[2020-03-26 12:30] hongyi-zhao commented on #7902
@uranusjr For my case, enen using the suggested option --no-require-virtualenv, I must ensure the pip is the one belong to the conda environment instead of the system's one if I'm issuing the command from within a conda-based environmet.

[2020-03-26 15:28] stefanoborini commented on #5378
Anything that uses HTTP is, in the end, a browser.

Because your proxy may depend on the index url. For example, I have to use different proxies depending on which URLs I am connecting to. The browser generally handles this through a proxy.pac, that computes dynamically the proxy depending on the URL, but neither pip nor using http_proxy does that.

[2020-03-26 17:59] McSinyx commented on #7815
Unless I miss something (which is likely), I don't think the PyYAML wheel should be logged with *Processing* at all, i.e. it cannot appear as a (local) file to the preparer.  However, there is some sort of black magic happening behind the scene that caused a cached wheel to be seen as a file, and I'm not sure how that only happens to that particular wheel.

[2020-03-26 18:17] xkortex opened #7906 "`'extras_require' must be a dictionary` when using git+ link"
**Environment1**
virtualenv

* pip version: 20.0.2
* Python version: 3.5.2, Python
* Linux my-docker-container 4.4.0-174-generic #204-Ubuntu SMP Wed Jan 29 06:41:01 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux (nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04)

**Environment2**
Anaconda virtualenv
* pip version: 19.1.1
* Python version: 3.6.4
* Linux my-hostname 4.4.0-174-generic #204-Ubuntu SMP Wed Jan 29 06:

[2020-03-26 18:57] uranusjr commented on #7900
The `__eq__` issue has been fixed in upstream. We will be able to close this when we upgrade to the next (not yet released) packaging version.

[2020-03-26 19:01] pradyunsg commented on #7900
@uranusjr is faster than me. 🙃

[2020-03-26 19:30] ssurbhi560 commented on #7356
Hey @pradyunsg  ! I was trying to go through this issue but there is no much discussion over this, so I am having quite trouble in understanding this. Can you please give some context about the problem or any plausible solution that you might have. That'd be a great help. :)

[2020-03-26 21:39] pradyunsg commented on #5378
Is there prior art for other package managers to have a `--no-proxy` option? That would be a fairly strong indicator. :)

[2020-03-26 23:57] hongyi-zhao commented on #7902
See the conda developer's reply [there](https://github.com/conda/conda/issues/9788#issuecomment-604599393).

[2020-03-27 04:25] McSinyx commented on #7906
The error is raised while parsing `setup.py`, i.e. `setuptools` doesn't seem to support VCS links as `extras_require`.  I am not sure whether any other build system support this (yet) though.

[2020-03-27 06:05] uranusjr commented on #7906
The error is raised here: https://github.com/pypa/setuptools/blob/8bbdc6000f53be32305287edb9bae5725adc7ca5/setuptools/dist.py#L246-L255

I’m marking this as “wrong project” since there is really nothing pip can do to this error. It should be raised against [pypa/setuptools](https://github.com/pypa/setuptools) instead. I don’t think they will support this kind of URL, but the message can probably b

[2020-03-27 08:23] pfmoore commented on #7902
OK, cool. So it looks like we have to consider conda environments as the same as system Python installations, by design of conda. And indeed, that's what we do, so to that extent everything is working as expected.

This does mean that an option like `--require-virtualenv`, which says "don't allow using pip to manage a system Python installation" isn't appropriate when conda environments are in use

[2020-03-27 09:07] onlinejudge95 commented on #6608
@AishTron7 are you currently working on this? Else I would like to pick it up.

[2020-03-27 10:07] sbidoul commented on #7815
Probably because PyYAML has no wheel for linux on PyPI and that cached wheel is the result of a local build.

[2020-03-27 11:23] #5979 closed

[2020-03-27 12:22] amshashank commented on #5599
`python -m pip` this takes me to pip help!, Does pip invoking is known this ?

[2020-03-27 12:25] amshashank commented on #5599
![image](https://user-images.githubusercontent.com/52634856/77755707-ce106980-7053-11ea-94b1-af1051efe399.png)
![image](https://user-images.githubusercontent.com/52634856/77755849-20ea2100-7054-11ea-81d2-7f0b17721332.png)

[2020-03-27 13:13] Curt-H commented on #6264
it works for me

[2020-03-27 14:32] jikamens opened #7909 "TypeError: '>' not supported between instances of 'Version' and 'Version'"
**Environment**

* pip version: 20.0.2
* Python version: 3.8.2
* OS: Ubuntu 20.04, inside a virtualenv

**Description**
Bug 5429 claims that this is fixed, but I have pip 20.0.2 and setuptools 45.2.0 and I'm still seeing it:

[code]

**Expected behavior**

A list of outdated pip packages.

**How to Reproduce**

`pip list --outdated`

**Output**

See above.

[2020-03-27 15:58] prabhakarank7 commented on #5599
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied: youtube-dl in c:\users\dell\appdata\local\programs\python\python38-32\lib\site-packag

[2020-03-27 16:00] prabhakarank7 opened #7911 "pip install yo youtube-dl issue"
Get the below error:

PS D:\> cd youtube_dl
PS D:\youtube_dl> pip install youtube-dl
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied:

[2020-03-27 17:07] uranusjr commented on #7911
Hi, did you check #5599 for advices as recommended in the message? What is the issue you’re facing?

[2020-03-27 17:12] sbidoul commented on #7909
@jikamens thanks for reporting. Are you able to provide more precise instructions to reproduce? For instance a minimal list of packages to install in a virtualenv to surface the problem would be helpful.

[2020-03-27 17:16] uranusjr commented on #7909
This looks very much like #5429, but that should be fixed in 20.1. It is mentioned in the issue the problem is with how `pkg_resources` imports packages. I wonder if there’s some vendoring issue causing it to surface again.

[2020-03-27 17:26] jikamens commented on #7909
[code]

[2020-03-27 17:43] sbidoul commented on #7909
I just tried this procedure on ubuntu 18.04 and it works fine. Could it be related to your ubuntu 20.04 version somehow?

[2020-03-27 18:22] jolespin opened #7912 "pip wants to remove site-packages"
**Environment**

* pip version:
`pip 20.0.2 from /Users/mu/anaconda3/envs/py3_env/lib/python3.7/site-packages/pip (python 3.7)`
* Python version:
`python 3.7`
* OS:
[code]

**Description**
I've had an issue with this in the past.  I try to uninstall a package and pip wants to remove the entire site-packages directory
**Expected behavior**
To only remove the query package
**How to Reproduce**
The p

[2020-03-27 18:56] jikamens commented on #7909
I don't think that's it. I build Python 3.8.2 from source and installed it and used that version of Python in a new virtualenv and encountered the same problem.

I put in a breakpoint where the error is occurring and observed this, which is surely relevant:

[code]

[2020-03-27 20:01] uranusjr commented on #7909
That’s bery weird, pip in a virtual environment should not use either `pkg_resources.extern.packging` nor `packaging`, but `pip._vendor.packaging`. What is your virtualenv installation? The problem could be it’s installing a wrong pip (not sure how that’d happen, but the pip *is* installed wrong).

[2020-03-27 20:29] jikamens commented on #7909
OK, I uninstalled pip from the virtualenv and then reinstalled it with get-pip.py, and the problem went away.

Ubuntu 20.04 has version the current version of virtualenvwrapper, 4.8.4, and version 20.0.13 of virtualenv. It looks like there's a slightly newer version of virtualenv, so I guess I could try to figure out how to test that to see if it resolves the issue, though I'm not sure how exactly

[2020-03-27 20:45] jikamens commented on #7909
OK, figured out how to upgrade to virtualenv 2.0.15, created a new virtualenv with it, same problem.  I reproduced it when creating the virtualenv directly with virtualenv rather than mkvirtualenv, so I suppose I will file an Ubuntu bug report against virtualenv.

[2020-03-27 20:51] jikamens commented on #7909
Filed as https://bugs.launchpad.net/ubuntu/+source/python-virtualenv/+bug/1869431 .

[2020-03-27 20:56] xkortex commented on #7906
Moved to https://github.com/pypa/setuptools/issues/2048

[2020-03-27 20:56] #7906 closed

[2020-03-27 21:02] MichaelSaah opened #7914 "pip doesn't pass cert down to subprocess call to `install` when building wheels"
**Environment**

* pip version: 20.0.2
* Python version: 3.7.6
* OS: Debian Stretch (python:3.7.6-slim-stretch docker image)

**Description**
We build wheels for our app like so:
`pip wheel -r /etc/company/requirements.txt --index-url=https://$USERNAME:$PASSWORD@company-internal-respository.com/path/to/repo --cert=/path/to/cert.pem`

Normally this works fine. Today when attempting to upgrade a dep

[2020-03-27 23:45] ntextreme3 commented on #7579
Linking https://github.com/pypa/pip/issues/4969 which I saw first but is closed (for the next person who finds their way there). I also feel current behavior is confusing.

[2020-03-28 05:08] uranusjr commented on #7909
Thanks @jikamens! Hopefully Ubuntu devs could have better insights to this problem. Fingers crossed.

[2020-03-28 05:09] uranusjr commented on #4969
Cross-linking #7579 where this was broght up again.

[2020-03-28 05:53] cpagravel opened #7915 "Pip is defaulting to VCS when installing local editable directory"
**Environment**

* pip version: 20.0.2
* Python version: 3.7.5
* OS: Linux

My CWD is inside a git repo which contains a package. I want to install this locally so I can develop the package and test it.

**Description**
I run the command:
`pip install -e .` when in the package directory.

When I do this, pip freeze shows that pip is using VCS to link to the package in the repository. My changes wo

[2020-03-28 06:08] cpagravel commented on #7915
The error was with my environment, not with pip. I was confused by seeing the VCS link, because I expected the link to be to my project directory. I find that a bit unintuitive. Anyway, this ticket is no longer relevant.

[2020-03-28 06:08] #7915 closed

[2020-03-28 06:35] deveshks commented on #7764
Hi @pradyunsg

Can I take up this PR? Also what is the fix you are looking for the PR here? Is the aim to remove all `#type: ignore` comments and fix the lines of code where it was present one by one?

[2020-03-28 08:08] deveshks commented on #7804
Hi @uranusjr ,

Can I take up this issue and create a PR for the same?

[2020-03-28 08:39] deveshks commented on #7008
Hi @chrahunt

I think we can change the current text which says

`If you want to process the output further, use one of the other APIs in the module:`

to

`If you want to process the output further, use one of the other APIs in the module.
We are using https://pip.pypa.io/en/latest/reference/pip_freeze/ here which outputs installed packages in requirements format.`

If that change is something wh

[2020-03-28 10:16] pfmoore commented on #7008
That sounds like a reasonable clarification to add.

[2020-03-28 11:02] uranusjr commented on #7804
@deveshks Go ahead! Your examples look very nice to me 😄

[2020-03-28 11:05] gutsytechster commented on #7893
We can rename `script.site_packages_path` to `script.test_site_packages`(which I can think of now). So, can I say that renaming either of them to something suitable, would resolve this issue?

Of course, there could be better renaming options that I suggested.

[2020-03-28 11:21] deveshks commented on #7008
Thanks @pfmoore for your comment. I have added a PR to add this explanation

[2020-03-28 11:51] #7008 closed

[2020-03-28 12:07] deveshks commented on #7804
Thanks @uranusjr . I have created the PR for the same. Please take a look

[2020-03-28 12:17] uranusjr commented on #7915
Also see #7896

[2020-03-28 12:53] sbidoul commented on #7815
I think this issue is a bit deeper than simply changing the file name displayed. @McSinyx has a point here.

Looking at the code where `Processing...` is logged:

https://github.com/pypa/pip/blob/4381493c528973dee4ccc49b2c1b7442b4b410cb/src/pip/_internal/operations/prepare.py#L375-L382

We see that it tests if req.link.scheme is a file. When the original link was a direct url, link may point to a

[2020-03-28 13:09] gutsytechster commented on #7875
@pradyunsg This issue can be closed now IMO. :)

[2020-03-28 13:35] #7803 closed

[2020-03-28 13:36] xavfernandez commented on #7804
Closed by #7918

[2020-03-28 13:36] #7804 closed

[2020-03-28 13:37] McSinyx commented on #7815
Since the info is to notice users on what's being carried out, does it make sense to separate the two cases where
1. The wheel is downloaded and cached
2. The wheel is build from source distribution, then cached

[2020-03-28 14:30] deveshks commented on #7893
I think we can say `script.site_packages` -> `script.venv_site_packages` as well, apart from your suggestion.

[2020-03-28 14:36] #7875 closed

[2020-03-28 14:38] uranusjr commented on #7815
It does make sense, but the current code base does not make the distinction. It will be some significant refactoring to achieve this 😞

[2020-03-28 14:49] McSinyx commented on #7815
Is it a welcoming change?  I mean not just to solve this particular issue but to improve the codebase in general.  To handle GH-825 I may touch many things done before/during dependency resolution.

[2020-03-28 15:00] mtlberri commented on #7875
Yes agreed

On Sat., Mar. 28, 2020, 10:37 a.m. Tzu-ping Chung, <notifications@github.com>
wrote:

[2020-03-28 16:48] uranusjr commented on #7815
Code base improvement is definitely welcomed. I would suggest filing the refactorings as a separate PR from the actual feature, so the feature does not unnecessarily block the refactoring.

[2020-03-28 18:30] deveshks commented on #7449
Hi @pradyunsg

I found that the commit https://github.com/pypa/pip/commit/8dc6919875271c1cecc07701c6dc0411e67e0258 by @chrahunt should now handle this scenario, where the operating system is explicitly checked as being windows.

[2020-03-28 18:30] malanb5 opened #7919 "unable to import module after installing from pip"
**Environment**

* pip version: 20.0.2
* Python version: 3.7.6
* OS: MacOS 10.15.4
* Anaconda: 4.8.3

**Description**
After installing a package via pip, I am not able to import it in the interpreter.

**Expected behavior**
I expect to be able to import the package once installed by pip.

**How to Reproduce**
[code]

**Output**
[code]

[2020-03-28 18:33] malanb5 commented on #7919
I did notice that pip is installing the module to: /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages
Whereas, my version of python is 3.7.6.  Could this be the issue?

[2020-03-28 18:38] deveshks commented on #6758
Hi @chrahunt and @pradyunsg ,

I saw that there was a PR for this issue made https://github.com/pypa/pip/pull/6975 where the review comments were not followed up. Is it possible that I make a new PR based on the code from that PR and addressing the PR comments?

[2020-03-28 18:44] malanb5 commented on #7919
Instead of installing the package through pip installed it through conda forge and then was able to import it.  This issue should really belong to the Anaconda community.

[code]

[2020-03-28 18:44] #7919 closed

[2020-03-28 18:46] stefanoborini commented on #5378
$ wget --help | grep proxy
       --no-proxy                  explicitly turn off proxy
       --proxy-user=USER           set USER as proxy username
       --proxy-password=PASS       set PASS as proxy password

[2020-03-28 18:50] malanb5 commented on #7919
This was helpful for me in understanding the difference between pip and conda.

https://www.anaconda.com/understanding-conda-and-pip/

[2020-03-28 19:25] pradyunsg opened #7920 "Rename new resolver unit tests to include "new_resolver" in the name"
@pfmoore Here's an issue for you to close with that PR. :)

[2020-03-28 19:44] pradyunsg commented on #7764
Yea, basically. :)

[2020-03-28 20:21] smaeul opened #7921 "Tests test_str_to_display and test_path_to_display are not endian-safe"
**Environment**

* pip version: 19.3.1
* Python version: Python 3.6.10
* OS: Gentoo/Linux musl ppc64

**Description**

These two tests encode strings as `utf-16`, and compare the result against a hardcoded bytestring. However, `utf-16` means something different depending on the system endianness. The tests should accept either byte ordering, or explicitly use `utf-16le` (though this will remove th

[2020-03-28 20:25] qwhelan opened #7922 "pip install --user fails on OSX-provided Py37 with PEP 517/518 source builds"
**Environment**

* pip version: 20.0.2
* Python version: 3.7 (system provided)
* OS: Mac OSX 10.15

**Description**
Building a PEP 517/518 package from source with the `--user` flag fails due to attempting to install packages in a system location. Error message suggests passing `--user` flag despite it already being passed:
[code]

**Expected behavior**
PEP 517/518 packages should be possible to b

[2020-03-28 20:33] uranusjr commented on #6758
@deveshks Go ahead! You can start by [fetching the pull request locally](https://stackoverflow.com/questions/6743514) to save some work.

[2020-03-28 20:34] uranusjr commented on #7449
Thanks @deveshks!

[2020-03-28 20:34] #7449 closed

[2020-03-28 21:08] uranusjr opened #7923 "`create_basic_wheel_for_package` emits superfulous empty line for dependency-less package"
https://github.com/pypa/pip/blob/720c77aa387a9a2d103fa065bd3a98904c90a7ec/tests/lib/__init__.py#L1005-L1018

If `requires_dist` is empty, this creates an extra empty line after the `Platform:` header field. This means that everything after it would become the body (i.e. detail description), not metadata fields.

I was bit by this when trying to add a `Requires-Python:` field, but struggling to get

[2020-03-28 21:13] uranusjr commented on #7922
Could you try the command with `--verbose`? pip’s PEP 517 implementation should not install packages to global Python locations at all (because build isolation), and I suspect there is something more involved.

[2020-03-28 21:15] davidag commented on #7874
I've also come across this problem in **Debian** testing/bullseye trying to install [Pelican](https://github.com/getpelican/pelican) _inside a virtual environment_.

    $ git clone https://github.com/getpelican/pelican.git
    $ cd pelican ; python3 -m venv venv ; source venv/bin/activate
    (venv) $ pip install -e .
    Obtaining file:///home/david/projects/pelican
    Installing build dependen

[2020-03-28 23:51] qwhelan commented on #7922
Sure:

[code]

Given the `easy_install` errors, I checked a couple additional things:
[code]
And checking the system location that failed:
[code]

[2020-03-29 00:33] jaraco commented on #7831
In the referenced vendoring issue, I learned that it's not just system packagers that want to build from source but also packages that wish to verify licenses.

[2020-03-29 00:45] jaraco opened #7924 "Test suite fails collection due to svn check"
**Environment**

* pip version: 720c77aa
* Python version: 3.8.1
* OS: macOS Catalina 10.15.4

**Description**

This week, I upgraded to macOS 10.15.4. Now, when I run `svn --version`, I see this error:

[code]

When I run the pip test suite, I see similar errors during test discovery, which causes the whole test suite not to run.

**Expected behavior**

Tests for svn really shouldn't block tests.

[2020-03-29 00:47] jaraco commented on #7924
I also updated XCode to 11.4 this week, so it may be that update and not macOS update that's implicated.

[2020-03-29 00:49] jaraco commented on #7924
[Release notes for XCode 11](https://developer.apple.com/documentation/xcode_release_notes/xcode_11_release_notes) say:

[2020-03-29 01:04] jaraco commented on #7924
Seems [others are confused too](https://stackoverflow.com/questions/60869347/mac-command-line-tools-11-4-no-longer-has-svn).

[2020-03-29 02:12] NiklasRosenstein opened #7926 "extras in install_requires are not installed under certain conditions"
**Environment**

* pip version:  18.1
* Python version: 3.7
* OS: Ubuntu 19

**Description**

Under certain conditions, extras for a package listed in `install_requires` are not installed when installing a package via Pip, yet they are recognized as a requirement.

**How to Reproduce**

The case in which I encounter this issue is with two packages `cube-client` and `cube-cli`, where the latter dep

[2020-03-29 03:57] cjc7373 commented on #3191
Based on the views above, I think what we need to do is to emphasize the existence of colons and provide some examples.
I'll make a PR later.

[2020-03-29 04:51] McSinyx commented on #7831
Coming from ActiveState/appdirs#141,

How about letting `setuptools` and `wheel` be hard runtime dependencies?  Just like we don't build `pip` when we want to use `pip` to build other wheels, then by the same logic, other build tools should not be built during the build process of other packages.

[2020-03-29 05:01] ujinyoung commented on #7763
Sorry I’m late,
Now, ‘pip freeze’ is

[2020-03-29 05:11] ujinyoung commented on #7763
Now, ‘pip freeze’ works properly and not warning and virtualenv or -irtualenv are not included in ‘pip list’

But ‘ls -l /usr/local/lib/python3.7/site-packages’
The output contains
‘~irtualenv-20.0.4.dist-info’, not virtualenv

[2020-03-29 06:37] deveshks commented on #7402
Hi @pradyunsg , @chrahunt ,

I have raised a PR for the same. Please have a look :)

[2020-03-29 08:32] uranusjr commented on #7924
The test suite already has functionality to skip Mercurial tests if it’s not available. We probably need to do the same (or improve it) for this.

[2020-03-29 08:43] uranusjr commented on #7831
I think the whole idea of build isolation is to ultimately *remove* `setuptools` and `wheel` from needing to present in the runtime environment, because we can pull it if needed in the isolated build environment instead.

[2020-03-29 08:46] uranusjr commented on #7763
You will need to delete the (corrupted) `~irtualenv-20.0.4.dist-info` manually, unfortunately. pip cannot delete things it does not recognise, since it can’t be sure if the users put it there themselves intentionally.

[2020-03-29 08:46] #7763 closed

[2020-03-29 08:55] deveshks commented on #5740
Hi @pradyunsg , @sbidoul

I do see that as per

https://github.com/pypa/pip/blob/720c77aa387a9a2d103fa065bd3a98904c90a7ec/src/pip/_internal/commands/wheel.py#L182-L189 and https://github.com/pypa/pip/issues/5740#issuecomment-550003327

The `wheel` command now fails with

[code]

So are we looking for a better error message than this? If yes, what details would such an error message cover?

[2020-03-29 09:09] gutsytechster commented on #7893
Yes, that can also be used. But to me, when someone says `site_packages` wrt `python`, it means the path to `site_package` of venv python or system-level python(when no venv is being used).

[2020-03-29 09:10] McSinyx commented on #7699
@siAyush, may I pick this up?

[2020-03-29 09:12] siAyush commented on #7699
Sure

[2020-03-29 09:42] sath-k commented on #7424
Hi,
I am exploring python recently for database testing. I have come across the same issue what @rayandas has mentioned, while installing pyodbc & pandas. Infect getting the same error for all the packages while installing as below.
C:\Users\SatKumar\AppData\Local\Programs\Python\Python38\Scripts>pip install pandas as pd
Collecting pandas
  WARNING: Retrying (Retry(total=4, connect=None, read=None

[2020-03-29 09:43] gutsytechster commented on #7924
The test suite also does the same for svn tests. Could this be happening because it only catches [`OSError`](https://github.com/pypa/pip/blob/master/tests/lib/__init__.py#L1082)? And from the traceback given in the issue, it seems that it throws a `subprocess.CalledProcessError`.

If yes, then, should catching this exception would resolve the issue?

[2020-03-29 09:49] gutsytechster commented on #7923
Should the fields be added after `{requires_dist}`? If they can be mentioned before `{requires_dist}`, it won't be a problem if it is empty or not.

[2020-03-29 09:50] uranusjr commented on #7922
Do you happen to have [`pydistutils.cfg`](https://docs.python.org/2.5/inst/config-syntax.html) somewhere in your system that sets `install_lib`?

From what I can gather from tracing the code, the problem is that PEP 517 setup tries to do `pip install --prefix=<some tmp dir>`, but for an unknown reason `pip._internal.locations.get_scheme()` point it to use `/Library/Python/3.7/site-packages` for `p

[2020-03-29 09:51] uranusjr commented on #7922
Either way, I’m marking this as a bug. If the distutils config is truely the cause, the PEP 517 implementation would need to be amended to ignore it.

[2020-03-29 09:53] uranusjr commented on #7923
Sure it can, but then the problem becomes `{requires_dist}` being ignored if that field is empty.

[2020-03-29 09:54] uranusjr commented on #7924
@gutsytechster Yes, that sounds right to me.

[2020-03-29 09:55] uranusjr commented on #7893
Is `test_venv_site_packages` too verbose? 😆

[2020-03-29 09:56] gutsytechster commented on #7923
Won't that field be always present like `Requires-Python: UNKNOWN`, like other fields above `{requires_dist}`?

[2020-03-29 09:57] gutsytechster commented on #7924
Great! I'd like to open a PR for it then. :)

[2020-03-29 10:17] sbidoul commented on #7815
@uranusjr would it make sense to first move the cache check from `populate_link` to `prepare_linked_requirement`? That would make it easier to do meaningful logging in `prepare_linked_requirement`. Relatedly, it seems `populate_link` (and thus the cache check) is currently not called in the new resolver code path?

BTW there is a significant refactoring of the cache access in #7612 so I hope we ca

[2020-03-29 10:45] McSinyx commented on #7831
Thank you @uranusjr, I totally missed that point.

[2020-03-29 11:33] uranusjr commented on #7815
Actually I think it should be moved further out (and later), into the installation phase, see #7801. The reason is unrelated to this issue, but would incidentally provide a solution 😉

[2020-03-29 11:40] uranusjr commented on #7923
No, according to the spec, the field should contain a valid version specifier, if present. A package should omit the field if it does not have a Python version requirement.

https://www.python.org/dev/peps/pep-0345/#requires-python

[2020-03-29 12:37] sbidoul commented on #5740
No. To me, the error message is fine in pip 20.
The issue with read-only cache directories has been resolved in pip 20 too (https://github.com/pypa/pip/pull/7489).

So I think we can now close this issue.

[2020-03-29 13:14] deveshks commented on #5740
If that is the case, we can close the issue, although I don't have permission to do that.

[2020-03-29 14:32] gutsytechster commented on #7893
On a side note, I see that `PipTestEnvironment` defines only [`site_packages_path`](https://github.com/pypa/pip/blob/master/tests/lib/__init__.py#L442) and I don't see any `site_packages` definition within it.

What I don't get is how `site_packages` is accessible via `script` fixture?

@uranusjr, I think verbose is better than being in confusion. I am in favour of what you suggested. But which va

[2020-03-29 14:58] chrahunt commented on #7424
Hi @sath-k. Can you please create a new issue and provide the information that I mentioned in [this comment](https://github.com/pypa/pip/issues/7424#issuecomment-562961314) along with the info that is requested in the issue template?

Anyone having similar issues can follow the same advice and we will try to help. Thanks!

[2020-03-29 15:50] chrahunt commented on #7914
Thank you for creating this issue and submitting a fix! It looks like this was confirmed in #5502, which mentions both `--cert` and `--client-cert`, so I will close this and we can consolidate our efforts on that issue.

[2020-03-29 15:50] #7914 closed

[2020-03-29 15:54] chrahunt commented on #5502
Anyone that needs this behavior now should be able to work around it by specifying their cert path in the `PIP_CERT` environment variable or specifying `cert` in one of the pip configuration files.

[2020-03-29 16:20] chrahunt commented on #7923
We should convert `create_basic_wheel_for_package` to use [`make_wheel`](https://github.com/pypa/pip/blob/720c77aa387a9a2d103fa065bd3a98904c90a7ec/tests/lib/wheel.py#L300), which allows specifying desired metadata fields and body separately and then encodes as-expected.

[2020-03-29 16:54] #7924 closed

[2020-03-29 17:20] uranusjr commented on #7923
@chrahunt Sounds like a plan. I’ll find some time to work on it.

[2020-03-29 17:23] chikaku commented on #5599
Just delete the old script wrapper in PATH after upgrade on my macos.

[code]

[2020-03-29 17:34] deveshks commented on #1804
Since the commit: https://github.com/pypa/pip/commit/ec91d8e4210edba3985d7e47ee7e0d5386dea5cf , we have been using `pip._vendor.requests`, which was the suggestion provided by @dstufft in the PR, so I think we can close this issue.

[2020-03-29 17:37] prabhakarank7 commented on #5599
Thank you very much for that :)

On Sun, 29 Mar 2020, 10:54 pm chenbc, <notifications@github.com> wrote:

[2020-03-29 17:43] deveshks commented on #1983
I wanted to take a shot at this PR.

But before that, I wanted to understand what kind of URL does `git:// protocol` refers to ? Is this from one of the URL's mentioned in the [pip install's Git](https://pip.pypa.io/en/stable/reference/pip_install/#git) subsection ?

[2020-03-29 17:54] aoandres opened #7933 "wrapper issue"
**Environment** Ubuntu 20.04 (development)

* pip version:pip3
* Python version:3.8
* OS:Linux

**Description**

sudo pip3 install protonvpn-cli --upgrade
[sudo] password for monah:
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you

[2020-03-29 18:01] #1804 closed

[2020-03-29 18:09] uranusjr commented on #1983
@deveshks It’s [the Git protocol](https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols), which is an ancient (OK this is an exaggeration) standard before “smart HTTP” came about, and was the prevelant choice for read-only remotes (because fetching through HTTP and HTTPS was very slow at the time). To install from it, you’d write something like `pip install git+git://example.com/repo.git`

[2020-03-29 18:11] uranusjr commented on #1983
I think one thing we should do is to change or remove those `git+git://` and `git://` entries in the documentation to avoid the impression that it is a good idea.

[2020-03-29 18:21] uranusjr commented on #7933
Hi, protonvpn-cli does not upgrade since 2.2.2 is the known latest release, and you already have it installed. The script error is not related to your problem in the “expected behavior” section, and as the warning message implies, please check for advices in issue #5599.

[2020-03-29 18:57] SylvainCorlay commented on #7248
@isuruf actually I would like to build a conda package without building an intermediary wheel.

[2020-03-29 19:05] deveshks commented on #1983
Hi @uranusjr ,

I did try `pip install -e git+git://github.com/python/mypy.git` which I assume refers to the Git protocol, and got the error `ERROR: Could not detect requirement name for 'git+git://github.com/python/mypy.git', please specify one with #egg=your_package_name`, so I think that should be enough to ensure failure if the old protocol is used.

BTW, I also tried `pip install -e git://git

[2020-03-29 20:53] deveshks commented on #2037
I think this issue can be closed, since https://github.com/pypa/pip/pull/5723 has already addressed this issue.

[2020-03-29 23:41] sath-k opened #7935 "WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000002221B87F3A0>: Failed to establish a new connection: [Errno 11002] getaddrinfo failed')': /simple/pandas/"
Hi,
I am exploring python recently for database testing. I have come across the same issue what @rayandas has mentioned in #7424, while installing pyodbc & pandas. In fact I'm getting the same error for all the packages while installing as below.

[code]

Python version: 3.8.2
pip version: 19.2.3
As per my friend's advice downloaded and moved pandas-1.0.3-cp36-cp36m-win_amd64.whl & pyodbc-4.0.30-c

[2020-03-30 00:01] chrahunt commented on #7248
@SylvainCorlay, to start, here is my understanding:

1. There are Python packages that exist as wheels and source distributions in PyPI. Python packages are defined according to [PEP 517](https://www.python.org/dev/peps/pep-0517/#source-distributions) (for source distributions) and [PEP 427](https://www.python.org/dev/peps/pep-0427/) for wheels.
1. Conda packages are defined according to [this spe

[2020-03-30 00:09] qwhelan commented on #7922
@uranusjr I'm unfortunately not seeing a `pydistutils.cfg` on my system.

[2020-03-30 00:42] SylvainCorlay commented on #7248
Thanks for your detailed answer @chrahunt. I think we have a good understanding.

This is great to hear!

I actually think that it should be possible to prevent the creation of intermediate wheels. If this is a requirement since PEP 517, I think this is regrettable.

Indeed. One case where I think it is needed is to specify full paths to kernel executables in the Jupyter kernelspec, so that they c

[2020-03-30 03:19] shmily3929 opened #7936 "pip pandas from wheels"
**Environment**

* pip version:20.0.2
* Python version:3.6.8
* OS:ubuntu
* pandas:1.0.1 tar

**Description**

pip 9.0.3 from wheels is ok
pip 20.0.2 from wheels is fail

**How to Reproduce**

1. Get package from '...'
2. Then run '...'
3. An error occurs.

**Output**

[code]

[2020-03-30 04:31] McSinyx commented on #7936
There's no panda in the command, and you're not on AIX.  Could you please elaborate on what you're trying to do?

[2020-03-30 05:41] shmily3929 commented on #7936
pip3 install --no-cache-dir --no-index --find-links wheelhouse/pandas-1.0.1.tar.gz pandas==1.0.1
pip==20.0.2 is error but pip==9.0.3 is success

[2020-03-30 05:47] shmily3929 commented on #7936
@McSinyx I  want pip3 install pandas from wheels
cmd: pip3 install --no-cache-dir --no-index --find-links wheelhouse/pandas-1.0.1.tar.gz pandas==1.0.1
pip==9.0.3 is success but pip3==20.0.3 fail

[2020-03-30 06:16] McSinyx commented on #7936
Your command gives me this:
[code]

Is what you want to install panda from sdist?  Then you can try `pip3 install pandas==1.0.1 --no-binary pandas`.

[2020-03-30 06:30] shmily3929 commented on #7936
@McSinyx i update  "How to Reproduce".
you can't  create pandas tar.

[2020-03-30 07:17] uranusjr commented on #7936
[pip introduced build isolation with PEP 517 in 19.0](https://pip.pypa.io/en/stable/news/#id203), which requires the user to install PEP 517 requirements (listed in pyproject.toml) at runtime. You will need to also include those packages alongside with with source package itself in your `--find-links` to make it work.

[For Pandas 1.0.1, you need `setuptools`, `wheel`, and `Cython>=0.29.13`.](http

[2020-03-30 07:37] uranusjr commented on #2037
Thanks @deveshks!

[2020-03-30 07:37] #2037 closed

[2020-03-30 08:12] uranusjr commented on #1983
I don’t think it’s a good idea to raise an exception. It is a perfectly valid URL, and pip should keep it working. The most pip should do is to emit a *warning* message, althought that is still unnecessary IMO.

[2020-03-30 08:23] uranusjr commented on #7893
There’s a `setattr()` in `PipTestEnvironment.__init__()` that sets `site_packages` from `site_packages_path`. Judging from the implementation, it and a bunch other attributes are simply a relative path equivalent of their `*_path` counterparts.

I think the issue here is probably that we should name those better instead, e.g. `site_packages_path` to `site_packages_abspath`, and `site_packages` to

[2020-03-30 08:26] shmily3929 commented on #7936
@uranusjr Error start at 10.0.0

[2020-03-30 08:44] deveshks commented on #1983
Sure @uranusjr , I think that makes more sense.

So do I create a PR to just remove the URL's from the documentation, or do I also emit a warning message as well?

[2020-03-30 09:39] antoinechoffrut opened #7937 "`pip --version` prints `ImageMagick` man page (twice) and `import: delegate library support not built-in '' (X11) @ error/import.c/ImportImageCommand/1282. from: can't read /var/mail/pip._internal`"
**Environment**

* pip version: 19.2.3
* Python version: 3.8.2
* OS: Mac OS Catalina 10.15.3
* Python version manager: `pyenv`

Remark.
I have had sudden issues with `pip`, for no reason that I can identify I started having kernel errors in `Jupiter notebook`s while working on them.  Other errors (which occurred in different `python` versions in `pyenv`, presumably with different versions of `pip`

[2020-03-30 10:13] uranusjr commented on #1983
@deveshks Let’s do them in two PRs. The documentation one should be straightforward, and discussion on the warning’s wording could delay it unnecessarily.

[2020-03-30 10:28] deveshks commented on #1983
Thanks @uranusjr , have create the first PR for the doc. As for the warning, I think it can be something like

"WARNING. You are using <url> which is based on Git protocol, which is unauthenticated. We suggest you to use other appropriate vcs urls as per the pip install docs"

[2020-03-30 10:57] #7854 closed

[2020-03-30 14:09] NoahGorny commented on #7863
@uranusjr I tried to fiddle with pip a bit, and saw that when downloading `numpy` for example with `--no-bin`, we get:
[code]

Seems to me like we install build deps and build wheel requirements even though we should instead download them, and not install them, or am I just missing something...
I am probably just a noob with all the resolving and reqs code but maybe you could explain to me why ins

[2020-03-30 14:57] #3191 closed

[2020-03-30 15:11] xavfernandez commented on #7937
This is likely due to your system and has nothing to do with pip.

You'd first need to identify the python interpreter linked to your pip script: it is the one that will also print the ImageMagick man page when you launch `/path/to/your/python -m pip`.

Then I'd recommend to read https://docs.python.org/3/library/site.html to understand the various way you can make the interpreter execute code at

[2020-03-30 15:52] maths-qureshi commented on #5378
On windows you can also use the following commands to set the proxy to nothing and then use pip without issues:
set https_proxy=
set http_proxy=

Execute the above two commands. It works for me that way.

[2020-03-30 16:12] #7856 closed

[2020-03-30 16:59] justinmayer commented on #7901
Yay! Thanks, @pradyunsg. Nearly three years ago I commented on a related issue (still open) that has a very similar motive: https://github.com/pypa/pip/issues/2429

[2020-03-30 17:07] gutsytechster commented on #7935
It seems a network issue to me. Can you try after re-connecting to your internet connection?

[2020-03-30 17:10] kubco2 opened #7939 "pip --target broken if platlib and purelib do not point to same path"
**Environment**
Fedora 30
Red Hat Enterprise Linux 7.7 with scl python 3.6
virtualenv+pip 20.0.2

* pip version: 20.0.2
* Python version: 3.7.6
* OS: Fedora 30

**Description**
If the platlib and purelib paths from schema are not same, but one is link of another, pip will treat this condition for package as already installed package and without --upgrade it install only one package, and with --upg

[2020-03-30 19:33] jiahao42 opened #7940 "Permission error with `pip install -e`"
* pip version: 20.0.2
* Python version:3.6.10
* Operating system: OpenSUSE Leap 15.1

Hi all,

I am trying to use `pip install -e` to install package in `virtualenv`, however, it always gives the following errors:

[code]

I added `sudo` to make it `pip3 install -e mulpyplexer`, and it works fine. But I think I should be able to install it without `sudo` in `virtualenv`, any thoughts of how to do

[2020-03-30 19:56] jiahao42 commented on #7940
Sorry, it's a silly error.

The root cause is that `/home/jiahao/code/angr-dev/angr-dev/mulpyplexer` is owned by `root`, use `chown -R` to fix the error.

[2020-03-30 19:56] #7940 closed

[2020-03-30 21:10] callegar commented on #6256
Looks like the problem is that most of the time the lines coming before this generic pip error do not include any hint at all to identify where the error is.
For instance `pip install --force-reinstall --no-binary :all: numpy` fails to create a wheel, but there is no single useful error line to try to understand what could have gone wrong.

[2020-03-30 21:48] callegar commented on #6256
The problem is not really with that message. The problem is that what is provided before that message is most of the time totally irrelevant.

For instance, if on my system I try `pip install --force-reinstall --no-binary :all: numpy`, then that fails with the infamous `ERROR: Could not build wheels for numpy which use PEP 517 and cannot be installed directly`. Before that, I see that the install

[2020-03-30 22:10] Julian commented on #6256
My experience is that what's before it generally *is* relevant, and is what needs looking at, though is certainly cryptic and error specific -- but that those are facts more relevant to the state of compilers than of anything Python related. What you get is the huge dump of errors coming from a C compiler or worse, and yeah, reading them is not easy.

Given the opposite experience though perhaps w

[2020-03-31 07:48] deveshks opened #7944 "A sub paragraph in pip install docs in not rendering correctly"
The section of docs in [VCS support](https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support) section of `pip install` starting from `So if your repository layout is:` is not being rendered correctly.

There are extra line breaks the bullet points, and the last sentence has too much spacing between words.

![image](https://user-images.githubusercontent.com/13155849/78000503-0238a280-7352-

[2020-03-31 07:52] uranusjr commented on #7944
This is kind of rendering “correctly” technically, just not very pretty. I wonder if it would help to insert a [`<wbr>`](https://html.spec.whatwg.org/#the-wbr-element) or something before the inline code block.

[2020-03-31 08:21] McSinyx commented on #7944
The formatting of the bullet list is actually ill-formed: e2c9a0f7431f050881f792ca67daa668adfef5e9

A better one could be either
[code]
or
[code]

I can't reproduce the last line spacing issue though, maybe it's a browser-specific thing?  I use Firefox BTW.

[2020-03-31 09:11] uranusjr commented on #7944
It’s probably a good idea to convert the list into a code block (similar to the `tree` command output). [The packaging tutorial](https://packaging.python.org/tutorials/packaging-projects/) also does something similar.

[2020-03-31 10:57] McSinyx commented on #7829
I'm not sure if it's time but this basically propose a dirty patch for the same issue as GH-4575.

[2020-03-31 11:34] sath-k commented on #7935
Thank you @gutsytechster . Yeah, i connected in VPN. When i disconnected from VPN and installed these packages. It worked.

[2020-03-31 11:34] #7935 closed

[2020-03-31 11:51] lazka opened #7946 "pip install fails with .../python3: can't find '__main__' module in '.../pep517/_in_process.py"
**Environment**

* pip version: 20.0.2
* Python version: 3.8.2
* OS: Ubuntu 20.04 and Debian testing/sid

**Description**

Sometime during the last week or two installing pygobject with pip has started to fail with (full log at the bottom):

[code]

This is before any of my setup.py code is executed so I don't know what is going on.

The only workaround I found so far is removing the "pyproject.to

[2020-03-31 12:03] lazka commented on #7946
I've created a minimal reproducer: https://github.com/lazka/pip-pyproject-bug

Just a basic pyproject.toml fails. I wonder why I'm the first to hit this, hm.

[2020-03-31 12:07] lazka commented on #7946
Another data point: This doesn't fail on Arch Linux with the same pip/python, so might be a Debian only issue.

[2020-03-31 12:17] lazka commented on #7946
Turns out forcing a pip install with "--force-reinstall" in the venv makes things work, so this is a broken pip in Debian which was also pulled into Ubuntu. I'll report this to Debian instead.

[2020-03-31 12:17] #7946 closed

[2020-03-31 12:18] uranusjr commented on #7946
Looks similar to #7874 (see sqlalchemy/sqlalchemy#5207). This is indeed a Debian issue, they patch parts of the Python standard distribution that makes PEP 517 fail. Please definitely report this to Debian; they are in the best position to fix this.

In the mean time, there are workarounds in the linked issues to avoid force-reinstall pip.

[2020-03-31 12:35] lazka commented on #7946
I've reported it to Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=955414

[2020-03-31 13:04] #7920 closed

[2020-03-31 16:07] reuben commented on #5780
`pip install --upgrade .` does not work. The only thing I found which does work is `pip install --upgrade --force-reinstall .`.

[2020-03-31 18:58] pradyunsg commented on #7874
Looks like this is resolved! Closing!

[2020-03-31 18:58] #7874 closed

[2020-03-31 19:52] uranusjr commented on #7874
For additional information, this has been filed as a Debian bug since it is present on Debian-supplied pip only (as mentioned in #9746). To follow up this bug, see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=954256

[2020-03-31 20:37] Parktaeryang opened #7949 "Mlagents-learn, cannot see Unity logo and ERROR Traceback warning please help me"
**MLAGENTS**(anaconda3)

* pip version: pip 20.0.2 from C:\Users\username\anaconda3\envs\ml-agents\lib\site-packages\pip (python 3.6)
* Python version:3.6.7
* OS: window

protobuf,anaconda3,nuget,python3 etc.

**Description**

**Expected behavior**

**How to Reproduce**

**Output**

[code]

[2020-04-01 01:08] benoit-pierre commented on #988
I just tried the new resolver to see if it worked better on a case that does not work with pip's default one and the first thing it did for resolving the dependency of the top level requirement is try to fetch and run `setup.py egg_info` for `setuptools-0.7.2.tar.gz`... That's on Python 3.6, not good...

Anyway, here is a yaml test for my initial issue:
[code]
The 3 first steps are just to setup t

[2020-04-01 01:55] stefansjs commented on #5898
So it's been mentioned that you should just run your own index server if you need a dependency URL. That's fine and dandy, except I literally can't get pip to look in my index server if I specify a dependency from it in setup.py. Can somebody explain how you're supposed to specify an index server in setup.py without dependency_links, and without pip respecting my environment while building a wheel

[2020-04-01 02:14] McSinyx commented on #7949
What were you trying to do?  And could you please reformat the traceback for the ease of readability?

[2020-04-01 04:14] #7816 closed

[2020-04-01 06:32] rseuchter commented on #6131
I just ran into this after using pip behind a corporate Artifactory acting as a proxy and was able to analyse it a bit better.

Interestingly, `pip search` uses `--index` to [specify a custom index](https://pip.pypa.io/en/stable/reference/pip_search/#cmdoption-i) whereas `pip install` [uses](https://pip.pypa.io/en/stable/reference/pip_install/#cmdoption-index-url) `--index-url`.

This in turn mean

[2020-04-01 06:38] McSinyx commented on #7949
Please tell us which command lead to such error @Parktaeryang.

[2020-04-01 06:40] uranusjr commented on #6131
IMO it’d be worthwhile to rename `pip search --index` to match other commands. @rseuchter would you mind opening a separate issue to discuss this?

[2020-04-01 06:44] rseuchter commented on #6131
Yeah, later when I find the time.

[2020-04-01 06:50] Parktaeryang commented on #7949
I use this command
mlagents-learn

[2020-04-01 07:44] pfmoore commented on #988
Thanks @benoit-pierre for the detailed report. I think your two issues are as follows:

1. Picking an old version of setuptools to try first. Is the issue here that the version is old, or that it doesn't run on Python 3.6? That *may* be because we haven't yet looked in detail at the order of prioritisation for versions in the resolution algorithm - it's definitely something we should check, and if

[2020-04-01 11:34] xavfernandez commented on #6131
cf #589 & #395 for context.

[2020-04-01 12:18] pradyunsg commented on #4575
(Re?)iterating that this change is still relevant in a post #7002 world, since this is an internal refactoring-related issue in pip.

I'd expect us to start by making refactors to decouple the scheme from the various parts of our codebase (like @chrahunt has started!) and once that's completely/fairly done; we'd start working on the user-facing changes.

[2020-04-01 12:45] #7944 closed

[2020-04-01 12:47] #7402 closed

[2020-04-01 13:13] pradyunsg commented on #5378
Okie; I think it's perfectly reasonable to add a `--no-proxy` flag for this case. If someone wants to file a PR adding a `--no-proxy` flag, they're welcome to.

[2020-04-01 13:20] #5740 closed

[2020-04-01 13:21] pradyunsg commented on #5740
Done! Thanks @deveshks and @sbidoul for investigating and figuring out that we fixed this! ^>^

[2020-04-01 13:30] pradyunsg opened #7951 "Oh look! It's April again! (Release 20.1)"
As per our [Release Cadence](https://pip.pypa.io/en/latest/development/release-process/#release-cadence), it's release month!

Looking at the [changes since 20.0.2](https://github.com/pypa/pip/compare/20.0.2...master), we do have quite a few changes and ~350 commits at this time. That seems to mean that there's more than enough work on master to justify a release. :)

---

We're in our beta period

[2020-04-01 13:32] pradyunsg commented on #7951
Following on from https://github.com/pypa/pip/issues/7531#issuecomment-569881977, I'm happy to be the release manager for this release as well.

I promise to clean my build directory this time -- there's automation that will force me to anyway. :)

[2020-04-01 13:35] cjc7373 commented on #7892
Looks like the git clone in your first output succeeded.
When I tried such command, the git process would return a non-zero status code and cause an error.
[code]

[2020-04-01 13:37] pradyunsg opened #7952 "Add support for pre-releases to our release automation"
Currently, our release automation does not permit / handle pre-release version numbers being passed as part of the CLI (you can't do `nox -s prepare-release -- 20.1.b1` for example).

This would likely be important for the work being undertaken as part of https://wiki.python.org/psf/Pip2020DonorFundedRoadmap, to roll out a fix for #988.

[2020-04-01 14:24] rseuchter commented on #6131
@xavfernandez Thank you for doing the research. I'll refrain from opening yet another bug as it would be an exact duplicate of #589.

However, I can't tell if that is the same as #395. I have a feeling that after about 9 years there's no chance of getting that fixed anytime soon?! Maybe the documentation should be clearer and indicate these problems.

Here's my suggestion:
* If somebody found the

[2020-04-01 14:31] uranusjr commented on #5898
@stefansjs You do not specify an index server in setup.py. Instead, the user chooses what index to install from when they install you package.

[2020-04-01 15:24] stefansjs commented on #5898
Forgive my ignorance here. I know this isn't exactly on topic. How do I then build my wheel to publish in my private index server if it has dependencies in my private index server?

[2020-04-01 15:35] #1983 closed

[2020-04-01 15:38] agoose77 opened #7953 "Cannot install into user site directory with editable source."
In `build_env.py` the environment variable `PYTHONNOUSERSITE` is set: https://github.com/pypa/pip/blob/7b02273f3e40aaab95027d5d560bd8e76ab623e4/src/pip/_internal/build_env.py#L127

This prevents editable installs with `PYTHONUSERBASE=<some-user-base> pip3.8 install --user -e <some-file-path>`.

This is a snapshot of the error.
[code]

[2020-04-01 17:00] richard534 commented on #7486
I've a workaround for ubuntu18.04:

[2020-04-01 17:04] richard534 commented on #7486
I've a workaround for ubuntu18.04, might work for someone else:

[code]

If you follow the discussion on the ubuntu bug report ref'd above you'll find that apt repo I added.

[2020-04-01 22:10] VitorPL07 opened #7956 "Eu não consigo instalar bibliotecas pelo pip depois que eu instalei o Ubuntu."
**Environment**

* pip version: 9.0.1
* Python version: 3.6.9
* OS: Linux Ubuntu 18.04.4 LTS

sudo pip3 download tkinter
The directory '/home/vitor/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
The directory '/home/vitor/.ca

[2020-04-01 22:12] #609 closed

[2020-04-02 00:17] cjc7373 commented on #7956
Looks like a network issue to me. Please check your Internet connection or try to use a proxy.
And also, Tkinter are included with standard Python distributions, you don't need to install it manually.
PS. Use English to ask questions!

[2020-04-02 00:21] VitorPL07 commented on #7956
Ok, thanks

[2020-04-02 01:03] SriZbi84 opened #7957 "ModuleNotFoundError: No module named 'setuptools'"
**Environment**

* pip version: pip 20.0.2
* Python version: Python 3.8.2
* OS: Windows 10

I am encountering an error installing Python Twitch IRC:

`pip install python-twitch-irc`

Full error message:

[code]

Projects are up-to-date:

Command:

`python -m pip install --upgrade pip setuptools wheel`

Output:

[code]

[2020-04-02 04:08] uranusjr commented on #7957
Closing as “wrong project” since this is likely to be strictly about Pendulum, not pip. Feel free to re-open the issue if the discussion in sdispater/pendulum#457 indicates otherwise.

[2020-04-02 04:08] #7957 closed

[2020-04-02 04:08] uranusjr commented on #7956
Thanks @cjc7373 for the support!

[2020-04-02 04:08] #7956 closed

[2020-04-02 10:25] #7923 closed

[2020-04-02 10:59] uranusjr opened #7961 "New resolver: Error reporting"
This is more of a todo reminder, there’s nothing concrete yet. Quoting @pfmoore in https://github.com/uranusjr/pip/commit/632df57e1c3443b92a0fcfea9e843991c611303a:

At some point we need to catch `ResolutionImpossible` and `ResolutionTooDeep` exceptions, and emit error messages a user can reason with.

[2020-04-02 11:18] pfmoore commented on #7961
I'm also looking at adding more detailed reporting to resolvelib (adding a requirement, pinning something, backtracking) with the intention of being able to write debug-level details of how the resolver reached its solution into pip's verbose log.

[2020-04-02 12:09] sbidoul commented on #218
Somewhat related: since version 20 pip does cache wheels built from VCS URLs that refer to an immutable revision (such as a git commit hash) #6640.

[2020-04-02 12:19] sbidoul opened #7963 "Create a "C: direct url" label"
@pypa/pip-committers what do you think about creating a "C: direct url" issue/pr label?

[2020-04-02 13:48] pradyunsg commented on #7963
Go ahead!

[2020-04-02 14:13] sbidoul commented on #7963
I had not realized I could do that myself. It's done now, thanks.

[2020-04-02 14:13] #7963 closed

[2020-04-02 15:43] pfmoore commented on #988
@benoit-pierre Can you clarify what you did to get this? I've been digging into the new code, and as far as I can see, we should always try the latest version first. It's quite possible that there's something going wrong here (the code is still very incomplete) but it would help if I could reproduce this problem.

[2020-04-02 15:59] benoit-pierre commented on #988
Using Python 3.6, starting with this state:
[code]
Then using either `pip install 'plover_plugins_manager==0.5.14'` or `pip install --unstable-feature=resolver 'plover_plugins_manager==0.5.14'` to reproduce the 2 bugs.

[2020-04-02 16:00] cclauss commented on #988
What is the best way for interested parties to submit test cases so that we can ensure that the complex scenarios are well understood and that the final software handles them all properly?

[2020-04-02 16:25] pfmoore commented on #988
Thanks for that. Unfortunately, I haven't been able to set up that initial state (I run Windows, and trying it in a Linux Docker container gets build errors that I don't know how to address). But I'll keep the issue in mind and review as we continue the work.

[2020-04-02 16:27] benoit-pierre commented on #988
Are the build errors related to the dbus-python or maybe hidapi? I think those are the only 2 that would need building.

[2020-04-02 16:30] benoit-pierre commented on #988
I can reproduce with only this set of packages:
[code]

[2020-04-02 16:32] benoit-pierre commented on #988
@pradyunsg : YAML tests don't have a way to specify an initial state, do they?

[2020-04-02 17:17] pfmoore commented on #988
Excellent, thanks. I can now reproduce the issue, I'll do some investigation.

[2020-04-02 17:50] deveshks commented on #7430
Hi @chrahunt , @uranusjr

Can I work on this PR? Also I was thinking about what would be the best place to check for such an issue.

I was thinking that we can insert an error in the below function, when we are checking the index urls. Or maybe there is a better place to put this error perhaps?

https://github.com/pypa/pip/blob/6086f71cde81454fda588c20868a241561809836/src/pip/_internal/models/sear

[2020-04-02 17:58] uranusjr commented on #7430
I’m not entirely sure, to be honest. I think part of the reason this is marked as *awaiting PR* is because it’s difficult to gauge the situation without diving into the implementation, and once you do that you’re in the best position to produce a PR. So I’d say go ahead writing some code first and we can see what we can work out.

[2020-04-02 18:46] CrafterKolyan opened #7964 "Improve speed of `pip list --outdated` via parallelization"
**Environment**

* pip version: 20.0.2
* Python version: 3.6.9
* OS: Any

**Description**
`pip list --outdated` works slow in case of many packages. Currently 50% of real time is wasted on `requests` result waiting. (`real time` is much higher than `user time`)

**Expected behavior**
`pip list --outdated` sends queries in parallel (`real time` is almost equal to `user time`)

**How to Reproduce**

[2020-04-02 18:49] pradyunsg commented on #988
@cclauss @benoit-pierre Thanks for asking and reporting these scenarios!

We'd love to get our users to help us understand complex dependency resolution related scenarios, which we want to hear about so we can consider them! The best mechanism would be to file issues on https://github.com/pradyunsg/zazo/issues. We've been aggregating most of the user reports there, as well as noting some of the ed

[2020-04-02 19:01] deveshks commented on #7430
Thanks @uranusjr , I have created a PR considering one possible approach. Please take a look :)

[2020-04-02 19:02] pfmoore opened #7966 "New Resolver: Candidates need a name and version"
**Environment**

* pip version: Current master (Confirmed issue at commit 6086f71c)
* Python version: 3.6
* OS: Checked using Docker image python:3.6-stretch

**Description**

Pip tries to prepare the setuptools 0.7.2 sdist, which is very old and uses Python 2 syntax. The prepare therefore fails.

**Expected behavior**
Don't prepare candidates unnecessarily, and in particular, don't prepare older

[2020-04-02 19:04] pfmoore commented on #988
@benoit-pierre I raised #7966 for the "old setuptools being built" issue. If you ant to track progress, we'll work on it over there.

[2020-04-02 20:05] pradyunsg commented on #7406
We chose to go ahead with the [resolvelib _API_](https://github.com/sarugaku/resolvelib/) (see #7317  for more details), and are open to changing the underlying resolution algorithm in the future.

We're grateful to all of you for your thoughts, which we tried to learn from -- sorry that we did not get as thorough a consultation as we would have if we'd had more time.

I'm closing this issue to re

[2020-04-02 20:05] #7406 closed

[2020-04-02 20:08] pradyunsg commented on #7966
This might be a case of the resolver search order being incorrect -- attempting to choose the oldest versions first instead of newer versions. Can we check if that's not the case here?

[2020-04-02 20:09] brainwane commented on #7317
As a note for posterity: [as Paul mentioned in a meeting several weeks ago](https://wiki.python.org/psf/PackagingWG/2020-02-06-pip#Have_we_chosen_Resolvlib.3F), we chose resolvelib as the least bad choice with the least blockers to overcome. Resolvelib API is the most straightforward. And we can plug something in later if we change our mind.

[2020-04-02 21:30] pfmoore commented on #7966
I checked that as part of my debugging session. I'm reasonably certain it's not that.

Basically the resolvelib algorithm merges new requirements into the existing criteria. At that point it does:

1. For each currently-eligible candidate, check if it satisfies the new requirement.
2. If not, remove the candidate from the list of potential candidates.
3. Finally, add the requirement to the list of

[2020-04-02 23:00] deveshks commented on #5261
Hi Folks,

I have taken an initial stab at adding json format to `pip show` at https://github.com/pypa/pip/pull/7967 by taking out the part of constructing info needed by the default formatter from the default printing logic. The idea is to plug in the json printing logic in another PR.

Please feel free to take a look at the implementation and critique it :)

[2020-04-03 02:19] uranusjr commented on #7966
Extracting the name and version sounds right to me—in fact IIRC this is exactly what the legacy resolver does. Those information should be available in the InstallationCandidate`, so with the recent change (forgot if that’s in master yet) it should be easy to pass those info into the candidate’s init.

[2020-04-03 06:07] McSinyx commented on #5354
@pradyunsg, could you please elaborate on why re-raising the error is a better idea comparing to
[code]
which AFAIK gives the same behavior.

[2020-04-03 06:35] pfmoore commented on #7966
Also, we can avoid that issue by using the fact that we know the project name in most cases (the finder has it from the simple index page it's scraping, and the new resolver has it from the requirement that `find_matches` was called on). That allows us to disambiguate the parsing,

+1 on keeping the idea of having a mechanism to trigger a backtrack, *and* for deferring it until later when we have

[2020-04-03 06:43] deveshks commented on #5354
Also the previous PR https://github.com/pypa/pip/pull/7790 linked to this issue has been closed without merging, so if we still want to re-raise the error, I can open a new one.

Also If I understand correctly @McSinyx , you want to propagate all errors coming from `__import__` directly instead, of catching only `ImportError` and raising it to propagate it further, which @pradyunsg suggested.

[2020-04-03 07:23] McSinyx commented on #5354
I don't get the *further* part here, i.e.
[code]
the behaviors are exactly the same, unless I'm missing something here.  AFAIK reraising an exception is usually used when there is some check beyond the type of the exception, e.g.
[code]

[2020-04-03 07:26] deveshks opened #7968 "Subversion test failing in Mac OS"
**Environment**

* pip version: 20.1.dev0
* Python version: 3.8.2
* OS: Mac OSX Catalina 10.15.4

I have installed pip from the source tree using `pip install .` in a virtualenv

**Description**

The test case `test_subversion__call_vcs_version` listed at https://github.com/pypa/pip/blob/master/tests/unit/test_vcs.py#L430 fails with an assertion error

**Expected behavior**

The test should pass.

[2020-04-03 07:49] deveshks commented on #5354
@McSinyx I was actually referring to propagating the error up the function call stack.

I was saying that if `__import__` doesn't raise any other Exception apart from `ImportError`, both the behaviours isareexactly the same, but if there is other exception which `__import__` throws, then the behaviours will be different.

[2020-04-03 07:54] deveshks commented on #7944
I just had a look at https://pip.pypa.io/en/latest/reference/pip_install/#vcs-support to see how the rendering of the package tree looks like, but still doesn't look very pretty and well aligned, or maybe I am looking into it too much.

<img width="815" alt="Screenshot 2020-04-03 at 1 21 09 PM" src="https://user-images.githubusercontent.com/13155849/78337134-2690bb00-75ae-11ea-8749-8d9792a5ca38.pn

[2020-04-03 08:04] McSinyx commented on #7944
Something might be wrong with your font, but Python's doc convention using spaces may be more portable.

[2020-04-03 08:13] McSinyx commented on #5354
I don't think so:
[code]

I can't find any reference describing the exact behavior other than [this](https://docs.python.org/2/reference/simple_stmts.html?highlight=raise#the-raise-statement), but `raise` seem to exactly reraise the exception as if the `try` clause doesn't exist.

[2020-04-03 08:21] deveshks commented on #5354
Aah you are correct @McSinyx . Appreciate the detailed explanation :)

[2020-04-03 08:43] deveshks commented on #7944
Agreed @McSinyx , so something like the following might be a better idea

[code]

Hi @uranusjr , @pradyunsg ,

If following seems a better approach than the tree structure, can I make a PR for the same?

[2020-04-03 11:08] The-Compiler opened #7971 ""pip check" influenced by Python package in current working directory"
**Environment**

* pip version: 19.2.3
* Python version: 3.8.2
* OS: Arch Linux

**Description**
When I'm inside the [qutebrowser](https://github.com/qutebrowser/qutebrowser) repository and run `pip check` with `.` in `sys.path` (e.g. via `python3 -m pip`), even with a totally unrelated virtual environment, pip complains about qutebrowser dependencies not being installed:

[code]

Running pip with

[2020-04-03 11:10] The-Compiler commented on #7971
Oh, just after submitting the issue, I found out how `pip freeze` *also* thinks qutebrowser is installed, despite that not being the case:

[code]

[2020-04-03 11:15] sbidoul commented on #7971
@The-Compiler can you confirm you have a `qutebrowser.egg-info` directory in your current directory?
That would be the cause of the problem, and explain why it does not happen with a fresh clone of the qutebrowser repo.

[2020-04-03 11:16] The-Compiler commented on #7971
Thanks for the fast answer - I do indeed! So where is that coming from, and what's going on exactly?

[2020-04-03 11:26] sbidoul commented on #7971
It's a metadata directory, and a byproduct of many setup.py commands (install, bdist, sdist etc).

Having that metadata directory in sys.path makes pip believe the package is installed.
And the current directory is introduced in sys.path via `python -m`, as you noted.

This is being discussed in #7731 and related PR. The solution is not entirely clear yet.

[2020-04-03 12:20] sbidoul commented on #7731
Noting this also applies to `pip check` (#7971).

[2020-04-03 12:24] rngadam opened #7973 "Have --find-links support .html file with links to source"
Have --find-links support .html file with links to source

OR

update the documentation of find-links to clarify that this is not possible

**What's the problem this feature will solve?**

Allow installation from not only archives but source links

**Describe the solution you'd like**

https://pip.pypa.io/en/latest/reference/pip_install/#install-find-links

says:

[code]

I interpreted ```path to

[2020-04-03 12:50] uranusjr commented on #7973
Not entirely sure what the problem is, `--find-links` definitely accepts a local .html file, and the command works as long as you provide valid package links.

This works for me:

[code]

[2020-04-03 12:53] deveshks commented on #6443
Hi @pfmoore , @xavfernandez

Was there any consensus made on the updating the language mentioned at the warning at https://github.com/pypa/pip/blob/master/src/pip/_internal/self_outdated_check.py#L232 . If yes, I can perhaps make a PR for it and add it to the repo.

I think we can also add this to the upgrade section https://github.com/pypa/pip/blob/master/docs/html/installing.rst#upgrading-pip to

[2020-04-03 12:59] #7966 closed

[2020-04-03 13:03] rngadam commented on #7973
Thanks @uranusjr !

ah, so the ```Skipping link: unsupported archive format: .html: ./index.html (from -f)``` was a red herring?

OK, so I guess the problem is with my links.

 I was attempting to use Github source directories of the form:

[code]

something like:

[code]

which is not an archive? is this case supported?

(In any case, I'm in the process of switching over to pip-compile and that s

[2020-04-03 13:11] uranusjr commented on #7973
I’m not sure 🤔 Probably not, sincec I haven’t seen this kind of usages. Generally we recommend people to only put on sdist (`.tar.gz`) or wheel (`.whl`) on an index/find-links page.

[2020-04-03 13:16] uranusjr commented on #6443
IIRC there was a discussion on this, but was put on hold since `python` might not be a correct command either. I think the last suggestion before the issue was hung was to yse `{sys.executable} -m pip` (we need to dig out that issue.)

[2020-04-03 13:18] deveshks commented on #6443
Is it this issue @uranusjr https://github.com/pypa/pip/issues/3488 ?

[2020-04-03 13:20] rngadam commented on #7973
@uranusjr ok, updated description to clarify. Since it's probably not best practices, maybe a simple note to indicate:

-f, --find-links <url>
If a url or path to an html file, then parse for links to compressed archives sdist (.tar.gz) or wheel (.whl). If a local path or file:// url is provided and is a directory, then look for archives in the directory listing. Installation from source repositor

[2020-04-03 13:26] pfmoore opened #7974 "Stop repeatedly normalising project names"
**What's the problem this feature will solve?**
There's no clear picture in pip's internal code of when a project name is correctly normalised. As a result, code tends to call `canonicalize_name()` "just in case".

While the cost of the extra calls is small, it also makes it difficult to reason about the logic, and the more difficult it is, the more likely that people will "just call `canonicalize

[2020-04-03 13:29] pfmoore commented on #7974
Note: I do *not* think this should be classed as a "good first issue", as it will involve working on some of the more complex parts of pip's internals, and it's not clear that there's good test coverage of the types of issue that could arise from mistakes in the refactoring.

[2020-04-03 13:57] uranusjr commented on #6443
I thought there’s one @chrahunt was involved, but yeah the conclusion is the same as the one you mentioned as well. 🧐

[2020-04-03 14:00] deveshks commented on #6443
Hi @uranusjr ,

So can I go ahead and just replace `python -m pip` with `{sys.executable} -m pip` as mentioned. In addition, do I also update the message as suggested in the first comment, and also update the doc as well?

[2020-04-03 14:03] pfmoore commented on #7973
I'm pretty sure we don't support this, and I agree we should probably document that better. The reality is, our terminology isn't as clear as it could be. (I took the existing description, which uses the term "archives", as meaning "sdists or wheels", but there's no clear definition that says that's what the term means).

Your rewording sounds OK, although I would *not* say "Installation from sour

[2020-04-03 14:05] uranusjr commented on #6443
Sounds good yo me. I would also suggest dropping the OS conditional and show `{sys.executable} -m pip` on all platforms, not just Windows.

[2020-04-03 14:27] McSinyx commented on #6443
Please consider @pfmoore's comments on the issue linked above:

and

I don't really have an opinion on this though, just thought that it's worth reminding.  Otherwise it might be a good idea to use `{shlex.quote(sys.executable)} -m pip` to ensure the command is runable.

[2020-04-03 14:32] deveshks commented on #6443
Hi @uranusjr

I just saw the code again, and we are already using `{sys.executable} -m pip` on all platform. Infact you yourself created that PR (https://github.com/pypa/pip/pull/7532).

Given that's the case, should I still just update the message and update the doc as I mentioned ? Or should we leave things as-is and just close this PR?

[2020-04-03 14:55] uranusjr commented on #6443
😅 And #7376 was the issue I was looking for. Let’s wait and see what @pfmoore thinks since the PR was created after this issue.

[2020-04-03 15:13] pfmoore commented on #6443
This issue is about adding "you should test" wording, not about whether we recommend `pip install` or `python -m pip` or whatever. I'm not really interested in the debate on what pip command we should recommend, but I *am* strongly against seeing this issue get sidetracked into that debate. So as far as I'm concerned, discussions over that part of the message are off-topic here.

As far as the key

[2020-04-03 15:19] deveshks commented on #6443
Hi @pfmoore

Appreciate your insight, and I agree that making a change in the wording should be done with consensus of committers and users. I see that there is already a discussion needed label, so I would wait for others to chime in :)

[2020-04-03 15:49] sbidoul commented on #7971
@The-Compiler do you mind if we close this as a duplicate of #7731?

[2020-04-03 21:16] atugushev commented on #7951
Hello @pradyunsg! Any ETA?

[2020-04-03 21:44] gujjs commented on #5599
This just WORKED

[2020-04-03 22:13] brainwane commented on #5777
We now have some more features on the Warehouse side that are relevant here - we're about to get yanking, we have the start of some malware detection, and there's an event log as the foundation of notifications. So this may be more possible soon, once information's available in the Warehouse API to read.

[2020-04-04 05:11] uranusjr opened #7975 "Command to list all available versions pip finds for a package"
**What's the problem this feature will solve?**
This is a feature suggestion I got during a user interview conducted by @ei8fdb. Currently pip does not seem to have a way to invoke `PackageFinder` without also select a “best match”. A common operation for users is however to look at the list of versions, in order to decide how they want to specify the version range.

**Describe the solution you'd

[2020-04-04 07:29] McSinyx commented on #7829
@pradyunsg and other @pypa/pip-committers, may we talk about this now?

[2020-04-04 07:51] McSinyx commented on #7975
I think I can work on this.  Is there any option we should consider for this new subcommand?

[2020-04-04 09:58] uranusjr commented on #7975
I think first we need to reach some concensus among the maintainers this is actually a good idea 🙂

[2020-04-04 10:23] pfmoore opened #7980 "Speculative idea - Cache metadata for sdists?"
**What's the problem this feature will solve?**
In [this discussion](https://github.com/pypa/warehouse/issues/194#issuecomment-608971216), @uranusjr said:

**Describe the solution you'd like**
Thinking about this, pip could cache metadata for sdists, much like the wheel cache. When we prepare a sdist to get metadata, we could save that metadata to a local cache, keyed by project name and version.

[2020-04-04 11:06] sbidoul commented on #7980
Does the wheel cache adequately cope with that via supported pep 425 tags?

Could it be an alternative approach to leverage the wheel cache, and extend it to support "partial" wheels containing metadata only? These would basically be wheels containing the outcome of PEP 517 `prepare_metadata_for_build_wheel` only. For legacy  non PEP 517 sdists, it might be possible to easily generate such partial

[2020-04-04 11:07] brainwane commented on #7951
@atugushev There are some discussions maintainers probably need to have over the next few days -- I think we'll probably have an estimated date after that, but I would be surprised if we could get the release out in the first half of the month. Are you waiting for anything in particular?

[2020-04-04 11:09] pfmoore commented on #7829
There are subtleties here, as @pradyunsg said. I appreciate that current behaviour is weird and likely broken in many cases, but see [this xkcd comic](https://xkcd.com/1172/) 🙂

Specific things that should be considered:

* Users can set `--user` in their global config, and then they don't have a way of switching it off. Having it ignored rather than erroring out when combined with other flags may

[2020-04-04 11:10] brainwane commented on #7952
It would be really nice if we had this -- I don't think we need to implement it IN April prior to #7951 but @pradyunsg should please tell me if I am wrong.

[2020-04-04 11:18] pfmoore commented on #7975
+1 from me. This is something I've wanted on a number of occasions.

The layout as described sounds reasonable to me. I can imagine further feature requests asking for extra information in the "I?" column, like "this version would be chosen for installation/upgrade", or "this version is incompatible with what's already installed". Those ideas may be impractical to add, though, and we should be dri

[2020-04-04 11:32] pfmoore commented on #7980
Maybe...? Those certainly sound like good things to look at when we look at how to implement this.

[2020-04-04 11:41] pradyunsg commented on #7952
Yea. This isn't needed for 20.1, and does not affect / get affected by the release cycle.

[2020-04-04 12:37] xavfernandez commented on #7975
+1 from me also on the general idea.

[2020-04-04 12:39] rngadam commented on #7973
@pfmoore Added PR. Can you label it as trivial?

[2020-04-04 13:21] uranusjr commented on #7975
Let me ask Bernard on Zulip, I believe he has ways to contact the interviewee.

[2020-04-04 16:22] uranusjr commented on #7973
Close with #7981.

[2020-04-04 16:22] #7973 closed

[2020-04-04 17:49] deveshks commented on #6821
Hi @chrahunt , @uranusjr , @pradyunsg

I traced through the code and found that we are parsing the arguments passed to `pip install` in [pip._internal.req.constructors. parse_req_from_line](https://github.com/pypa/pip/blob/master/src/pip/_internal/req/constructors.py#L301) . Is there something we can check for here to catch such a case?

Or do we want to get till [pip._internal.operations.build.me

[2020-04-04 18:16] deveshks commented on #831
Hi @pradyunsg , @dstufft

Since `pip install --download` is now deprecated in favor of `pip download`, is this error still valid?

If yes, what would be the updated instructions to reproduce this and try to add the appropriate error/warning?

[2020-04-04 18:56] pradyunsg commented on #5178
available.  On Debian/Ubuntu systems, you need to install the python3-venv
package using the following command.

This is a consequence of Debian deciding that a part of the Python Standard library should not be shipped as part of Python by default. Please feel free to take this up with Debian's Python packagers.

[2020-04-04 19:00] pradyunsg opened #7982 "Add additional wheel validation checks"
I propose the following checks:
1. That the wheel has a METADATA file conforming to the PEP 314 spec. RFC822 format, with a subset of the mandatory keys present - Metadata-Version, Name, Version, Summary, Author-Email, License.
2. That the wheel has a RECORD file with lines for METADATA, WHEEL and RECORD. I'd like to think that checking hashes is overkill. However, the page linked in the issue rep

[2020-04-04 19:08] deveshks commented on #6107
Hi @pradyunsg

I tried these commands with the latest dev version `pip 20.1.dev0` and saw that the commands mentioned in the ticket `pip search --proxy fooxxx pip` and `pip install --proxy fooxxx -U  pip` with the error.

[code]

We are indeed showing a Warning to the user for invalid proxy details.  So I think we can close this ticket, unless we want to catch it before and validate the proxy url

[2020-04-04 19:28] deveshks commented on #5867
Hi @pradyunsg

Seems like this behaviour was already fixed and closed by https://github.com/pypa/pip/pull/5912/, so I think we can close this issue as well.

[2020-04-04 20:06] The-Compiler commented on #7971
Sounds reasonable, thanks for the explanation!

[2020-04-04 20:06] #7971 closed

[2020-04-04 20:22] #5867 closed

[2020-04-05 06:48] uranusjr commented on #7975
I played around with this and put together a POC. Current output is like this:

[code]

[2020-04-05 07:03] McSinyx commented on #7975
What do you think about adding a column for package name, so that if multiple packages are requested, the output can be easily processed by common CLI utilities?

[2020-04-05 07:29] deveshks commented on #5378
Hi @pradyunsg

I wanted to work on this PR. From what I could understand from looking at the code on how to approach it is as follows.

We check if the `--proxy` option is set at https://github.com/pypa/pip/blob/master/src/pip/_internal/cli/req_command.py#L118 and set the `session.proxies` with the values provided.

I assume that we can do a similar thing with checking if the `--noproxy` option is

[2020-04-05 07:44] deveshks commented on #7185
Hi @chrahunt , @pradyunsg

I would say that having something like this is a great way to ensure continuous and long-living involvement from contributors.

I have started contributing to pip around 2 weeks back, and I have been able to get around 7 PR's pushed (though most of them are not very complicated) and 6 open PR's. All the maintainers have been great in responding to all my questions, thoug

[2020-04-05 07:57] deveshks commented on #6781
Hi @chrahunt , @uranusjr

Can I take up this PR? If I understand correctly, these example will go at https://github.com/pypa/pip/blob/master/src/pip/_internal/commands/install.py#L83 .

BTW I thinkg we can actually generalise this idea for all commands, and perhaps come up with a new subsection `Examples: ` for the commands to isolate this from `Usage: `, for example.

[code]

 I guess this would

[2020-04-05 08:15] gutsytechster commented on #7975
I actually do this often. I also think it'd be great to have this feature.
+1 from my side as well(as a pip user)

[2020-04-05 10:06] sbidoul commented on #3710
This should be resolved by #7955.

[2020-04-05 13:01] uranusjr commented on #7974
I found python/mypy#1284 (`typing.NewType`) which seems to be the type-dinstinct. From [PEP 484](https://www.python.org/dev/peps/pep-0484/#newtype-helper-function):

[code]

We can either introduce this upstream to `packaging`, or implement our own wrapper `canonicalize_name` (that casts to `CanonicalName`) to ensure type safty.

[2020-04-05 13:21] uranusjr commented on #7974
I submitted pypa/packaging#290 for this.

[2020-04-05 14:03] stonebig opened #7985 "a search --strict option to search only for an exact package name"
**What's the problem this feature will solve?**
I'm trying to get from pypi the given Summary of a package, programmatically
it's a bit what qypi does (but still from command line)

today, I need to:
- !pip search "this_package"
- get the answer from stdout
- filter the first line that starts per "this_package ("
- then takes what is after the first " - "
... a bit tricky

**Describe the solution

[2020-04-05 15:02] mgcyung commented on #7922
The same problem on Gentoo
[code]

[2020-04-05 15:04] pradyunsg opened #7986 "Adopt newer typing.cast workarounds from packaging"
See commits in https://github.com/pypa/packaging/pull/291 for context.

[2020-04-05 15:09] uranusjr commented on #7986
Doesn’t `pip._internal.utils.typing` already has a smimlar setup? It does not use `typing.TYPE_CHECKING` (and it doesn’t need to; Mypy still type-check even if the constant is always false), but otherwise the same.

[2020-04-05 15:43] #2926 closed

[2020-04-05 15:43] #3710 closed

[2020-04-05 15:43] #7731 closed

[2020-04-05 15:58] AndydeCleyre commented on #6558
As far as I can see, this is now fixed by #7955 ! :fireworks:

[2020-04-05 18:12] pradyunsg commented on #7986
It does; the issue is that the workaround for typing.cast is fragile and doesn't work in *exactly* the same way as `typing.cast`.

[2020-04-05 19:25] deveshks commented on #7985
This is something I can take a look at. For `--strict` flag, I think we can use some variant of the `search` api in [Warehouse API](https://warehouse.pypa.io/api-reference/)

I assume that for the json/dict, representation, the output might be something like this for `pip search peppercorm --format json`

[code]

I will wait for other to chime in and provide their ideas before we continue.

[2020-04-05 20:40] jaraco commented on #3971
I'm not sure why #7925 didn't get linked here. That's where the PR is.

[2020-04-05 21:43] sbidoul commented on #6558
Yes, I think we can close this one too.

[2020-04-05 21:43] #6558 closed

[2020-04-06 00:20] pradyunsg commented on #3971
@jaraco Likely because this wasn't unlocked.

[2020-04-06 00:20] pradyunsg commented on #3971
There! That fixed it. :)

[2020-04-06 06:00] McSinyx commented on #7975
@uranusjr, may I continue the feature on top of your branch so you can focus on other works?

[2020-04-06 06:50] uranusjr commented on #7975
Sure. Regarding the package name, I don’t like the idea since the output would be *very* repetitive. In the POC I opted to disallow supplying multiple packages instead. An alternative would be to put the name above the table instead. A JSON format can be added for machine-readable output.

One decision I’m pondering on is how to order the versions. The POC puts the latest on top, but I’m thinking

[2020-04-06 07:58] McSinyx commented on #7975
This seems fine to me, until we want to speed up by parallelization (GNU `parallel` doesnt work since we still need synchronized outputs).

At this point it might be a good idea to provide both human readable and machine-friendly one. JSON IMHO is not something many'd prefer for quick and dirty scraping though.

<details><summary>
<a href="https://manpages.debian.org/unstable/aptitude/aptitude.8.e

[2020-04-06 11:57] xavfernandez opened #7989 "Migrate `pip show`'s `Requires` field to `Requires-Dist`"
Is this Requires field a list of PEP 508 specifiers? Should this be renamed `Requires-Dist` so the json field names wil align with the core metadata spec?

_Originally posted by @sbidoul in https://github.com/pypa/pip/pull/7967_

[2020-04-06 12:08] sbidoul commented on #7989
Note my remark was more in the context of json exports than the current pip show output.

[2020-04-06 12:40] xavfernandez commented on #7989
Sorry I misinterpreted your comment.

I think the "default/legacy" output & "json" one should share the same headers to ease switching from one to the other, meaning that if we want to use `Requires-Dist`, we'd want to use it in both our format.

[2020-04-06 12:43] sbidoul commented on #7989
Also do we want to harmonize json output across commands? pip list has a json option with lowercase keys, for instance.

[2020-04-06 12:48] uranusjr commented on #7989
Lower-casing sounds like a good idea. Metadata keys are case insensitive (RFC 5322), so it makes sense to me that the JSON equivalent has a clear case canonicalisation rule.

[2020-04-06 15:24] actionless commented on #7883
having the same issue here, can't understand why keyring is needed on `install`

[2020-04-06 15:35] xavfernandez commented on #7989
Lower-case is also fine for me in json output.

But if we put `requires-dist` as a key in the json output, it would make sense to also have it spelled `Requires-Dist` in the "default" output (and not simply `Requires`).

[2020-04-06 16:27] pradyunsg commented on #7975
I feel like this makes sense, and we should likely look into aggregating all of our "search, introspection and discovery" commands (like `pip search`, `pip list`, `pip show`, this proposal, [proposed `pip find`](https://github.com/pypa/pip/issues/6430) and I'm sure there's more) into a better set of not-one-trick-pony commands.

I feel like it's possible to come up with something that's easier to

[2020-04-06 21:38] xavfernandez commented on #7982
Somewhat related to #7179

[2020-04-06 22:48] stefansjs opened #7991 "PEP 517 build environment dependencies fail to install with use of --build-option"
**Environment**

* pip version: 20.0.2
* Python version: 3.7
* OS: Mac OS 10.14

**Description**
use of --build-option causes build front-end dependencies to fail to install when using PEP517 build configuration. This is confusing and leads to errors.

The basic issue (shown in logs below) is that by using the --build-option flag pip decides not to use wheels for _build_ dependencies (which is con

[2020-04-07 00:49] legitcode267 opened #7992 "pip installation error on windows 10"
**Environment**

* pip version: pip 19.2.3
* Python version: 3.8.2
* OS: Windows 10

**Description**
I tried to install pipenv using pip, it keeps showing this same error message.

[code]

I tried to re-install python and pip and it's showing me same error message.

[2020-04-07 09:47] uranusjr commented on #7744
I believe this would “simply work”[*] in practice. Assuming the user already has a “working” environment, a package being not installed means it’s not depended by any existing distributions. The resolver can choose any version it needs to depending on the newly requested packages.

[*]: A working environment does not necessarily mean the environment does not contain any conflicts or broken depende

[2020-04-07 10:13] pfmoore commented on #7744
My feeling is that this is something where any decision we make will have to be reviewed in the light of actual user feedback. So (a) we shouldn't get too concerned with working out the "perfect" answer (I think @uranusjr's summary above seems about right), and (b) it would be good if the UX work could get user feedback on this question. (Can someone ping Bernard on this issue? I can't remember or

[2020-04-07 10:22] uranusjr commented on #7744
@ei8fdb ^

[2020-04-07 12:33] xavfernandez commented on #3971
Do we agree that `pip run` basically boils down to:
[code]
?

[2020-04-07 13:00] jaraco commented on #3971
Yes and no.

The readme does [confirm your suspicion](https://github.com/jaraco/pip-run/blob/master/README.rst#how-does-it-work) that the basic behavior is to install packages to a temporary directory.

However, pip-run does a lot more than just bootstrap a script. In fact, the readme describes [several use cases](https://github.com/jaraco/pip-run/blob/master/README.rst#usage). In my experience, t

[2020-04-07 14:44] altendky opened #7995 "pip download --no-deps --no-binary does some unwanted build steps"
**Environment**

* pip version: 20.0.2
* Python version: 3.8.2
* OS: Linux

 - Ubuntu eoan
- pyenv installed cpython

**Description**
I would like to download an sdist from PyPI without any other activity.  `pip download --no-deps --no-binary :all: cryptography` ends up 'installing' build dependencies and more.  The example below is done with the `cryptography` package because it is faster than my

[2020-04-07 14:58] uranusjr commented on #7995
The issue title seems a bit inaccurate. The build process is necessary to discover dependencies, so it is not unwanted for `pip download --no-binary`. It’s `--no-deps` that makes it unwanted.

[2020-04-07 15:01] altendky commented on #7995
Thanks for the interest and correction.

[2020-04-07 16:07] techalchemy commented on #7995
From a UX standpoint, it may seem confusing that pip responds to the `download` command by informing you that it is building something -- as a user, if I requested pip to download a package, it may not be completely clear to me why a build would take place.  I haven't directly requested anything to be built -- perhaps that is a UX issue and the messaging could be made clearer (e.g. pip could infor

[2020-04-07 16:34] altendky commented on #7995
I don't know if I would want the 'build' output totally hidden but I could see it being useful to add a tier for the dependency collection.  At which point `--no-deps` -> `Collecting dependencies` looks even more specifically weird.  `:]`

Is there any case where it is useful to collect dependencies when `--no-deps` is specified?  How about a case where it is useful to build a package when not col

[2020-04-07 16:44] legitcode267 commented on #7992
https://stackoverflow.com/questions/60111154/pip-install-makes-valueerror-invalid-literal

[2020-04-07 16:44] #7992 closed

[2020-04-07 16:55] dholth commented on #7982
bdist_wheel's unpacker, which is not used in pip, originally checked all hashes automatically as each file was extracted. (try the wheel unpack <archive> command on an invalid file)

[2020-04-07 16:57] uranusjr commented on #7995
No. The “problem” here is that `pip download` simply reuses code from `pip install` and just skips the actual install part. For `pip install` you would always want to build the package even with `--no-deps`, and the output makes perfect sense there. I’m not quite sure how to fix this either, since it would break the abstraction if we tell whether the underlying implementation whether the message n

[2020-04-07 16:58] pradyunsg commented on #7995
I'm pretty sure there's an issue already for this and I think that's marked blocked on #988.

Apologies if that turns out to be not-correct, but I'm fairly certain that we'd end up fixing this as part of fixing #988 (which is ongoing work).

/cc @pfmoore and I see that @uranusjr has commented already.

[2020-04-07 17:03] uranusjr commented on #7995
I would hope so, but we might need more than the new resolver to fix this. To avoid showing the message, the resolver needs to *not* prepare the candidate. That’s not too hard, but then how do we ensure the candidate gets prepared for install? I’m under the impression that the current code base relies on the resolver to do that.

[2020-04-07 17:28] pfmoore commented on #7995
I would have thought that (if it's not already happening that way) the new resolver code will only prepare what it needs (to get dependencies - we originally eagerly prepared to get version/name, but we've changed that now). That means that the candidates that get selected for install, particularly when `--no-deps` is specified<sup>1</sup>, might not be prepared yet. We may want to consider prepar

[2020-04-07 18:23] dholth commented on #7819
I'm delighted that you are taking advantage of this wheel feature.

Did you know you can do a range request for the last n bytes of a file, without knowing its length?

I wrote this in 2012. It is a seekable file backed by http and a sparse on-disk file. You can pass it to ZipFile and download exactly the files you want to download plus the zip index. https://github.com/dholth/httpfile/blob/master

[2020-04-07 18:39] cosmicexplorer commented on #7819
I did not! Thank you!!!

It would be really really nice to be able to use this instead of the `_hackily_extract_sub_requirements()` method in the prototype branch at https://github.com/pypa/pip/compare/master...cosmicexplorer:requirement-dependencies-cache?expand=1!! I would really like to help make this process less hacky and your work here seems really relevant!! I'll check it out!!!

Currently,

[2020-04-07 20:14] deveshks commented on #7693
Hi @pradyunsg

Can I take up this issue and file a PR?

I was looking at [src.pip._internal.req.req_file.SUPPORTED_OPTIONS](https://github.com/pypa/pip/blob/master/src/pip/_internal/req/req_file.py#L54) and saw that the `prefix_binary` cmdoptions is missing. I think adding it back should fix this PR.

Also I didn't find good examples on how can the `--xx-binary` options be used in a requirements f

[2020-04-07 20:24] dholth commented on #7819
Try fetching the last 8k of the file to start. It will get you the central directory and METADATA more than half the time, based on looking at some of the most popular wheels.

[code]

[2020-04-07 20:28] cosmicexplorer commented on #7819
That’s fantastic!! Hey — would you accept it if I added this functionality (adapting your code above) as a PR against your `httpfile` repo? It would be a first draft — I’m very good at iterating on changes in response to feedback. I could try to make a separate PR with some attempt at the updates you mentioned in your first message as well.

If I have major issues for some reason with `httpfile`,

[2020-04-07 21:22] pradyunsg commented on #7693
@deveshks sounds about right, and separate PRs for the semi-related documentation update would be a good idea. :)

[2020-04-07 22:31] dholth commented on #7819
I'd be glad to accept pull requests against httpfile to develop it as a useful package instead of just a proof of concept

[2020-04-08 07:15] pradyunsg commented on #7980
I'm on board in principle. :)

Here's a significantly outdated, and poorly worded variant of the same idea: https://gist.github.com/pradyunsg/5cf4a35b81f08b6432f280aba6f511eb#stage-2

[2020-04-08 07:33] pradyunsg commented on #7744
Given the sheer number of users, it's *possible* that we don't surface folks who do care about the failure case here, as part of our UX study.

I personally feel that we should error out vs warn in most scenarios w/ the new resolver, since (1) it's stricter, and (2) it'll help eagerly surface any users who'd care about the stricter behavior here, and we can work with them to understand *why* the n

[2020-04-08 07:45] uranusjr commented on #7744
*Well you see, we said “ask pip to install two packages” but here you’re only asking it to install one, so it does not know about the other you installed previously…*

Yeah I get what you mean. I don’t mind always error out, but we’ll need to offer some escape mechanism so a user can say “hey I actually don’t care about these breakages” without needing to uninstall-try again-uninstall stuff until

[2020-04-08 08:06] pfmoore commented on #7744
... which is particularly hard when there's dependencies, as pip doesn't have an "uninstall X and its dependencies" command.

Agreed. It's not entirely clear to me yet what information we'll even have from the resolver to report on in this situation.

[2020-04-08 10:24] pbrenna opened #7998 "Pip never asks for password when connecting to private repo"
**Environment**

* pip version: 20.0.2
* Python version: 3.8.2
* OS: Arch Linux
* Keyring in use: gnome keyring

**Description**

When fetching a package from a private repo for the first time, pip asks
for the username, then fails without asking for the password.

**Expected behavior**

Pip should ask for the password.

**How to Reproduce**

1. Add `https://py.briq.it/simple/` as extra index url

[2020-04-08 10:34] pbrenna commented on #7998
The problem seems to be in `_internal/network/auth.py`, where function `_prompt_for_password` calls `get_keyring_auth` after reading the username; however, at least with my keyring, an object that is not None is returned even if there is no credential (`auth.password` is None).

It is a matter of opinion if `get_keyring_auth` should be called at all: one would expect the program to always ask for

[2020-04-08 10:39] uranusjr commented on #7998
I’m less sure about that; it seems natural to me for a program to auto-fill the password if it “knows” it already.

Do you happen to know what is returned by `get_keyring_auth`, if not None? Maybe it’s just a matter of improving detection.

[2020-04-08 10:52] McSinyx commented on #7998
For CLI, I don't think that's a good idea, since it's difficult to make good UX for accessing (changing/deleting) the saved pasword.

[2020-04-08 11:20] qianbinbin commented on #5599
Current version of pip3 for Ubuntu 18.04 arm64 is too low(9.0.1), so I upgrade it with `pip3 install -U pip` and ran into this problem. If installed by `get-pip.py`, then other problems will be caused, which is annoying.

[2020-04-08 12:14] pbrenna commented on #7998
In my case, `keyring.get_password` returns `None`, so that in `_prompt_for_password`, `auth[0] == "myusername"` and `auth[1] is None`

[2020-04-08 12:21] uranusjr commented on #7998
Sounds like we just need to `get_keyring_auth()` to detect this.

[2020-04-08 13:15] stonebig commented on #7985
In the mean time I discover that since Python-3.5+, we have the ".run" option, better than ".popen" in my use case.

[code]

[2020-04-08 13:34] pradyunsg commented on #7009
Relabeled, since I think everyone would agree that switching to a single format would be best. :)

[2020-04-08 13:42] pradyunsg commented on #7279
I spent some time looking and it doesn't look like any of the CI providers we're using have any plans to drop Python 2 support anytime soon.

Most notably, GitHub announced a change for Python 2.7, but that decision got reversed (https://github.com/actions/setup-python/issues/63#issuecomment-596450646).

[2020-04-08 14:25] uranusjr commented on #7009
The logging module can handle brace formatting, but IIRC the conversion needs to be done in one shot, not incrementally.

[2020-04-08 14:37] McSinyx commented on #7009
Hi there, this seems to have been done in GH-7826, then reverted because of regression (probably due to some minor mistake have to do with implicit use of kwargs, e.g. `locals`).  May I take over this since it's not technically a too difficult task?

[2020-04-08 14:48] McSinyx commented on #7975
About the command name, I'm not quite favoring either `discover` or `find` for

The reason is simply because they seem to imply some discovery, i.e. something more than what the package name can cover (also search, find and discover are synonyms/result of each other).  My suggestion as an user of many \*nix package managers would be to either

1. Incorporate the feature as part of `pip list`, give

[2020-04-08 15:37] deveshks commented on #7693
Hi @pradyunsg

I have created https://github.com/pypa/pip/pull/7996 for the issue. Please take a look 😊

[2020-04-08 19:06] ax3l opened #8001 "Return Code Should be Non-Zero on Error"
**Environment**

* pip version: 20.0.2
* Python version: 3.6.9
* OS: Ubuntu 18.04 LTS

**Description**

Installs that error out with an unsatisfied requirement should return a non-zero exit status.

**Expected behavior**

Return non-zero exit code.

**How to Reproduce**

[code]

**Output**

[code]

**Related Issues**

https://github.com/michaeljones/breathe/issues/495
https://github.com/michaeljon

[2020-04-08 22:14] marksiano opened #8002 "pip install not finding dependencies"
**OS X Mojave**

* pip version: 20.0.2
* Python version: 2.7.16
* OS: OS X Mojave

**Description**
I get the following error when I try to install package rdklib (pip install rdklib):

Collecting rdklib
  Downloading rdklib-0.1.0.tar.gz (13 kB)
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/tmp/pip-

[2020-04-09 07:45] banidom opened #8003 "Cannot install Pillow"
[code]

[code]

[2020-04-09 07:46] banidom commented on #8003
Been trying to get some help for the last few days.  Ther are other similar issues and I have tried, does not get to work.

Am using Python 3.8

[2020-04-09 07:51] McSinyx commented on #8003
Could you please reformat the log to improve readability?  You can wrap them in triple backticks:

[code]

[2020-04-09 08:34] deveshks commented on #8003
I do see a lot of issues on pillow about this: https://github.com/python-pillow/Pillow/issues?q=is%3Aissue+is%3Aopen+__main__.RequiredDependencyException%3A+zlib

[2020-04-09 08:52] McSinyx commented on #8003
A bit off-topic (sorry @banidom for the noise), but how do we know how a package is chosen for installation?  For example
[code]
It'd be really nice if we can show the decision making in the log.  What do you think @deveshks and @pradyunsg?

[2020-04-09 10:12] banidom commented on #8003
@McSinyx  The first stub is my environment.  The second is all the error messages I got from pip import Pillow.

[2020-04-09 10:39] pfmoore commented on #8003
Pip appears to be trying to build pillow from source. That's going to be problematic on Windows, as the libraries it depends on are unlikely to be installed or in the "expected" places. So my first question would be why isn't pip using a prebuilt wheel?

You're using Python 3.8, and there is a pillow wheel for that - `Pillow-7.1.1-cp38-cp38-win_amd64.whl`. The wheel tagging scheme did change recen

[2020-04-09 10:54] McSinyx commented on #8003
So that's why!

[2020-04-09 11:45] #7430 closed

[2020-04-09 12:14] deveshks commented on #8002
As per the documentation: https://setuptools.readthedocs.io/en/latest/setuptools.html#find-namespace-packages, looks like `find_namespace_pacakes` is available for Python3.3+

e.g. for python 2.7.16

[code]

and for python 3.8.2

[code]

[2020-04-09 14:00] pradyunsg commented on #8003
@McSinyx Let's discuss that over IRC?

[2020-04-09 14:59] McSinyx commented on #7829
I've been procrastinating on it for quite a while, and figured that incremental addition might be better since I don't have to rely on memory for the findings (I don't have the habit of noting things down, should start doing it some day :wink:).

From the log above, there are only three cases where is not *already* an error, all of which involving `--root`.  For the moment, I think we can move it

[2020-04-09 18:07] var1abl3 opened #8009 "Update "Caching" section in User Guide"
**Environment**

* pip version: latest
* Python version: all
* OS: all

**Description**
The "caching" section in the documentation is no longer accurate (and misleading).  It states:
"When storing items in the cache, pip will respect the CacheControl header if it exists, or it will fall back to the Expires header if that exists. This allows pip to function as a browser would, and allows the index

[2020-04-09 19:26] deveshks commented on #6781
Pinging @chrahunt , @uranusjr to get their ideas on tackling this 😊

[2020-04-09 19:29] deveshks commented on #6821
Pinging @chrahunt , @uranusjr and @pradyunsg to get their thoughts on how to tackle this :)

[2020-04-09 19:30] deveshks commented on #831
Pinging @pradyunsg and @dstufft for getting their thoughts on how to tackle this 😊

[2020-04-09 19:30] deveshks commented on #6107
Pinging @pradyunsg to get their thoughts on this 😊

[2020-04-09 20:30] sinoroc opened #8010 "The pipX.Y console script is set to the Python version used to build the wheel instead of the one used to install the wheel"
If I understood right the `pipX.Y` console script is set to the version of the Python interpreter used to build the pip's wheel, instead of the version of the Python interpreter used to install it.

Found this issue thanks to this question on _Stack Overflow_:

* https://stackoverflow.com/a/61129679/11138259

Looks like the root cause of the issue lies in the `setup.py` for example here in the lat

[2020-04-09 21:37] sbidoul commented on #7975
@uranusjr I your example you have a `--python-version`. Is it the intent to add options to filter on other compatibility tags? Or is the command expected to return only files that are compatible with the current python?

[2020-04-09 21:40] sbidoul commented on #8001
I believe this is blocked on #988. Currently, although pip detects the compatibility problem, it proceeds with installation, so in a way, it succeeds at installing *something*.

[2020-04-09 21:58] vermeeren commented on #8001
Even without a full dependency resolver it should probably still set the exit code to non-zero, or hard-fail right away when the problem is detected. This is more correct compared to completely ignoring this type of error.

Looking at sources exiting with non-zero or throwing something in `_warn_about_conflicts()` should be all that is needed to resolve this issue, see https://github.com/pypa/pip/

[2020-04-09 22:06] sbidoul commented on #8001
Changing the exit code in that situation would be a breaking change, as there are certainly people out there depending on pip not erroring in that case. This is the kind of change that the team working on the new resolver is going to manage as part of the transition plan.

[2020-04-09 22:32] vermeeren commented on #8001
Considering pip already prints `ERROR`, in all-caps even, this should be considered a bugfix, not an enhancement or similar. Running `pip install some_package_that_doesnt_exist` does result in exit status `1`. I can get not throwing an exception and hard-failing, which makes it impossible to ignore errors.

Users that enjoy ignoring critical errors can either not `set -e` in their scripts, or igno

[2020-04-10 00:07] RDIL opened #8011 "Non-importerror upgrading issue"
**Environment**

* pip version: 19.3
* Python version: 381
* OS: Windows 10

This happened while trying to upgrade pip with `python -m pip install --upgrade pip` (in an admin shell)

Stack:
[code]

[2020-04-10 02:52] uranusjr commented on #8011
I am confused. Why did you specifically mention the error is *not* an `ImportError`? Is there a reason you think is significant?

[2020-04-10 02:54] RDIL commented on #8011
Well I know a lot of the windows upgrading problems have to do with importerrors so I thought I would just clarify.

[2020-04-10 02:55] uranusjr commented on #6546
Distlib has released 0.3.0 in October 2019. pip started vendoring it since 20.0. Closing since the issue would not be present in the latest pip version. Please report a separate issue if you see a similar exception in pip 20.0 or later.

[2020-04-10 02:55] #6546 closed

[2020-04-10 02:58] uranusjr commented on #8011
I see, thanks for the information! Would you mind trying to upgrade pip to 20.0 and see whether the issue persists? This looks similar to #6546, which should be resolved in more recent versions.

[2020-04-10 03:01] RDIL commented on #8011
Well so I am trying to upgrade my pip from 19.3 to 20 but this is the error I'm getting!

[2020-04-10 03:03] uranusjr commented on #8010
Your observation is correct. The wheel specification does not allow post-installation hooks, so this is the best pip can do.

pip actually carry special logic in its wheel installation logic, so it will replaces `pipX` and `pipX.Y` entry points when used to install itself, which explains the somewhat surprising phenomenom you mentioned.

I’m going to close this since the pip maintainers are aware

[2020-04-10 03:03] #8010 closed

[2020-04-10 03:18] uranusjr commented on #8011
Try downloading the `.whl` directly from PyPI, and run `python /path/to/downloaded.whl/pip install --upgrade pip` instead. I’m not completely sure whether that would work, but worth a try.

[2020-04-10 03:18] catPill commented on #1668
@takluyver Thank you for solving the problem that has troubled me for a long time
But I noticed that when installing packages with non-privileged users, Windows 10 python 3.8.2 with pip 20.0.2 is still hard failing.

Traceback (most recent call last):
  File "c:\program files (x86)\python38-32\lib\site-packages\pip\_internal\cli\base_command.py", line 186, in _main
    status = self.run(options, a

[2020-04-10 03:22] uranusjr commented on #7975
@sbidoul My intention was to use it to filter on wheel compatiblity tags and `data-requires-python` attributes on indexes.

[2020-04-10 07:33] sinoroc commented on #8010
Noted.

Still, I would like to draw attention on the fact that if indeed there is logic inside _pip_ itself to by-pass the labels for the console scripts at _install time_ there should be a symmetrical one at _uninstall time_ and it doesn't seem to be the case. My initial report is too confuse and not clear enough on that aspect.

As for the total removal of _pip_'s console scripts (#3164) it woul

[2020-04-10 07:33] cjc7373 commented on #7864
I found out this is because we don't have pip executable file in the virtual environment's `Scripts` folder.
So we can execute `python [...]/src/pip` at https://github.com/pypa/pip/blob/c7bde5bf88c70ac3f807db7d9e7d19745bc0a2e0/tests/lib/__init__.py#L619
`[...]/src/pip` means the absolote path defined in https://github.com/pypa/pip/blob/c7bde5bf88c70ac3f807db7d9e7d19745bc0a2e0/tests/conftest.py#L28

[2020-04-10 08:05] ncoghlan commented on #7953
This affects the `pipenv` local build instructions in https://pipenv.pypa.io/en/latest/dev/contributing/#development-setup:

* `pip3 install -e .` doesn't work as the global `site-packages` isn't writable by regular users
* `pip3 install --user -e .` doesn't work due to `pip` indicating the user site directory is disabled

I'm adapting @agoose77's workaround into a `PIPENV_BOOTSTRAP=1` environment

[2020-04-10 08:12] uranusjr commented on #8010
Likewise!

pip records what it installs, and the uninstallation simply removes them. So the install-time console-script bypass does not need to be mirrored there; that definition is not consulted at all for uninstallation.

[2020-04-10 08:56] sinoroc commented on #8010
I'm afraid I have to insist, since it doesn't match my experience.

In the following transcript, notice how the manually added `bin/pip3.8` file is deleted when _pip_ is uninstalled, although it is not listed in _pip_'s `RECORD` file:

[code]

My assumption is that the file `bin/pip3.8` is deleted because it is listed in _pip_'s `entry_points.txt` file. And indeed, in another test, I removed the `

[2020-04-10 09:19] takluyver commented on #1668
@catPill please open a new issue so that can be tracked properly. It's perfectly plausible that I missed something on Windows.

[2020-04-10 09:52] catPill opened #8013 "Installing packages with non-privileged users on Windows, failed with PermissionError"
**Environment**

* pip version: 20.0.2
* Python version: 3.8.2
* OS: Windows 10

**Description**

Installing packages with non-privileged users on Windows, failed with PermissionError.

**Expected behavior**

Should detect site-packages folder is not writable, try install to user appdata folder instead.

**How to Reproduce**

Run `pip install pandas` with non-privileged user on windows.

**Output*

[2020-04-10 10:55] pfmoore commented on #8011
... or download https://bootstrap.pypa.io/get-pip.py and run `python get-pip.py --upgrade` (which does basically the same thing, but is the documented approach 🙂)

[2020-04-10 11:16] pfmoore commented on #8010
You are correct - the relevant code seems to be [here](https://github.com/pypa/pip/blob/master/src/pip/_internal/req/req_uninstall.py#L569).

But to be honest, I'm reluctant to add any more complexity to this whole mess. I'd much rather we just removed the console scripts, or at a minimum removed the versioned ones, and bypassed the whole problem. If we can't do that, I think we should just accept

[2020-04-10 11:50] pradyunsg commented on #4497
@chrahunt Color me interested. :)

[2020-04-10 13:26] #7872 closed

[2020-04-10 13:46] sbidoul commented on #7555
Since we have resolved the ".egg-info in cwd" issue with #7731 and friends, that is one less thing to worry about when building in place.

[2020-04-10 14:46] #7740 closed

[2020-04-10 15:31] sinoroc commented on #8010
Agreed. It's not obvious that it's worth fixing.

Just to be clear, from what I understood of the [case that prompted this investigation](https://stackoverflow.com/a/61129679/11138259), such files were not created manually, but were the result of installing and upgrading _pip_ globally for multiple versions of the Python interpreter. As always I'll tell them to use the explicit `/path/to/pythonX.Y

[2020-04-10 17:38] pradyunsg commented on #7951
In terms of a timeline for this release, as of right now, I'm thinking of making a beta release on Monday, 20th April. This would give us the opportunity to iron out any kinks in our beta process prior to needing to use it for the resolver rollout.

I'm still undecided on the length of the beta, but it'll definitely be at least 7 days.

@pypa/pip-committers Feel free to keep merging PRs as usual t

[2020-04-11 04:47] SanketDG commented on #8013
Related to https://github.com/pypa/pip/issues/1668

[2020-04-11 05:03] djsing opened #8017 "Packages installed from requirements.txt while in virtualenv does not appear in site packages."
* pip version: 20.0.2
* Python version: 3.8.2
* Operating system: Arch Linux

Steps to reproduce:
1. Using either venv or virtualenv, create a virtual environment (I called mine venv).
2. Create a requirements.txt

3. Enter environment using `source venv/bin/activate`

4. Inside your environment run: `(venv) pip install -r requirements.txt`

5.1. Numpy will download and install with no errors.
5.2

[2020-04-11 05:58] uranusjr commented on #8017
Could you try rerun the command with `--verbose`? My gut feeling is your virtual environment could be broken and pip is installing to the global environment.

[2020-04-11 08:53] banidom commented on #8003
IRC .. How?

[2020-04-11 09:27] McSinyx commented on #8003
@banidom, pradyunsg was referring to the sdist/wheel logging discussion I wanted to start, and since it was off-topic, it should not be here creating you necessary noises.  If you're interested, look for my name *cnx* in [the log that day](http://kafka.dcpython.org/day/pypa-dev/2020-04-09http://kafka.dcpython.org/day/pypa-dev/2020-04-09).  I'm supposed to start a new proper discussion on that matt

[2020-04-11 12:03] gutsytechster commented on #8009
Can I work on the issue? What I can understand is that we need to mention that `pip` uses its own `Cache-Control` settings in place of what is currently written.

[2020-04-11 12:05] pradyunsg commented on #7952
Based on https://github.com/pypa/pip/issues/7951#issuecomment-612137709, we need this for 20.1. :)

[2020-04-11 13:32] gutsytechster commented on #7998
I would like to resolve this issue.

To me, it seems that using the condition as `if auth[0] and auth[1]` in place of the currently used condition i.e. `if auth` here https://github.com/pypa/pip/blob/master/src/pip/_internal/network/auth.py#L222, would resolve the problem. Am I seeking the correct approach?

[2020-04-11 14:23] hongyi-zhao opened #8021 "``pip install -r '' gives a very slow speed."
Hi,

I'm from China, and I use https://pypi.tuna.tsinghua.edu.cn as the pypi mirror to duplicate a environment using the requirments file.

But I see the very slow speed here:

[code]

Any hints for this problem?

Regards

[2020-04-11 14:37] McSinyx commented on #8021
Hi, could you please elaborate on the issue?  Is it your *experience* that it is slow but pip displays otherwise (2 and 14.4 MBps seems, ehm, pretty desirable where I'm from)?

[2020-04-11 14:48] hongyi-zhao commented on #8021
These files are all small files, so the displayed speed cannot be used to judge the real speed.  Only for large file this speed can be used as the standards.  I put the above logs due to the pip freeze there.

It spends about 5 mins, but only freeze there.

So, I said that.

Regards

[2020-04-11 14:53] McSinyx commented on #8021
Got it!  May we have the content of `aiida-quantum-mobile` to reproduce?  Or alternatively the verbose log of `pip` (by adding `-v`)?  My guess would be purely because of connection problem but that doesn't seem sensible, given the connection is not even international.

[2020-04-11 15:05] hongyi-zhao commented on #8021
After a second try, I find that the ``pip install -r '' will spend much time for analysis the dependencies and I guess maybe this is the trouble maker.

The contents of the aiida-quantum-mobile is very long, you could please give a try on it:

[code]
The python version for this environment is 3.6.9.  This environment is make by this project:

https://github.com/marvel-nccr/quantum-mobile/releases/

[2020-04-11 15:41] uranusjr commented on #8021
If dependency resolution time is an issue, try `--no-deps`. The requirements.txt file you provide looks like output from `pip freeze`; dependency calculation would be unnecessary if that’s the case.

Unfortunately pip currently cannot avoid dependency resolution automatically since it has no way to tell from the requirements file.

[2020-04-11 15:47] kitterma commented on #7868
This issue is better captured in https://github.com/pypa/setuptools/issues/2052 - closing.

[2020-04-11 15:47] #7868 closed

[2020-04-11 16:00] uranusjr opened #8023 "New Resolver: Implement a “Lazy” list to avoid network access if the installed candidate is good enough"
Context: https://github.com/pypa/pip/pull/8014/files#r407079100

I think it would be best to implement something like:

[code]

[2020-04-11 17:56] pradyunsg commented on #8023
Hmm... Wouldn't the main change in resolvelib be [dropping a `reversed()` call here](https://github.com/sarugaku/resolvelib/blob/d58960cf57f788c8f456dbc54ce7a59fbf444299/src/resolvelib/resolvers.py#L221)? I understand that flipping the order would require changing tests in resolvelib, as well as changes in the implementation on pip's side, but it would result in less code to maintain overall IIUC.

[2020-04-11 18:22] uranusjr commented on #8023
Maybe I was misunderstanding want you meant; I thought you were looking to eliminate the network call to fetch the candidate list from the index?

Flipping the list order wouldn’t work, since the provider does not know whether it needs to build that list before returning it to the resolver. The provider still needs to append those remote candidates after the installed one, even if they never got a

[2020-04-11 18:37] fedorbirjukov commented on #4475
Is anyone already working on a solution?

[2020-04-11 18:45] uranusjr commented on #4475
@fedorbirjukov If anyone is actually seeking a solution, they are not doing it publicly :) Go head and work on it!

I don’t think it’s a good idea for pip to provide direct access to `requests.auth.AuthBase`; pip using Requests usage should be treated as an implementation detail. An intermidiate abstraction would be needed.

[2020-04-11 18:45] pradyunsg commented on #8023
Hmm... I hear you.

I think this needs a higher bandwidth discussion, since we'd also need to look into changing our implementation of get_preference if we're going to do this.

[2020-04-11 19:50] uranusjr commented on #8023
Yeah, changing it to return an iterator makes sense to me. This can likely be applied to other parts of the ResolveLib to minimise prepare calls (e.g. in criteria it can use generators instead of eagerly filtering on the candidate list).

[2020-04-11 20:03] adamkeinan commented on #7620
I would suggest a common workground that save lots of Time and Pain:
Open the Setup.cfg and the Pip module and validate your pip version,module name+version etc... many times after upgrade/downgrade the file status doesn't change, so as the Requirements which lead to conflicts.

[2020-04-11 20:39] pfmoore commented on #8023
Agreed, a highest-preference-first iterator would be an easier thing for providers to implement. If that's a possible API change for resolvelib, I'd be in favour of doing it there.

[2020-04-11 20:59] uranusjr commented on #8023
I’m anticipating the most difficulty would be occur when a parent package backtracks. Say both A 1.0 and 2.0 depend on B. If the resolver visited 2.0 but backtracked, it needs to re-visit the available B candidates when trying A 1.0. Either the resolver needs to call `find_matches()` for the same package again, or it needs to implement some sort of “reusable iterator” structure like the code snipp

[2020-04-11 21:07] #7952 closed

[2020-04-11 21:20] pradyunsg commented on #7279
The number of parallel jobs we get per-CI-provider:

- GitHub Actions: 20 (with an upper limit of 5 for MacOS)
- Azure Pipelines: 10
- Travis CI: 5 (though PyPA has a bigger pool; I think 10)

IMO, the best utilization would be to have:

- MacOS on Azure Pipelines (for the 10 MacOS workers, most of any platform)
- Windows + Linux + general checks on GitHub Actions
- PyPy + beta/experimental stuff

[2020-04-11 21:53] webknjaz commented on #7279
But they are green in my old PR: https://github.com/pypa/pip/pull/6953

[2020-04-11 22:19] webknjaz commented on #7279
@pradyunsg did you think about wiring up Zuul resources in addition to this? Could test some less conventional distros this way (fedora, centos, debian etc.)

[2020-04-11 23:29] hongyi-zhao commented on #8021
Tried with the following:
`$ pip install --no-deps -v -r aiida-quantum-mobile `

But it seems the install process will stuck on some small packages for some time, while for large packages, the speed is good but finally failed, see the following:

[code]

[2020-04-11 23:46] hongyi-zhao commented on #8021
Based on the above info, I tried with the following steps:
[code]
It seems for large packages, the process is very slow, see the following for more info:

[code]

But finally, this method let me successfully don the trick.

Regards

[2020-04-12 00:55] hongyi-zhao opened #8024 "Stop pip from failing on single package when installing with requirements.txt"
Hi,

I noted the topic [here](https://stackoverflow.com/questions/22250483/stop-pip-from-failing-on-single-package-when-installing-with-requirements-txt), but it seems till now there is still no such option for pip to do this job.

Any hints for this problem?

Regards

[2020-04-12 03:32] uranusjr commented on #8021
In the cases you point out, pip is slow because it is trying to build the package from source. There is no way to avoid the build. If you want installation to be faster, pre-build the packages into wheels (`.whl` files) with `pip wheel`, put the wheel files in a local directory, and use `--find-links` to tell pip where the directory is.

[2020-04-12 05:48] hongyi-zhao commented on #8021
Thanks for your explanations.

Regards

[2020-04-12 09:26] deveshks commented on #7951
Hi @pradyunsg

Is the directive mentioned in the comment above, also applicable for folks who don't have explicit merge access as well?

[2020-04-12 13:47] pradyunsg commented on #7279
It's just skipping those tests entirely. :)

https://github.com/pypa/pip/pull/6953/files#diff-2deae8ed35e0da386b702aa047e106cbR46-R47

I did, yea. I didn't find most of their documentation approachable or any good "hey, here's how you can get started" document or article. Before someone asks, I also looked at bors; and while it would make sense for us to use it, I don't want to bundle that up with

[2020-04-12 15:59] fedorbirjukov commented on #4475
I created PR #8029 based on PR #3731. Fingers crossed.

[2020-04-12 16:02] pradyunsg commented on #7951
No. After April 13th, I'd like to be in-the-loop of, and significantly reduce the number of, PRs that we merge until after the release is done.

[2020-04-12 16:18] deveshks commented on #7951
Thanks @pradyunsg for the response.

So If I understand correctly, April 13-20th is pre-beta, April 20th is the beta, and depending on the length of beta, which is atleast a week as per one your comments above, we will have a release date towards the end of April, and the above stated policy will be applicable till then.

[2020-04-12 21:46] amancevice commented on #4475
I also opened a PR #8030 that is related to this.

My change adds a `--extra-headers` option to pip commands that enhances the `PipSession` object with arbitrary headers so you can do things like token-based authentication.

E.g.:

[code]

[2020-04-12 23:46] NoahGorny commented on #7863
@pradyunsg I tried to look at the relevant code and ultimately failed :(
I do not know pip internal resolving so much, but this problem interested me.
Do you have any ideas on this maybe? :smile:

[2020-04-13 00:40] pradyunsg commented on #7863
@NoahGorny The issue here is that there's 2 kinds of dependencies: build-time dependencies and run-time dependencies. `pip download` only downloads the install time dependencies to the relevant directory... since for a long time, the Python ecosystem did not have any good way to specify build-time dependencies.

That changed with PEP 518 and PEP 517, which added the ability to specify build-time d

[2020-04-13 05:49] tristanvb commented on #7953
Ran into this today on debian 9, not sure what has changed but we have been using `pip3 install --user -e .` for a long time for development purposes, it is strange for this to suddenly stop working.

[2020-04-13 07:24] tgpfeiffer commented on #6482
In my environment, I have `grpcio-tools` listed as a build-time dependency in `pyproject.toml` because I need to compile proto files as part of our installation, and also compile some other code. This works, but because of the `--ignore-installed` flag, every time I run `pip install .` in order to trigger the incremental compilation, `grpcio-tools` are reinstalled. I don't run into version conflic

[2020-04-13 09:02] s-m-e opened #8032 "`pip install --dry-run {package}`"
**What's the problem this feature will solve?**

In certain scenarios I want to know whether pip could actually install a package and its dependencies - without modifying my Python installation at all.

Some of the related questions:

- Can the dependency tree be fully resolved?
- Are there conflicts?
- Are all required packages available (in currently accessible online sources or local cache)?
-

[2020-04-13 10:37] pfmoore commented on #7951
@pradyunsg All of the new resolver work so far has gone in with "trivial" labels, as we intended to add a changelog entry covering the whole thing. SHould we add that changelog for the beta?

[2020-04-13 10:47] gutsytechster commented on #7939
@kubco2, AFAICU, when `platlib` and `purelib` are not same, and the `--target` is provided, `pip` after installing packages to any of these paths, would collect those packages to the `target`. Is this not the intended behaviour?

Let me know if I got your query the right way. I am fairly new to `pip`, so might be missing some points.

[2020-04-13 10:47] sbidoul commented on #5466
@polwel This should be resolved in pip master following https://github.com/pypa/pip/pull/7978

[2020-04-13 10:56] kubco2 commented on #7939
Not sure about part of pip code you described. This issue happens sooner, while installing packages, so it is before collecting it to target directory.

[2020-04-13 11:12] sbidoul opened #8035 "Should pip support named local requirements?"
Pip cannot install packages from relative local directories that depend on each other.

Assume you have `toola/setup.py`:

[code]

and `toolb/setup.py`

[code]

So `toola` depends on `toolb`.

`pip install --no-index ./toola ./toolb` fails with `No matching distribution found for toolb (from toola==0.0.0)`.

A workaround is to use PEP 508 direct urls, so this works:

`pip install --no-index "toola

[2020-04-13 11:21] uranusjr commented on #8035
I wonder if this should be attributed to the resolver’s incompetency. Ideally the resolver probably should be smart enough to know that `./toolb` introduces `toolb` (by building it and introspecting metadata), without the user needing to supply that information.

[2020-04-13 11:29] pfmoore opened #8036 "New resolver - duplicate requirement check"
Pip currently checks for multiple requirements for the same project:

[code]
That happens even with the new resolver.

Question - do we want to retain this check with the new resolver, or is it unnecessary? Certainly the new resolver will be capable of handling double requirements (in ghe above case, giving an error because they conflict, in other cases where they don't, finding a solution that sa

[2020-04-13 11:40] gutsytechster commented on #7921
@smaeul from the options you provided to resolve this issue. Can you explain when you say that the test should accept byte-ordering? I mean, would byte-ordering be dependent on the platform on which the test runs?

I am aiming to resolve this issue. So, any references would also help.

[2020-04-13 11:43] sbidoul commented on #8032
This sounds like a good feature request and one I have been pondering about too.

A slightly different way to frame it is to say "--dry-run" should output the list of transactions that pip install would apply to the database of installed distributions (PEP 376). I.e. which packages would be added, upgraded, and possibly left unchanged.

A machine readable output would enable higher level use cases

[2020-04-13 11:43] pfmoore commented on #8035
The new resolver may address this (as we "prepare" unnamed requirements eagerly). Does this still happen f you use master with `--unstable-feature=resolver`?

[2020-04-13 11:47] uranusjr commented on #8032
A problem with `--dry-run` is that pip can’t really run an installation truly “dry”, since it always needs to build source and sdist. Something like `pip install --no-install` might make more sense technically, but can be nonsensical to read.

[2020-04-13 11:51] hongyi-zhao opened #8038 "The diff between --no-dependencies and --no-deps."
Hi,

When installing python packages, I tried both of the following and it seems they do the same job:

[code]

I cannot figure out the diff of them.  If they are for the exact same thing, why keep two options for one job?

Regards

[2020-04-13 11:52] sbidoul commented on #8035
Ah, yes indeed, the new resolver copes with that example just fine. Great!

So the remaining use case for named local requirements would be https://github.com/pypa/pip/issues/192#issuecomment-564352885

[2020-04-13 11:56] xavfernandez commented on #8038
Hello,

they are indeed the same thing, cf https://github.com/pypa/pip/blob/fc24a178991d62d334cd0606e107fefd6c142e07/src/pip/_internal/cli/cmdoptions.py#L692

As for a reason, no idea ^^
I'd say historical reason and nobody is bothered enough to potentially break some user workflow by deprecating one of those two forms.

[2020-04-13 11:59] #8038 closed

[2020-04-13 12:04] uranusjr commented on #8036
To add some additional context (since the above example does fail, and might give an impression the check is a good thing). The problem is that the current implementation is extremely limiting. One common frustration is when you need different versions of a package in different environments:

[code]

[code]

And this would fail the check:

[code]

So I would say this check should go eventually. Th

[2020-04-13 12:11] s-m-e commented on #8032
@uranusjr Building source and sdist should definitely be part of a proper "dry run". If it fails, it means that the dry run fails meaning that an actual "wet" installation would also fail. This is highly valuable information though I'd also agree with @sbidoul that it could be made optional (e.g. `--dry-run --no-dry-builds`).

[2020-04-13 12:43] xavfernandez commented on #7279
Agreed (i.e. latest CPython x64 interpreter) :+1:

I read that as "unit tests on all supported Python interpreter versions (including PyPy) on x64 arch on all platforms" ?

I read that as "integration tests on all supported Python interpreter (including PyPy) on x64 arch on Linux+MacOS" ?

"integration tests on the latest CPython 2 & 3 and latest PyPy 2 & 3 with x64 arch on Windows"

:+1:

This is

[2020-04-13 13:57] pradyunsg opened #8040 "Update vendored dependencies for pip 20.1"
A tracking issue so that I don't forget about it. :)

[2020-04-13 13:59] #7794 closed

[2020-04-13 14:03] pradyunsg commented on #7279
@xavfernandez Yea, I intended to write CPython, and basically only have 1 PyPy job. I've gone ahead and edited the message to correct that error. :)

This stems from the fact that our tests on PyPy are *really* slow and I'd like to get away with not running tests on it, in too many places. FWIW, I'm going to do these changes incrementally, so there's no reason I can't experiment w/ trying to get P

[2020-04-13 14:04] pradyunsg commented on #7951
Yes!

[2020-04-13 14:06] pradyunsg opened #8041 "NEWS entry for the new resolver"
All of the new resolver work so far has gone in with "trivial" labels, as we intended to add a changelog entry covering the whole thing. Should we add that changelog for the beta?

_Originally posted by @pfmoore in https://github.com/pypa/pip/issues/7951#issuecomment-612847516_

Yes, we should.

[2020-04-13 16:27] amancevice opened #8042 "Allow pip to send arbitrary headers to various hosts"
**What's the problem this feature will solve?**

Currently, there is no simple solution for pip to authenticate with a custom PyPI index using token-based authentication in HTTP headers.

The proposed feature should allow users to supply custom headers as options on various `pip` commands.

Based on discussion in PR #8030, there are a couple of concerns that warrant consideration:

1. The command-

[2020-04-13 16:45] pradyunsg commented on #7951
@pypa/pip-committers After EoD April 13th (basically after today) for you, if you plan on merging any other PRs, please add them to the 20.1 milestone and let me know before you do the merge. Thanks!

[2020-04-13 16:49] jkliegel opened #8043 "Python 3.8.2/pip3: Upgrading/Installing packages locally fails unable to find setuptools"
**Environment**

* pip version:
* Python version:
* OS:

**Description**

**Expected behavior**

**How to Reproduce**

1. Get package from '...'
2. Then run '...'
3. An error occurs.

**Output**

[code]

[2020-04-13 17:09] jkliegel commented on #8043
Environment

pip version:
[jkliegel@ussjcs6208 el7]$ pip3 --version
pip 19.2.3 from /home/tools/VeriSilicon/Suites/VSTE/2019_Q2/el7/lib/python3.8/site-packages/pip (python 3.8)

Python version:
[jkliegel@ussjcs6208 el7]$ python3 --version
Python 3.8.2

OS:
[jkliegel@ussjcs6208 el7]$ uname -a
Linux ussjcs6208 3.10.0-862.el7.x86_64 #1 SMP Wed Mar 21 18:14:51 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux

[2020-04-13 19:04] #7933 closed

[2020-04-13 20:56] #7847 closed

[2020-04-13 20:58] #7964 closed

[2020-04-13 21:19] sbidoul commented on #7555
So option 4 (always build in place) was implemented in #7978.

[2020-04-13 21:21] sbidoul commented on #3500
Closed via #7882 (build in place).

[2020-04-13 21:22] sbidoul commented on #7549
This should be resolved by #7882 (build local directories in place).

[2020-04-13 21:23] sbidoul commented on #6276
This should be resolved by #7882 (build local directories in place).

[2020-04-13 21:23] sbidoul commented on #2195
This should be resolved by #7882 (build local directories in place).

[2020-04-14 00:38] smaeul commented on #7921
@gutsytechster What I mean is that there are two possible utf-16 encodings of any given string, and both are valid. For the second test:
[code]
So in the first test, `assert actual == u'\\xff\\xfea\x00b\x00'` is wrong, because `data = u'ab'.encode('utf-16')` could return the other, equally valid, encoding. The assertion should accept either value (utf16le+bom or utf16be+bom), or ideally not hardco

[2020-04-14 02:40] wimglenn opened #8044 "Document the environment variables which influence pip's behaviour"
The Python docs detail exactly what environment variables are usable and how they influence python's behavior: https://docs.python.org/3/using/cmdline.html?highlight=pythonpath#environment-variables

A similar section for pip's docs would be very helpful. The environment configuration section is not as useful: https://pip.pypa.io/en/stable/user_guide/#environment-variables

It just says to use `PI

[2020-04-14 03:45] danizen commented on #7280
I have only seen this issue twice since pip 20 was released, and in each case, the virtual environment involved had not been upgraded.  Checking in - should this issue be resolved then?

[2020-04-14 04:32] pradyunsg commented on #7280
If this still happens occasionally for users, we should keep this open IMO - to indicate that this needs investigation eventually.

[2020-04-14 07:33] pradyunsg commented on #6120
pep517 switched, so we're supposed to be vendoring toml anyway. And it looks like switching to toml will be pretty simple for now.

[2020-04-14 07:41] pradyunsg commented on #8040
Hmm... There's quite a bit.

I do think it'd be worthwhile to improve our situation w/ `toml` + `pytoml` + `pep517`. :)

[code]

[2020-04-14 08:36] uranusjr commented on #8040
Need to change the `vendored()` line in `pip/_vendor/__init__.py` as well.

We really should introduce a check (some kine of linter?) to ensure we don’t forget to update these…

[2020-04-14 08:44] gutsytechster commented on #8043
Can you reformat the traceback by enclosing it within three backticks?

Apart from it, on having a look at the traceback, you seem to have some network connection problem. I am not sure if it would resolve the issue, but can you try re-installing the packages after toggling your internet connection(or maybe with some other connection)

[2020-04-14 08:49] hongyi-zhao opened #8046 "Failed to run `` pip install -e . --no-deps --isolated '' to install the local git repo of pip."
Hi,

I pulled the master version of pip and then try to install it into my conda environment with --isolated option which previously works but now failed.  See the following:

[code]

Any hints?

Regards

[2020-04-14 09:03] hugovk commented on #7229
🚀 All checkboxes are now checked, closing!

[2020-04-14 09:03] #7229 closed

[2020-04-14 11:33] #8013 closed

[2020-04-14 11:34] #6120 closed

[2020-04-14 11:34] #6136 closed

[2020-04-14 11:35] pfmoore opened #8047 "Improve comment in pip._internal.utils.filesystem.py"
I’m OK with the fix (`EACCES` is indeed an error that would happen), but as @gutsytechster said, you might need to either modify the comment, or put `EACCES` in its separate `except` block and explain it. I *think* this error happens if the parent directory is not readable, but a test would be the best way to make sure. I know this could be difficult to test, but please at least try.

_Originally

[2020-04-14 11:36] uranusjr opened #8048 "Add linter to check for `vendored()` calls in `pip/_vendor/__init__.py`"
https://github.com/pypa/pip/pull/8045#issuecomment-613305096

We have been missing the `vendored()` call updates too many times that this should be beneficial. But at least I am not really motivated enough to put work on this, so it would be nice if some of our downstream distributors can work on this :p

[2020-04-14 11:43] gutsytechster commented on #8047
@pfmoore do you specifically talk about the comment regarding `EACCES`?

[2020-04-14 12:35] SanketDG commented on #8048
What would be the data source for automating this? Where would I get the values upon which `vendored()` is to be called?

[2020-04-14 13:02] uranusjr commented on #8048
IIUC it is supposed to be called for all importable modules in `pip._vendor`

[2020-04-14 13:49] pfmoore commented on #8047
Yes. @uranusjr asked me to spin that off as a separate issue, so that it didn't need to block the main PR. Sorry, I opened this quickly and didn't get round to explaining.

[2020-04-14 16:01] jkliegel commented on #8043
Here is reformatted output:

[code]

[2020-04-14 16:14] dholth opened #8049 "Support installing requirements from arbitrary keys in pyproject.toml"
**What's the problem this feature will solve?**

It can sometimes be useful to install from a `pyproject.toml` that has a list of install_requires = [] without having to build the whole package.

`pip install -r pyproject.toml --key tool.enscons.install_requires` would open pyproject.toml,  look up `['tool']['enscons']['install_requires']`, and install as if those items had been passed as argument

[2020-04-14 16:15] jkliegel commented on #8043
Actually not having the network connection is correct. I am in a secure environment with no network connection. Therefore I am bringing distributions (tarballs obtained from python.org and pypi.org) across onto secure machines and installing there.

This works fine for the python v3.8.2 distribution: compiles and installs correctly, runs tests, works as expected.

The problem starts when I try to

[2020-04-14 17:09] lgmventura opened #8050 "Pip not able to install Spyder 4.1.2 (latest version) on Linux"
**Environment**

* pip version: 20.0.2
* Python version: 3.6.9
* OS: Ubuntu 18.04 LTS

**Description**
Pip is not able to resolve dependencies on installing Spyder. It throws following errors (see also in attached file):
[code]
After running multiple times `sudo pip install prompt-toolkit==1.0.0` successfully as well as `sudo pip install pyflakes==2.1.0` to ensure these dependencies are correctly

[2020-04-14 17:26] amancevice commented on #8042
I got a proof of concept working locally for the blended solution by setting up two local servers:

1. **pypi.public** always responds with a `404`
2. **pypi.private** redirects to pypi.org/simple if the header `Authorization: SPAM` is included, or responds with a `403` otherwise

If I run the command:

[code]

I see an error (as expected) that boto3 could not be found.

If instead I attach a head

[2020-04-14 17:30] amancevice commented on #8042
I think this is a pretty good demonstration of usefulness, but I'd love to hear others thoughts (@uranusjr, @sbidoul, @pfmoore, @pradyunsg, etc)

[2020-04-14 18:26] SanketDG commented on #8048
@uranusjr There seems to be a lot of importable modules in `pip._vendored`. Are we supposed to call them all in `vendored()`  in `__init__.py`?

[2020-04-14 19:27] pfmoore commented on #8049
I'd rather support `-r -`, which would then allow you to use some sort of TOML equivalent of `jq` to read the values you want out and pass them in that way. That would be more general than a specific `pyproject.toml` reading feature.

[2020-04-14 20:00] juanjsebgarcia commented on #3314
Anyone finding this through search:
https://pypi.org/project/pip-upgrade
I've been using the above package to help manage the situation.

Having it native would be super

[2020-04-14 20:03] deveshks commented on #5537
Hi @pradyunsg

Is this something I can take up? I assume that after adding this plugins, we would also have to fix code which doesn't follow the conventions set by these.

[2020-04-14 20:48] duaneking commented on #5599
I just got this issue on a brand new install of Pycharm on Windows 10

Steps to reproduce:
Uninstall all python installs and ide's. Assure system is clean.
Reboot
install newest python - shoulds be newest
install newest pycharm.

Any attempt to update pip in the IDE will give this error:

Error: Traceback (most recent call last):
  File "C:\Program Files\JetBrains\PyCharm 2020.1\plugins\python\hel

[2020-04-14 21:14] pfmoore commented on #5599
Agreed, this looks like a bug in pycharm (notice that the traceback refers to a pycharm helper). I'd suggest taking the issue up with them.

[2020-04-14 21:15] deveshks commented on #5021
Hi @chrahunt , @pradyunsg , @pfmoore

Could I work on this issue?

The issue still exists in the pip `20.1.dev0`

[code]

Also if I understand correctly, the fix will involve changing https://github.com/pypa/pip/blob/master/src/pip/_internal/req/req_install.py#L427 to using `packaging.utlis.canonicalize_name` as indicated in https://github.com/pypa/pip/issues/5021#issuecomment-377768403

[code]

I

[2020-04-14 21:21] duaneking commented on #5599
No its a bug in pip too, but its made worse by pychar'ms terrible design choices, IMHO.

Still, blaming the user is the wrong thing to do and I vote that you soften your tone as this defect reproduces with brand new systems that never had any python install on them before the issue is created by simply installing a standard python development environment on a clean system..

[2020-04-14 21:27] pfmoore commented on #5599
Please demonstrate the pip bug with a clean install of pip not involving pycharm. I'm happy to address pip bugs, but we can't control when other tools use pip in ways that are explicitly unsupported (in this case, calling pip's internal functions).

[2020-04-14 21:31] duaneking commented on #5599
You don't seem to be understanding me,

I'm saying this entire thread is conflating multiple issues and blaming multiple problems on the same thing when that's not the truth, and the error you are listing can actually be gotten multiple ways for multiple reasons.

You seem to be hungup ion the idea that its a user error; Its not. Its a dev error in pip and in any system that wants to use it, many

[2020-04-14 22:13] RafalSkolasinski commented on #5599
@duaneking It's a dev error but not from the pip devs. If devs of software A write it in a way relies on internals of library B then devs of software A are to blame. The leading underscore `_` should be sufficient indication for "use at your own risk". So you indeed seem to be blaming wrong devs.

[2020-04-15 01:31] wwuck commented on #7728
Does this have any effect on the new pip resolver @pradyunsg ?

[2020-04-15 03:52] pradyunsg commented on #7728
Nope. The resolver kicks in after the processing of all potential input sources (including requirements.txt).

[2020-04-15 04:48] pradyunsg commented on #3314
@juanjsebgarcia I think you're asking for #4551?

[2020-04-15 04:52] McSinyx commented on #8043
Is it a PEP 518 thing, i.e. it tries to install build dependencies in a virtual environment?

[2020-04-15 08:33] pfmoore commented on #5599
... and to be 100% clear, this issue is intended as a thread to help users understand and debug the various complex interactions around user config, system, 3rd party and pip behaviour that result in this type of error. The intention is to help users be able to identify where the problem lies, precisely so that they *can* direct issue reports at the right people.

If as a result of the diagnosis,

[2020-04-15 09:38] juanjsebgarcia commented on #3314
I think it applies to both :)

The above package lists all the expired requirements in a given `requirements.txt` so I think it helps alleviate this issue too.

I still think having it natively in pip would be great though, something less interactive...

[2020-04-15 09:59] gutsytechster commented on #8047
Oh okay. No issue. I'd create a PR to close this issue.

[2020-04-15 10:22] uranusjr commented on #5021
I’m likely missing something, but why is the first one containing a version part, but not the second one? I feel this would be the realy problem here; the dot-dash difference doesn’t really bother me (i.e. the package name does not need to be canonicalised), but the different between the output format does, since it indicates there’s some parsing logic wrong.

[2020-04-15 10:26] uranusjr commented on #8049
Personally I tend to think all `-r` usages on “non-locked” requirement specifications should be discouraged, since it does not fit well into the recent best practice trend of lock files. I would be in favour of introducing a new requirements file format, but `pyproject.toml` should not be it; the lock file format should.

[2020-04-15 10:49] deveshks commented on #5021
Hi @uranusjr

This is because at https://github.com/pypa/pip/blob/e40d2670facb6cfc815f948c05ca73abb3200f50/src/pip/_internal/utils/misc.py#L637
`req` is `fluent-logger` when we run `pip install fluent-logger`, and its `fluent.logger`, when we run `pip install fluent.logger`.

Now since the working set only has an entry for key `fluent-logger`, the `dist` is None when we do the second one , and so

[2020-04-15 12:40] uranusjr commented on #5021
I see, thanks for the explaination. The fix you proposed sounds like the correct solution to me. Let’s get this fixed!

Side: I was wondering why the message uses such a unique format, rather than more robust formats like `fluent-logger (0.9.6)` or `fluent-logger==0.9.6`. And it turns out this was introduced way back in #2221. I wonder if it’s possible to change the output, since using dash here w

[2020-04-15 12:52] xavfernandez commented on #8048
I'd suggest using the output of `rg -e "from pip._vendor|import pip._vendor"  src/pip/` to check if those modules are correctly `vendored()`.
Apparently `idna` isn't ^^

[2020-04-15 13:04] xavfernandez commented on #8043
@jkliegel by default with a project containing a `pyproject.toml` pip will try to build the package "in isolation" (and therefore needs to install `setuptools` in this temporary isolated environment.

Since you are offline, you have 2 options:
- use `--no-build-isolation` to disable the isolation mechanism
- provide `--find-links=directory_containing_setuptools_wheel` so that pip can still install

[2020-04-15 13:20] pradyunsg commented on #8049
https://github.com/pypa/pip/issues/7822

[2020-04-15 13:22] deveshks commented on #5021
Hi @uranusjr , I assume you meant using
`no_marker = Requirement(canonicalize_name(self.req.name))` to correct the package name and correctly look up if it is already installed or not. I will create a PR for the same

[2020-04-15 13:37] sbidoul commented on #7822
An alternative that works today (example with `bash`):

[code]

[2020-04-15 14:12] SanketDG commented on #8048
Some more that don't seem to be included:

`pyparsing`
`chardet`
`certifi`

Stupid question, how does not including them not break pip?

[2020-04-15 14:35] xavfernandez commented on #8048
Not stupid at all.
The `vendored()` calls are only useful for "debundled" versions of pip (i.e. the ones packaged & distributed by distributions like Debian or Archlinux, etc).

[2020-04-15 15:14] pradyunsg commented on #4659
Here's a rough draft of what I'd imagined we'd end up with in terms of how the commands' option declaration looks like. **I'm not looking for feedback / inputs on this at this time.** I'm noting it here in case someone else comes around to work on this and would like to know a rough target of what I want us to achieve.

[code]

[2020-04-15 15:17] SanketDG commented on #8048
I see. So it would only break those packages. Looks like @pradyunsg already figured this out in https://github.com/pypa/pip/issues/8040#issuecomment-613278877

[2020-04-15 16:21] duaneking commented on #5599
Again, you seem to be putting words in my mouth or misunderstanding me intentionally.

I'm pointing out issues for others.  Your saying I'm saying something I'm not. Is English your first language? I'm happy to translate or find a way to make myself clearer.

There are multiple issues that get these errors.

I'm not blaming pip devs for pycharm's/jetbrains broken code.

I am blaming pip devs for n

[2020-04-15 17:53] jkliegel commented on #8043
Thank you for you help. The solution that worked for me was

pip3 install --upgrade --no-build-isolation ./setuptools-46.1.3
pip3 install --upgrade --no-build-isolation ./wheel-0.34.2
pip3 install --upgrade --no-build-isolation ./pip-20.0.2
pip3 list
Package    Version
---------- -------
pip        20.0.2
setuptools 46.1.3
wheel      0.34.2

[2020-04-15 17:53] #8043 closed

[2020-04-15 18:10] uranusjr opened #8057 "pip install “offline mode”"
**What's the problem this feature will solve?**
I started wondering whether this is possible when reading #8043. When pip initialises an isolated build environment, it currently access package repositories to get the build tools. This can however be cumbersome when the user does not have Internet access.

**Describe the solution you'd like**
An `--offline` flag that makes pip use only the network

[2020-04-15 18:15] pradyunsg commented on #8032
I'm pretty sure there's an existing issue for this feature request.

[2020-04-15 18:17] pradyunsg commented on #8032
Closing as a duplicate of #53.

[2020-04-15 18:17] #8032 closed

[2020-04-15 18:20] pradyunsg commented on #7819
@pfmoore @uranusjr I think it'd be handy to add a card to our project board to explore this if we can. This can be a significant speedup due to less time spent hitting the network.

[2020-04-15 18:31] kenahoo commented on #7822
@sbidoul I think your workaround is probably less desirable than the `pip install -r <(curl https://foo.com/requirements.txt)` example I gave in my original message.  Yours puts the entire contents of the file into a long shell command, whereas mine at least keeps it in the `stdout`/`stdin` of the processes.

The mental exercise of knowing the different consequences of those two variants, for whic

[2020-04-15 18:49] pradyunsg commented on #53
I just performed some significant housekeeping here, and this issue is now for tracking discussing this use case + if/how pip would change to accommodate this request for new functionality.

---

I've hidden a whole bunch of comments, ranging from really old comments that no longer have the relevant context attached, to those that included "potential hacks/scripting nuggets" to do 90%-of-the-job f

[2020-04-15 18:52] pradyunsg commented on #8032
Okay, housekeeping done. If someone thinks what I did there was inappropriate, please holler here. :P

[2020-04-15 18:53] pradyunsg commented on #7819
#53 just got significant housekeeping done to it. That's now the appropriate tracking issue for this functionality.

[2020-04-15 19:09] pradyunsg commented on #7951
Update: We're on track for a pip 20.1 beta 1 on April 20th.

---

Nearly all the relevant issues have either been merged or deferred to later releases. The only remaining issues are:

- NEWS entry for pip's next-gen resolver's alpha that's going out with this release.
  - needs to be written by some subset of {@brainwane, @pfmoore, @uranusjr, @pradyunsg}.
- Updating vendored libraries.
  - awaitin

[2020-04-15 20:26] hugovk commented on #7350
https://github.com/pypa/pip/pull/6391 has been merged! 🎉

---

Two options have been suggested here for this issue, my initial `pip cache dir` and @chrahunt suggested `pip cache list --json`/`--format=json`.

I don't have a preference, and have updated these branches for each option.

* `pip cache dir`
https://github.com/pypa/pip/compare/master...hugovk:pip-cache-dir2

* `pip cache list --json`
ht

[2020-04-15 20:29] pradyunsg commented on #8048
@SanketDG not exactly.

Those are merely updates to our already-vendored packages. This issue is more about indicating them correctly, so that pip work well even when downstream distributors do things to it that we don't want them to.

[2020-04-15 21:04] sbidoul commented on #7822
@kenahoo sure, your arguments about the risk of shell interpolation are valid. I was not meaning to dismiss the feature request :)

Regarding this specific point, note pip does recognize a number of options inside requirements file, so this risk would still exist when reading requirements from stdin.

[2020-04-15 21:40] jflemer-ndp commented on #6720
As assumed above, on CentOS/RHEL, `certifi.where()` returns `/etc/pki/tls/certs/ca-bundle.crt` ([link](https://git.centos.org/rpms/python-requests/blob/c7/f/SOURCES/python-requests-system-cert-bundle.patch#_32)).

[2020-04-15 22:40] kroister opened #8058 "AttributeError: 'NoneType' object has no attribute 'bandCount'"
**Environment**

* pip version: no se como encontrar esa informacion (i dont know)
* Python version: 3.6.9 y 2.7.17
* OS: Linux Mint 19.3 Tricia base: Ubuntu 18.04 bionic

**Description**

**Expected behavior**

**How to Reproduce**

error
1. Get package from '...'
2. Then run '...'
3. An error occurs.

**Output**
File "/home/kroister/.local/share/QGIS/QGIS3/profiles/default/python/plugins/SemiAut

[2020-04-15 23:47] wwuck commented on #7728
So is there an official consensus on which one is correct @pradyunsg @chrahunt ?

[2020-04-16 01:59] kenahoo commented on #7822
Oh, I didn't realize that!  Thanks for pointing it out, will probably be useful someday.

[2020-04-16 02:29] pelson commented on #7096
FWIW I just checked this against master (2f3a1be1) using both the default resolver and ``--unstable-feature=resolver``, and don't see the issue being resolved.

[2020-04-16 04:30] McSinyx commented on #8058
Hi there, I believe that this is rather a bug in SemiAutomaticClassificationPlugin.  Could you please file the issue there?

[2020-04-16 04:58] SanketDG commented on #8048
Right, I understand. I could write up a quick script that would check for all importable unique modules in `vendor` against all the `vendored()` calls. But my worry is that there could be edge cases at such a crude check.

[2020-04-16 05:35] snorre2 opened #8060 "pyhdf installation error 'No module named glob'"
**Environment**

* pip version: pip 20.0.2
* Python version: Python 2.7.8
* OS: CentOS 7.7

**Description**
Unable to install pyhdf using pip.

**Expected behavior**
pyhdf will be installed.

**How to Reproduce**

1. python -m pip install pyhdf
2. An error occurs:

      ERROR: Command errored out with exit status 1:
               command: /usr/local/pkgs-modules/Python_2.7.8/bin/python /usr/loca

[2020-04-16 06:44] uranusjr commented on #7571
Update from the future

[2020-04-16 06:47] uranusjr commented on #7096
Update from the future: The new resolver cannot solve this problem (although it’s a prerequisite) because the requirements are currently merged *before* it reaches the resolver, by `RequirementSet.add_requirement()`.

The root problem is similar to https://github.com/pypa/pip/issues/8036#issuecomment-612871664. I’m reopening #7571 to track this and #8036.

[2020-04-16 06:47] #7096 closed

[2020-04-16 06:49] uranusjr commented on #7571
Update from the future: Turns out this is still needed because `RequirementSet` still conflates requirements incorrectly in various cases, and we need to reduce its usage even more for the new resolver to get what it needs.

Issues impacted by this include:

* #7096 (`add_requirement()` incorrectly conflates requirements with the same name, but different extras)
* #8036 (`add_requirement()` reject

[2020-04-16 06:50] uranusjr commented on #8036
Tracking this in #7571 instead.

[2020-04-16 06:50] #8036 closed

[2020-04-16 07:34] pfmoore commented on #8060
Python 2.7.8 isn't supported - can you upgrade to at least the latest version of 2.7 and check if the problem happens there?

I suspect the issue is that because we isolate the build environment, packages installed in your system Python aren't visible when building (hence the glob failure). So you could try the `--no-build-isolation` flag to see if that helps (you'd need to ensure you had all the

[2020-04-16 12:02] sbidoul commented on #609
@pradyunsg is this feature worth calling out in the release notes?

[2020-04-16 13:29] changsijay opened #8063 "pip install -t -U removed all other packages bin files"
**Environment**

* pip version:20.0.2
* Python version:3.8.2
* OS:MacOS

**Description**
pip with `-t` removed other file in target bin folder

**Expected behavior**

when install package `ipython` should not remove package `pylint` bin files

**How to Reproduce**

[code]

**Output**

After install ipython, pylint is deleted.

[2020-04-16 13:37] uranusjr commented on #8063
Title edited to improve readability. I hope it is alright.

[2020-04-16 14:11] pradyunsg commented on #609
Wouldn't the entry for #609 cover this?

[2020-04-16 14:27] pradyunsg commented on #7728
So much of requirements.txt is implementation defined that I'm inclined to say we should update the documentation to match what the behaviour is, instead of touching the behavior.

[2020-04-16 15:24] deveshks opened #8064 "Potential bug in "tests.lib.create_basic_wheel_for_package""
**Environment**

* pip version: 20.1.dev0
* Python version: 3.8.2
* OS: OSX 10.15.4

**Description**

When the helper `tests.lib.create_basic_wheel_for_package`  is utilized in a unit test to create a wheel with name containing a `-`, e.g. `simple-package`, and then the wheel is installed, the package name is taken as `simple` and the version is taken as `package`

**Expected behavior**

Seems lik

[2020-04-16 15:40] uranusjr commented on #8064
Ah, this makes sense. The culprit is this line:

[code]

which would give `simple-package-1.0-py2.py3-none-any.whl`, but the wheel spec expects `simple_package-1.0-py2.py3-none-any.whl`.

The fix should be straightforward as well:

[code]