[2018-02-08 17:12] jt1 commented on #5021
Right, but I am afraid similar inconsistencies are being triggered for more usual cases like `pip install`:
[code]

[2018-02-08 18:28] pfmoore commented on #5021
OK, so (ignoring the parts that if I follow your example, are unnecessary):

[code]

triggers a second install, without a proper uninstall/upgrade. That does indeed sound like a bug.

[2018-02-08 22:41] AgarwalSaurav commented on #4935
Hi,

I am having a similar issue. I get the error even when I run `pip3 -V`. If you can have a look at [Stack Overflow](https://stackoverflow.com/questions/48695928/issues-with-pip it would be great.)

I have tried updating and upgrading `setuptools` (and all standard updates).

[2018-02-09 08:14] hagenw commented on #4935
@pradyunsg: I repeated my commands and checked that I have the latest setuptools installed:
[code]
I'm getting exactly the same error as posted above.

[2018-02-09 10:03] cjerdonek commented on #5018
The "successfully installed 8.1.1" part looks like it could be a duplicate of issue #4655.

[2018-02-09 18:20] michaeldayCA opened #5022 "pip erroneously removes packages managed by yum"
* Pip version: 9.01
* Python version: 2.7.5-58.el7
* Operating system: CentOS Linux release 7.4.1708 (Core)

### Description:

Pip is not supposed to uninstall packages that are owned or managed by the operating system, but it will uninstall docker-compose, even if docker-compose was installed by yum.

This leads to a situation where yum still lists docker-compose as installed, but the command fai

[2018-02-09 18:28] benoit-pierre commented on #5022
pip and your distribution package manager don't know anything about each other. For this reason, it's better to install things in your user' site-packages directory (using `--user`) and avoid using `sudo pip`.

[2018-02-09 20:15] stepanveret opened #5023 ""Failed building wheel for vowpalwabbit""
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: Microsoft Windows 10 Home Edition

### Description:
I tried to install vowpal wabbit with pip, the following error occured.
### What I've run
('tensorflow' here is a name of the Anaconda environment. Anyway, exactly the same error occurs when I run `pip install vowpalwabbit`  in my 'base' environment)
[code]

[2018-02-09 20:53] nathanpetersCA commented on #5022
@benoit-pierre I tried your suggestion and it failed:

$ pip install --user docker-compose
Collecting docker-compose
  Using cached docker_compose-1.19.0-py2.py3-none-any.whl
Collecting websocket-client<1.0,>=0.32.0 (from docker-compose)
  Using cached websocket_client-0.46.0-py2.py3-none-any.whl
Collecting backports.ssl-match-hostname>=3.5; python_version < "3.5" (from docker-compose)
  Using cac

[2018-02-09 21:12] benoit-pierre commented on #5022
What's your setuptools' version?

[2018-02-09 22:47] garbas opened #5024 "url from where pip downloaded source/wheel distribution"
* Pip version: any
* Python version: any
* Operating system: any

### Description:

Is there a way to know the URL from where pip downloaded source/wheel distribution? It would be nice to have this information somewhere (maybe in metadata.json). I would be happy even with a hacky version of it.

[2018-02-09 22:55] pfmoore commented on #5024
pip doesn't record that information currently. In principle, it's not needed (it doesn't matter where you get foo 1.0 from, any source should be identical as packages are expected to be uniquely identified by name and version), although I guess if you have to deal with in-development code, knowing where the package came from might be of use for certain types of workflow.

As usual, contributions a

[2018-02-09 23:49] garbas commented on #5024
@pfmoore i'm sorry, i should have better describe my use-case.

I'm writing a pip to Nix[1] tool which would take any `requirements.txt` and produce Nix expressions. Currently I assume that all sources are on *pypi.python.org* which worked until some developers started using it with their private pypi repositories. I would assume any such tool for any other package manager / build tool would need

[2018-02-10 10:34] #5023 closed

[2018-02-10 10:43] pfmoore commented on #5024
I'm sorry, I don't know what a Nix expression is and why (based on a few seconds with Google :-)) you couldn't have a nix expression that said "do `pip install -r requirements.txt`" and avoid the need to re-implement what pip is doing. But that's fine, if that's your requirement then you know whether it's reasonable. But I'm afraid I can't really answer your other questions - I don't know of any o

[2018-02-10 12:20] kiowa commented on #4732
You can get the hash from the cached wheel in ~/.cache/pip/wheels/

[2018-02-10 21:39] pradyunsg commented on #5018
Indeed. That is exactly what it is.

This is fixed in the current master and sadly, older versions of pip can't be back patched for this fix. This is one of those things that'll die down as the next version of pip becomes mainstream.

[2018-02-10 21:54] pradyunsg commented on #5024
Hey @garbas!

Looking at the general use case and the issue linked to above, I'd imagine that asking the user to pass a separate parameter where pypi2nix looks for the package would be a cleaner solution for someone using a private index. It would make supporting packages from multiple indexes sort of more tricky but then recommending the use of multiple requirement files should be an acceptable w

[2018-02-12 10:00] piotr-dobrogost commented on #5024
Previously requested in issue #911. There was short discussion on this subject in another issue but can't find it now.

[2018-02-12 16:11] thesalah1212 opened #5025 "No matching distribution found for install"
when I try to install pip by this command
`python get-pip.py install`
I have got this error message
[code]

[2018-02-12 16:52] benoit-pierre commented on #5025
Use `python get-pip.py`, you don't need the `install` argument.

[2018-02-12 16:59] thesalah1212 commented on #5025
great , thank you

[2018-02-12 17:00] #5025 closed

[2018-02-13 09:37] pbirnie commented on #3090
I could really use --exclude exclude.txt functionality  - we have **transient** dependencies like numpy that are "provided" at runtime. I add these to the PYTHONPATH - but because they dont have exactly the same version name 1.11.1 vs 1.11-mk1 - pip wants to install them

[2018-02-13 16:41] fishd commented on #4893
I've been fiddling with a fix for this and I would like to work on a pull request for it.

[2018-02-13 16:44] pradyunsg commented on #4893
Go ahead! =)

[2018-02-13 16:56] pradyunsg commented on #5018
Could you try reproducing this issue with the current master?

[2018-02-14 08:10] InfiniteCoder commented on #5018
@pradyunsg Would I have to clone the repo and build it do check this? But the master won't have updates, right?

[2018-02-14 17:04] tchilov opened #5027 "AttributeError: cffi library '_openssl' has no function, constant or global variable named 'Cryptography_HAS_X25519'"
* Pip version: unknown; most probably the latest for python-pip (see below)
* Python version: 2.7.14
* Operating system: Ubuntu 17.10

### Description:

I've tried to reinstall via `apt-get remove python-pip; apt-get install python-pip`, but the problem persists.

### What I've run:

[code]

[2018-02-15 04:25] josiahp opened #5028 "pip should try another mirror when dependency download fails"
* Pip version: 9.0.1
* Python version: 2.7.12
* Operating system: Amazon Linux latest docker image

### Description:

With a clean install of pip 9.0.1 inside a docker image, dependency downloads will fail very infrequently.

Today, botocore 1.8.43 was released. As a result, pip attempts to download this version but fails because the new version does not exist on every mirror yet (I think).

pip s

[2018-02-15 05:42] pradyunsg commented on #5028
Hey! Thanks for filing this issue.

There aren't any mirrors being used -- there's only one source that pip uses by default for getting information about the packages.

I'm curious if you could try to reproduce this with `--verbose` option? I guess this was something transient that it won't be reproducible now...

[2018-02-15 05:43] pradyunsg commented on #4993
@sidhujasminder Are there any other queries? If not, please close this issue.

[2018-02-15 05:47] pradyunsg commented on #5006
I am also in favour of reverting.

Pinging @xavfernandez!

[2018-02-15 06:00] #4993 closed

[2018-02-15 19:49] di commented on #5028
I was experiencing the same thing with `botocore==1.8.43` on Travis today ([which seems like it's currently experiencing some issues](https://www.traviscistatus.com/incidents/t68jk6rj92q4)). As far as I can tell, PyPI is fine, so maybe the OP was also in Travis, or there was something else in common? I'd also be curious what `--verbose` would show.

[2018-02-15 20:32] mkhansen-intel opened #5029 "Can we have a 9.1 release with bug fixes?"
* Pip version: 9.0.1
* Python version: 3.6
* Operating system: Ubuntu 16.04

### Description:
It seems that there hasn't been a release in over 15 months, and there are still many people running into bugs such as: #4216 that are fixed in master but not yet released, including me which is why I'm asking this question.

I see also there is still debate about how to get to a 10.0 release.

Can we hav

[2018-02-15 22:23] di commented on #5028
This was likely due to https://github.com/pypa/pypi-legacy/issues/773 and should be resolved now.

[2018-02-16 06:17] pradyunsg commented on #5028
Aha. The non global nature of this is likely why I couldn't figure it out on my machine here.

I'll wait a bit for @josiahp to confirm that it's fixed, as OP. :)

[2018-02-16 10:31] pradyunsg commented on #5029
Hey @mkhansen-intel!

This situation is mostly because of the people with enough understanding of the codebase not having the free time to actually review code.

The thing is pip's current master, has had breaking changes made since the last release and reverting them is not an option and the breaking nature mandates a major version bump. A 9.1 release would be the matter of someone finding the ti

[2018-02-16 19:45] xoviat commented on #5029
@pradyunsg I don't think you will be able to get around clicking the merge button yourself on gh-4799 without another review. There is always the chance of a mistake but at some point you have to move forward.

[2018-02-16 23:15] bobpaul opened #5030 "Req: Warn and stop install if pip is about to clobber over existing files"
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: Linux 4.14.12 on ArchLinux

### Description:
Recently I found pyserial and serial packages install to the same paths. While this is outside pip's control/scope, it seems like pip should at least halt installation if it sees files are about to be clobbered.

### What I've run:
[code]

### What I expected
During `pip install pyserial`

[2018-02-17 06:10] pradyunsg commented on #5029
Yes. I don't want to without another review. I realize that this can be frustrating for you. I apologise for that.

I will merge it without one when I have the bandwidth to also follow up on the other changes needed with build isolation being introduced.

[2018-02-17 06:39] xoviat commented on #5029
Which other changes are you talking about?

[2018-02-17 06:42] pradyunsg commented on #5029
The other PR you've opened and the distribution refactor I'd mentioned earlier (don't have the time to locate the comment, sorry).

[2018-02-17 06:58] #4713 closed

[2018-02-17 07:04] xoviat commented on #5029
I've closed the other PR so that you won't need to think about it for now.

[2018-02-17 12:02] mforkel opened #5031 "Handling of local projects in freeze"
* Pip version: 9.0.1
* Python version: 2.7.14
* Operating system: Ubuntu 17.10

### Description:

I'm using local projects, i.e. non-VCS "editable" installs, in virtual environments during development. `pip freeze` translates them into requirements like
  `<name>==<vers>`
instead of
  `-e <path>`
This makes it hard to re-make the virtual environment based on the requirements recorded by `pip freez

[2018-02-17 12:06] mforkel opened #5032 "Configure install to use local projects"
* Pip version: 9.0.1
* Python version: 2.7.14
* Operating system: Ubuntu 17.10

### Description:

I'm using local projects, i.e. non-VCS "editable" installs, in virtual environments during development.

There does not seem to be an option similar to `--find-links` for configuring `pip install` to use those local projects to fulfill requirements. I think there are at least two use cases:
- Overridi

[2018-02-18 14:34] MaGar0-o commented on #4076
I've encountered the same problem some minutes ago. Is it really OK? :-"
I'm using pip 9.0.1, Python 3.6 on Ubuntu 17.10

[2018-02-18 22:36] ghost opened #5033 "Add flag to disable build isolation"
cc @isuruf @jakirkham

related to conda-forge

[2018-02-18 23:12] xoviat commented on #5033
cc @CJ-wright

[2018-02-19 06:20] Euphorbium opened #5034 "Pip locks up after failing to download a package due to network error."
* Pip version: 9.0.1
* Python version: 3.5.2
* Operating system: Mac

### Description:

If you try to install a package from git repository, with package pinned to a tag or a commit, and this fails due to network issues, all other attempts give

[code]

removing the cache directory does not help.

### What I've run:

[code]

[2018-02-19 17:43] pradyunsg commented on #5034
Hey! Thanks for filing the bug report! :)

Could you post the entire log when running `pip install --verbose --cache-dir ${pip_download_cache} -r requirements.txt`?

[2018-02-20 05:11] pradyunsg commented on #4960
Hey @faxe1008!

It seems that the Python that you're using does not seem to have SSL support (it's a compile time switch for CPython). Could you try to check if `python -c "import ssl"` works? If not, you should probably look into determining how to get a version of Python with SSL support compiled.

Further, I think that [python-list](https://mail.python.org/mailman/listinfo/python-list) or [pyth

[2018-02-20 05:13] pradyunsg commented on #5003
Found it: https://github.com/pypa/pip/issues/4649#issuecomment-333675745

Leaving this issue open to track the number of compatible releases "not selected" being printed. :)

[2018-02-20 12:43] Euphorbium commented on #5034
The command was different. It was `pip install --verbose --exists-action w --cache-dir ${pip_download_cache} -r requirements.txt` Here is verbose output.

Command "git rev-parse HEAD" failed with error code 128 in /pipeline/source/src/django
Exception information:
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/pip/basecommand.py", line 215, in main
    status = s

[2018-02-20 12:53] Euphorbium commented on #5034
Oh, and operating system is probably not mac, this is running in docker container based on ubuntu.

[2018-02-20 16:21] pradyunsg commented on #5034
What's your `requirements.txt` like?

[2018-02-20 18:22] mkhansen-intel commented on #5029
@pradyunsg @xoviat - I understand the hold up on a 10.0 release, but why couldn't a 9.1 be cut without the PEP 518 changes? When were those changes introduced? If you have the commit info, you can tag a release for a point in time before those changes were merged and release from that point. I can help with git wrangling / rebasing if needed. I would need to know which commit(s) introduced the 518

[2018-02-20 18:33] xoviat commented on #5029
I've previously discussed forking this project to allow for more rapid development. but there's the obvious problem that you or I don't have access to the pypi project (although I certainly understand pip better than you do, but that's just because I've implemented some of these features).

One solution is to release a 9.0.1 on anaconda, which would allow upgrading to this newer version as such:

[2018-02-20 18:37] mkhansen-intel commented on #5029
@xoviat - I honestly have no idea how to release something to anaconda, so I can't commit to helping without some idea of the scope of the work involved.

[2018-02-20 18:41] xoviat commented on #5029
It's not much more complicated than `twine upload`; the instructions are [here](https://docs.anaconda.com/anaconda-cloud/user-guide/tasks/work-with-packages#uploading-pypi-packages). The scope of the work involves reverting the PEP 518 code, `running setup.py sdist bdist_wheel`, and then uploading to anaconda (which I can do). I can tell you exactly which code needs to be reverted.

[2018-02-21 03:08] alex opened #5037 "Support wheel cache when using --require-hashes"
Currently if you use `--require-hashes`, pip will ignore the wheel cache because it doesn't know that the wheel was built from an sdist with that hash.

pip should record the hash of the sdist used to build wheels in the wheel cache, and then check that and use the wheel if it matches the pinned hash.

[2018-02-21 03:30] pradyunsg commented on #5037
Hey there! Thanks for filing this issue.

What is the functional benefit of doing this?

[2018-02-21 03:32] alex commented on #5037
Speeeeeed.

This is a huge performance drain on warehouse's CI, because it cannot reuse compiled wheels.

[2018-02-21 04:30] Euphorbium commented on #5034
I have just tried to run it with a simplified requirements file, containing only
`-e git+https://github.com/onitsoft/django.git@reverse-multithreading#egg=django
`
here is the output.
[code]

This easily reproducible. Try to install it, then make a mess of your internet connection. After that even when having a stable internet connection, it is never possible to install the package.

[2018-02-21 13:35] ghost opened #5038 "[IMPROVEMENT] adding asciifier.py to the pip package manager"
#### [IMPROVEMENT] adding asciifier.py to the package manager

---

**IMHO, it would be nice to:**
- _add asciifier.py to the package manager_

---

**motivation**
- _it's a good tool for writing old schoold readme files for opensource projects_
- _the community could benefit extensively from it_

---

**the url for the project can be found @:**
- _https://github.com/ola-ct/asciifier_

---

<img s

[2018-02-21 15:56] pfmoore commented on #5038
Hi - thanks for the suggestion. It would be extremely difficult to include asciifier as part of pip, as its dependencies are large and include C extensions (which we can't bundle with pip). Also, it seems to be more a tool for developing your project, whereas pip is focused on installing packages.

What benefit do you see from adding asciifier to pip, rather than people simply using it as part of

[2018-02-22 01:18] awesometim1 commented on #4966
It's been almost a month, so could I try fixing this issue?

[2018-02-22 05:49] pradyunsg commented on #4966
There's an open and approved PR for this.

@awesometim1 You're more than welcome to try to take a stab at another first-timer issue. =)

[2018-02-22 12:38] awesometim1 commented on #4966
@pradyunsg oh sorry I didn’t see that. Thank you for the reply!

[2018-02-22 13:09] boeddeker commented on #5024
@pfmoore: As far as I know it matters what the source of a package is, when the package contain C or C++ code.
For example, if you install numpy with conda (anaconda) or with pip changes what you get, because the conda numpy package is linked against mkl while the pip version is not.

I am sure there are much more package that depends on C/C++ Code where the source matters (e.g. matplotlib, tensor

[2018-02-22 13:21] pfmoore commented on #5024
In theory binary compatibility like that should be handled via the wheel compatibility tags. In practice, the tags aren't that fine grained, but that's an outstanding issue to be solved. Where you got it from would at best be a heuristic (for example, PIL from conda is compatible with numpy from PyPI, as PIL doesn't use MKL, but scipy from conda and numpy from PyPI would clash).

[2018-02-22 14:06] boeddeker commented on #5024
I do not know wheel compatibility tags but as an user I use for example `pip show numpy` to get the version of numpy and when I am not sure if numpy is installed from conda, I usually reinstall it. In this way, I ensure that it is from the correct source.

I only wanted to mention a use case for the requested extension for pip show from #911, that could also be used programmatically.

[2018-02-22 20:51] prometheanfire opened #5039 "pip install foo[*] to install a package and ALL of it's extras"
* Pip version: 9.0.1
* Python version: 3.6.3
* Operating system: Linux

### Description:

I'd like `pip install foo[*]` to install a package and ALL of it's extras.

This would allow those that want to make sure they have all the possible integrations to have them without searching first.

### What I've run:

`pip install foo[*]`, it doesn't work

    pip._vendor.packaging.requirements.InvalidRequ

[2018-02-23 01:46] bladeoflight16 opened #5040 "uninstall fails when package is found in PYTHONPATH"
* Pip version: 9.0.1
* Python version: 3.5.1 and 2.7.14
* Operating system: Windows 7

### Description:

I have a project where I'm building a wheel using setup tools. By mistake, the directory containing the package and setup.py file ended up on `PYTHONPATH` without my realizing it. As a result, the package was listed in the output of `pip freeze`, but when I attempted to `pip uninstall` it (thin

[2018-02-25 09:32] MartinThoma commented on #4466
https://stackoverflow.com/a/48972085/562769

[2018-02-25 09:32] MartinThoma commented on #3784
See https://stackoverflow.com/a/48972085/562769

[2018-02-26 13:34] tomjaguarpaw commented on #4216
I deleted `~/.local/lib/python3.5/site-packages` and reinstalled everything *except* matplotlib.  That fixed this problem for me.  After that I could then install matplotlib successfully.  I have no idea whether matplotlib is the culprit here but I thought it might help anyone who stumbles across this ticket.

[2018-02-26 14:37] zapman449 opened #5041 "pip installs directories with SGID permissions"
* Pip version: pip 1.5.6 from /usr/lib/python2.7/dist-packages (python 2.7) AND pip 1.5.6 from /usr/lib/python3/dist-packages (python 3.4)
* Python version: 2.7.9 AND 3.4.2
* Operating system: Debian Jessie

### Description:
When I set `umask 0022` before running pip, I expect the directories to be created with permissions of `0755` and files to be created with `0644`.  Instead, directories are cr

[2018-02-26 21:33] JaimieMurdock commented on #1182
Just wanted to note that I've noticed this issue (or a similar one) twice with the [eduroam](https://www.eduroam.us/) university network on Macs.

[2018-02-26 21:40] pisymbol commented on #2677
I too have now ran into this (or at least something similar).

I need 'wheel install-scripts' to be able to install to a custom path. Right now, it zonks the script wrapper always in '/usr/bin' without the ability to change the prefix path.

Is there really no way to have console scripts post wheel install to a custom path? I can certainly do this with eggs.

[2018-02-27 03:12] LiberiFatali commented on #3593
This may help https://askubuntu.com/questions/509283/python-no-module-named-datetime

[2018-02-27 04:46] brainwane commented on #4883
Hi! I'm the Warehouse project manager -- and helped write [the blog post that just went up today, asking for package managers to test pypi.org](https://pyfound.blogspot.com/2018/02/python-package-maintainers-help-test.html). [Here's the Warehouse roadmap](https://wiki.python.org/psf/WarehouseRoadmap) and [here's an overview of the remaining issues to resolve before we have Warehouse replacing lega

[2018-02-27 05:54] brainwane opened #5042 "Add Warehouse base URL for index option documentation for install, search"
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: Debian Linux 9.3 (stretch)

### Description:

We should, in [the `pip search` documentation](https://pip.pypa.io/en/stable/reference/pip_search/#options) and [`pip install` documentation](https://pip.pypa.io/en/stable/reference/pip_install/#cmdoption-index-url), remind people that the alternate index URL for the new PyPI is https://p

[2018-02-27 08:29] suyash248 commented on #4533
I had a similar issue. Following worked in my case-

<path-to-env>/bin/pip3 install -r requirements.txt

[2018-02-27 08:29] awbacker commented on #4883
At this stage is warehouse suitable for local testing as a private repo?

I don't actually have a pypi account; we have a private `pypicloud` instance that stores our (relatively limited) internal packages though.  It would be nice to scrap that.

[2018-02-27 08:31] suyash248 commented on #4533
I had a similar issue. Following command worked for me-

`<path-to-your-env>/bin/pip3 install -r requirements.txt`

[2018-02-27 12:06] dstufft commented on #5042
Install and search use different endpoints. Install should use /simple/ while search uses /pypi.

Sent from my iPhone

[2018-02-27 14:02] stonebig opened #5043 "pip-9.01 didn't check downgrade requirement. is it normal behavior ?"
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: Windows 10

### Description:

a "pip install requirements.txt" containing spyder, didn't complain of an installed PyQt5-5.10, when there was this specification in  the Spyder-3.2.7 wheel: (re-extracted from the wheel METADATA itself, for check)

[code]

### What I've run:

pip install --no-index --pre --trusted-host=None --find-links

[2018-02-27 14:04] stonebig commented on #5043
detailed logg:
[code]

[2018-02-27 14:50] pradyunsg commented on #5042
Also relevant here: #395.

[2018-02-27 15:48] di commented on #4883
@awbacker I responded to you on IRC but I'll CC it here for posterity:

I wouldn’t recommend it. Warehouse is really only designed to be https://pypi.org, you’ll be much better off with projects designed to be private indices like `pypicloud` or `devpi`.

[2018-02-27 19:02] NotSqrt commented on #4537
Hi,

In case someone else encounters this situation:

I faced this issue on Gitlab CI when reusing the same virtualenv between builds.
When the previous build had run `pip install -e .`, the corresponding `*.egg-info/` is cleaned up at the start of the next build, which will result in `ContextualVersionConflict` exception when running `pip install -e .`.

By removing the `*.egg-link` file in the r

[2018-02-28 07:06] pradyunsg commented on #5043
Hey @stonebig!

Thanks for filing this issue! What you've stumbled upon is a known issue in pip - #988.

Could you provide the `requirements.txt` for this situation? Also, what is the output of running `pip check` after the `pip install ...`?

[2018-02-28 11:08] stonebig commented on #5043
my Qt5_requirements64.txt is kind of big, but here it is below.
PyQt5-5.10 was pre-installed in standard python, before playing the Qt5_requirements64.txt

[code]

[2018-02-28 11:11] stonebig commented on #5043
pip check (didn't know about it):
[code]

[2018-02-28 11:14] stonebig commented on #5043
pip list (I updated Holoviews since the problem + notice PyQt5-5.10/Spyder-3.2.7 forbidden combination is stillhere but un-noticed per pip check):
[code]

[2018-02-28 11:41] stonebig commented on #5043
I don't ask for perfection in pip, but the sentence "included batteries don't fit" comes to mind.

[2018-02-28 13:20] ptpankajtiwari5 opened #5044 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x93 in position 10: invalid start byte"
This is the traceback:

![screenshot from 2018-02-28 18-26-05](https://user-images.githubusercontent.com/26799663/36789695-6f04526c-1cb8-11e8-8fc6-f4c0f5c61be6.png)

[2018-02-28 16:33] iyanmv commented on #1182
@JaimieMurdock I don't think it's the same issue. Eduroam is just a network of hotspots and it uses WPA2 Enterprise to authenticate users with your university credentials. If you have a similar problem could be because your university uses internally (but it has nothing to do with eduroam) a proxy with NTLMv2. Are you using cntlm?

[2018-02-28 22:57] pfmoore commented on #4981
@xoviat appears to have closed #4799. Where does that leave us with PEP 518 support and a pip 10 release? Are the parties with concerns about the current state of support for PEP 518 willing to accept a release with what we currently have in master? If not, how do we unblock things?

Options seem to be:

1. Reopen #4799 (@pradyunsg had promised to merge it, I don't know where that promise stands n

[2018-02-28 23:25] pradyunsg commented on #4981
I'll be happy to resurrect #4799 on my own. I'm just a little surprised
that it was closed. I'd marked 1st March as the day to merge that PR in my
calendar, so what's happened is funny to me at some level.

I think reverting is reasonable, mostly because I'm not aware of
discussions about how to introduce build isolation to pip and
implementation of the same.

I'm strongly in favour of a maintenan

[2018-03-01 02:08] feluxe opened #5045 "index-url extra-index-url install priority order"
* Pip version: 9.0.1
* Python version: 3.6
* Operating system: Linux

### Description:

I have this in my `pip.conf`:

[code]

Let's assume `packageX` exists in both registries and I run `pip install packageX`.

I expect pip to install `packageX` from `https://myregistry-xyz.com`, but pip will use `https://pypi.python.org/pypi` instead.

If I switch the values for `index-url` and `extra-index-url`

[2018-03-01 02:13] benoit-pierre commented on #5045
Is that for the same distributions for `packageX`? As in same format and version?

Because, if for example both indexes provide `packageX-1.0-py3-none-any.whl`, than there's is no reason for pip to prefer one over the other: they are supposed to be the same.

[2018-03-01 04:49] feluxe commented on #5045
Thanks for your reply!

These are two different packages maintained by two different parties. `packageX` on `https://myregistry-xyz.com` is a private package. The only thing they have in common is the name and maybe (coincidentally) the version.

Downside with this: I have to register a lot of empty placeholder-packages on pypi to make sure none of my private package names is registered by someone

[2018-03-01 07:02] pradyunsg commented on #4981
Cool, so #4799 is good to go IMO. I'll merge it once CI is happy.

The roadmap for pip 10.0, as I understand, would be:

- Triage Issues/PRs -- I'll take out some time and do this in the coming exam week. :P
- Important PRs: #4989, #4835
- Important Issues: #4803
- Nice-to-have PRs: #4977, #4978, #4925, #5000, #5010, #4932, #4956, #4877
- A beta release
  - Publicity saying -- lots of changes made

[2018-03-01 08:50] #4647 closed

[2018-03-01 08:56] pfmoore commented on #5045
Packages are expected to be unique up to name and version, so two wheels with the same package name and version are treated as indistinguishable by pip. This is a deliberate feature of the package metadata, and not likely to change.

Rather than registering a whole load of empty packages on PyPI (which as you say, isn't that friendly, although probably OK if you use a unique prefix like `mycompany

[2018-03-01 08:57] pfmoore commented on #4981
Nice! Thanks for putting that list together. I'll try to find some time over the next week or so to review them, and I'll get up to speed on the release process.

[2018-03-01 09:41] pradyunsg commented on #5006
@pfmoore I'm marking this as a release blocker but I guess this is a good candidate to get feedback on during the beta cycle.

My position is the same.

[2018-03-01 09:47] pradyunsg commented on #4981
I'll add all linked issues to the 10.0 milestone.

[2018-03-01 10:29] duncanmmacleod commented on #4745
Has any more discussion taken place regarding this issue? This would be very useful for my CI testing as well, in particular to disallow implicitly upgrading system-installed (`apt`/`yum`/`port`) packages when installing extra packages with `pip`.

[2018-03-01 10:39] pradyunsg commented on #4745
The thing is if pip's upgrading a package when `--upgrade-strategy only-if-needed` is given, it means that the package's dependency requirements are not satisfied by an installed version -- it would be wrong on pip's part, since it's equivalent to intentionally installing a broken package.

[2018-03-01 10:40] pradyunsg commented on #4745
That said, is there some reason you're not using --user or a virtual environment with system site packages visible?

[2018-03-01 10:54] duncanmmacleod commented on #4745
@pradyunsg, for my testing I want to leave the system packages as they are, and install as many extras as I can with pip. If these extras require upgrades to system packages, I'm happy for pip to fail.

However, with the current `install-strategy` options there's not way for me to tell pip '_try and install this package, but don't upgrade any dependencies_'.

[2018-03-01 11:07] pradyunsg commented on #4745
Let me try an example -- if pkgB 1.0 is installed and you do `pip install pkgA` and, say, `pkgA-2.0` is selected which depends on `pkgB > 1.0`. If you don't upgrade `pkgB`, this means when you're gonna try using pkgA, it's likely not gonna work or break in some subtle way because the version of pkgA is not compatible with pkgB installed.

This is why currently, you have to either allow for upgrade

[2018-03-01 11:27] duncanmmacleod commented on #4745
@pradyunsg, the functionality we're asking for is not for `pip` to install the `pkgA-2.0` ignoring the dependency, but to raise an exception saying that it can't install `pkgA` without upgrading `pkgB`.

Extending your example, if `pkgA-1.0` was compatible with `pkgB-1.0`, ideally `pip` would select that one over `pkgA-2.0`.

[2018-03-01 11:43] pradyunsg commented on #4745
Aah, right. Then it makes sense to me. =)

I can tackle this after #988, since I'm gonna use zazo to fix that and the design that it uses would greatly simplify the implementation of another upgrade strategy.

I'm curious what other @pypa/pip-committers feel about adding an upgrade strategy, since as I saw it, `--upgrade-strategy` was a short term workaround for broken pip behaviours of using "glo

[2018-03-01 12:04] duncanmmacleod commented on #4745
@pradyunsg, thanks for taking the time to understand the reasoning. If you think I can help with development, or testing, please just let me know.

[2018-03-01 12:14] bsipocz commented on #4745
@pradyunsg - thanks for taking this up. As I also said in the original description, this feature would be extremely useful during CI testing as the current behaviour led to cover up a few bugs when we didn't notice in time that pip upgraded some package while we assumed an older one was used.

[2018-03-01 12:19] pfmoore commented on #4745
I agree with @ncoghlan that `error-if-implicit` would be a better name for this. As to whether we do this, I don't really mind if we do, but my understanding is that this whole option will get ripped out when the full resolver lands, so it's a short term thing at best (to the extent that we may well be targeting the resolver for the next major pip release, so it's not that clear to me that this wo

[2018-03-01 13:24] duncanmmacleod commented on #4745
@dstufft, that could be possible, but in the scenario where you don't want __anything__ upgraded, that would require specifying essentially _all_ of the currently-installed packages every time you want to install anything else. Is there a convenient way of doing that (I can imagine some hacking around with `pip freeze`)?

[2018-03-01 13:51] pradyunsg commented on #4745
I think that what can do here, which will work regardless of what options are passed to pip, would be use pip freeze prior to installation to get version numbers of packages installed, run the installation, run pip freeze again and then check if any packages that you didn't want upgrading got upgraded.

[2018-03-01 13:59] pradyunsg opened #5046 "--ignore-installed and dependency resolution"
I tried looking for why it was introduced but I couldn't figure out why it was added through the git history. It seems to have been around there since at least pip 0.6.

I'm pretty sure I can implement a Provider to preserve the behavior that it's asking for. I'm actually wondering if this option is in fact relevant once a resolver is added?

[2018-03-01 14:00] pradyunsg commented on #5046
/ping @pfmoore @dstufft @xavfernandez

[2018-03-01 14:28] pfmoore commented on #5046
Not sure what you're asking. Why does `--ignore-installed` exist? I don't know the original reason, but I'm pretty sure I've used it to force-install a particular version (without having to first uninstall then reinstall, and no, I don't know why I needed `--ignore-installed` rather than `--force-reinstall`). I'm not too worried about having the specific option, but I'd rather we didn't lose the f

[2018-03-01 15:34] feluxe commented on #5045
I think this clears it all, at least on my side. I'll just prefix all private packages. Thanks for the infos!  :)

[2018-03-01 15:34] #5045 closed

[2018-03-01 17:54] #4876 closed

[2018-03-01 18:44] xoviat commented on #4981
gh-5033 is a new release blocker that I recently discovered. conda-forge will be broken without it.

[2018-03-02 00:54] devcorrelator opened #5047 "distlib causing pip install to fail on windows."
* Pip version: 9.0.1
* Python version: 2.7.14
* Operating system: windows 10

### Description:

Fist, my actual issue is with your distlib, but it lo longer seems to be hosted on bitbucket.

I installed python with the installer package from python.org.
I tried to run pip, but it couldn't be found:
[code]
I took a look in C:\Python27\Scripts and there was no `pip.exe` there.
I tried to install pip

[2018-03-02 07:07] pradyunsg commented on #5046
Basically, I'm going through "figure out the option mess" phase, so, the situation you describe is exactly what I'm trying to break down and simplify. I guess if nothing else, good documentation sounds like a good idea.

The motivation being that every subtly different behaviour should have a separate class, which means a lot of subtly different behaviours would result in a lot of code. I guess th

[2018-03-02 09:15] pfmoore commented on #5046
Ah, OK. I think `--force-reinstall` is typically better, as it does a clean uninstall. As I understand it, `--ignore-installed` is bad because it simply installs over an existing installation, so it won't do a clean uninstall.

So I think the only use cases I see for `--ignore-installed` is to handle broken installations where metadata is corrupt or something, so that pip can't uninstall an existi

[2018-03-02 10:46] pradyunsg commented on #5033
Why?

How does it break conda-forge?

[2018-03-02 10:46] pradyunsg commented on #5033
You've stated it's a release blocker, so, I'm curious as to what makes it one.

[2018-03-02 11:06] pfmoore commented on #5033
Agreed. Someone's going to have to explain why build isolation breaks conda-forge (and why conda-forge cannot fix it at their end) before this can be considered a release blocker.

The link to https://github.com/conda-forge/staged-recipes/pull/5200 seems irrelevant - I can see no reference to this issue in there.

Unrelated to the issue of whether this is a release blocker, I'm not keen on users b

[2018-03-02 14:50] jameshfisher opened #5048 "`pip install virtualenv` embeds absolute path to Python interpreter"
Pip version:

[code]

Python version:

[code]

Operating system: macOS 10.13.3

### Description:

This morning, when I ran `virtualenv`, I got this:

[code]

`virtualenv` only started behaving this way today. It worked yesterday. It broke because `virtualenv` is a Python script which embeds the absolute path to a Python interpreter which went away:

[code]

It appears that this absolute path is ge

[2018-03-02 14:56] pfmoore commented on #5048
That's correct and by design. Resolving from `PATH` is a potential source of errors, as the Python interpreter active on your PATH may not even have virtualenv installed (it's perfectly acceptable and supported to run the virtualenv script via its absolute path, without it being on `PATH` at all).

You don't explain how the Python interpreter "went away", but if you uninstall and reinstall a Pytho

[2018-03-02 17:23] benoit-pierre commented on #5046
I don't think there's a valid use case for `--ignore-installed`, it's way to easy to end up with a mess when using it. Better for users to uninstall manually, then to blindly execute such commands.

[2018-03-02 17:50] dpalbrecht commented on #5023
I'm having what looks like this same issue - what was this fix?

[2018-03-02 19:10] xoviat commented on #5033
The entire conda-forge architecture is based on internal build dependencies. In other words, packages need to be built in an environment of conda packages, because they may not be binary compatible with pypi packages. In addition, conda-forge has recommended the use of pip to build packages, rather than `setup.py install`.

I'm almost tempted to close this issue because no one in charge of conda-f

[2018-03-02 19:12] isuruf commented on #5033
@xoviat, can you explain to me the issue. I'm not familiar with what build isolation is.

[2018-03-02 19:13] xoviat commented on #5033
pip 10 will fetch build dependencies from pypi, even if dependencies are available locally. Do you understand?

[2018-03-02 19:15] xoviat commented on #5033
Let me rephrase. pip 10 will create another "conda environment" composed of exclusively pypi packages, and then run the build inside of that.

[2018-03-02 19:17] isuruf commented on #5033
Thanks. That's going to be an issue with conda-build in general and break building conda packages.
cc @msarahan

[2018-03-02 19:26] msarahan commented on #5033
Yes, if pip doesn't care about the local environment, that will be hostile to the conda packaging ecosystem.  It will hide errors in conda recipes and potentially use binary incompatible packages, depending on how wheels move forward with use of shared libraries.

Please add the option that @xoviat suggests here, or let us know and we'll do it.

Thanks @xoviat for raising the issue.

[2018-03-02 19:32] pradyunsg opened #5049 "PEP 518: Use build isolation only for "modern" sdists"
Currently, the PEP 518 support in pip does every wheel build in isolation -- at least as per my understanding -- and this is not correct. This would break a lot of existing packages and we don't want to do that.

The correct behaviour here would be to branch on the "legacy" sdists to run as we did with pip 9 and to run "modern" sdists through the isolation currently in pip master.

I realized this

[2018-03-02 19:41] xoviat commented on #5049
This is not correct, and in addition, not related to gh-5033. This issue should be closed.

[2018-03-02 19:41] xoviat commented on #5049
https://github.com/pypa/pip/blob/34cc3649038395e304a6ea3005b687ecd247af16/src/pip/_internal/operations/prepare.py#L135-L136

[2018-03-02 19:42] pradyunsg commented on #5033
I'm not too familiar with the details so bear with me please. IIUC, you build a package's build-dependencies before building a package and then build that package in an environment with exact those dependencies installed, correct?

It is be possible to tell pip, to not hit PyPI and just use wheels available in a local directory when building a certain package that does use the new "build isolation

[2018-03-02 19:47] pradyunsg commented on #5049
Ah right. I got misdirected by:

https://github.com/pypa/pip/blob/34cc3649038395e304a6ea3005b687ecd247af16/src/pip/_internal/wheel.py#L629

It is indeed unrelated to #5033. I just remembered because of it. =)

[2018-03-02 19:47] xoviat commented on #5033
No, because conda does not build wheels.

[2018-03-02 19:48] msarahan commented on #5033
We don't use wheels at all.  What we provide instead is a full environment - python, package  dependencies, everything.  We take a snapshot of the files in that "prefix," and then we run ``pip install --no-deps .`` using the python interpreter in that environment.  We take another snapshot after that - new files are what get bundled up.

[2018-03-02 19:49] xoviat commented on #5049
Actually, that kwarg should be removed.

[2018-03-02 19:51] pradyunsg commented on #5049
Yep. I agree. =)

[2018-03-02 19:51] #5049 closed

[2018-03-02 19:57] jakirkham commented on #5033
Yeah, IIUC build isolation is going to be a big problem not just for conda and conda-forge, but other packagers as well. Copying some other folks that might be interested in this issue. Sorry in advance if I'm being overly concerned about this and misestimating it area of effect.

cc @adamjstewart (Spack) @warsaw (Debian) @junghans (Gentoo) @FRidh (Nix) @jimfulton (Buildout)

[2018-03-02 20:18] benoit-pierre commented on #5033
Why not use `setup.py bdist_wheel` followed by `pip install --no-deps the_wheel`?

[2018-03-02 20:21] xoviat commented on #5033
@benoit-pierre As I'm sure you're aware, setup.py bdist_wheel is not a reliable abstraction given that PEP 517 will be coming out soon.

[2018-03-02 20:22] benoit-pierre commented on #5033
Yeah, the wonder of multiple build systems....

[2018-03-02 20:24] adamjstewart commented on #5033
@jakirkham Thanks for pinging me. Spack builds all Python packages using `python setup.py build` and `python setup.py install`, not using `pip`, so I don't _think_ this will be an issue for us?

Let me bring more Spack people into the mix just to confirm: @tgamblin @scheibelp @lee218llnl

[2018-03-02 20:25] xoviat commented on #5033
@adamjstewart Since you're here, are you aware of the coming PEP 517 modifications to packaging infrastructure?

[2018-03-02 20:27] xoviat commented on #5033
The one-sentence summary is that we're going to make `setup.py install` implementation-defined and require pip to install packages (or more specifically, a compatible frontend).

[2018-03-02 20:32] pradyunsg commented on #5033
Looking at https://github.com/pypa/pip/issues/3691#issuecomment-263052471, @njsmith mentions that there should be a flag to disable build isolation.

Seems like this is an item that was missed, in the list of things to be implemented for PEP 518.

[2018-03-02 20:36] xoviat commented on #5033
@pradyunsg This shouldn't really be a complicated fix; I think it's just checking flags in `operations/prepare.py`.

[2018-03-02 20:42] adamjstewart commented on #5033
@xoviat I wasn't aware of PEP 517. I won't claim that I understand most of it, but we may have to reconsider how we install packages. It sounds like we'll either need to wrap around pip or become a compatible frontend for the small subset of packages that decide to take advantage of PEP 517? We weren't wrapping around pip because Spack needs to manually manage dependencies, downloads, and installa

[2018-03-02 20:42] pfmoore commented on #5033
@pradyunsg - In @njsmith's comment, he was talking about broken build requirements, which is a relatively niche issue. Conda-forge and Spack sound like they might be heavy users of such an option, to the point where it's going to be required for them. But if it's a simple enough fix that's not a major point.

I'd also encourage the conda-forge and Spack people to review PEP 517 (and 518) and provi

[2018-03-02 20:46] xoviat commented on #5033
@adamjstewart The command that you're looking for is (though you'll need the flag that we're going to add when pip 10 comes out):

[code]

[2018-03-02 20:47] pradyunsg commented on #5033
@pfmoore Yeah, it's a simple fix.

PS: It's 2am for me here and I have an examination on IoT, in about 7 hours or so. I'll shoot up a PR today (in my timezone).  =)

+1

Please do.

[2018-03-02 23:12] #5020 closed

[2018-03-02 23:45] pradyunsg opened #5051 "Refactor InstallRequirement"
I've had this cooking in my head for a bit now. These aren't critical path for some feature but this definitely something I want to do to make pip more approachable for new contributors and make it easier to reason about the installation flow. I've hinted this before in https://github.com/pypa/pip/issues/4713#issuecomment-327888155.

The idea is that, eventually, the resolver should consume Requir

[2018-03-03 06:57] hanspres1999 commented on #3440
![screenshot 40](https://user-images.githubusercontent.com/28779945/36931554-27855166-1ede-11e8-94ae-bb843af491bf.png)

Im getting this error or something everytime i try to install something from pip. Please help as im still unable to use pygame

[2018-03-03 08:07] FRidh commented on #5033
I'm confused with this issue, especially due to the lack of a description.

With Nix we use first a command to build a wheel, which in the case of the setuptools builder is `python setup.py bdist_wheel`, and then in the generic install phase we install it with `pip install *.whl`. In both the building and installing phases the dependencies are already "installed" and on `PYTHONPATH`.

Why?

I see.

[2018-03-03 08:44] stepanveret commented on #5023
Hi @dpalbrecht.
Actually there is no need to install vowpalwabbit as a python package. It should work from console (or from jupyter notebook with commands beginning with `!vw`. You can download msi file from here [https://github.com/eisber/vowpal_wabbit/releases](url), then add directory C:\Program Files\VowpalWabbit to your system Path variable. And it will work.
I am still a bit confused, what t

[2018-03-03 09:08] AdeyinkaAdegbenro commented on #3508
`sudo pip install pyOpenSSL --upgrade` That worked for me too.

[2018-03-03 09:31] cmcginty commented on #4789
Also wanted to point out that you can pass `--extra-index-url` with `PIP_EXTRA_INDEX_URL` and this will override the value set in `requirements.txt`.
So you can have a bare URL for source control and then set the environment value in your CI/CD build.

[2018-03-03 09:43] pfmoore commented on #5051
In principle I'm +1 on this. Our internals are private *precisely* so we have the freedom to do stuff like this.

It sounds like a pretty major piece of work, so timing will be important. We'll need to juggle this, PEP 517/518, and the resolver. Maybe have a release for each of them, so that's pip 11, 12, and 13 allocated (in some order or other)?

[2018-03-03 10:13] pfmoore commented on #5033
@FRidh What is happening is that this is in preparation for PEP 517, which says

Package build dependencies are setuptools and wheel (currently - under PEP 517, projects will be able to specify that, for example, they use flit rather than setuptools), plus any packages that need to be available for the project to build from source. Currently, support for such extra packages is provided by setuptoo

[2018-03-03 10:42] FRidh commented on #5033
Thanks for the clarification.

The way I see it Nix is considered a build frontend. We will run the build backends ourselves (python `setup.py bdist_wheel` or `flit wheel`) and use `pip` only to install the eventual wheel, as we do already.

Eventually we're going to need a script that takes the relevant info from `pyproject.toml` and converts it to fields in a Nix expression.

[2018-03-03 10:48] pfmoore commented on #5033
@FRidh Excellent - yes, that sounds like a great approach. Hopefully PEP 517/518 give you the infrastructure you need to make that job easier.

[2018-03-03 14:30] jakirkham commented on #5033
It sounds like `python setup.py bdist_wheel` will not do what you want @FRidh. Please see [this comment]( https://github.com/pypa/pip/issues/5033#issuecomment-370041600 ).

[2018-03-03 14:43] pradyunsg commented on #3508
@AdeyinkaAdegbenro What version of pip?

[2018-03-03 15:32] pfmoore commented on #5033
@jakirkham It's fine for setuptools-based projects. For flit-based projects you need `flit build`.

If you want a general command that builds a wheel from any package, you need to follow the protocol in PEP 517. Pip is one implementation of that (which you're welcome to use) but you can do it yourself or use another tool (which sounds like what @FRidh is planning).

[2018-03-03 16:50] jameshfisher commented on #5048
For future visitors, the immediate fix is:

[code]

I have since found that my Python interpreter at `/usr/local/opt/python/bin/python2.7` went away because it was part of the Homebrew `python` package, which [on 1st March 2018 was upgraded to Python 3.x](https://brew.sh/2018/01/19/homebrew-1.5.0/). Here's [a related discussion in Homebrew support](https://discourse.brew.sh/t/virtualenv-uses-nonex

[2018-03-03 18:34] dchudz commented on #5013
The deprecation warning on `import pip` isn't new in Python 3.7. I'm getting it in 3.6 too (while trying to turn on warnings-as-errors in CI for another project):

[code]

[2018-03-04 16:30] pradyunsg commented on #5029
I already stated:

To that end, we're substantially closer to a 10.0 now, with improved support. I'll have time later this month to push for that. :)

[2018-03-04 16:33] pradyunsg commented on #5051
Great! ^>^

Somewhere around pip 11 or 12, depending on when PEP 517 work happens. If I have the choice, I'd do that _after_ this refactor, but I don't want it to hold it off -- if someone makes a reviewable change for PEP 517, I'm happy to go ahead with that instead
.

[2018-03-04 17:38] pradyunsg commented on #2984
So, searching in ionrock/cachecontrol for "memoryerror" didn't have anything show up.

I have a little too much RAM on my local machine for this. Could someone try this with the latest master and confirm that this is still an issue?

[2018-03-04 17:59] pradyunsg commented on #3056
Hey! It seems like it's been a while since this issue was active. I've spent some time fiddling with this option so, it might be that this has been fixed along the line.

Could someone try reproducing this issue on the current master?

Thanks and sorry for the wait.

[2018-03-04 18:01] pradyunsg commented on #3061
@xavfernandez @dkoppstein Is there something actionable to be done to close this issue?

[2018-03-04 18:19] pradyunsg commented on #3063
Hey @yan12125! Thanks for filing this issue and sorry for the lack of response.

As I understand, you want --root to be treated as a simple change of directory where installation is done, with same behaviour for dealing with already installed packages. Is that correct?

[2018-03-04 18:25] pradyunsg commented on #3160
Hey! It seems like it's been a while since this issue was active.

Could someone try reproducing this on the current master? If it does still happen, please provide exact steps for how to reproduce. =)

Thanks and sorry for the wait.

[2018-03-04 18:27] pradyunsg commented on #3197
Hey! It seems like it's been a while since this issue was active.

Could someone try reproducing this on the current master of pip/virtualenv?

Thanks!

[2018-03-04 18:30] pradyunsg commented on #3348
Hey @impguard! Thanks for filing this issue and sorry for the wait.

Could you try reproducing this on the current master?

[2018-03-04 18:31] pietrodn commented on #3160
I saw it happening when i ran `python setup.py develop` on [pymavlink](https://github.com/ArduPilot/pymavlink).

[2018-03-04 18:37] pradyunsg commented on #3363
I'm in favour but I'm not sure if it's worth it.

[2018-03-04 18:42] pradyunsg commented on #3500
I think we can add a small documentation note to pip wheel as a short term workaround.

@pypa/pip-committers What do we want to do here? Following symlinks while copying seems fine to me, if that's what setuptools is doing.

[2018-03-04 18:46] pradyunsg commented on #3352
Closing in favour of #4575.

[2018-03-04 18:46] #3352 closed

[2018-03-04 18:50] pradyunsg commented on #3513
Ping?

Is everyone fine with moving forward with @pfmoore's suggested checks? If not, what do you want more/less?

[2018-03-04 18:57] pradyunsg commented on #3555
This is happening because pip treats constraints and requirements differently. The way it's all currently coded up, pip expects to see constraints _before_ it sees concrete requirements.

I'm not sure if it's an implementation bug or something that should be mentioned in the documentation. Regardless, there should be a better error message printed here.

[2018-03-04 19:03] RonnyPfannschmidt commented on #3513
i think so, the prior discussion made it clear that the python ecosystem needs to be protected from people that think its ok to breaks standards if it somehow works

[2018-03-04 19:05] pradyunsg commented on #3564
I made #5055 for this.

[2018-03-04 19:05] pradyunsg commented on #3564
Given that there's no compelling reasons put forward for changing behavior here, I'm gonna go ahead and say this is just a docs-only update.

[2018-03-04 19:06] pradyunsg commented on #3614
@pypa/pip-committers Thoughts?

[2018-03-04 19:07] RonnyPfannschmidt commented on #3500
setuptools doesnt make a copy of the source folder to begin with

[2018-03-04 19:13] pradyunsg commented on #3160
@pietrodn Can you check if this is an issue when using pip to install the same package as editable?

[2018-03-04 20:02] dchudz opened #5056 "pip uses configparser's deprecated readfp"
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: Mac OS X 10.12.4

### Description:

`pip install -r requirements.txt` gives a deprecation warning. See below for detailed output.

Context on why I care: I contribute to another project that wants to turn on "deprecation warnings as errors". We can ignore this one without much trouble, but I thought I should mention it here.

### Wha

[2018-03-04 20:06] xoviat commented on #4997
@pradyunsg If you have time, are you opposed to this? Does it seem reasonable?

[2018-03-04 20:08] xoviat commented on #4997
Actually, the simpler option may be to bundle a wheel of setuptools with pip.

[2018-03-04 20:13] pradyunsg commented on #4997
I'm happy to have the use of PEP 517 be dependant on having a version of setuptools greater than some version number. I think that's obvious.

I think that just failing by saying, hey, you need a newer setuptools to install this package, should be acceptable. I don't see why we can't just do that.

[2018-03-04 20:15] xoviat commented on #4997
Are you absolutely sure about that approach? I'm very afraid of causing a firestorm from RHEL folks.

cc @ncoghlan Is requiring a newer setuptools a problem for you?

[2018-03-04 20:15] pradyunsg commented on #4997
If a project does not have a pyproject.toml, I don't think we want pip to do anything different from what it's doing today.

[2018-03-04 20:17] pfmoore commented on #3513
I'm OK with adding the checks, but I will point out that it seems to be only the OP who is proposing to ignore the standards.

I think the important point here is #4705, which points out that pip isn't following the wheel spec in verifying that files are recorded in the `RECORD` file and hashes match. But I'm inclined to otherwise ignore the posturing in this issue about how it's possible to sneak

[2018-03-04 20:19] xoviat commented on #4997
From a maintenance perspective, I would like the old source distributions to be internally hidden from the rest of pip. One approach to accomplish that would be to vendor wheel, and then run egg2dist to generate the dist-info directories.

[2018-03-04 20:19] pradyunsg commented on #4997
Just to be clear, I'm saying when installing a PEP 517 compatible sdist, pip can require a newer version of setuptools being needed.

For an existing, non 517 sdist, pip should not change what it's doing. (i.e. I am opposed to playing with PYTHONPATH)

[2018-03-04 20:21] pradyunsg commented on #4997
PS - it's late here and I'm a little sleepy. I'd rather not have this discussion at this time. In about 12 hours, I'll come back to this. =)

[2018-03-04 20:22] pfmoore commented on #3614
The order of priority should certainly be clearly defined in the docs. I haven't checked - is it?

As to whether the current order is correct or not, I'm unclear. What is established practice for other, similar programs? I'd like to see a non-artificial use case that demonstrates why the proposed behaviour is better than the currently implemented one.

(As a counter to the proposal, if you have a

[2018-03-04 20:23] pradyunsg commented on #4997
@xoviat did you see #5051? That should help with compartmentalising the legacy sdist vs modern sdist implementation differences.

[2018-03-04 20:30] xoviat commented on #4997
The biggest difference is that legacy source distributions generate egg_info, whereas new distributions generate dist_info. My plan is to vendor wheel (egg2dist) so that pip doesn't have to parse egg_info anymore.

[2018-03-04 20:33] pradyunsg commented on #4997
Uhm, I understand how this would simplify implementation but I really don't think it's a good idea to change the code that legacy sdist are being run through.

I'm happy to have some extra complexity to maintain as much compatibility as possible.

[2018-03-04 20:47] xoviat commented on #4997
I will not implement PEP 517 unless I can change the code path for legacy sdists. I expect that this will expose bugs (that I will fix) in my implementation, but I have reasons for doing it this way. If you want, I guess we can wait another eight months until you come around to my point of view, as happened with the gh-4799, or you can do it yourself.

[2018-03-04 20:49] #4997 closed

[2018-03-04 20:51] njsmith commented on #3513
Checking hashes is also just good general practice to catch accidental data corruption caused by bugs or hardware issues.

[2018-03-04 20:54] xoviat commented on #4997
Back when I started on this, I recall that @pfmoore made some comment that legacy sdists would eventually be run through the setuptools build backend (I'm not going to spend time hunting down that particular comment). I started out with that approach, and I'm not going to change it after all of the technical investment that I've put into it.

[2018-03-04 20:55] pradyunsg commented on #4997
I respect that. It's your time that you're volunteering and if you feel so, I'm not gonna try to convince you otherwise.

For all I know, you might be right and I might change my position over rather coming months.

[2018-03-04 20:57] xoviat commented on #4997
For the record, I *won't* feel personally insulted if someone else comes along (possibly you) with another better implementation. So if you have the time, go for it!

[2018-03-04 21:10] pradyunsg commented on #4997
A lack of time and possibly some communication gap from my end haven't
helped us here. =(

PS - must sleep now.

On Mon, 5 Mar 2018, 02:27 xoviat, <notifications@github.com> wrote:

[2018-03-04 22:29] pfmoore commented on #4997
To confirm - this change is for *after* pip 10 has been released. So there's no rush here. But I do think that if we change user-visible behaviour for legacy sdists as part of implementing PEP 517 in pip 11 or whenever, those changes should be documented in the changelog - particularly if they are backward incompatible. (I'm not interested in documenting internal details, those are not relevant to

[2018-03-04 22:38] xoviat commented on #4997
That's correct. These changes are not going into pip 10.

What I was previously proposing is that the only changes in user-facing behavior is that pip would fetch a newer setuptools if the locally-installed setuptools did not meet a minimum version. What I am now proposing is that pip implements an internal build backend for legacy source distributions that is used when the locally-installed setup

[2018-03-04 22:43] xoviat commented on #4997
I think this comment is pretty clear though (and in contradiction with your previous position):

I shouldn't have to say this, but disclaimer:

- Your previous position may not be correct
- I may have misinterpreted such position
- People are allowed to change their minds

At least for me though, your previous position is currently my position.

[2018-03-04 23:19] pfmoore commented on #4997
@xoviat You realise you were quoting @pradyunsg not me? I've never claimed that internal changes shouldn't be allowed. Although I understand what @pradyunsg is saying, if we make changes to what is effectively the backward compatibility code path, we're risking breakage to that compatibility. While pip doesn't have a formal backward compatibility policy, we do need to acknowledge that a lot of peo

[2018-03-04 23:23] xoviat commented on #4997
Yes, your previous position contradicts @pradyunsg's position (and this is where I become frustrated with human intuition, because such a statement logically says nothing about your current position, but a human might think I've claimed that your position has changed).

[2018-03-05 06:01] pradyunsg commented on #3634
I am a +1 to this. This is basically a bug in pip's current version pinning logic.

I'm willing to fix this as a part of bringing in a proper resolver, so I'll assign this to myself. If someone else wants to fix this before that, I'm happy to help with that too. :)

[2018-03-05 06:02] pradyunsg commented on #3660
Ping?

[2018-03-05 06:37] pradyunsg commented on #4140
Hey! It seems like it's been a while since this issue was active.

Your suggestion of the default bar using different glyphs for windows is something I think upstream should decide upon. Maybe pip should add a `basic` progress bar that uses the `Bar` unconditionally, as a possible workaround for people who face this issue?

Thanks and sorry for the wait.

[2018-03-05 06:42] pradyunsg commented on #4138
I think that you shouldn't be setting no-index there.

None the less, there's an issue asking for the reverse option of --no-index, which should allow one to workaround this situation. I'll look for it.

[2018-03-05 06:53] pradyunsg commented on #4092
I consider this a bug and believe that the fix would be to actually improve how --target is handled.
I'll label this issue as an "awaiting PR".

This label is essentially for indicating that further discussion related to this issue should be deferred until someone comes around to make a PR. This does not mean that the said PR would be accepted - it has not been determined what form a change to pip

[2018-03-05 06:54] ncoghlan commented on #4997
Even before I left Red Hat, my recommendation to RHEL users was:

* always use virtual environments
* always run "pip install --upgrade pip setuptools wheel" as the first command in that environment

Until Red Hat are actually paying someone to work on upstream maintenance of Python packaging tools, I think we should continue that policy, and tell anyone that doesn't like it to talk to their Red H

[2018-03-05 07:44] pradyunsg commented on #4997
@ncoghlan That policy sounds good.

But since you've stated it, there's no chance of this ambiguity existing anymore. :)

I'm still concerned about things breaking unintentionally or re-exposing a previously fixed issue but we can go ahead with that. That's a known risk with any change.

Looking at @xoviat's comments now, with a well rested mind, makes me think what he/she's saying makes sense and

[2018-03-05 07:46] pradyunsg commented on #4997
Basically, I'm a +1 to this now.

[2018-03-05 08:46] aabdnn commented on #4138
FYI: since opening this bug, and not getting any response, I have found a better way to handle things. In our global pip.conf, I've set index-url to the value of our internal repository, which I have reorganised as a simple repository. This way, all modules come from our internal repository, but I can get modules from PyPi directly by passing "--index-url" on the command line.
If you haven't done

[2018-03-05 08:51] pradyunsg commented on #4138
Fine by me. =)

Sorry for the lack of response earlier. The maintainers are volunteers (including myself) and so getting to actually go through the issues takes a while.

[2018-03-05 08:51] #4138 closed

[2018-03-05 09:11] pradyunsg commented on #3685
Thanks for filing this issue! It seems like no one got to actually responding to this issue before.

Is this still an issue? I'm not sure I understand what you're trying to do here -- is it that you're trying to install pip, setuptools and wheel while validating their hashes, using pip? What scenario is giving you the DoubleRequirementError?

Aside, using `pip.main` was never a supported way of us

[2018-03-05 09:14] pradyunsg commented on #3710
Hey @jaraco! Did you come around to implementing the said interface? Maybe #4575 have some effect on this issue?

[2018-03-05 09:17] pradyunsg commented on #3758
Hi @mathieulongtin! Thanks for filing this issue and sorry about the lack of a response for all this time.

This is intentional behavior, that is inherited from distlib, which pip uses internally to generate the wrappers for the scripts. My suggestion is that you open an issue over at distlib's repository for discussion on this.

Cheers!

[2018-03-05 09:19] pradyunsg commented on #3761
I've gone ahead and assigned this issue to myself, as I am interested in fixing this at some point in time down the line.

If someone finds the time to fix this issue before then, I'll be more than happy to help them out. :)

[2018-03-05 09:25] pradyunsg commented on #3783
HI @mechsin! Thanks for filing this issue and sorry for the lack of a response all this while.

While I think what you're suggesting here makes sense, I'd like some input from @pfmoore on this.

[2018-03-05 09:29] pradyunsg commented on #3799
Out of the two current behaviours, I'm not sure which one is better. I guess that discussion is something we can defer until someone actually has the interest to opens a PR for this. For that reason, I've labelled this issue as an "awaiting PR".

This label is essentially for indicating that further discussion related to this issue should be deferred until someone comes around to make a PR. This d

[2018-03-05 09:30] graingert commented on #3685
I'm trying to install pip setuptools and wheel and validate their hashes. I can use --src to get pip to only see one pip

[2018-03-05 09:35] pradyunsg commented on #3828
Hey @anntzer! Thanks for filing this issue!

Reading your edits now, it seems the confusion is due to not so proper documentation. Do you reckon that improving the doc-strings for the various options would improve this situation? If so, do you have any suggestions for the same?

[2018-03-05 09:41] pradyunsg commented on #3844
This is a little outside my ballpark here but I'm willing to give this a shot at some point in the future -- given that #3921 is now outdated.

I'll be more than happy to let someone who is more comfortable with the details and nuances of wheel tags take this up if I don't come around to this soon enough. :)

[2018-03-05 09:43] pradyunsg commented on #3856
Hey @thanatos! Thanks for filing this issue and sorry for the lack of a response all this while.

This is indeed an interesting problem and I'm not sure how _exactly_ this can be addressed. I'm gonna link this to #4575 since this could be something that would benefit from that change.

[2018-03-05 09:45] pradyunsg commented on #4019
Hey! It seems like it's been a while since this issue was active.

Could someone try reproducing this on the current master?

Thanks and sorry for the wait.

[2018-03-05 09:58] anntzer commented on #3828
Basically: document whether --isolated is affected by /etc/pip.conf, and whether it is affected by PIP_CONFIG_FILE.

[2018-03-05 10:00] pradyunsg commented on #4032
Hey! It seems like it's been a while since this issue was active.

I see this as a request for a some sort of general substitution mechanism. I suggest you start a thread on distutils-sig about this, probably with some concrete idea about what you want. pip is not the only consumer of package distributions and this sort of change would require an update to the distribution file formats.

Thanks an

[2018-03-05 10:11] magodo opened #5057 "pip install local project in editable mode can't specify --no-index nor --find-links"
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: CentOS release 6.3 (Final)

### Description:

Say I have a local python project with a *setup.py*, which specified some dependencies via `install_requires`. I want to install my project in editable mode so that i can quickly develop and use ( **hence** `-e` ). In the mean time because some kind of network issue, I downloaded all the

[2018-03-05 10:21] pradyunsg commented on #4118
Hey @fillest! Thanks for filing this issue and sorry for the lack of a response all this while.

Could someone try reproducing this on the current master, with a small test case? I'm not sure why this is this way. Looking at the code, I don't see any hints as to why it was done. My suggestion would be to split up the requirements to install all the wheel-only dependencies in a separate pip run fro

[2018-03-05 10:22] pradyunsg commented on #4188
Closing due to lack of a response.

[2018-03-05 10:22] #4188 closed

[2018-03-05 10:33] pradyunsg commented on #4230
I'm not sure what we want to do here. Maybe other @pypa/pip-committers have inputs on this?

[2018-03-05 10:49] RonnyPfannschmidt commented on #3758
based on the commit thats referenced its not in distlib and mergable

i wonder why no pr happened

[2018-03-05 10:49] magodo commented on #5057
I find that `-e` has to follow the local project, i.e.:

[code]

[2018-03-05 10:49] #5057 closed

[2018-03-05 11:31] yan12125 commented on #3063
@pradyunsg

Yes. I need it for ```python -m ensurepip --root /xxx```.

Not sure about how installed packages are handled, though.

[2018-03-05 13:27] jaraco commented on #3710
@pradyunsg I haven't. It's still ticketed as pypa/setuptools#817. I've had little time to commit to advancing setuptools. If you could drum up some enthusiasm on that ticket to the point that someone suggests a patch, I'd be all for that.

[2018-03-05 14:04] pfmoore commented on #3710
Is there any reason this couldn't simply be

[code]

so get_provider defaults to including hidden, but can be asked to ignore them? The call chain would of course need to be followed back up through to `get_distribution`, and pip would need to call `get_distribution(PKGNAME, include_hidden=False)`.

I don't have time to make this into a full-fledged patch at the moment, but if anyone wants to they

[2018-03-05 14:14] pradyunsg commented on #3828
Great! Thanks for confirming @anntzer!

[2018-03-05 15:43] mathieulongtin commented on #3758
The change required is in `pip/wheel.py`, so nothing to do with distutil. The reason the -E is in the wheel may be due to distutil, but that's not the part that bothers me.

The pull request got into a long discussion about how this is the right way or not. I didn't feel like convincing a bunch of people to change the wheel spec to fit what is actually implemented.

Feel free to re-open, it's http

[2018-03-05 15:48] pradyunsg commented on #3758
Ah right. This is in there.

I'm not sure about the portability of arguments in shebang so, it'd be nice if you could draw up some information about it.

[2018-03-05 15:49] pradyunsg commented on #3758
Oh, and, please do go ahead an open up that PR.

[2018-03-05 15:50] pradyunsg commented on #3758
I'm also in favour of option C btw.

[2018-03-05 15:54] rickatnight11 commented on #3056
I'm no longer hitting this issue with Pip 9.0.1 on Fedora 27:

[code]

[2018-03-05 16:04] mathieulongtin commented on #3758
It turns out the Wheel specs seem to be okay with my interpretation:
(https://www.python.org/dev/peps/pep-0427/#id13) (emphasis mine)
Python scripts must appear in scripts and begin with exactly b'#!python' in order to enjoy script wrapper generation and #!python rewriting at install time. **They may have any or no extension**.

So my PR would make pip work within the spec...

As for C, let's make

[2018-03-05 16:05] ncoghlan commented on #4997
Regarding user notifications in the release notes, it's reasonable to add a note like "The build process has been refactored as part of adding support for `pyproject.toml` based sdists without a `setup.py` file. While this refactoring shouldn't have affected pip's ability to build any existing `setup.py` based project, it's worth keeping in mind as a potential source of problems if an sdist builds

[2018-03-05 16:06] pfmoore commented on #3758
So the conclusion seems to remain that all the core devs that have commented are in favour of C (which is to add support for Python interpreter flags to the "Console Scripts" metadata) , and @mathieulongtin isn't interested in pursuing that option. @dholth stated that the wheel spec was never particularly intended to support the case of extra args to the Python interpreter.

I'm not sure that any

[2018-03-05 16:23] pradyunsg commented on #3056
Great! A second confirmation and I'll be happy to close.

[2018-03-05 16:25] pfmoore commented on #3758
Honestly, I don't think there's much interest in or motivation to add anything more than the bare minimum support for old-style scripts. Personally, I dislike them because they don't work on Windows (even if the shebang line is set correctly, not being a genuine executable is a major problem). That's also why `pythonw` support is pointless - only relevant on Windows, and yet doesn't work right the

[2018-03-05 16:50] mathieulongtin commented on #3758
Ok, enough time wasted on this. I use option A to fix my code. Nobody else seems to have that issue with wheels. If anybody wants C, they can open their own issues.

[2018-03-05 16:50] #3758 closed

[2018-03-05 17:28] pradyunsg commented on #3758
Thanks for all the discussion and effort @mathieulongtin! :-)

[2018-03-05 17:39] pradyunsg commented on #4256
Given that post-PEP 517, we're gonna have no special casing for setuptools or even wheel, I'm a +1 to @dholth's suggestion, if it's not implemented yet.

[2018-03-05 17:41] pradyunsg commented on #4256
I'm gonna assign this to myself but if anyone wants to try their hand at this before I get too, you're more than welcome to do so.

[2018-03-05 17:44] pradyunsg commented on #4296
Relevant here: #4575

[2018-03-06 00:20] zooba commented on #4140
Ultimately, it's not something that users will care to work around. There's no functionality problem - it just makes pip/Python look sloppy, and that's pointless when it can be easily avoided.

The "patch" I posted in the linked issue would be fine and easily applied to the vendored copy, or unconditionally using `Bar` on Windows would also work. I don't have a really strong opinion either way.

[2018-03-06 07:57] pfmoore commented on #4140
+1 on either defaulting to the basic bar, or applying the patch locally (in the absence of an upstream update). I agree, users won't bother to take action themselves on this, and it makes pip look sloppy.

[2018-03-06 15:19] ohadperry opened #5058 "install from ssh private bitbucket takes 10x than installing from source"
* Pip version: 9.0.1
* Python version: 2.7
* Operating system: Mac OS

### Description:

instead of building from `pip install --no-deps  build/python-packages/my_source-3.5.8.tar.tz` I want to install directly from my private bitbucket

### What I've run:

[code]

The things is that's it's taking too long (about 3 minutes) to pull and build. Does that make sense?

[2018-03-07 08:04] pradyunsg commented on #5058
Hey @ohadperry! Thanks for filing this issue!

This is basically because pip does a full git clone of the repository, instead of a shallow clone. Prior discussion on the same is at #2432.

If that address your concern, please do close this issue. :)

[2018-03-07 08:06] pradyunsg commented on #5056
Nice catch and thanks for filing this issue @dchudz!

[2018-03-07 08:11] pradyunsg commented on #5056
This issue is a good starting point for anyone who wants to help out with pip's development -- it's simple and the process of fixing this should be a good introduction to pip's development workflow. =)

[2018-03-07 08:33] #5058 closed

[2018-03-07 14:16] pradyunsg commented on #4996
Closing as a duplicate of #2432.

[2018-03-07 14:16] #4996 closed

[2018-03-07 16:44] pradyunsg commented on #5033
Woah. xoviat has... deleted his/her account. Huh.

[2018-03-07 16:55] nicoddemus commented on #5033
Wow, never seen this one before...

[2018-03-07 20:11] pfmoore commented on #5033
What? Wow, what on earth's going on?

[2018-03-08 00:43] dchudz opened #5059 "pip uses deprecated SafeConfigParser"
* Pip version: 9.0.1
* Python version: 3.6.1
* Operating system: Mac OS X 10.12.4

### Description:

With `error::DeprecationWarning` in `PYTHONWARNINGS`:

[code]

[2018-03-08 10:21] cupen commented on #3809
BTW: Would you add a sub-command `config` witch use for set/get varaiables?
e.g.:
[code]
It means the variable `global.index-url` and `global.format` will be saved to le configure file.

[code]
It is both on human and scripts friendly.

[2018-03-08 10:23] RonnyPfannschmidt commented on #3809
that would depend on if there is a vendor-able toml library that supports editing without throwing away meta-data (else a serialize/de-serialize would just throw away comments and other things the user might have added manually

[2018-03-08 10:27] cupen commented on #3809
Oh sorry, it's duplicated with #1736

[2018-03-08 10:47] pradyunsg commented on #3809
There is a pip config command ready to ship for pip 10. =)

And the serializability that Ronny Pfannschmidt points out isn't needed
(pip config doesn't have it now) but is definitely something I want to add.

On Thu, 8 Mar 2018, 15:53 Ronny Pfannschmidt, <notifications@github.com>
wrote:

[2018-03-08 18:50] fungi commented on #4805
As it looks like we're getting ever closer to a pip 10 release and this situation still seems to be the same, is there any possibility for an escape hatch option to allow pip to continue installing even if it's unable to guarantee proper uninstallation of the distro-provided versions of the same packages? While I'm no fan of `sudo pip install ...` and would prefer to see pip always install into is

[2018-03-08 19:41] pfmoore commented on #4805
@fungi If someone provides a PR, we can review it. But I'm not aware of anyone working on such a PR.

[2018-03-08 22:37] jcfr commented on #5033
see https://github.com/scikit-build/scikit-build/issues/309#issuecomment-371648631

[2018-03-08 22:42] pfmoore commented on #5033
@jfcr thanks for providing an update - glad to hear it's nothing worse than that 😄

[2018-03-09 01:21] jakirkham opened #5060 "Option to look for pip.conf in conda environment"
Related to issue ( https://github.com/conda-forge/conda-forge.github.io/pull/518 ).

Noted that there was some special handling with virtualenv to figure out the `pip.conf` file to use related to that environment. Was wondering if the same thing might be possible for a `conda` environment. Perhaps something like `$CONDA_PREFIX/pip/pip.conf` or something similar for both Unix and Windows (guessing

[2018-03-09 01:23] jakirkham commented on #5060
Related point that we may want to consider is using a different configuration file for when `conda-build` is running vs. not.

[2018-03-09 01:37] jakirkham commented on #5060
Should add the `conda` package building considerations are independent from the active conda environment considerations.

[2018-03-09 02:41] pradyunsg commented on #5033
Thanks @jcfr for the pointer. =)

+1

[2018-03-09 02:53] kalefranz commented on #5060
I'm probably fine with it being at `os.path.join(sys.prefix, 'pip.conf')`, just like with virtualenv.

FYI, maybe not relevant here, but the canonical way to tell if a directory is a conda environment (and the way conda itself uses) is `os.path.isfile(os.path.join(sys.prefix, 'conda-meta', 'history'))`.

[2018-03-09 09:38] pradyunsg commented on #5059
Hey @dchudz! Thanks for filing this issue!

I don't see this exact same line in master but there's definitely something similar to this in the codebase today.

[2018-03-09 09:39] pradyunsg commented on #5059
This issue is a good starting point for anyone who wants to help out with pip's development -- it's simple and the process of fixing this should be a good introduction to pip's development workflow. :)

[2018-03-09 15:56] P403n1x87 opened #5061 "--process-dependency-links only parsing the first link correctly"
* Pip version: 9.0.1
* Python version: 2.7
* Operating system: Windows 10

### Description:

I am trying to install a package which has some private dependencies. The `setup.py` script contains the following

[code]
The first link is processed fine that the repository is cloned. However, for the second link it seems that `urlparse` is mistakenly taking `USERNAME` as the port number:

[code]

### W

[2018-03-09 16:00] benoit-pierre commented on #5061
Aren't you missing a comma at the end of the second link?

[2018-03-09 16:01] P403n1x87 commented on #5061
Ah yes, but that's only because I was trying to move stuff around to see if it made any difference, and it didn't.

[2018-03-09 16:04] P403n1x87 commented on #5061
After re-arranging stuff around, it is now the third dependency that shows the problem. So I'm either doing something extremely dumb, or something weird is happening.

[2018-03-09 23:28] fungi commented on #4805
Thanks, I meant the question to read as, "if one of us were to implement and propose an option... would it be too late now?" I think many have been holding out hope that the break-when-you-encounter-distutils feature would be reverted again before pip 10 releases, but at this point it's looking less and less likely so we probably need to propose a workaround instead.

[2018-03-10 00:10] dstufft commented on #4805
I think I've said it before, but just to be sure, my opinion on this is basically I'm not *against* reverting, if reverting comes with a plan and a timeline for how we're going to make sure we can actually land that change in the future. This isn't the first time we tried to land this change (so that we can stop lying to users and pretending we're uninstalling something we are't) and at the time w

[2018-03-10 01:19] pradyunsg commented on #4460
Given that we have a workaround, is there something else actionable or that needs to be addressed in this issue?

[2018-03-10 01:55] pradyunsg commented on #5048
This is something that has occurred due to a change downstream, by Homebrew, to your system configuration. I don't see anything actionable here from pip's end.

Feel free to close this @jameshfisher! :)

[2018-03-10 01:57] pradyunsg commented on #5048
See also: https://github.com/Homebrew/homebrew-core/pull/25060

[2018-03-10 10:59] pfmoore commented on #4805
My point about a PR was intended to be similar - I don't want to just revert this without any way forward, so if someone offers a solution that moves forward (which in my mind meant a PR, but could be something along the lines @dstufft suggests) then we can look at that.

To be precise:

1. We've proved that a deprecation error doesn't work (we've tried that).
2. You're claiming that just getting

[2018-03-10 18:15] fungi commented on #4805
I figured not reverting but simply adding a --sorry-yes-i-know sort of flag to just ignore the inability to uninstall and let the chips fall where they may would be preferable to an indefinite pip<10 pin all over the place where people are sadly mixing `sudo pip install ...` and latest pip with distro-packaged Python libraries on longer-lived LTS distros. I or one of my colleagues could probably w

[2018-03-10 19:53] jameshfisher commented on #5048
[Homebrew have reversed their decision to make `python` point to Python 3](https://discourse.brew.sh/t/python-and-pep-394/1813), which fix this immediate issue.

I still see it as weird that `pip` trawls my `PATH` at install time, instead of following convention; and I don't understand the reasoning for it. But it's clear that this is not going to change, so I'm closing.

[2018-03-10 19:53] #5048 closed

[2018-03-10 22:45] anntzer commented on #3828
Oh and now that I think of it, it is not totally clear what setting `PIP_ISOLATED` should do either: is that equivalent to `pip --isolated` ignoring all environment variables **except `PIP_ISOLATED` itself**?

[2018-03-11 04:06] pradyunsg commented on #3828
IIRC, it is ignored and --isolated is the only one that is active but I'll
check this.

On Sun, 11 Mar 2018, 04:15 Antony Lee, <notifications@github.com> wrote:

--
Pradyun Gedam

[2018-03-11 08:25] zhangdm commented on #2345
just go to here :https://www.lfd.uci.edu/~gohlke/pythonlibs/  ,download the pipenv

[2018-03-11 09:05] pietrodn commented on #3160
Sorry but I did not have time to do a complete test until now.
I tried to install the package first with pip, then with setup tools, and I got the same results:

### pip

[code]

### setuptools

[code]

[2018-03-11 18:19] Prashant47 commented on #5056
I would like to work on this issue.

[2018-03-11 18:21] pradyunsg commented on #5056
Go ahead. =)

[2018-03-12 10:34] flothesof commented on #3783
Update: by tinkering with the file paths, I managed to get the following working:

[code]
Notice the backslash hidden in the repo path. This partly solves my original issue.

[2018-03-12 10:41] underyx opened #5062 "Double requirement detection false negative when using extras"
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: Alpine 3.7

### Description:

Pip behaves weird and doesn't have that really nice double requirement safeguard if you confuse it with requiring extras. See commands:

### What I've run:

**Correct behavior here:**

[code]

**Weird behavior here:**

[code]

[2018-03-12 14:25] sai306 opened #5063 "Could not fetch : There was a problem confirming the ssl certificate(SSL.c:3566)"
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: windows 10 Enterprise

### Description: Trying to Install Azure Cli 2 in my windows 10 system.

**Error Des:**

Could not fetch URL https://pypi.python.org/simple/azure-cli/: There was a problem confirming the ssl certificate: unknown error (_ssl.c:3566) - skipping
  Could not find a version that satisfies the requirement azure-cli (

[2018-03-12 15:21] MikeMcQuaid commented on #5048
Hi, Homebrew lead maintainer here 👋. Obviously it's up to `pip` how this is handled but in our case we generally appreciate applications who consume our binaries to not `realpath` their way to the location because every version is installed into a separate prefix. The path to the symlink e.g. `/usr/local/opt/python/bin/python` or `/usr/local/bin/python` will be consistent across `python` upgrades

[2018-03-12 16:40] dstufft commented on #5048
Hmm, I don't remember calling realpath on hashbang lines, I think we just use the value of ``sys.executable``. I can't dig into that right now and I don't have Python installed from Homebrew, does ``/usr/local/bin/python -c "import sys; print(sys.executable)"`` return ``/usr/local/bin/python`` or ``/usr/local/Cellar/python/3.6.4_3/bin/python`` (or similar).

[2018-03-12 16:44] pfmoore commented on #5048
What we (technically distlib, as we just vendor distlib for console script handling) do is put `sys.executable` into the script. We do this because the script references the Python module(s) that were installed alongside the script, so if we were to use a different Python interpreter, the script wouldn't work anyway, as it would have a different `site-packages`.

If Homebrew wants to have scripts

[2018-03-12 17:23] dentarg commented on #5048
@dstufft I have `python` and `python@2` installed from Homebrew, here's what it returns

[code]

[code]

[code]

[2018-03-12 22:15] bjay1404 commented on #5048
It look me a long time to stumble upon this! I'm having the same problem with clean installs

[code]

[2018-03-12 22:16] bjay1404 commented on #5048
Looks like this is why
[code]

[2018-03-13 02:25] brycepg commented on #5059
This particular SafeConfigParser was removed in d64b871d97f64fa10ca5a3f390d14fb35d761390

There is however another one

[code]

[2018-03-13 02:39] dchudz commented on #5059
Ah thanks/sorry @brycepg! I should have checked master and not just the latest release.

[2018-03-13 05:19] pradyunsg commented on #5059
Great! I guess that is still something that needs fixing. :)

[2018-03-13 05:20] pradyunsg commented on #5063
Hi @sai306!

Are you working behind a proxy?

[2018-03-13 08:42] MikeMcQuaid commented on #5048
Thanks, this is helpful and explains the issues here 👍

[2018-03-13 09:05] ilovezfs commented on #5048
Sorry but I don't think it's using `sys.executable` or that anything has been explained yet. As you can see above, `sys.executable` is printing the opt path but virtualenvs are actually using the realpath.
[code]

but
[code]

[2018-03-13 10:58] shivareddyiirs opened #5064 "AttributeError: 'NoneType' object has no attribute 'isatty"
* Pip version: 9.0.1
* Python version:python 3.6
* Operating system: windows

### Description:

 I am trying to install pyxform package at runtime in QGIS 3. When i am running same code in cmd it runs fine. But when I runs in QGIS 3 python console it gives error.
### What I've run:

[code]

[2018-03-13 13:54] bumperjeep commented on #5048
To be clear, I'm having a problem outside of virtualenv

[2018-03-13 17:30] jakirkham commented on #5060
Thoughts @pfmoore? Would this be something pip would be interested in and/or accept a patch for?

[2018-03-13 18:11] pfmoore commented on #5060
@jakirkham I assume you're referring to the `running_under_virtualenv` function in pip? But I'd appreciate a more explicit pointer to the code that you mean.

Having `sys.base_prefix` differ from `sys.prefix` is defined by Python as the way to expose the fact that you're in a virtual environment (see [here](https://docs.python.org/3/library/venv.html#venv-def)). The use of `sys.real_prefix` is his

[2018-03-13 20:27] jakirkham commented on #5060
Honestly don't really know the pip codebase well enough to propose where it should go. Was reading the docs, which sparked the question. :)

Interesting. Not sure to what extent using `base_prefix` is possible, but agree that sharing an API is a good idea if at all workable. This might work in some cases (e.g. `base_prefix` points at the `python` used by `conda` and `prefix` points to the `python`

[2018-03-13 20:31] josdotso commented on #3880
An extension of the above.

[code]

[2018-03-13 21:21] pfmoore commented on #5060
Cool, I thought you were referring to what's in the code. I assume you were looking [in the docs here](https://pip.pypa.io/en/stable/user_guide/#config-file). Pip doesn't look at `$VIRTUAL_ENV`, but what it does is basically equivalent - the virtual environment config file is identified by pip as:

[code]

`venv_config_file` is simply `{sys.prefix}/pip.conf`, and `running_under_virtualenv` simply

[2018-03-13 22:02] jakirkham commented on #5060
That sounds right.

Ah ok thanks for the info.

What does `pip` do on Python 2 to detect a virtualenv?

So if we just drop a config file in `sys.prefix`, should that be enough for `pip`? Is there a way we can verify what config file it is using? Does being in a virtualenv actually affect this?

[2018-03-13 23:31] jakirkham commented on #5060
So I think it is important to point out that `conda` and `virtualenv` are coming at this from two different angles. Sorry if what follows is already obvious, want to establish a baseline before asking more questions.

AFAIK `virtualenv` allows one to create a separate environment for Python packages that links in an external Python (with batteries included) for use in this otherwise clean environm

[2018-03-14 01:35] sai306 commented on #5063
Yes. I am working in a corporate environment.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Pradyun Gedam <notifications@github.com>
Sent: Tuesday, March 13, 2018 1:20:43 AM
To: pypa/pip
Cc: sai306; Mention
Subject: Re: [pypa/pip] Could not fetch : There was a problem confirming the ssl certificate(SSL.c:3566) (#5063)

Hi @sai306<https://github.com/sai306>!

Ar

[2018-03-14 02:35] brycepg commented on #5064
I can't reproduce on Linux + QGIS2 + Python2.7 + pip 9.0.1. Still Windows + QGIS3 + Python3.6 to try :)

[2018-03-14 02:45] dstufft commented on #5060
If I understand conda correctly, I don't think that the requested feature is really specific to conda (even though the original ask suggests that it is). I think it might be better worded as adding a config file that is specific to the *actual* Python install. On a Windows machine with the Python.org installers, this might be located at ``C:\Python36\pip.conf``, on a Linux machine it might be ``/u

[2018-03-14 03:46] jakirkham commented on #5033
FYI (for those that don't already know) PR ( https://github.com/pypa/pip/pull/5053 ) adds an option to disable build isolation. Would be good to get some help testing it for those with time/interest.

[2018-03-14 12:27] fiedl commented on #4869
@Timothyjackman Did you find a solution? I'm facing the same issue.

[2018-03-14 17:06] jbergknoff-10e commented on #373
I encountered this error when running `pip install --user ...` with `PYTHONUSERBASE=vendor`. I found that specifying an absolute directory `PYTHONUSERBASE=$(pwd)/vendor` fixed the issue.

[2018-03-14 17:11] MilkTeaD commented on #4822
Very @pradyunsg  : kind of duplicate.... then in the duplicate you refer to this post ... but there is NO solution proposed.
Circular reference without an in-depth solution proposel ... I suggest you reopen the issud   @kaisbe

[2018-03-14 17:18] benoit-pierre commented on #4822
@MilkTeaD: the reference link was automatically added by Github because the issue was mentioned. It's normal to close duplicate issues in favor of keeping only one opened to track the problem.

[2018-03-14 18:16] pradyunsg commented on #4822
@MilkTeaD Hi!

Indeed. As a project, it's easier to redirect all users facing the same problem to subscribe to one issue and let all the discussions happen there.

[2018-03-14 19:13] #5033 closed

[2018-03-14 19:14] pfmoore commented on #5033
Fixed via #5053

[2018-03-14 19:27] msarahan commented on #5033
Thanks PyPA team for your consideration on this issue.  We at Anaconda will be testing master with this and will let you know if we encounter issues.

cc @jjhelmus

[2018-03-14 19:29] pfmoore commented on #5006
Looking closer at the original PR, it didn't precisely "allow non-PEP 440 versions". Pip had never forced PEP 440 versions here, all it did previously was insist that the version started with a number. That's nothing more than a heuristic to detect where the name finishes and the version starts.

We need *some* heuristic - as this issue shows, allowing unrestricted versions leaves us with no means

[2018-03-14 19:29] jakirkham commented on #5060
Thanks @dstufft. Agree that Python installers (batteries included) seems like an overlapping use case with similar end goals ( even if I wasn't thinking of that initially ;).

[2018-03-14 19:33] trishankatdatadog commented on #5006
Thanks for getting back, @pfmoore!

So the plan is that `python-foo-bar-1.0.0-py2-none-any.whl` is illegal, but `pythonfoobar-1.0.0-py2-none-any.whl` is legal, correct?

Cc: @truthbk @ofek

[2018-03-14 19:39] pfmoore commented on #5033
@msarahan Brilliant - we're hoping to start moving forward on pip 10 pretty quickly now (this was one of the last blockers) so please let us know if you have any issues, so we can get them sorted before we release.

[2018-03-14 19:43] pfmoore commented on #5006
@trishankatdatadog No, `python-foo-bar-1.0.0-py2-none-any.whl` would be perfectly legal, and would be version `1.0.0` of `python-foo-bar`. The solution I'm proposing would only disallow hyphens in the *version* (where they aren't legal in any case, according to PEP 440 - the behaviour would only differ for projects with version numbers like `1.0.0-3` which aren't allowed under PEP 440).

[2018-03-14 19:47] dstufft commented on #5006
FWIW, the wheel spec doesn't allow a file named ``python-foo-bar-1.0.0-py2-none-any.whl``.

[2018-03-14 19:51] dstufft commented on #5006
The relevant section of the PEP is https://www.python.org/dev/peps/pep-0427/#escaping-and-unicode, which states:

So the valid, PEP 427 filename would look like: ``python_foo_bar-1.0.0-py2-none-any.whl``, and PEP 440 *does* allow a dash to be in a version number (but that's not the normalized form, but normalized isn't required), but again the wheel spec doesn't allow that, so it would look like `

[2018-03-14 19:52] trishankatdatadog commented on #5006
Now I'm confused.

@dstufft That's not what I see at all with [dir2pi](https://github.com/wolever/pip2pi). I get lots of wheels coming out where the package names have had their underscores replaced with hyphens. Is `dir2pi` breaking the wheel spec? @truthbk

[2018-03-14 19:54] dstufft commented on #5006
Possibly? I don't know anything about dir2pi but something isn't doing it's job correctly if you're ending up with a wheel that didn't escape the ``-`` in the project name to ``_``.

[2018-03-14 19:55] pfmoore commented on #5006
@dstufft Aargh. Sorry, I got confused and didn't re-check the specs. Thank you for catching my mistake!

So if the wheel spec says that name and version should be normalised to not have dashes, then this looks like it's actually a bug in dir2pi (or is that pip2pi - that's where the link goes...).

[2018-03-14 19:57] dstufft commented on #5006
@pfmoore No problem! Wheel filenames were (thankfully) designed to be unambiguous to parse unlike sdists, which don't have the escaping requirements.

[2018-03-14 19:57] trishankatdatadog commented on #5006
@pfmoore `dir2pi` is a script inside the `pip2pi` package. Let me double-check what is going on with it...

[2018-03-14 20:02] trishankatdatadog commented on #5006
@pfmoore @dstufft @truthbk Yes, looking at my logs, `dir2pi` seems to be breaking the wheel spec by replacing underscores with hyphens.

[2018-03-14 20:04] pfmoore commented on #5006
OK, thanks for investigating. So I guess this issue can actually be closed as not a bug in pip.

Sorry it took so long to get to the bottom of this - I really should have remembered that the wheel file naming rules were (by design) unambiguous, as I use that fact a lot myself.

[2018-03-14 20:06] trishankatdatadog commented on #5006
Thanks a lot, everyone! Sorry to bother you about this. I'll reopen the issue in case I run into with underscores instead of hyphens, but I doubt that will be the case. Thanks again! 🙏

[2018-03-14 20:24] #5006 closed

[2018-03-14 21:02] trishankatdatadog commented on #5006
(Cc @wolever regarding possibly deprecated behaviour in `dir2pi`)

[2018-03-14 23:10] Timothyjackman commented on #4869
Went to freenode and got a solution there. Can’t remember what I did but go speak to peeps there.

[2018-03-15 05:43] AS383 opened #5067 "Pip failed to start and download any package on ReactOS"
* Pip version: 6.0.8
* Python version: 3.4.3
* Operating system: [ReactOS-0.4.8-RC](https://sourceforge.net/projects/reactos/files/ReactOS/0.4.8/ReactOS-0.4.8-RC-iso.zip/download)

### Description:
An issues in ReactOS bug-tracker: [CORE-13775](https://jira.reactos.org/browse/CORE-13775)

**Note:** ReactOS network stack does not support async connect features (related python tests failed or wait f

[2018-03-15 13:12] andy-maier commented on #4724
I have checked again on the duplicate metadata directory in the trusty image used by Travis, see travis-ci/travis-ci/issues#8493. It turns out the issue was carried forward through updates of their image: When I first reported that issue, the image (14.04.5, provisioned 2017-08-29) contained setuptools 36.0.1and 36.3.0. The current image (14.04.5, provisioned 2017-12-05) contains setuptools 38.2.3

[2018-03-15 13:24] andy-maier commented on #4724
Other than the not yet understood reason the the Travis trusty image gets two metadata directories for setuptools, I'm not sure anything is left to do for Pip at this point. Maybe you could leave this issue open until that is understood, but that's of course up to you.

[2018-03-15 13:29] benoit-pierre commented on #4724
Possible ways to get more than one metadata directory: installing from source directly (`python setup.py install`), installing with `easy_install`, or using `pip install --ignore-installed`.

[2018-03-15 14:05] mastak commented on #4537
Hi,

We encounter this at Circleci.
As a workaround you can make egg-info before:
[code]

[2018-03-15 17:36] solas opened #5068 "pip silently downgrades dependent modules"
* Pip version: 9.0.1
* Python version: 3.6.1
* Operating system:

### Description:
pip's behavior - when faced with a module that lists explicit versions for dependent modules - appears to be to silently downgrade the version of previously installed (and newer) modules.

In addition to this being destructive (in general, it's never a good idea to *downgrade* someone's installation without asking t

[2018-03-16 00:39] ncoghlan opened #5069 "Simplify managing packages from the Python REPL"
For a variety of reasons, folks may end up in a situation where it isn't straightforward to get an operating system level command shell for the interactive Python environment they're currently using (e.g. Windows start menu link, Jupyter notebook kernels, etc).

The most robust currently available option for handling that scenario is to do something like the following:

    import subprocess, sys

[2018-03-16 00:41] ncoghlan commented on #5069
(Note: this isn't a new idea, but we've historically just debated the question on `distutils-sig`. With pip 10 moving the implementation API out to a private submodule, that opens up the opportunity to define a public Python level API that invokes the CLI in a subprocess.)

[2018-03-16 01:29] honnibal commented on #3191
I get tricked by this all the time. I write:

     `pip install -r requirements.txt --no-binary --no-cache-dir`

The `--no-cache-dir` gets read as the argument to `--no-binary`, and pip goes and does exactly what I didn't want.

[2018-03-16 16:34] sixninetynine opened #5070 "Using pip 10+ as a library"
Hello friends!

I just have a quick question regarding using pip as a library.

I currently have a project that does a `pip install` via:

[code]

Obviously in the 10+ branch it appears this functionality is moved/removed and everything is protected in the `_internal` namespace, which to me denotes privacy (as in, I should not use this API!).

Is there a plan or guidance for folks using pip as a l

[2018-03-16 16:41] benoit-pierre commented on #5070
It's not supported. The only supported use case is calling pip with subprocess, e.g.: `subprocess.check_call((sys.executable, '-m', 'pip', ...))`. For reference, see: https://github.com/pypa/pip/blob/master/docs/user_guide.rst#id89

[2018-03-16 18:45] bernardolm commented on #3660
I had this error too, I was able to fix with:
[code]
pay attention to quotes after `#`

[2018-03-16 20:05] Gifflen commented on #4732
It looks like pipenv is getting the hashes directly from the warehouse api

https://github.com/pypa/pipenv/blob/master/pipenv/utils.py#L468-L508

[2018-03-16 21:28] sixninetynine commented on #5070
Thanks for the clarification @benoit-pierre !

[2018-03-16 21:28] #5070 closed

[2018-03-16 22:34] trishankatdatadog commented on #5006
I can confirm [my patch of pip2pi](https://github.com/wolever/pip2pi/compare/master...trishankatdatadog:trishankatdatadog/correctly-escape-distribution-names-for-wheels) (probably a hack that needs better long-term fixes) works on the latest pip-10.0.0.dev0 at the time of writing

Cc: @wolever

[2018-03-17 00:45] puzzledbytheweb commented on #5044
Hello! I'm not a developer in this repository but I have managed to solve a similar issue doing this (applicable to your problem):

1.  Follow the Exception Location and edit "codecs.py";
2.  Go to line 321 (error line), where appears something like `return s.decode('utf_8')`. (Might not be identical);
3. Change that line to something like `return s.decode('utf_8', 'ignore')`.

It solved my proble

[2018-03-17 09:34] pradyunsg commented on #5070
Currently, we do not have the development resources to handle the support/development/maintenance needed to make it possible for using pip as a library.

[2018-03-17 09:57] benoit-pierre opened #5073 "incorrect exit status when package cannot be installed"
* Pip version:  9.0.1 / 9.0.1-744-gcb696fce
* Python version: 3.6.4
* Operating system: Arch Linux

### Description:

Add a package' source directory to PYTHONPATH, and try to uninstall it with pip, e.g.:

[code]

[2018-03-17 10:52] ssbarnea commented on #2860
Some people may find useful to know that they can `export PIP_DISABLE_PIP_VERSION_CHECK=1`.

[2018-03-17 10:59] ssbarnea opened #5074 "pip 9.0.2 released without updating changelog"
* Pip version: 9.0.2
* Python version: N/A
* Operating system: N/A

### Description:

It seems that pip 9.0.2 was published on pypi without updating the changelogs.

See https://pypi.python.org/pypi/pip/9.0.2 -- click changelog, it will open https://pip.pypa.io/en/stable/news/ which has 9.0.1 listed as last change, back in 2016 !.

Also the Edit on githhub link from the same page points to a 404 g

[2018-03-17 13:39] mystic-cg opened #5077 "when I was updating matplotlib, something error appeared"
* Pip version: 9.0.2
* Python version: 3.6.3
* Operating system: win10

### Description:

// REPLACE ME: What are you trying to get done, what has happened, what went wrong, and what did you expect?
At first, I updated wordcloud, an error occurred when it updated its matplotlib dependency package
Then, I only updated the matplotlib package and the same error occurred
### What I've run:

[code]
[co

[2018-03-17 14:00] dstufft commented on #5074
This is fixed now, RTD failed to build because ``master`` branch is different enough from ``9.x`` that the two were no longer compatible. The change log didn't show up on edit because I hadn't merged 9.0.2 back into master yet.

Please note, there was an error in the changelog where it said 2017 instead of 2018, that's fixed in https://github.com/pypa/pip/pull/5078.

[2018-03-17 14:00] #5074 closed

[2018-03-17 14:05] mystic-cg commented on #5077
When I used this command -- "python -mpip install -U matplotlib", matplotlib was updated successfully; then wordcloud was also updated successfully

[2018-03-17 14:40] vhaldemar opened #5079 "pip 9.0.2 KeyError: 'pip._vendor.urllib3.contrib'"
* Pip version: 9.0.2
* Python version: 2.7.3, 2.7.13
* Operating system: Ubuntu 12.04, Ubuntu 16.04

[code]

[2018-03-17 15:12] sernst commented on #5079
I'm seeing the same thing with pip 9.0.2 while running on the `python:3.6` docker container

- pip version: 9.0.2
- python version: 3.6.4
- operating system: docker/linux

I've been able to narrow it down to occurring when the `requests` library is imported before the pip library. Here's an example:

[code]

The reverse works fine:

[code]

[2018-03-17 15:13] dstufft commented on #5079
Are you importing pip in your code? Or is there a pip command you're running to trigger this?

[2018-03-17 15:24] sernst commented on #5079
In my case, I'm importing pip in my code to use `pip.main()`.

[2018-03-17 15:25] dstufft commented on #5079
Does it happen on the `master` branch as well?

[2018-03-17 15:28] dstufft commented on #5079
(If you're using ``pip.main()`` that's been renamed to ``pip._internal.main()`` in `master` as we don't have any supported APIs).

[2018-03-17 15:35] sernst commented on #5079
Was just checking that. It looks like `master` works fine:

[code]

[2018-03-17 15:36] sernst commented on #5079
(good to know about the `pip.main()` refactor)

[2018-03-17 15:36] dstufft commented on #5079
You'll need to ``import pip._internal``, there's nothing in ``pip/__init__.py`` except the ``__version__``.

[2018-03-17 15:38] sernst commented on #5079
Ah, yep. Seeing that now. Still seems to work:

[code]

[2018-03-17 15:45] dstufft commented on #5079
Alright. I'm inclined to say that that you'll want to either re-arrange your imports, or pin to ``9.0.1``. While I recognize that it sucks that it broke, we don't really support any usage of pip where you're importing pip itself (hence the refactor to move everything into ``pip._internal`` to make this crystal clear, since a lot of people were confused by this). In addition, we're planning on rele

[2018-03-17 15:45] #5079 closed

[2018-03-17 16:13] sernst commented on #5079
Yep, I can do that to solve my case. 👍

Understandable that it's not officially supported, but there's definitely usage of it out there. GitHub code search won't allow for using `.` so this search isn't perfect:

https://github.com/search?l=Python&q=import+pip+main%28&type=Code&utf8=%E2%9C%93

but it returns ~850k hits of `import pip` + `main(` on public github projects.

An anecdotal pattern I no

[2018-03-17 16:17] dstufft commented on #5079
I think this would make an excellent issue to discuss the relative merits of doing that (or not doing it).

[2018-03-17 16:38] ssbarnea commented on #5074
Thanks for the quick fix. RTD is also giving me some headaches lately.

[2018-03-17 16:56] sernst opened #5080 "Preserve pip.main() in some fashion"
I'm opening this issue on the recommendation of @dstufft to carry over a tangential discussion that arose in #5079.

While understanding that `pip.main()` is not officially supported and is being refactored to `pip._internal.main()` in the `10.0.0` release, there is definitely usage of it out there. GitHub code search won't allow for using `.` so this search isn't perfect:

https://github.com/sear

[2018-03-17 18:21] Miserlou opened #5081 "Error with `import pip` in pip 9.0.2"
Some users are now experiencing an import error when calling `import pip` in a function with pip 9.0.2. Downgrading to 9.0.1 fixes the issue.

Trace: https://user-images.githubusercontent.com/2273226/37558391-5e41fc94-2a24-11e8-9fdc-5884445e829a.png

More details here:
https://github.com/Miserlou/Zappa/issues/1446

[2018-03-17 20:19] ssteo commented on #5081
I can confirm this as well. Just about to file same issue. Thanks @Miserlou Zappa is a nice project 👍

[2018-03-17 20:59] alex commented on #5081
This is a dupe of #5079 -- importing pip is not a supported use case (and never has been).

[2018-03-17 21:07] Miserlou commented on #5081
Come on.. making a huge breaking change in a single `x.x.PATCH` version bump? For a top level method that's called "main"? I think that's pretty poor form..

[2018-03-17 21:59] pfmoore commented on #5080
I wouldn't have any objection to reintroducing `pip.main()` in some form (it wouldn't be in pip 10, but could be in some future version). But I'd prefer it to be a wrapper around a subprocess call to pip, rather than simply exposing pip's internal function (as doing that has already been shown to have issues).

If someone were to create a PR for this, I think it would be a good thing to consider -

[2018-03-18 03:07] nvictus opened #5082 "Cryptic error when a dependency's PKG_INFO/METADATA is missing"
* Pip version: 9.0.1
* Python version: 3.6.4
* Operating system: Ubuntu 17.10

### Description:

Pip crashes with a cryptic error when it doesn't find a dependency's package metadata.

### What I've run:
A certain dependency was installed using `conda` and was lacking a `PKG-INFO` file in the egg-info. When installing the desired package, pip fails right after processing the dependency with this e

[2018-03-18 03:09] jcrben commented on #5039
This needs the `topic - extras` label (like https://github.com/pypa/pip/issues/4824) @pradyunsg

[2018-03-18 12:44] jedie commented on #4390
Current pull request is: https://github.com/pypa/pip/pull/4557 isn't it?

[2018-03-18 12:45] a05110511t commented on #2964
Try this:
sudo easy_install -U pip

[2018-03-18 23:14] FlipperPA commented on #5081
This also broke Anaconda and I came up with the same solution as @Miserlou:

https://github.com/ContinuumIO/anaconda-issues/issues/8911

Errors are being reported across a lot of projects.

[2018-03-19 01:56] RayJ414 commented on #5081
This error also bothered me when I was trying to use pip to update my anaconda-navigator.

[2018-03-19 02:39] vvoody opened #5083 "wrong release date for 9.0.2 in page "Release Notes""
Hi, it says `9.0.2` released  on `2017-03-16` in page https://pip.pypa.io/en/stable/news/. I think it's `2018-03-16`, right?

Thanks.

[2018-03-19 06:30] anntzer opened #5084 "config entry misdisplayed in pip 10 help"
* Pip version: 10.0.0.dev0 (94d186b)
* Python version: 3.6
* Operating system: Arch Linux

### Description:

see below

### What I've run:

[code]

note how the config entry in the help displays way too much.

[2018-03-19 06:36] anntzer opened #5085 "pip 10 wheel fails when install.user is set in the config"
* Pip version: 10.0.0.dev0 (94d186b)
* Python version: 3.6
* Operating system: Arch Linux

### Description:

Tried to build a wheel using pyproject.toml while the install.user key is set in ~/.config/pip/pip.conf.  Failed with the traceback below.

### What I've run:

[code]

[2018-03-19 06:39] anntzer opened #5086 "typo in output of pip wheel -h"
* Pip version: 10.0.0.dev0 (94d186b)
* Python version: 3.6
* Operating system: Arch Linux

### Description:

see below

### What I've run:

[code]
Note the mismatched parenthesis.

[2018-03-19 10:58] rinku16 commented on #3484
yes use command prompt as administrator really worked for me as i getting the same error
===========================================================
http://www.thewindowsclub.com/how-to-run-command-prompt-as-an-administrator

[2018-03-19 12:39] wichert opened #5087 "Update vendored pkg_resources"
* Pip version: 9.0.2
* Python version: 3.6
* Operating system: macOS

The vendored pkg_resource is currently missing the fix for pypa/setuptools#1282, which makes it impossible to use namespace packages in Python 3 for me. Can you please update the vendored setuptools version to include [the fix](https://github.com/pypa/setuptools/commit/7c0c39ef1f60571709e5a8e6680f2147c38cd4ff)?

[2018-03-19 12:49] pfmoore commented on #5087
I'll be doing a pass to get the latest released versions of our vendored dependencies for pip 10 over the next week or two. I'll make sure to get the current version of setuptools at that time - thanks for the heads up. (If the fix isn't yet in a setuptools release, you should probably ping them to do a release if we're to pick it up).

[2018-03-19 12:54] wichert commented on #5087
I've made an attempt at this in #5088, hopefully that'll help. This is currently my last blocker before I can try to switch to Python 3, so I'm happy to help test things.

[2018-03-19 13:18] pfmoore commented on #5087
Thanks. I've assigned it to myself and put it on the 10.0 milestone. There seem to be some CI failures (I peeked at the in-progress Travis/Appveyor runs) which I don't immediately understand. Are they something you'd be able to take a look at? If not, I'll do some digging when I get time.

[2018-03-19 13:21] wichert commented on #5087
I'll put it on my TODO list, but I can't guarantee I will be able to do much more this week.

[2018-03-19 13:32] benoit-pierre commented on #5087
The failures with `test_basic_install_environment_markers` are normal: with newer version of setuptools the example requirement will be moved to `extras_require` by setuptools because of the environment marker, which mean that the marker evaluation will be done by pkg_resources, so no warning is shown.

[2018-03-19 13:41] pfmoore commented on #5087
Thanks @benoit-pierre. I'm guessing that means we'll need to update our test, then.

[2018-03-19 13:44] benoit-pierre commented on #5087
IMHO it should just be dropped.

[2018-03-19 14:23] Miserlou commented on #5081
Is there any chance of us getting a 9.0.3 that fixes this - ideally quite soon?

This is already affecting lots of major projects (Anaconda, SpaCy, Zappa), and there are more than 850k+ [uses of this on GitHub alone](https://github.com/search?l=Python&q=import+pip+main%28&type=Code&utf8=%E2%9C%93) that are now broken by this supposed "patch" version update.

Can you at least revert this massive ch

[2018-03-19 14:29] omercnet commented on #5081
this completely breaks several of our projects and we really don't want to bind to an "old" pip release, please address this breaking change.

[2018-03-19 14:51] nchammas commented on #5079
FWIW I'm seeing something very similar just by calling `pip install` on some requirements:

[code]

Strangely, I can avoid the error by calling `pip install` on my requirements with `--no-cache-dir`. So perhaps in my case there is some bad interaction involving pip 9.0.2 and cached packages?

[2018-03-19 15:13] RemiCardona commented on #5081
We don't want to use an older version either, but that's exactly what we ended up doing. 9.0.2 does not exist inside our CI environment, at least for now.

[2018-03-19 15:15] stmcginnis commented on #5081
Also seeing this hit in some OpenStack projects.

[2018-03-19 15:25] pfmoore commented on #5081
Pip 10 is due out in about a month. As I understand it, the issue is with code that uses `import pip` to access internal functionality of pip. We've never supported such usage officially, and we have explicitly documented that lack of support for some time now (albeit only in the "latest" version of the docs at https://pip.pypa.io/en/latest/user_guide/#using-pip-from-your-program, because we haven

[2018-03-19 15:30] stmcginnis commented on #5081
With no warnings being raised by the code for those using the old way, nothing denoting this as "internal" with starting with _, and this just being a bugfix bump, I actually think it's quite easy to see this as a sudden, unexpected breakage.

[2018-03-19 15:31] nchammas commented on #5079
Alright, well I was able to fix my problem by [deleting the system pip cache](https://stackoverflow.com/a/31807659/877069). Now my jobs run as they were before, without needing to pin pip to 9.0.1 or specifying `--no-cache-dir`.

Dunno if this is related at all to what people are seeing here or on #5081, but noting my experience here nonetheless in case it helps someone.

[2018-03-19 15:46] Miserlou commented on #5081
Yes, this is the type of change that people could expect from a `MAJOR` version update. That would be fine.

Unfortunately, this massive change came in a `PATCH` update, which is _supposed to fix things, not break them_. **This is the exact opposite of semantic versioning.** And, as a result, we are seeing massive damage across the Python ecosystem.

You should revert this change ASAP in another `

[2018-03-19 16:07] alex commented on #5081
The macOS TLS issue will affect everyone using a system Python on macOS<10.13

[2018-03-19 17:08] pradyunsg commented on #5081
I'm of the same position as @pfmoore.

[2018-03-19 17:11] pradyunsg commented on #5085
@pypa/pip-committers I think just setting the appropriate environment variable to `""` be fine as a fix for this?

[2018-03-19 17:13] pradyunsg commented on #5044
Hi! Thanks for filing this but this isn't the right place for this issue.

I think that the Django Project is the project you want to contact. Other than that, [python-list](https://mail.python.org/mailman/listinfo/python-list) or [python-tutor](https://mail.python.org/mailman/listinfo/tutor) mailing lists, [#python on Freenode](https://webchat.freenode.net/?channels=%23python) (IRC) or [StackOver

[2018-03-19 17:14] #5044 closed

[2018-03-19 17:20] pfmoore commented on #5085
I think this may be because the PEP 518 code for creating the build environment uses `--prefix` to decide where to install the build dependencies. So we need to force `--user` *not* to be set in that case. I'm not sure if setting the `PIP_USER` env var to "" has that effect, but if it does, then yes that would be a way of doing it. Or does `--no-user` work to force not installing in user-site rega

[2018-03-19 17:46] pradyunsg commented on #5039
I should have commented -- added.

[2018-03-19 18:20] pradyunsg commented on #5048
I think we should have a new issue for any further discussions here.

[2018-03-19 18:29] pradyunsg commented on #5068
Hey @solas! Thanks for filing this issue. :)

I'm gonna carry forward your tonality for the response here. :P

Easier solution that actually exists: pass `--only-if-needed` to pip, to reduce breakage.
An actual solution being worked on: #988.

Do these address your concerns?

[2018-03-19 18:38] pradyunsg commented on #5084
Nice catch @anntzer!

[2018-03-19 19:45] philpennock opened #5089 "pip `--install-option` leaks across lines"
* Pip version: 9.0.2
* Python version: 3.6.4
* Operating system: Ubuntu 16.04.4 LTS (Xenial)

### Description:

Installing two packages using a `requirements.txt` file, where one package requires `--install-option` and the second doesn't, the `--install-option` leaks from the first package to the second, unless there's an intervening blank line.

### What I've run:

[code]

Repeating the invocatio

[2018-03-19 20:23] ViktorHaag commented on #5081
Workaround, if you have it available to you, is to check the order of imports and test moving importing pip above other package imports (specifically, importing pip _before_ importing requests seems to solve some cases). (Note that this still implies use of pip's internals, which isn't officially supported.)

[2018-03-19 21:23] piotr-dobrogost commented on #5089
Duplicate of issue #4453

[2018-03-19 22:12] philpennock commented on #5089
Sorry for the noise; I did search but I spotted nothing obviously came up in the first few results pages for my search text and I couldn't find search text which helped.

[2018-03-19 22:12] #5089 closed

[2018-03-19 23:10] maximilianh commented on #2125
Same here. We come across this every few weeks on our HPC cluster, where all users share by default one big python install.

[2018-03-20 07:11] anx-ckreuzberger commented on #5081
Same issue here with pip 9.0.2 in a gitlab-ci with docker python 3.4: KeyError

[code]

[2018-03-20 07:47] anx-ckreuzberger commented on #5081
FYI, 9.0.2 was released with broken builts:
![screenshot_2018-03-20_08-43-35](https://user-images.githubusercontent.com/18396259/37641655-e8af5032-2c1a-11e8-92f4-1ac61ecbb874.png)

Travis-CI Reference: https://travis-ci.org/pypa/pip/builds/354616774?utm_source=github_status&utm_medium=notification

Granted the errors might be unrelated, though this just smells like a "rushed release"...

[2018-03-20 08:12] anx-ckreuzberger commented on #5081
@pfmoore

I can not believe that this is a statement by the **owner** of this repository... You literally just said "f*ck semantic versioning" and "who needs a deprecation policy anyway".

[2018-03-20 08:34] RonnyPfannschmidt commented on #5081
pip always was documented as NOT having a consumable python api, i'm disappointed in people that even at that point try to turn around the "told you so since quite some years" karma

[2018-03-20 08:38] anx-ckreuzberger commented on #5081
@RonnyPfannschmidt This is like saying "We've told you a 100 times you are not allowed to drive over the speed limit" and then enforcing the speed limit by replacing all engine-cars with flintstone-cars, so people can not go over the speed limit anymore.

[2018-03-20 08:48] RonnyPfannschmidt commented on #5081
you just demonstrated perfectly that turning around of words that so bad - the telling was "dont rely on it it will break" - now it broke and suddenly the project that told you before that it will break is at fault

that just putting blame because you dont like to be at fault

[2018-03-20 08:57] anx-ckreuzberger commented on #5081
@RonnyPfannschmidt

So you are saying that I'm at fault for using **3rd-party** packages that rely on an undocumented feature of pip. Maybe, I am... I should have screened those 3rd-party packages for those errors and submitted an issue or even better a PR.

But let's face the reality: There are plenty of projects out there that are used in production that are now broken. This is not a question of

[2018-03-20 09:04] ubernostrum commented on #5081
If a third-party package you use breaks because it relies on undocumented, un-guaranteed internal APIs, it seems to me that you should file a bug against that package.

There's an easy-to-discover line between what parts of `pip` are and aren't intended for third-party consumption, and I don't support trying to force its developers to maintain internal APIs that never should have been consumed by

[2018-03-20 09:22] pfmoore commented on #5081
@anx-ckreuzberger

While I understand the frustration here, I'm getting increasingly annoyed by the willingness of people to blame the pip maintainers for things we never promised.

If you want to make accusations like that, please back them up with

1. A pointer to a statement from any of the pip maintainers that we support use of the pip internal API in user code.
2. A pointer to a statement fro

[2018-03-20 09:47] piotr-dobrogost commented on #5089
No problem. Sometimes I can't find issues I **know** are there :)

[2018-03-20 11:17] pfmoore commented on #4803
Fixed by #5065

[2018-03-20 11:17] #4803 closed

[2018-03-20 11:25] thet commented on #5081
I've experienced the same problem with pip 9.0.2 and Python 2.7.14 within a docker container.
I cannot reproduce the problem on my dev machine outside a docker container though.
I searched for a pip import (grep'd for ``import.pip``, ``from.pip``, ``\'pip``, ``\"pip``) but couldn't find anything.
We at Plone are using a mechanism to automatically include configurations from packages included in a

[2018-03-20 11:31] jensens commented on #5081
As far as I understand just importing pip - without using it - breaks already. This is not a good citizens behavior in Python land. Not supporting using it/ not providing a public API is one thing, just breaking on import another. This affects a lot of auto-inspecting code.

[2018-03-20 12:03] pfmoore commented on #5081
Think of it this way: pip is a command line utility, not a library. The fact that it's written in Python is irrelevant. That's the reality of the matter.

[2018-03-20 12:13] MikeHart85 commented on #5081
@pfmoore

The bottom line is it really doesn't matter what you promised. What matters is what you did and what the resulting situation is. Maybe you thought of it as a command line utility. But you released it as a library. That is the reality of the matter:

You've released a library with Feature X. People started using Feature X. Sure, you said "guys, please don't use Feature X". But you kept re

[2018-03-20 12:20] pfmoore commented on #5087
@benoit-pierre I'm seeing what looks like the same error on master, at https://ci.appveyor.com/project/pypa/pip/build/job/fcc9915acx8oedq9. When you said "normal" is that what you'd expect, that the issue is in master, and not just this PR? If so, I'll make a separate issue for that failure and mark it as a release blocker.

[2018-03-20 12:21] thet commented on #5081
@pfmoore do you see something suspicious in the traceback I referenced above? There is no use of any pip internals AFAIK. It's interesting that most people have this problems withing docker containers.

[2018-03-20 12:23] thet commented on #5081
@ all, accusing the maintainers for broken code doesn't help with solving the problem.

[2018-03-20 12:44] jensens commented on #5081
Fact: It can not be imported, if imported even by auto-inspecting code for some reason: all breaks. I suppose this happens in @thet's  case.
Conclusio: pip must isolate itself from the global or current virtualenv/venv Python namespace it installs packages into. That way it does not pollute it and not even import by accident ever happens.

[2018-03-20 13:02] benoit-pierre commented on #5087
With the following example:
[code]

And `setuptools<36.2.0`:

[code]

So there's only a warning for the `install_requires` requirement, but not for the `extra_requires` one. This already severly diminishes the warning usefulness. Add to that the fact that keeping requirements with environment makers in `install_requires` was a bug in setuptools, resulting in a change in the format of `requires.txt

[2018-03-20 13:12] pfmoore commented on #5087
@benoit-pierre Thanks for the detailed explanation. I agree, I'll drop the warning & test.

[2018-03-20 13:40] anx-ckreuzberger commented on #5081
First of all, sorry if I accused the maintainers of the repo for faulty code. Any accusation were made out of frustration, and, if at all, point to the fact that IMHO the **9.0.2 release** is by the definition of semver a patch release (though @pfmoore made it clear that pip is not necessarily using semver - which is another issue for another day I guess).

@MikeHart85

Pretty much. I mean look at

[2018-03-20 13:58] pfmoore commented on #5087
Looking at the code where the warning is created (`RequirementSet.add_requirement`, which calls `InstallRequirement.match_markers`) I'm not 100% confident I understand all the ways that could be called, and I couldn't find a standards doc that covered moving requirements to `extras_require` like this, so I'm going to leave the code for now, and just remove the test. If someone wants to look at the

[2018-03-20 14:07] pfmoore commented on #5081
Thank you. Frustration is high here, and I understand that.

Good idea - I wish we'd thought of this some time ago. Of course, there's no real point now, as the internal namespace will be reorganised in pip 10, so it's too late. I'll certainly remember this trick for the future.

For 10.0. There was no original intention to release a 9.0.2, we only did so as an emergency release so that users of M

[2018-03-20 14:42] MikeHart85 commented on #5081
It's not a threat at all, apologies if it came across that way.

It's an observation about something that happens all too often in the software world. People don't work with your promises or intentions. People work with the product you deliver. If your product has a feature that many people come to depend on, you can no longer just yank it out from under their feet. If you do, they start seeing yo

[2018-03-20 15:02] Miserlou commented on #5081
Hey @dstufft , thanks for chiming in. This thread is getting pretty hot!

First of all, I thank you for your work! I know that maintenance is a endless, thankless task, and I imagine it only gets worse when you manage a project as large and popular as `pip`!

Now, to the issue at hand: Although twenty _maintainers_ have reported this problem so far, I know that is already affecting thousands of _p

[2018-03-20 15:06] anx-ckreuzberger commented on #5081
First of all: Thank you at the pip maintainers for their efforts and the insights within the project. I believe this really helps others understanding the issue (though it might be worth to write a summary blog article about it).

@dstufft

I'm pretty sure that metric is heavily biased by all the automated ``pip install pip --upgrade`` commands from  Continous Integration/Delivery systems (they sh

[2018-03-20 15:13] pganssle commented on #5081
It's not clear to me why you'd have to warn against this. The use of `pip` as anything other than a command line tool is completely *undocumented*. Searching the documentation I don't see any reference to importing pip *at all*. It's like complaining because you linked against some `.so` used by Chrome and they broke ABI compatibility.

The usual interpretation of SemVer is that it applies to the

[2018-03-20 15:17] dstufft commented on #5081
There is nothing to reverse really. Backporting fixes to prevent a significant chunk of users on macOS from being unable to access PyPI in the near future has a bug when applied to the 9.0.x code base that appears to only express itself under unsupported conditions. The only path forward is to do *additional* work to resolve that bug in the 9.0.x series. Like I said if I can find time I’ll try to

[2018-03-20 17:55] hokuto-k opened #5093 "can't install pip in Python 2.6.* by using get-pip.py"
* Pip version: maybe 9.0.2
* Python version: 2.6.6
* Operating system: macOS 10.13.3

### Description:
I've installed python 2.6.6 from source code and I tried to install pip using get-pip.py downloaded drom https://bootstrap.pypa.io/get-pip.py
However, it cannot be installed because of the following error:
[code]

As you may know, OPENSSL_VERSION_NUMBER is introduced to python at 2.7, so actually

[2018-03-20 18:24] jberends commented on #5079
+1

[2018-03-20 18:31] pfmoore commented on #5093
pip 10 will not support Python 2.6 (see the new version of the [Installation Guide](https://pip.pypa.io/en/latest/installing/#python-and-os-compatibility)). Unfortunately, 9.0.2 was released with an emergency backport of a pip 10 feature that is needed to ensure that Mac OS users who are using the system Python can still access PyPI, and the backported code isn't Python 2.6 compatible.

To use pip

[2018-03-20 18:50] habnabit commented on #5081
@Miserlou

As someone who is strongly opposed to semver, can you let me know what format my version strings should be in to eliminate this confusion? "Three dotted numbers" does not imply "strictly follows semver" to me, so this assumption comes as a surprise.

[2018-03-20 19:03] di commented on #5093
I actually experienced the same issue today, it's making it difficult for me to maintain projects which do still support Python 2.6 because I can no longer `pyenv install 2.6.x`, and no amount of pointing the build at OpenSSL seems to resolve it.

It looks like `pyenv` supports setting `GET_PIP_URL` to something other than `https://bootstrap.pypa.io/get-pip.py` but it's not really clear to me wher

[2018-03-20 19:33] AndrewHoos opened #5094 "Installing packages takes 25 times as long on systems using pip 9.0.2 secure transport"
* Pip version: 9.0.2
* Python version:  2.7.10 (macOS system python)
* Operating system: 10.12.6

### Description:

I am trying to install a package from our corporate pypi mirror (artifactory).

### What I've run:

[code]

This command completes in ~9 seconds with pip 9.0.1
This command completes in ~240 seconds with pip 9.0.2

It looks like the new logic added to use secure transport is signific

[2018-03-20 19:41] sruggier commented on #5081
In response to [this comment](https://github.com/pypa/pip/issues/5081#issuecomment-374528407): Whether or not pip adheres to semver, or promises to adhere to it, the use of a `major.minor.micro` versioning scheme still carries an implicit promise of some kind of restraint around micro releases. If a [compatible release](https://www.python.org/dev/peps/pep-0440/#compatible-release) pin like `~= 9.0

[2018-03-20 19:45] dstufft commented on #5094
This would be a bug for urllib3, there's not much we can do about this. There's not much we can do about this unless they solve it there (though slow is probably better than fails, which is what the cases where we'd switch to SecureTransport would be doing soon otherwise).

[2018-03-20 20:01] dstufft commented on #5081
Please indicate to me where ``import pip`` was documented to be a stable API that falls under the backwards compatibility promises we make? I would like to make sure that I remove such documentation since we emphatically do not support that use.

Unless you're of the opinion that absolutely nothing can break, even unsupported, untested uses. In which case you probably want to pin ``==`` because it

[2018-03-20 20:10] Miserlou commented on #5081
`pip` is Python's package manager. Python is a programming language. People need to inspect their environments programmatically. 1+1=2.

It was perfectly reasonable for people to assume that this was the correct way to do it. There wasn't - and there _**still isn't**_ - anything in the documentation saying _not_ to do this. As a reminder, there are *over 700,000* [applications which came to this s

[2018-03-20 20:25] pfmoore commented on #5081
https://pip.pypa.io/en/latest/user_guide/#using-pip-from-your-program

[2018-03-20 20:26] Miserlou commented on #5081
If you click on the "Docs" button of _this very repo_, you don't get to that page. Nobody is referencing latest. Your own links to documentation don't link to latest. There is no way to get to that page. Everything goes to stable, which does not include that section.

[2018-03-20 20:36] pganssle commented on #5081
@Miserlou I think that note is a kindness for people who somehow think that they should be importing the internals of a command line tool just because it happens to be implemented in Python and those internals are importable.

I get that you have a different interpretation of the public interface of `pip` than me, the developers and most people who think of `pip` as a CLI program, but what is the

[2018-03-20 20:44] anx-ckreuzberger commented on #5081
To be honest, the maintainers of pip already stated that IF time permits, they will try to fix this issue, though everyone is encouraged to file a pull request to speed things up.

I think for now all **we** can do is to make 3rd-party libraries aware of this issue, and point them to this issue. Long term 3rd-party libraries need to fix this issue anyway, and hopefully in a way where they do not `

[2018-03-20 20:46] dstufft commented on #5081
I believe that this discussion is unlikely to be productive nor is there really anything additional to be said. There is:

* An adequate description of the problem.
* Possible work arounds that someone could employ if they run into it.
* Rationale for why we don't consider this a breaking change as per our backwards compatibility guidelines.
* A statement that I will attempt to find time to fix it

[2018-03-20 20:47] jensens commented on #5081
In order to make this do-not-import-pip mantra more visible, what about renaming the namespace to "_pip". This indicates that the whole is not for public use on a name level.
Also, it would be easier to tell auto-inspecting code not to look at stuff starting with underscore. Well, latter would need changes in the involvement inspection code too. But at least there's a chance to automate by it (by

[2018-03-20 20:48] dstufft commented on #5081
Ok, last thing I swear-- pip 10 already moved all relevant code to ``pip._internal`` (we didn't use ``_pip`` because that would break ``python -m pip``, which is supported).

[2018-03-20 21:51] AndrewHoos commented on #5094
This seems to be artifactory specific. I can reproduce with the artifactory server, but not pypi.python.org.

[2018-03-20 22:32] di commented on #5093
I was able to resolve this by pointing it at the version of `get-pip.py` in [this commit to pypa/get-pip from 2016](https://github.com/pypa/get-pip/commit/430ba37776ae2ad89f794c7a43b90dc23bac334c):

[code]

[2018-03-20 22:32] #4453 closed

[2018-03-21 00:53] philpennock opened #5095 "Travis flow optimization"
### Description:

The current flow fires off a lot of jobs, even if there are trivial failures.  Travis now has "build steps", to allow for chained dependencies.  I've put together an experiment which might be interesting to you.

### What I've run:

* https://travis-ci.org/philpennock/trav-test-stage-matrix/builds/356141984
* https://github.com/philpennock/trav-test-stage-matrix

In this, the lin

[2018-03-21 02:26] Happyholic1203 commented on #5093
Same problem here, and now py26 in tox (and also python2.6 virtualenv) is simply broken.

@pfmoore
In certain tools like virtualenv, tox, there is no configurable way to specify pip version...

[2018-03-21 07:50] zhangningxin commented on #4104
upgrade setuptools from 36.2.7 to 39.0.1 can also fix the issue

[2018-03-21 10:43] skatsaounis opened #5099 "pip/pip/_vendor/requests/packages.py key error with requests==2.18.2"
* Pip version: 9.0.2
* Python version: 2.7.12
* Operating system: Ubuntu 16.04

### Description:

pip/pip/_vendor/requests/packages.py is erroneous with requests==2.18.2.

Mind that with requests==2.12.5 The same code works as expected.

### What I've run:

I am running:
[code]

And I am getting the following error:

[code]

[2018-03-21 10:53] pfmoore commented on #5099
This is a known issue - see #5081.

Having said that, please note that `from pip import req as pip_req` is not supported usage of pip, and will break in pip 10. You should update your code to avoid use of pip as a library, or you will have similar issues when pip 10 is released in a few weeks. See https://pip.pypa.io/en/latest/user_guide/#using-pip-from-your-program and https://mail.python.org/pip

[2018-03-21 12:25] skatsaounis commented on #5099
@pfmoore Thank you for the fast response.

Basically, it is not my code. If I had revealed all the trace, you could see that this is produced from [a method of ryu](https://github.com/osrg/ryu/blob/master/ryu/utils.py#L143). Which in turn is used by [Openstack Neutron](https://github.com/openstack/neutron/blob/master/neutron/plugins/ml2/drivers/openvswitch/agent/openflow/native/main.py#L18).

 I w

[2018-03-21 12:53] pfmoore commented on #5099
Thanks - we appreciate you letting us know. I just checked the ryu website, and I don't see any way of opening an issue :-( If you can, then it would be extremely helpful, as they have limited time to sort out a fix before pip 10 is released.

[2018-03-21 15:30] dstufft commented on #5081
Can anyone verify if https://github.com/pypa/pip/pull/5100 solves this for them?

[2018-03-21 15:30] dstufft commented on #5099
Closing this as a duplicate.

[2018-03-21 15:31] #5099 closed

[2018-03-21 15:42] dstufft commented on #5081
Scratch that, I think #5100 is wrong, could you verify https://github.com/pypa/pip/pull/5101 instead please.

[2018-03-21 15:51] hokuto-k commented on #5093
@pfmoore
@di
@Happyholic1203

Thank you for the replies.
I think it would be better to add an instruction like @di 's comment to install pip for 2.6.*.
https://github.com/pypa/pip/issues/5093#issuecomment-374779915

@pfmoore
IMO, If you need it, you'd better to upload another `get-pip.py` which is compatible with python 2.6 as soon as possible.

[2018-03-21 15:53] hokuto-k commented on #5093
IMO, If the future pip does not support python 2.6, it might be a bit difficult to merge #5097 , but thank you for the work @Happyholic1203

[2018-03-21 16:07] pfmoore commented on #5093
#5097 will probably apply cleanly to the 9.0.2 branch. @dstufft might want to consider it for a possible 9.0.3 to restore support for Python 2.6 on the 9.0.* branch.

According to https://pip.pypa.io/en/latest/installing/ there should be a 2.6-compatible version of `get-pip.py` at https://bootstrap.pypa.io/2.6/get-pip.py. That link doesn't seem to exist though. @dstufft do you know who manages `bo

[2018-03-21 16:09] dstufft commented on #5093
Yea I'll pull this (or something like it) into 9.0.3 when I make it. WRT the 2.6 ``get-pip.py``, @ewdurbin might be the best to look at it right now.

[2018-03-21 16:11] ewdurbin commented on #5093
looks like the salt-states for bootstrap don't bother with the 2.6 thing, that can be resolved shortly.

[2018-03-21 16:14] ewdurbin commented on #5093
Done. https://bootstrap.pypa.io/2.6/

[2018-03-21 16:15] dstufft commented on #5093
Note: That probably won't work right now, because 9.0.2 wasn't intended to break 2.6 compatibility, so it generated ``2.6/get-pip.py`` with 9.0.2.

[2018-03-21 16:16] ewdurbin commented on #5093
@dstufft should I do another get-pip release that rolls that back?

[2018-03-21 16:16] dstufft commented on #5093
Nah, I'll try to get a 9.0.3 out sometime today.

[2018-03-21 16:16] pfmoore commented on #5093
@ewdurbin Fantastic, thanks. @dstufft When I release pip 10, I'll regenerate `get-pip.py`. Will I need to do anything special to not overwrite the 2.6-compatible version?

[2018-03-21 16:18] dstufft commented on #5093
No, it's already set to ``<10``, see https://github.com/pypa/get-pip/blob/master/tasks/generate.py#L101

[2018-03-21 17:14] thet commented on #5081
@dstufft I can confirm, the fix in #5101 solves the problem for me.

[2018-03-21 17:57] pfmoore commented on #5093
Brilliant :-)

[2018-03-21 18:08] di commented on #5093
So `pyenv` should always be looking at https://bootstrap.pypa.io/2.6/get-pip.py when installing 2.6 (or 3.2, it seems), right?

[2018-03-21 18:09] dstufft commented on #5093
Yea.

[2018-03-21 18:28] Syeberman opened #5102 "Feature: Deterministic Builds"
[This has been raised before](https://github.com/pypa/pip/issues/3261), and closed, but I'm hoping you can reconsider adding something like `pip install --no-deps=error`, or perhaps `pip check --ignore-versions`.  Let me explain.

In our build we attain reproducibility by fixing our package versions in requirements.txt.  Unfortunately, if someone forgets to list a package dependency in this file,

[2018-03-21 18:28] di commented on #5093
Made an issue for `pyenv`: https://github.com/pyenv/pyenv/issues/1127

[2018-03-21 19:37] msarahan commented on #5081
Thanks @dstufft for your time in addressing this.  I will work with the Anaconda teams to communicate this issue and help them move away from importing pip.

[2018-03-21 21:17] vdog commented on #5081
For the record in this thread, #5101 solved my issue as well.

[2018-03-21 21:50] RemiCardona commented on #5081
Ditto, #5101 allows the import to work inside our tool. Caveat emptor: I haven't tested the patched pip nor our tool extensively.

[2018-03-22 00:27] dstufft commented on #5083
Closing this, this is fixed in ``master`` and will be fixed in 9.0.3. Thanks!

[2018-03-22 00:27] #5083 closed

[2018-03-22 01:36] dstufft commented on #5093
This is fixed in pip 9.0.3 and ``get-pip.py`` will be updated shortly.

[2018-03-22 01:36] #5093 closed

[2018-03-22 01:37] dstufft commented on #5094
Since this seems to be artifactory specific *AND* because it only exists on older versions of macOS *AND* because any fixes would be in urllib3, I'm going to go ahead and close this.

[2018-03-22 01:37] #5094 closed

[2018-03-22 01:37] dstufft commented on #5081
This should be fixed in 9.0.3.

[2018-03-22 01:37] #5081 closed

[2018-03-22 02:07] CMCDragonkai commented on #4438
I'm facing the same problem on Pip 9.0.1. But I have a custom `PIP_PREFIX`. When using `pip install .`, and I can later `pip uninstall package-name`. But if I use `pip install -e .`, then `pip uninstall package-name` results in `Can't uninstall 'package-name'. No files were found to uninstall.`.

[2018-03-22 02:53] mudaixiansheng opened #5107 "No corresponding executable commands are generated after the pip install"
* Pip version: pip 9.0.3
* Python version: Python 3.6.2
* Operating system: centos7 3.10.0-229.el7.x86_64

### Description:

The result is something like this. [Fail to call `virtualenv` after a pip install](https://github.com/pypa/virtualenv/issues/1140)

Before that, I installed `uwsgi` came to the same situation.

ask for help.

[2018-03-22 05:54] mbdevpl opened #5108 "no changelog or git tag for pip 9.0.3"
* Pip version: 9.0.2
* Python version: 3.6
* Operating system: Linux

### Description:

I'm trying to determine what was updated in pip 9.0.3 vs 9.0.2.

But there is no git tag in this repo for 9.0.3, nor is there anything written on https://pip.pypa.io/en/stable/news/

### What I've run:

Any pip command, e.g. `pip3.6 install -U astunparse`

[code]

Moreover, 9.0.2 was just released few days ago.

[2018-03-22 05:56] mbdevpl commented on #5108
Moreover the release date for 9.0.2 https://pip.pypa.io/en/stable/news/ states "2017" -- clearly it was released in 2018.

[2018-03-22 09:25] stephanema opened #5109 "PermissionError: [WinError 5] Access denied when updating pip 9.01 to 9.02/9.03"
* Pip version: 9.0.3
* Python version: 3.6.4
* Operating system: Windows

### Description:
Starting with pip 9.0.2 I cannot update it with an existing pip, this worked all the
years but pip 9.0.2 and pip 9.0.3 crash here:

[code]
### What I've run:

[code]

[2018-03-22 09:34] pfmoore commented on #5109
To upgrade pip, you should run `python -m pip install -U ...`. The error you are getting is because you're trying to replace the `pip.exe` file, which is the executable you're running, and Windows doesn't allow that.

In practice, your upgrade is probably OK, as the `pip.exe` wrapper almost never changes in an upgrade.

PS:

1. You don't need to download the wheel and specify it manually, `py -m p

[2018-03-22 09:48] stephanema commented on #5109
Yes your right it was an egg because it was the second try.

Concerning your points:
1. Yes I am behind a proxy and I have to deploy it to pc's without internet access.
2. Yes but now I reinstalled pip-9.0.1 with your
    proposal ``python -m pip install -U pip-9.0.1-py2.py3-none-any.whl``
    and then I retry my old way of upgrading pip (which worked all
    the time). Perhaps I was wrong all the

[2018-03-22 10:04] pfmoore opened #5110 "Commands to manage the pip cache"
Creating this as a bit of a brain dump, and a reminder for consideration at some point.

The pip cache is basically an opaque area containing HTTP response data and built wheels. While it's not huge, on Windows it's in `%LOCALAPPDATA%` which is often on the root drive, which can be a limited-size SSD (I don't know where it's located on non-Windows systems, but I assume it would be similar).

Tools

[2018-03-22 10:06] akx commented on #3785
This would be nice.

I have a case where I need to pre-download all dependencies for a package for fully offline installation on a different architecture; I can't specify the other architecture without specifying `--only-binary=:all:`, but that makes pip ignore source packages altogether, so not all packages get downloaded. I wouldn't like to have to sift through the list of dependencies (and tran

[2018-03-22 10:08] pfmoore commented on #5109
So again you're still using `pip install`. What happens if you try `python -m pip install`? (If Python isn't on your `PATH` you may need to use `py` or an explicit path to the Python interpreter).

[2018-03-22 10:18] akx commented on #4725
I don't think a wheel with binary contents can be `py2.py3` (different ABIs), so there's something wrong with that wheel.

Your link is broken, by the way :(

[2018-03-22 10:23] RonnyPfannschmidt commented on #4725
the package exists, and it seems they made up a own wheel generator that generates such wheels that include dll's for both python versions

so  looks like a big evil hack and now users wonder why things are broken

[2018-03-22 10:28] RonnyPfannschmidt commented on #4725
more investigation shows that the published wheels are not only misclassified in terms of meta-data, they also lack the actual shared libs in the places where they should be according to the docs

[2018-03-22 11:54] stephanema commented on #5109
Hi, ``python -m pip install`` works of course, I will change my code.

The only thing I wanted to mention is that **my** way worked until 9.0.1 and
stopped working with 9.02 and 9.03.... so something has changed which broke the code.

If you want you can investigate or close this issue.

[2018-03-22 13:42] rolweber commented on #5108
Hmm... at least there is a release branch here, though no tag:
https://github.com/pypa/pip/tree/release/9.0.3

[2018-03-22 13:49] dstufft commented on #5108
This should be fixed now.

[2018-03-22 13:49] #5108 closed

[2018-03-22 14:05] diginc commented on #5081
Thanks for the fast resolution, from someone who never wrote `import pip` in their life but was a consumer of a package that did.  After reading through this thread sounds like lots of apps have imported pip, unknowingly against best practices, and lots of dev and users are potentially effected by v9.0.2 and v10.

I second/third/Nth a proper deprecation warning being added to make things smoother.

[2018-03-22 14:09] Miserlou commented on #5081
Hooray! Thanks for this!

I'd also really love a deprecation warning, and, more importantly - proper instruction on how to programmatically inspect python environments in a pip10 world! Clearly there is a need for that, given that *over 700,000 applications** were affected by this bug.

[2018-03-22 14:19] dstufft commented on #5081
``pip list --format=json``?

[2018-03-22 14:31] drunkwcodes commented on #5081
Firstly thank you all contributing to pip people for it totally covers all of my use cases with just a few user-friendly options and arguments.

Due to this **"surprisingly widely adopted and useful undefined behavior,"** do we need to make a piplib as libgit2 for git? Please note that libgit2 is not sharing any code with git, and is maintained by other group from git's. And it is good for git eco

[2018-03-22 17:41] RonnyPfannschmidt commented on #4725
@szha bascially they made a own hack to make the wheels (that shouldn't work in the first place and they also forgot to include the shared libraries they made the hack for)

what they should do is release wheels including the binaries for one for each abi as intended and designed

[2018-03-22 17:44] szha commented on #4725
@RonnyPfannschmidt FYI I'm the one who released the package. The hack served the purpose of reducing the storage footprint of the package, as the underneath shared lib is built in the way that's intended for all 64bit linux. Now, why doesn't the matching work?

[2018-03-22 18:16] sruggier commented on #5081
@drunkwcodes I suspect that what you propose is already implemented in the existing packages that the pip documentation [mentions](https://pip.pypa.io/en/latest/user_guide/#using-pip-from-your-program), `packaging`, `setuptools`, and `distlib`. As far as I can tell from this thread, there's no problem with a gap in functionality, but some people have problems with tools that try to import and insp

[2018-03-23 00:46] #5107 closed

[2018-03-23 00:57] mudaixiansheng commented on #5107
/python_path/bin

the directory obtains all scripts that you have insatlled.

What you need to do is build a software link to $PATH.just like this:

ln -s /usr/local/python3/bin/virtualenv /usr/bin/virtualenv

[2018-03-23 01:10] mbdevpl commented on #5108
Thanks for quick response! All is clear now :)

[2018-03-23 04:00] drunkwcodes commented on #5081
@sruggier The packages metioned are all good, and [WheelFile.install()](https://github.com/pypa/wheel/blob/master/tests/test_install.py#L72) also needs more promotion. But the one-stop service `pip.main()` provided is irreplaceable with all above. It still worth trying though.

The most important is that I hope these needs are held by another project, and pip10 will arrive smoothly without extra g

[2018-03-23 05:51] cmcginty commented on #4289
+1 This seems like a useful feature when trying to collect wheels for a multi-platform package.

[2018-03-23 09:32] pfmoore commented on #5081
@drunkwcodes Just to be clear, `pip.main()` is the easiest usage to replace - you simply need to use `subprocess.run([sys.executable, '-m', 'pip', <rest of args>])`.

Also, the reason `WheelFile.install()` isn't promoted is that the wheel project have also stated that they do not provide a user-visible API - we originally mentioned wheel in the pip docs, but removed it at their request. The wheel

[2018-03-23 12:56] defjaf commented on #4474
Based on and with thanks to @serafeimgr's gist, I've written a possibly-useful command-line tool, [pip_upgrade_outdated](https://pypi.org/project/pip-upgrade-outdated/);
[source on github](https://github.com/defjaf/pip_upgrade_outdated). Feedback welcome.

[2018-03-23 13:06] RonnyPfannschmidt commented on #4474
@defjaf as far as i can tell that has exactly all the horrible issues we outlind before and then some more stemming from bad use of parallel execution

its something i would bann in my own infrastructure

[2018-03-23 14:24] defjaf commented on #4474
@RonnyPfannschmidt I agree about parallel execution, which is why it’s not the default. And I agree that it *can* break things. But I nonetheless use it all the time with no harmful effects, so I think it’s pretty useful.

[2018-03-23 14:37] defjaf commented on #59
Based on and with thanks to @serafeimgr's [gist](https://gist.github.com/serafeimgr/b4ca5d0de63950cc5349d4802d22f3f0), I've written a possibly-useful command-line tool, [pip_upgrade_outdated](https://pypi.org/project/pip-upgrade-outdated/);  source [on github](https://github.com/defjaf/pip_upgrade_outdated). Feedback welcome.

Yes, the parallel execution is particularly dangerous, and, yes, this m

[2018-03-23 15:42] alex opened #5111 "Display more information on 4xx status codes from pypi"
As discussed https://github.com/pypa/packaging-problems/issues/130#issuecomment-375698077

More information should be shown when `pip install` gets a 4xx response from PyPI. Right now info is shown with `-v`, but it should be shown by default.

[2018-03-23 15:50] pradyunsg commented on #5110
#4685 :)

[2018-03-23 15:56] pfmoore commented on #5110
@*&%$ I'm playing well this week, aren't I? Thanks.

[2018-03-23 15:56] #5110 closed

[2018-03-23 15:57] pradyunsg commented on #5110
Hahah. You're welcome! :)

[2018-03-23 15:58] pradyunsg commented on #4830
From #5110.

[2018-03-23 17:27] njsmith commented on #5111
I guess this may apply to 5xx errors as well.

[2018-03-23 18:27] carlosdanielcsantos opened #5112 "Short for --process-dependency-links"
### Description:

I believe the option `--process-dependency-links` is widely used by users who develop libraries. I use it almost every day and often many times per day and it becomes really annoying to type that long, error-prone, sentence every time.

I know it's deprecated but there are many use cases (https://github.com/pypa/pip/issues/4187) like developing private libraries without a pypi se

[2018-03-23 22:24] Mattwmaster58 commented on #5063
@sai306 You can workaround this by using --trusted-host="pypi.python.org"

[2018-03-23 22:32] honnibal commented on #5081
I appreciate the work you all do on pip, and know it's not easy. But for the record:

spaCy *has* moved away from import pip. But some people are still using spaCy 1, which did import pip --- and for obvious reasons, didn't pin pip down to a patch release. If the change had come in at v10, our old versions wouldn't have been affected. We've just issued a hotfix to address this.

[2018-03-24 11:46] kalefranz commented on #5081
What is PyPA's position on distlib? Pip is obviously using it in some capacity, but so too is it using packaging, which distlib purports to deprecate.

If there isn't an official position, then at least current thoughts and opinions from pip's core maintainers would be much appreciated.  If there are relevant discussions on this topic elsewhere, a simple pointer to other discussions is good enough

[2018-03-24 11:53] pfmoore commented on #5081
I'm not aware that distlib deprecates packaging. It mentions "distutils2/packaging" but distutils2 was something different.

My personal view is that both distlib and packaging are perfectly reasonable things to use. You should evaluate them yourself to confirm they meet your needs, obviously, just like any other dependency you rely on.

[2018-03-24 12:08] kalefranz commented on #5081
Maybe deprecates is too strong of word then.  The source of my current understanding:

https://distlib.readthedocs.io/en/latest/overview.html#distlib-evolved-out-of-packaging

[2018-03-24 12:16] pfmoore commented on #5081
Ah, that's a different "packaging" - it was the proposed stdlib module that was intended to replace distutils. It's completely different from the PyPI `packaging` project. It might be worth asking the distlib project to clarify that distinction a little better.

[2018-03-24 13:40] aivarannamaa opened #5115 "`pip list --format json` should imply `--disable-pip-version-check`"
* Pip version: 9.0.2
* Python version: 3.6.4
* Operating system: Windows

### Description:

My application parses the output of `pip list --format json`. After the release of pip 9.0.2 it broke because the output now included also the notice about new version.

The fix was easy, but IMO it would make sense to always suppress the new version notification with `--format json`.

[2018-03-24 14:12] pfmoore commented on #5115
I believe the version check message is on stderr, so as long as you get the JSON output from stdout, you shouldn't get the two mixed up. I presume your application was somehow reading the combined stcout/stderr, rather than treating the two separately?

[2018-03-24 14:20] pfmoore commented on #5087
Fixed via #5114

[2018-03-24 14:20] #5087 closed

[2018-03-24 15:54] aivarannamaa commented on #5115
Oops, you're right. My bad.

[2018-03-24 15:54] #5115 closed

[2018-03-25 03:29] eL0ck commented on #4230
Also have the exact problem.

This kind of local install is only getting more popular with increasing use of such things as AWS lambda and GCP AppEngine.

[2018-03-25 04:48] drunkwcodes commented on #3785
Considering this case (https://github.com/pypa/wheel/issues/215), I think pip can't make the decision on the client side only.

ref: https://github.com/pypa/warehouse/issues/3106

[2018-03-25 06:36] doomzhou commented on #3593
my case:
I build python2.7 with openssl(enable ssl2 ssl3) for security testing!

standard build openssl with -fPIC.
i get error:

    ImportError: No module named urllib3

last, build openssl with -fPIC.
`./config --prefix=`pwd`/local enable-ssl2 enable-ssl3 no-shared -fPIC`

error fix .

[2018-03-25 13:27] serafeimgr commented on #59
Thank you for taking the time to build a complete solution.
Even though my recommendation would be to find a way to push this feature to pip.

I think pipenv & pipfile is going to replace pip/requirements.txt anyway.
Maybe @kennethreitz knows more about the roadmap and the --upgrade all feature.

[2018-03-25 14:42] pradyunsg commented on #5111
@pfmoore Do you think we can fit this into a 10.0 release or should let it wait?

[2018-03-25 15:03] mhsmith commented on #4625
In the case of `--target`, things are even more confusing: it doesn't treat existing files and directories the same way as a normal install, because it only works at the granularity of top-level files and directories (#4230).

Like most of the other issues with `--target`, this behaviour seems to exist, not because it makes sense, but because it was the quickest solution to a problem someone had i

[2018-03-25 16:01] pfmoore commented on #5111
As there's currently no PR for it, I'd rather let it wait. At this point, I'm really only looking to merge completed PRs and fixes for release blockers.

If you feel it's important enough, and can get a PR written and passing tests in the next day or so, I'd consider it. But it'd have to be a pretty small change. My number 1 priority at the moment is to look at #5085.

[2018-03-25 16:03] alex commented on #5111
The only short term reason this would be important is related to the TLS
brownout for warehouse, but frankly that's going smoothly enough that I
don't think this needs to be a priority.

On Sun, Mar 25, 2018 at 12:01 PM, Paul Moore <notifications@github.com>
wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire

[2018-03-25 16:11] pfmoore commented on #5085
I'm looking at writing a test for this (as the first step towards putting together a fix) and I'm not sure I understand the PEP 518 build isolation process well enough. @pradyunsg can you help here?

In `tests/functional/test_install.py` the first test (`test_without_setuptools`) uninstalls setuptools, then runs an install of INITools. But my understanding of PEP 518 is that if a project doesn't h

[2018-03-25 16:38] pfmoore commented on #5085
Oh, I thought it worked on any top-level build of wheels, and as an install from sdist builds a wheel then installs it, I thought that would trigger the build isolation stuff. Thanks for the clarification.

(This might be something we should document in more detail at some point. Not a high priority though...)

[2018-03-25 16:43] pradyunsg commented on #5085
If we build a wheel, that installation would go through the PEP 518 support
code.

Without looking at the test (doing an assignment), I'd guess there's
something that is causing it to not build a wheel. Maybe --no-binary?

On Sun, 25 Mar 2018 at 22:08 Paul Moore <notifications@github.com> wrote:

[2018-03-25 16:45] pfmoore commented on #5085
Yeah, that's in the test code. I didn't realise that changed the build path like that. My mistake. Thanks.

[2018-03-25 16:51] pradyunsg commented on #5085
No issues. Cheers! :)

On Sun, 25 Mar 2018 at 22:15 Paul Moore <notifications@github.com> wrote:

[2018-03-25 20:41] anntzer commented on #4625
Just an observer's comment regarding

Arch Linux's packages are split in two parts: the "official" packages (https://www.archlinux.org/packages/) and the user-provided & uncurated packages (the Arch User Repositories, https://aur.archlinux.org/ https://wiki.archlinux.org/index.php/Arch_User_Repository).  The package manager, `pacman`, can install packages from either list, and *does* refuse, by de

[2018-03-26 07:26] tuukkamustonen commented on #5081
Already did that :) See https://bitbucket.org/pypa/distlib/issues/100/clarify-project-positioning-and-status

[2018-03-26 10:43] surighanta commented on #4704
Running ./Configure to install ssh (step 4) above made me Nuts, it was showing errors related perl modules and so on.

./config --prefix="<dir where i have permission>" worked for me.
However thanks a lot!

Regards,
Suresh

[2018-03-26 13:27] pfmoore commented on #5085
Fixed via #5116

[2018-03-26 13:27] #5085 closed

[2018-03-26 13:29] pfmoore commented on #5084
@pradyunsg Are you likely to get this fixed before the end of the week? If not, I'll take a look.

[2018-03-26 13:44] pfmoore commented on #4508
@pradyunsg I've re-vendored our libraries. Can you confirm this is fixed?

[2018-03-26 13:57] pfmoore commented on #4891
@pradyunsg Are you going to produce a PR for this?

[2018-03-26 14:00] pfmoore commented on #4176
In the absence of a PR for this, it'll probably get deferred until after pip 10.

[2018-03-26 14:03] pfmoore commented on #4356
Is this still awaiting a fix, or did a change to `packaging` ever get made to address it?

[2018-03-26 14:05] pfmoore commented on #4145
I'm assuming this will not happen in pip 10, so we'll move it to the "10.1" milestone once that is created.

[2018-03-26 14:05] pradyunsg commented on #4508
I can't but I'm happy to close this given that we've had a vendor update.

[2018-03-26 14:05] #4508 closed

[2018-03-26 14:33] pradyunsg commented on #4891
@xavfernandez What about you?

Which one do you want in the AUTHORS file?

[code]

[2018-03-26 14:42] pradyunsg commented on #4891
Which email do you want associated with your name in the AUTHORS file?

@vstinner:

[code]

@radiosilence:

[code]

[2018-03-26 14:51] #4954 closed

[2018-03-26 15:15] pfmoore commented on #4891
@pradyunsg One thing I just noticed. `AUTHORS.txt` is a generated file (see https://pip.pypa.io/en/latest/development/#release-process). So I'm not sure how you're planning on implementing this, but a simple edit of `AUTHORS.txt` isn't going to work...

[2018-03-26 15:15] vstinner commented on #4891
If you want to keep a single email, you can use my gmail.com address.

[2018-03-26 15:16] dstufft commented on #4891
the generation of ``AUTHORS.txt`` supports the ``.mailmap`` file https://github.com/pypa/pip/blob/master/.mailmap

[2018-03-26 15:17] dstufft commented on #4891
https://stacktoheap.com/blog/2013/01/06/using-mailmap-to-fix-authors-list-in-git/

[2018-03-26 15:19] pradyunsg commented on #4891
Yep. Mailmap is what I've modified.

On Mon, 26 Mar 2018, 20:47 Donald Stufft, <notifications@github.com> wrote:

[2018-03-26 15:42] pfmoore commented on #4891
Cool. Sorry for the noise.

[2018-03-27 05:05] pradyunsg commented on #4356
Waiting on a fix.

[2018-03-27 05:08] #5084 closed

[2018-03-27 13:35] drunkwcodes commented on #4966
FYI, https://github.com/pypa/pip/pull/4985 merged.

[2018-03-27 13:36] #5086 closed

[2018-03-27 13:37] #4966 closed

[2018-03-27 15:12] pradyunsg commented on #2523
Is this still a thing?

[2018-03-27 15:37] pfmoore commented on #2523
Well, the tests run... Otherwise, does anyone even still use bzr?

[2018-03-27 15:45] drunkwcodes commented on #5073
Duplicate issue: https://github.com/pypa/pip/issues/4737

[2018-03-27 15:53] benoit-pierre commented on #2523
The Bazaar tests are actually [skipped](https://ci.appveyor.com/project/pypa/pip/build/1.0.2284/job/qadta689aqbmo4e1#L104) (because bzr is not available).

[2018-03-27 16:43] pfmoore commented on #5073
#4737 is specifically about `pip install` with no arguments, although it expanded into discussion of the general case of what the exit code should be in various cases.

I'm not sure there's anything actionable from general discussions of principles. We'd be happy to consider PRs offering specific fixes - or indeed specific bug reports for individual cases such as this one.

In this case, the descr

[2018-03-27 16:45] pfmoore commented on #2523
Thanks. I wondered if that might be the case. The wider question remains, though. Is there sufficient interest in Bazaar support to continue maintaining this?

[2018-03-27 16:45] benoit-pierre commented on #5073
Yes, uninstall!

[2018-03-27 21:43] srinivasalokesh commented on #3883
I am getting similar error on windows 10
C:\WINDOWS\system32>pip install robotframework
Collecting robotframework
  Could not fetch URL https://pypi.python.org/simple/robotframework/: There was a problem confirming the ssl certificate: [SSL: TLSV1_ALERT_ACCESS_DENIED]
  tlsv1 alert access denied (_ssl.c:661) - skipping
  Could not find a version that satisfies the requirement robotframework (from

[2018-03-27 21:44] srinivasalokesh commented on #3883
pip (9.0.1)
setuptools (28.8.0)

[2018-03-28 06:03] frenzymadness opened #5121 "Jython & latest pip doesn't work"
* Pip version: 9.0.2, 9.0.3
* Python version: Jython 2.7.1 (latest)
* Operating system: Fedora 27 in Docker container

### Description:

I am trying to use the latest Jython with the latest pip but I cannot install packages.

### What I've run:

In the fresh Docker container with Fedora 27:

[code]
It works! Let's do it again in a new container but upgrade pip before install step:
[code]
I've test

[2018-03-28 06:25] codedogfish commented on #3165
Just do not use the system python, let pyenv save your world.

[2018-03-28 07:49] pfmoore commented on #5121
Hi @frenzymadness - pip version 10 will be getting released in a few weeks' time. Could you check if this is still an issue on the current master branch from github? `pip install --upgrade https://github.com/pypa/pip` should get the latest development version for you to test.

[2018-03-28 08:02] frenzymadness commented on #5121
@pfmoore I tried but unfortunately, the result is the same.

[code]

[2018-03-28 08:27] pfmoore commented on #5121
Hmm, this looks like it might be an issue with urllib3, which is vendored in pip. I guess in the first instance it would need to be reported to them.

The following issue seems relevant: https://github.com/requests/requests/issues/3992

@dstufft @pradyunsg Do either of you have any insights here? Is broken Jython support significant enough to block the pip 10 release (I wasn't even aware that we s

[2018-03-28 09:11] pradyunsg commented on #5121
Looking at hg.python.org/jython, I see there's been activity from @jamesmudd, @jeff5 and @Stewori on Jython. Maybe one of them could to provide some insight into this.

As for support from urllib3/requests, there's [one mention of Jython][1] in the changelog of urllib3. Same goes for the [code][2] though. They seem to support it, sort of. Some inputs from @Lukasa or @shazow would be useful here.

[2018-03-28 09:19] pfmoore commented on #5121
Yep, #3044 has been waiting for someone to supply a PR for 2 1/2 years. That suggests to me that there's little interest (at least from anyone who'd be around to support and fix Jython issues).

[2018-03-28 10:03] pfmoore commented on #5121
Actually, checking the docs, we don't claim support for Jython: https://pip.pypa.io/en/latest/installing/#python-and-os-compatibility

So I guess the answer here is:

Sorry, you should pin to 9.0.1 for now. If our dependencies get a fix for this, we'll incorporate it and subsequent releases of pip should work again with Jython. For long-term support, we'd need someone to step up and offer to work

[2018-03-28 12:08] sblondon opened #5122 "Adding --major-outdated,--minor-outdated and --patch-outdated options?"
Hello,

I would be interested by adding ```--major-outdated```, ```--minor-outdated``` and ```--patch-outdated``` options to ```pip list```.
It would act as a filter compared to the ```--outdated``` option, using [semantic versioning](https://semver.org/) name.

Examples:
[code]

What do you think about this idea?
One problem we could have is if the version used by a library does not follow the co

[2018-03-28 12:18] pfmoore commented on #5122
Even packages that do follow the X.Y.Z format may not be using semantic versioning, so treating the parts as "major", "minor", and "patch" would be misleading and may or may not imply the sort of API guarantees that you (and semver) are expecting.

I'm -1 on this, because I don't think pip should take any sort of stance on semver (we don't conform to semver ourselves, for the record).

You can eas

[2018-03-28 13:48] sblondon commented on #5122
I agree that it could be badly understood by users. I think developers know well that the used version systems can be very different, but perhaps I'm wrong.

About writing a filter: I agree too but the goal of this issue was to provide a more generic solution to this need to everyone.

If you and/or other developers of pip think that the risk of misunderstanding is more important than the solved n

[2018-03-28 15:02] bitdancer opened #5123 "'list' linear format is too useful to be called 'legacy', and should be the default for pipes."
* Pip version: 9.0.1
* Python version: 3.6.1
* Operating system: centos

Running 'pip3 list | grep xxx' I get a warning that the default format is going to switch to columns and that you use '--format=legacy' to get the list format back.

I want two things: (1) I want the default when the command is running in a pipe (ie: stdout is not a tty) to be the list format (like ls does it), and (2) I thin

[2018-03-28 15:46] dstufft commented on #5121
I don't think any of our versions work on Jython, I think Jython has ensurepip which they've patched to install a patched version of pip that work on Jython.

[2018-03-28 16:02] jeff5 commented on #5121
It's probably more accurate to say that Jython supports pip :-) I think you've made the right call (stick with the original version). We'll see if we can do better, but file descriptors are tricky in Jython because of the distance Java puts between us and this low-level OS concept.

Logged at: http://bugs.jython.org/issue2660

@jimbaker knows most about pip in Jython.

[2018-03-28 17:40] pfmoore commented on #5121
Cool thanks for the clarification. As noted above, we'd be OK with accepting PRs that make Jython support easier, but in this case it's a vendored dependency so I doubt there's much we can do from pip's side.

[2018-03-29 01:44] sandaluz commented on #4754
python -m pip install -U pip
worked for me.
Thanks

[2018-03-29 12:42] OrangeDog commented on #2669
Getting the error on a Windows virtualenv.
[code]

[2018-03-29 13:13] korolevivan commented on #4216
I removed **~/.local/lib/python3.5/site-packages/matplotlib-2.2.2-py3.5-nspkg.pth** file and it solved the issue for me!

[2018-03-29 14:11] pradyunsg commented on #2669
@OrangeDog I'm curious how you have pip 9.0.1 installed as an egg. That shouldn't happen usually.

[2018-03-29 15:36] OrangeDog commented on #2669
@pradyunsg interesting.
The system Python was installed with the official Windows installer.
The virtualenv was created by IntelliJ IDEA (with the Python plugin).

[2018-03-29 16:30] pfmoore commented on #2669
Older versions of IntelliJ IDEA installed pip as an egg. I reported that some time ago (over a year, I think) and I thought they'd fixed it. Are you using an old version of IDEA?

[2018-03-29 16:33] pfmoore commented on #2669
https://youtrack.jetbrains.com/issue/PY-25048

[2018-03-30 08:48] pradyunsg commented on #4981
I think we're super close to beta now. IMO, the state of everything in the milestone for 10.0 is:

- Waiting on CI (#5000, #5118)
- Waiting on review, can defer till 10.0 final (#4835)
- Waiting on author, can defer till 10.0 final (#5026)
- Deferred until after 10.0 final (#4145, #4176, #4356)

@pfmoore Do you agree?

[2018-03-30 09:09] pfmoore commented on #4981
I'll be cutting the beta this weekend, so yeah, we're that close.

* #5000 and #5118 Agreed, if you're happy to merge once CI has passed that's fine.
* #4835 and #5026 Sorry, but if these don't make the beta, I'd rather defer them till *after* 10.0. To be clear, I want to have a change freeze between 10.0 beta and 10.0 final - we've put enough effort into asking people to test the beta that I don'

[2018-03-30 10:11] pradyunsg commented on #4981
Sounds good to me. Deferring those to after 10.0 is also cool with me. :)

On Fri, 30 Mar 2018, 14:39 Paul Moore, <notifications@github.com> wrote:

[2018-03-30 11:44] OrangeDog commented on #2669
That was only one version ago, and the ticket is still open, so I guess that's why.
Is there an easy way to re-install it as not an egg?

[2018-03-30 17:01] JavaWantaBe opened #5126 "data_files not consistently being copied at upgrade"
* Pip version 9.0.1
* Python version: 3.5
* Operating system: debian stretch

### Description:

PIP seems to delete data_files on upgrade when those same files already exist, but works with --no-cache-dir option.

I've overridden the cmdclass install as to provide a pre-install check, but haven't explored that option to the end.

### What I've run:

[code]

[2018-03-30 20:00] JavaWantaBe commented on #5126
It's my own. modislock.

``
data_files=[('/etc/supervisor/conf.d', ['deploy/modis_admin.conf']), ('/etc/nginx/sites-available' ['deploy/admin_site']),  ('/etc/nginx/sites-available', ['deploy/supervisord_site']),  ('/etc/nginx/sites-available', ['deploy/admin_site_demo'])]
``
Yes, they are being copied to protected areas. Raised priviledges are used to install.

With --verbose option I do see a "F

[2018-03-30 20:06] benoit-pierre commented on #5126
Two issues that I can see:
* absolute paths in `data_files` are not supported by the wheel format
* all those things you do when override the install command will only happen when installing from source, not from subsequent install using the cached wheel

[2018-03-30 20:07] benoit-pierre commented on #5126
Really, it looks like what you're after is creating a distribution package, not a Python package (setuptools/wheel/pip is not suited for that).

[2018-03-30 20:08] benoit-pierre commented on #5126
See #4993 for a similar issue.

[2018-03-30 21:18] #3564 closed

[2018-03-30 23:59] #4098 closed

[2018-03-31 02:24] isan0786 commented on #3804
For me this command works.->**py -m pip install -U pygame --user**
But first, make sure you properly configure your environment variables.
This tutorial **http://www.aaronstannard.com/how-to-setup-a-proper-python-environment-on-windows/** will help you how to setup environment variables for python, make sure you do it correctly only step 2 ,no need to do any other steps from this tutorial, now you

[2018-03-31 08:41] pfmoore commented on #4981
OK, we have all the agreed PRs merged, so we're good to go with 10.0 beta. Thanks everyone for the last push to get things sorted.

At this point, I'm going to say can everyone hold off on merging anything further to master without checking with me? My RL plans today are a bit flexible, so I don't know precisely when I'll be cutting the release, so I'd rather be safe.

Once the release is out, can

[2018-03-31 08:47] anthrotype commented on #4445
What needs to be done to add support for stable ABI tag on Windows?
I’d love to see this in pip 10 (but it’s probably too late, isn’t it?)

[2018-03-31 09:05] dstufft commented on #4981
@pfmoore We haven't done beta releases for awhile, but feel free to make a release branch for 10 for now if you want, once final is out we can merge it back into ``master`` and delete it.

[2018-03-31 09:34] pfmoore commented on #4445
Sorry but it's way too late for pip 10. We're releasing the beta this weekend.

Step 1 is probably not directly pip related, though. Building wheels that use the limited ABI would be a requirement, so I'd start with confirming (and documenting) precisely how to build such wheels. This may require changes to the wheel project to allow users to supply some form of `--stable-abi` flag when building t

[2018-03-31 09:36] pfmoore commented on #4981
Thanks, I'll do that - although my git skills may not be up to merging it back so I may have to ask for assistance later over that :-)

[2018-03-31 09:39] pfmoore commented on #4981
One other thing that I wasn't sure about - is there anythong we need to do to promote the current docs from "latest" to "stable" on https://pip.pypa.io, or does that happen automatically when we release? We probably shouldn't do that until the release, although part of me wants to just to improve visibility of the new docs.

[2018-03-31 09:46] anthrotype commented on #4445
yes, building the extension module works fine with setuptools.

It's just a matter of using `py_limited_api=True` in `setuptools.Extension`, and adding `#define Py_LIMITED_API` at the top, before the `Python.h` include, so the right python3.dll gets linked automatically.

See https://github.com/anthrotype/hello-world-cpython-extension

The bdist_wheel command already has an option `--py-limited-ap

[2018-03-31 09:50] anthrotype commented on #4445
cc @agronholm

[2018-03-31 10:03] agronholm commented on #4445
I have no idea. I wasn't involved in the definition of these standards.

[2018-03-31 10:21] pfmoore commented on #4445
My point here was that I'd prefer to get the upstream questions resolved, so that there's a clear process for projects to build stable ABI wheels (that doesn't involve the manual processes you describe here). Then, we need agreement on what the correct "stable ABI for Windows" tags should be, and wheel should support them. That may well involve a round of discussion on distutils-sig and an update

[2018-03-31 10:27] anthrotype commented on #4445
I did try that a couple of months ago, maybe we should revive the discussion there:
https://mail.python.org/pipermail/distutils-sig/2018-January/031856.html

[2018-03-31 12:26] pfmoore opened #5128 "Update towncrier config for 10.0.0"
The towncrier configuration needs to be fixed to handle pip 10 (with a `src` directory containing the project files). Also, the `NEWS.rst` file generated for the 10.0.0b1 release needs to be updated to correct the errors introduced because this wasn't done before generating the release :-(

[2018-03-31 13:01] digitalstem commented on #4322
NameError: global name 'get_page' is not defined

am getting the following error what to do.... please help itz urgent

[2018-03-31 15:27] StephanErb commented on #5021
I have filed https://github.com/pypa/pkg_resources/issues/13 for this, but I guess it will require some serious discussion. `pkg_resources` might be the wrong place to fix this.

[2018-03-31 15:31] dstufft commented on #4981
10.0.0b1 isn't a stable release, so it doesn't get promoted automatically, but basically the way RTD is setup is:

* latest always points to whatever is on the `master` branch.
* stable looks at the tags on ``pypa/pip``, finds any that looks like a version, sorts them, and uses the docs for the latest non-prerelease one of them.

So once 10.0.0 is tagged, it should get promoted to stable.

[2018-03-31 15:54] amorison opened #5130 "Badly formatted help string of --upgrade-strategy option"
* Pip version: 10.0.0b1  (it's nice to see this one on tracks! Congrats!)
* Python version: 3.6.4
* Operating system: Linux

### Description:

The `%(default)` place holder isn't properly replaced with `"only-if-needed"`.

### What I've run:

[code]

Result:
[code]

[2018-03-31 16:12] gvanrossum opened #5131 "Trace/BPT trap: 5 with pip 10b1 on Python 3.3"
* Pip version: 10.0.0b1
* Python version: 3.3.6
* Operating system: OS X (Sierra, 10.12.6)

### Description:

Can't install anything at all in Python 3.3 -- any time an actual install is attempted, I get "Trace/BPT trap: 5"

### What I've run:

[code]
This is not what I'd call "deprecation" -- it's non-functional. Also, I got my installation (admittedly a venv I keep around for tests like this) ho

[2018-03-31 16:18] gvanrossum opened #5132 "Trace/BPT trap: 5 with pip 10b1 on Python 3.4"
* Pip version: 10.0.0b1
* Python version: 3.4.4+ (built from source)
* Operating system: OS X (Sierra, 10.12.6)

### Description:

For most packages, trying to install them fails with a Trace/BPT trap. But for some it actually works. E.g. flake8 works, but lxml doesn't.

### What I've run:

[code]

[2018-03-31 16:19] dstufft commented on #5131
Uhh, I have no idea what ``Trace/BPT trap: 5`` is, googling around suggestions something to do with dylibs, so it *might* be related to the SecureTransport code somehow. I can't reproduce this on macOS 10.13.3, it functions fine for me (but 10.13 would skip the SecureTransport code).

Could you create a brand new virtualenv and test it there? If this existing virtualenv has been kept around for aw

[2018-03-31 16:29] dstufft commented on #5131
Pulling in more information from https://github.com/pypa/pip/issues/5132:

[2018-03-31 16:29] dstufft commented on #5132
Closing this as a duplicate of #5131, it's likely the same cause that is independent of Python version.

[2018-03-31 16:29] #5132 closed

[2018-03-31 16:30] dstufft commented on #5131
I'm going to guess that on 3.4 the ones that work are ones that have been cached, so it never has to hit the SecureTransport code to pull down the version, and it doesn't work in cases it has to use the SecureTransport code.

[2018-03-31 16:33] gvanrossum commented on #5131
A brand new venv has the same problem. So does avoiding venv altogether,
using `/usr/local/bin/python3.3 -m pip`.

[2018-03-31 16:35] pfmoore commented on #5131
@gvanrossum Do you have this issue with 9.0.3 (which also should use the SecureTransport code)?

[2018-03-31 16:45] alex commented on #5131
Can you try running with the `DYLD_PRINT_LIBRARIES` environment variable set?

[2018-03-31 16:49] gvanrossum commented on #5131
It works fine with pip 9.0.3.

I got a core dump and a stack trace. The top of the stack is:
[code]
After that it's just a lot of PyEval until the bottom:
[code]

[2018-03-31 16:51] gvanrossum commented on #5131
And here's the DLD... output:
[code]

[2018-03-31 16:57] alex commented on #5131
Hmmm, the next useful thing to do would be to find out what piece of Python code is calling `CFRelease`. You may be able to get that out of `lldb` if you know the right incantations (I do not). Alternatively, running Python with `-v` might help.

[2018-03-31 16:57] alex commented on #5131
Also, how was this python installed? Just trying to figure out what might make it behave differently from others.

[2018-03-31 17:06] gvanrossum commented on #5131
I don't recall where it came from. I could have built it from source, or I could have ran the Python 3.3.6 installer from python.org. Though the fact that it's all in /usr/local makes me think I build from source. When I fire it up it says:
[code]
I'm not well-versed in debugging using lldb (though a few things work similarly as in gdb or even pdb :-). Maybe this bit of the session gives a hint?
[

[2018-03-31 17:08] alex commented on #5131
If it's possible to step up to `PyEval_EvalFrameEx` and see what the code object being run to call into ctypes, that'd be most helpful

[2018-03-31 17:10] gvanrossum commented on #5131
Also (perhaps already known to you to you) the only place where CFRelease occurs in the CPython source code is `Modules/_scproxy.c`.

I don't remember how to get from the `PyEval_EvalFrameEx` frame to the name of the code object but I'll give it a try.

[2018-03-31 17:11] alex commented on #5131
I'm assuming that the call to CFRelease is coming from pip's
urllib3.contrib.securetransport integration. My more specific guess (no
evidence supporting it yet), is that you're hitting an error caes which
isn't well tested and has a double-free or something.

On Sat, Mar 31, 2018 at 1:10 PM, Guido van Rossum <notifications@github.com>
wrote:

--
"I disapprove of what you say, but I will defend to

[2018-03-31 17:15] gvanrossum commented on #5131
Sadly the lldb command for showing local variables (`frame variable`) doesn't show anything. I can try rebuilding python3.3 from source and see how that goes?

[2018-03-31 17:43] reaperhulk commented on #5131
Okay, there are two issues here. The first is that the vendored root certificates for pip10 have `\r\n` linefeed delimiters. This causes the regex in the securetransport code to fail (https://github.com/urllib3/urllib3/blob/master/urllib3/contrib/_securetransport/low_level.py#L22-L24). In turn, this revealed a bug in the urllib3 securetransport adapter where it would call `CFRelease` on `None` cau

[2018-03-31 17:47] alex commented on #5131
Nice debugging!

On Sat, Mar 31, 2018, 1:43 PM Paul Kehrer <notifications@github.com> wrote:

[2018-03-31 17:49] dstufft commented on #5131
Thanks for taking a look @reaperhulk :D

This works on 9.0.3 because I released that on my macOS machine, and failed on 10.0.0b1 because @pfmoore released that on his Windows machine. I've gone ahead and submitted https://github.com/pypa/pip/pull/5133 which should keep the line-endings for the CA Bundle consistent across OSs. The urllib3 error will need to be fixed in urllib3 (and @reaperhulk has

[2018-03-31 18:19] JavaWantaBe commented on #5126
You might be right. I am pushing things to the limit of what setuptools can do. I'll look into building a distro package. Thank you very much for responding.

[2018-03-31 18:20] StephanErb opened #5134 "Name normalization issue in 10.0.0b1 yields false-positive installation warnings"
* Pip version: 10.0.0b1
* Python version: 2.7.14
* Operating system: Linux

### Description:

The new pip check mode used during installation wrongly reports that packages are not being installed. This only happens for package containing a `.` (dot) in the name.

### What I've run:

[code]

[2018-03-31 18:30] StephanErb commented on #5134
I am working on a patch

[2018-03-31 19:11] gvanrossum commented on #5131
Wow. I'm impressed with the quick turn around here! And glad I could help
by reporting and doing some debugging.

Is the regexp in urllib3 also going to be fixed?

[2018-03-31 19:12] dstufft commented on #5131
Yup: https://github.com/urllib3/urllib3/pull/1355

[2018-03-31 21:29] mqudsi opened #5135 "Completions should not perform version check (completions hang & spam terminal)"
* Pip version: 9.0.3
* Python version: 3.5.2
* Operating system: Linux/WSL

pip's default completions (at least for fish) perform the version check during background completions tasks. i.e. the user merely types `pip ` and the shell hangs until the version check is completed (since fish does not run subshells asynchronously).

While bash _does_ run subshells asynchronously and is therefore not aff

[2018-04-01 05:29] davilima6 commented on #5112
Although I agree a shorthand would be convenient it seems best to wait/work for the option to stabilise (there's still a deprecation warning) before expanding it. In the meanwhile users can install [pip completions](https://pip.pypa.io/en/stable/user_guide#command-completion) to mitigate typos (or use shell scripts/alias/functions).

[2018-04-01 05:47] philpennock opened #5137 "10.0.0b1 installs versions it knows are incompatible"
* Pip version: 10.0.0b1
* Python version: 3.6.5
* Operating system: macOS Sierra (10.12.6)

### Description:

Using the `10.0.0b1` pip release, I updated my default working set and got a red warning message, which I reduced down to minimum reproduction.  This was the warning:

    botocore 1.9.21 has requirement python-dateutil<2.7.0,>=2.1, but you'll have python-dateutil 2.7.2 which is incompatib

[2018-04-01 06:00] dstufft commented on #5137
This is (effectively) a duplicate of #988. Determining after the fact that it didn't correctly resolve dependencies is significantly simpler than properly resolving up front. This broken-ness was always the case, but previously we didn't tell you about it, the change in 10.0 is that now we tell you about it so you can resolve it manually.

Once #988 gets fixed, this should no longer be an issue.

[2018-04-01 06:00] #5137 closed

[2018-04-01 06:12] pradyunsg commented on #5134
Nice catch @StephanErb! Thanks for the PR. :)

[2018-04-01 06:20] pradyunsg commented on #5128
As an aside, I'd mentioned this in some email thread as well -- one of us might want to go through the release notes and make the language consistent. It's not a blocker or a super important task, just a nice touch sort of a thing.

[2018-04-01 06:33] pradyunsg commented on #5130
Thanks for the testing out the beta and filing this report @amorison!

This should be an easy fix, PR incoming. :)

[2018-04-01 07:01] pradyunsg commented on #5126
Closing since OP's concerns seem to have been addressed. Thanks @benoit-pierre.

[2018-04-01 07:01] #5126 closed

[2018-04-01 08:17] CrackerJackMack opened #5139 "VCS lookup paths are lost when chained"
* Pip version: 9.0.3 & 9.0.1
* Python version: 2.7.14 & 3.6.3
* Operating system: Ubuntu 17.10 (artful)

### Description:

It doesn't seem that chained dependencies (project dependent upon another, which depends upon another) keep the VCS requirements and lookup indexes as pip processes the chain of dependencies.  More bluntly put it seems pip loses the VCS information from requirements.txt (read

[2018-04-01 08:20] t3min4l commented on #3369
I had the same problem when I modified the dir name, to fix that, remove env dir, create a new virtualenv and re-install dependencies from requirements.txt.

[2018-04-01 08:24] pradyunsg commented on #5060
So, should we just unconditionally have `{sys.prefix}/pip.conf` as a configuration file location? I'm cool with that. Should be easy enough to implement too.

@pfmoore @dstufft Would you be fine with changing the "venv" to "site" for pip config, in 10.0.0? Otherwise, we could have a transition to remove venv references in configuration over the standard deprecation cycle, removing venv references

[2018-04-01 08:52] pfmoore commented on #5060
@pradyunsg I'm not sure that *unconditionally* having `{sys.prefix}/pip.conf` is right. Currently we only do that if we're in a venv - doing so when not isn't a change that anyone has requested as far as I know. Conda should be able to report itself as a virtual environment, by setting `sys.base_prefix` (that's how core Python expects virtual environments to report themselves as such).

This is no

[2018-04-01 08:54] pfmoore commented on #5021
I'll have a think about this once 10.0.0 is out of the door. Feel free to ping me then if I forget :-)

[2018-04-01 08:59] pradyunsg commented on #5060
I got that feeler (unconditional addition) from Donald's comment.

I guess I'm trying to get too much into 10.0.0, as I said, I'm fine with
this happening after pip 10.0.0. =)

On Sun, 1 Apr 2018, 14:22 Paul Moore, <notifications@github.com> wrote:

[2018-04-01 11:08] ssbarnea commented on #3784
I don't think that this bug should have being closed as it seems to be easy to reproduce and apparently without a permanent workaround that you can apply to the build/test tools (like ``tox.ini``).

Here is how I reproduced it:
* install foo package using -e in your python installation
* run tox with --sites-site-packages on the same foo package.
* now you get the error because `foo` package was i

[2018-04-01 13:10] pradyunsg commented on #5130
Closing as it has merged into release/10.0.0.

[2018-04-01 13:12] #5130 closed

[2018-04-01 13:42] dstufft commented on #5060
I've had a few of the Linux distros ask for something similiar over time, so I think it's something that folks want (to let them provide some default configuration for pip). I don't think that it needs to get added to 10.0 though, and I don't know that ``{sys.prefix}/pip.conf`` is the *right* location for it either. I think this isn't a replacement for the virtual env config file though, and would